[2022-06-16 15:03] PatrickSJacobs opened #3302 "[BUG] "... there is something wrong with the pylammps interface" - jan-janssen"
**Summary**

The internal Pylammps tutorial file simple.ipynb (.../lammps/python/examples/pylammps/simple.ipynb) does not work properly.

**LAMMPS Version and Platform**

Lammps version 2021.9.29; macOS Monterey (version 12.4); MacBook Pro (13-inch, 2019) (Processor is a 1.4 GHz Quad-Core Intel Core i5)

**Expected Behavior**

The tutorial file's location of error does not seemingly have an output

[2022-06-16 15:14] akohlmey commented on #3302
This should work with the latest patch release 2 Jun 2022. There were some known issues with some platforms that apply to the most recent stable release. We will produce a new stable release very soon, so please try the patch version if you can and let us know, if that resolves the problems.

[2022-06-16 15:32] PatrickSJacobs commented on #3302
Is the latest patch included in the "conda install -c conda-forge lammps" command? The latest version on anaconda is v2021.10.27 .

[2022-06-16 15:34] akohlmey commented on #3302
This is a question you have to ask the people that do the packaging for conda. This is not something the LAMMPS developers do.

[2022-06-16 16:14] PatrickSJacobs commented on #3302
Who would I need to reach out to about the packaging for conda?

[2022-06-16 16:15] akohlmey commented on #3302
You are asking in the wrong place for that. Try searching the web.

[2022-06-16 18:17] PatrickSJacobs commented on #3302
Hello again, I have looked over the anaconda documentation and according to https://anaconda.org/conda-forge/lammps (please let me know if this is the wrong site to be referencing) the development site listed for the anaconda packages is https://github.com/lammps/lammps, which is this site. Please let me know if I am wrong, but this suggests that the developers for the packaging for conda work wit

[2022-06-16 18:25] yafshar commented on #3302
@PatrickSJacobs if you are looking for feedstock maintainers, you can find them at the bottom of page at https://github.com/conda-forge/lammps-feedstock

[2022-06-16 18:28] akohlmey commented on #3302
No, they don't. I don't know who uploaded this and who is providing the configurations etc.
The developers for the conda packaging of LAMMPS are obviously locate here: https://github.com/conda-forge/lammps-feedstock

I realize that you are now between a rock and a hard place since they sent you here, but short of skipping conda and installing LAMMPS from source according to the LAMMPS manual (whic

[2022-06-16 18:28] PatrickSJacobs commented on #3302
As I stated in my original post, I have also attached a previous conversation with jan-janssen (a feedstock maintainer) when I first came across this issue who advised me to open this issue:

[Getting Lammps Up and Running with Python · Issue #111 · conda-forge_lammps-feedstock.pdf](https://github.com/lammps/lammps/files/8921517/Getting.Lammps.Up.and.Running.with.Python.Issue.111.conda-forge_lammp

[2022-06-16 18:31] akohlmey commented on #3302
But as I now stated multiple times. There is no issue with the current 2 Jun 2022 version. So it goes back to whether the feedstock maintainers for LAMMPS are willing to provide packages of a newer version or not.

[2022-06-16 18:32] PatrickSJacobs commented on #3302
Thank you for the explanation and your patience. What is the current date for the release of the new stable version?

[2022-06-16 18:41] akohlmey commented on #3302
That is not fixed. Perhaps next week. Depends on the results of our internal testing and bug reports.
Please note that PyLammps does some rather nasty things behind your back to make things look good and fancy.
If you want to do serious LAMMPS programming using the python interface, you will likely be better off using the `lammps` class instead of `PyLammps`. That should be more efficient, too.

[2022-06-16 18:46] PatrickSJacobs commented on #3302
Ok, thank you!

[2022-06-17 19:09] M-S-Jacobs2727 opened #3308 "[BUG] Excess YAML document end markers with MPI"
**Summary**

When running the in.melt example on 2 cores and dumping with style yaml, I couldn't read the file correctly due to several out of place "..." document end markers. I investigated on multiple number of cores, and I found that, per timestep, there are exactly as many "..." as there are processes.

**LAMMPS Version and Platform**

LAMMPS version 2Jun2022
lmp -h output:
[lammps version ou

[2022-06-17 19:20] M-S-Jacobs2727 commented on #3308
A simple fix could be to remove the document end markers entirely (line 127 of dump_yaml.cpp), as they are optional according to the YAML spec.

[2022-06-17 19:59] akohlmey commented on #3308
@M-S-Jacobs2727 confirmed. You can even get more than one marker per MPI ranks, if you have a larger system.

True. I have to discuss this with @sjplimp having a method for dumps to add a footer may actually not be a bad idea.

[2022-06-21 23:28] sjplimp commented on #3078
@schreiner1 Thanks for posting this issue with a detailed example.
(a) The reason for lost atoms in a RESPA restart is that both Verlet and RESPA attempt to prevent this by forcing a reneighbor on the step when a restart file be written.  A reneighboring also enforces PBC (moves atoms back inside the box).  That works for Verlet b/c the neighbor build comes after atom coords have been updated.  Bu

[2022-06-22 16:10] rbberger commented on #3302
Even with fixes in the new releases, please be aware there are several technical reasons why PyLammps can not work in some scenarios. See https://github.com/lammps/lammps/issues?q=is%3Aissue+is%3Aclosed+NoneType for some workarounds, such as making sure Python output is unbuffered to avoid the `NoneType` error (which basically means there was no output that PyLammps was able to capture). PyLammps

[2022-06-22 19:16] #3078 closed

[2022-06-22 19:16] #3308 closed, assigned to akohlmey

[2022-06-23 01:30] #3302 closed, assigned to rbberger

[2022-06-23 19:04] mdelyser opened #3313 "[BUG] Fatal error in PMPI_Wait error running PACKAGES/drude/swm4-ndp/in.swm4-ndp.nh example with mpirun"
**Summary**

Running the in.swm4-ndp.nh example ends in a Fatal error in PMPI_Wait

**LAMMPS Version and Platform**

I found the issue using the 7 Jan 2022 version of LAMMPS. I updated to the 23 Jun 2022 version and got the same behavior. I compiled LAMMPS using cmake-3.22.2 with intel's 2020.4.304 compiler and intel's 2020.0.166 MPI. I used 8 processors on an intel ivybridge node that runs Red HA

[2022-06-23 22:11] akohlmey commented on #3313
@mdelyser thanks for your report. I can confirm the behavior although on my machine with my compiler and settings, it takes some more steps until this situation happens. It looks like there is something bad happening in the dynamics that doesn't always show and is perhaps now accelerated due to some changes to the core of LAMMPS. There is a significant number of "dangerous builds" in the reference

[2022-06-24 10:19] agiliopadua commented on #3313
In the last weeks we found similar behaviour in systems mixing rigid/.../small with Drude dipoles. Instabilities in the drude integrators are common in systems with ions or highly polarizable atoms. Usually the symptoms are "Out of range atoms..." and we are used to handling those. But we hadn't seen MPI_Wait errors until now, in the new systems with rigid molecules. I'm not aware of recent change

[2022-06-24 18:32] akohlmey commented on #3297
@jkelowitt I think a new pair style would be overkill in this case. The same effect can be achieved with a keyword that then make the sw pair style skip the call to the "threebody()" function when that keyword is set

[2022-06-25 22:59] jkelowitt commented on #3297
I like that idea a lot. My issue is that it would have to skip the whole three body loop, rather than just the "threebody()" call, to reach the speeds of the individual pair style.

I'm also a little concerned about mixing three-body SW with two-body SW. For example if I had this potential file:

[code]

I'd like to be able to turn off the three-body interactions for everything except the 'mW mW m

[2022-06-25 23:14] akohlmey commented on #3297
This kind of syntax will not work. The second pair_coeff line will wipe out the settings of the first. The regular pair style sw sets a flag (which is required for non-pairwise additive potentials) that there may be only one pair_coeff command.
What would work is to change that flag when threebody is deactivated and then use pair style hybrid like this:
[code]
When you have manybody interactions e

[2022-06-27 02:17] jkelowitt commented on #3297
Ah, I didn't know about that syntax with hybrid. Knowing that, this method seems to be the best way to go.

Getting it up and running doesn't look like a ton of work, so I'll write it up, run some sanity checks, then make a PR for it.

Thank you so much!

[2022-06-28 21:22] athomps opened #3318 "[BUG] _Replace With Suitable Title_"
**Summary**

Undefined behavior when Boolean expression in `if` command is single non-numeric text string, no spaces, no quotes

**LAMMPS Version and Platform**

Mac OS

**Expected Behavior**

Exit with error message `ERROR: Invalid Boolean syntax in if command` or `ERROR: Invalid syntax in variable formula`

**Actual Behavior**

Evaluates as either TRUE or FALSE, I have seen both on consecutive t

[2022-06-29 19:26] #3318 closed, assigned to sjplimp

[2022-06-30 14:40] Chivier opened #3325 "[Feature Request] GPU acceleration for EFF module"
**Summary**

EFF module's performance is limited. Can I use GPU to accelerate the program?

**Detailed Description**

I tried to build a GPU version EFF module on previous version. I made something like 'EFF_GPU' with cuda codes inside. However, when the input file is larger, I meet a bug like this:

![image](https://user-images.githubusercontent.com/41494877/176705428-bbcb7fa6-4282-4fd0-ad9e-b78e

[2022-06-30 15:21] akohlmey commented on #3325
LAMMPS has two ways to add GPU acceleration. 1. the GPU package, 2. the KOKKOS package. Adding GPU accelerated modules to either is not a trivial process. That is doubly true for an entire package. Both packages have established conventions and requirements that need to be (mostly) learned from reading the existing source code and looking for similar code. In the case of the EFF package, the latte

[2022-06-30 15:29] Chivier commented on #3325
Thanks a lot. EFF package defines atom_vec_electron, which provides AtomStyle(electron,AtomVecElectron). I cannot find anything similar to this in GPU/KOKKOS package. It is a little difficult for me to build a completely new one by myself.

By the way, is there any project can do the same job with EFF package?

[2022-06-30 15:32] akohlmey commented on #3325
I don't know, you have to contact the EFF package author about it.

[2022-06-30 15:34] Chivier commented on #3325
Good idea, thanks for help!

[2022-06-30 15:34] #3325 closed, assigned to nobody

[2022-07-02 07:51] #1773 closed

[2022-07-05 17:34] jtclemm opened #3335 "[BUG] Incorrect voronoi volumes with negative tilts"
**Summary**

As discovered by Vicente Munizaga (JHU), compute voronoi/atom calculates incorrect atomic volumes in simulation cells with negative tilts. This originates from the calculation of the subbox boundaries, seen [here](https://github.com/lammps/lammps/blob/b8acd2e31de3d19ac0a4629ef168e183335bcc74/src/VORONOI/compute_voronoi_atom.cpp#L260), which do not include min/max logic to control cont

[2022-07-06 18:44] jtclemm opened #3338 "[BUG] Incorrect handling of cross-group interactions in compute contact/atom"
**Summary**

Compute contact/atom does not correctly filter cross-group contributions to contact numbers when the compute group-ID is not _all_. When looping through i-j neighbors, the compute filters all contributions where atom i is not in the compute group, seen [here](https://github.com/lammps/lammps/blob/b8acd2e31de3d19ac0a4629ef168e183335bcc74/src/GRANULAR/compute_contact_atom.cpp#L123), and

[2022-07-07 20:31] #3297 closed, assigned to sjplimp

[2022-07-14 21:10] mkanski opened #3348 "[BUG] Lost atoms when using Kokkos ReaxFF with RTX3090"
**Summary**

I tried to use an Nvidia RTX 3090 card with Kokkos ReaxFF, but the simulations are unstable - the kinetic energy increases to values like 1e+37 and shortly after LAMMPS exits with a `Lost atoms` error.
I can reproduce the error with an example bundled with LAMMPS (see below).

**LAMMPS Version and Platform**

Large-scale Atomic/Molecular Massively Parallel Simulator - 23 Jun 2022
Git

[2022-07-14 21:29] stanmoore1 commented on #3348
@mkanski this runs fine for me with CUDA 11.2 on 2xV100. If possible could you try backing up CUDA version to something earlier, just to make sure it isn't a CUDA bug?

[2022-07-14 21:33] weinbe2 commented on #3348
A few quick asks, if it's easy for you to test:

- ~Do you have older versions of CUDA available? Just to confirm/deny a compiler bug.~ @stanmoore1 beat me to it :)
- Can you try compiling for AMPERE80 and running it on your 3090? (In general code compiled for sm_80 will run on sm_86 GPUs, but it's not as ideal.)

Please let me know what you find if you can run either/both of these tests.

[2022-07-14 21:38] stanmoore1 commented on #3348
I tried CUDA 11.6.1 and it also runs fine on 2xV100.

[2022-07-14 22:10] mkanski commented on #3348
Thanks for the fast reply, @stanmoore1 and @weinbe2.
I tried downgrading to CUDA 11.2 and compiling for AMPERE80 (with CUDA 11.2 or 11.7), but the issue persists.

If it helps, I had GTX1080 in the same computer before and it worked correctly.

[2022-07-14 23:34] crtrott commented on #3348
Can someone try this on A100 and see if it reproduces there?

[2022-07-14 23:39] crtrott commented on #3348
Also could you try run the Kokkos unit tests. We do not have any CI machine with 8.6 compute capability.

Something like
[code]

Using Kokkos 3.6 (and if that breaks also Kokkos develop branch) from https://github.com/kokkos/kokkos

[2022-07-15 09:58] mkanski commented on #3348
The develop branch compiles without any issues. All tests pass.

I was unable to compile the master branch (or release-candidate-3.6.01) with `-DKokkos_ENABLE_TESTS=ON`, error log below. With tests disabled, Kokkos compiles normally.

[code]

[2022-07-15 15:14] weinbe2 commented on #3348
I'm working on trying to reproduce things on my RTX3080 now (and I'll hop over to an RTX3090 if necessary, but hopefully I won't need to). @mkanski can you please try to reproduce the problem on a problem half the size? Perhaps `-var x 15 -var y 15 -var z 7`.

The reason I ask is because your problem is small enough to fit on the 24GB RTX3090 but not on a V100 (or a 12GB RTX3080), and I'd like to

[2022-07-15 15:32] mkanski commented on #3348
@weinbe2
Thanks for looking into this.
I can confirm the issue with the reduced size (15x15x7), although it is triggered later during the simulations. A few of them even reached the end (100 steps).

[2022-07-15 15:39] weinbe2 commented on #3348
Okay, that's good to understand, thanks! @crtrott the Kokkos `ctest` passed without issue on my RTX3080 using the branch `release-candidate-3.6.01` using your `cmake` command. Moving on to building LAMMPS now...

[2022-07-15 15:46] weinbe2 commented on #3348
@mkanski what's your exact LAMMPS compile workflow/command?

[2022-07-15 15:52] mkanski commented on #3348
I use cmake for building:
[code]

[2022-07-15 16:53] weinbe2 commented on #3348
I assume not including `-DKokkos_ARCH_AMPERE86=ON` is just a typo/expected to be implicit? Just wanted to make sure!

[2022-07-15 17:05] mkanski commented on #3348
Yes, I didn't include `-DKokkos_ARCH_AMPERE86=ON`, because cmake automatically detects it.

[2022-07-15 17:20] stanmoore1 commented on #3348
@mkanski can you try adding: `-D Kokkos_ENABLE_IMPL_DESUL_ATOMICS=OFF`?

[2022-07-15 17:36] mkanski commented on #3348
@stanmoore1 It didn't help, the behaviour is the same.

[2022-07-15 18:18] weinbe2 commented on #3348
@mkanski I tried to reproduce the error on an RTX 3090 with your same exact LAMMPS version, `cmake` command, run command, driver version, and CUDA toolkit version, and had no success---I let reax run for many thousands of iterations. I'm trying to think of other possibilities and will get back to you.

[2022-07-15 18:27] weinbe2 commented on #3348
While you're running reax, can you try running

[code]

in a separate terminal? (Modify `-i 0` to another number if your RTX isn't GPU 0, modify `100` to a larger number if you want to see data spit out less frequently.)

I'm wondering if your GPU is overheating. Typically when the GPU temperature (column 2) goes above a certain amount the clocks (column 1) and the power draw (column 3) should go

[2022-07-15 18:47] #3338 closed, assigned to nobody

[2022-07-15 20:37] mkanski commented on #3348
The card isn't overheating, but there's something wrong with it. The frequencies (divided by 10 on the graph) aren't stable:
![image](https://user-images.githubusercontent.com/20713012/179305967-c7f06d95-7b11-4568-b11e-9b6156b0afab.png)

What's weird for me is that `in.melt` example works without any issue, although there are also some fluctuations:
![image](https://user-images.githubusercontent.c

[2022-07-15 21:01] mkanski commented on #3348
@weinbe2
I think I solved it.
The frequencies looked too high for me, as the card is rated to 1695 Mhz in boost mode. I limited the frequency with `nvidia-smi`:
[code]
Now the simulation runs stable (and uses less power ;) ).

Thank you very much for your help. I wouldn't be able to find the source of the issue without you.
I would like to thank @stanmoore1 and @crtrott for their fast help. Sorry

[2022-07-15 21:01] #3348 closed, assigned to nobody

[2022-07-15 21:17] weinbe2 commented on #3348
That's great news! I'm happy I could help with working towards a solution. Nothing to apologize about, this type of open reporting of issues helps all of us learn regardless of the actual underlying problem. This is also all written down if someone happens to hit this issue again, but of course I hope not!

[2022-07-15 23:15] jkelowitt opened #3351 "[Feature Request] Optimization for GCMC with pair hybrid"
**Summary**

Modify `fix gcmc` to calculate the system's change in energy for `pair hybrid` using the 'energy' function, rather than the 'energy_full' function.

**Detailed Description**

Using `pair hybrid` forces `fix gcmc` to use the 'energy_full' function, rather than the 'energy' function, to calculate the change in energy of the system. Using the 'energy_full' function is much slower (~30x s

[2022-07-18 10:22] ocaisa opened #3353 "[BUG] Package ML-PACE triggers error when building with Kokkos_ENABLE_CUDA"
**Summary**

I'm trying to create updated recipes for EasyBuild of LAMMPS, with and without GPU support. The CPU-only version builds ok, the GPU-enabled version (using Kokkos) errors out in the ML-PACE package with errors such as
[code]
Removing ML-PACE from the list of packages allows the build to succeed.

**LAMMPS Version and Platform**

Version: 23Jun2022
Platform: AMD Zen2 with NVIDIA V100 GP

[2022-07-18 10:25] ocaisa commented on #3282
Just to add to this, the current approach for building the docs also requires access to the internet...there is no (offline) way to provide the necessary packages to the `venv` used.

[2022-07-18 10:32] ocaisa opened #3354 "Set explicit `python` with `-D Python_EXECUTABLE=path`"
**Summary**

Typo in the docs at  https://docs.lammps.org/Build_extras.html#python to set an explicit `python`

**LAMMPS Version and Platform**

Version: 23Jun2022
Platform: AMD Zen2 with NVIDIA V100 GPU, Rocky Linux 8, EasyBuild recipe for LAMMPS

**Details**

The current docs say you can use
[code]
to explicitly set the `python` to be used. This setting seems to be ignored though, when I used CM

[2022-07-18 11:13] akohlmey commented on #3353
@ocaisa This is not really a LAMMPS bug and not something *we* can fix as the error happens in the yaml-cpp package that is included with the ML-PACE package library, not LAMMPS itself and one can argue that the real bug is with nvcc and its nature as a compiler-chimera or with Kokkos' requirement to compile all code when configured for CUDA with nvcc (and thus cause all kinds of errors if the hos

[2022-07-18 11:15] akohlmey commented on #3353
Perhaps @stanmoore1 can tell you how exactly he compiled this without running into the same issue.

[2022-07-18 11:33] akohlmey commented on #3354
@ocaisa thanks for your report. This is a bit of tricky business since our set goal is to support CMake 3.10 (as shipped with Ubuntu 18.04 LTS) as the oldest CMake version, and Python interpreter detection changed massively in CMake 3.12.
It will need some thinking and testing with Ubuntu 18.04LTS about how to best address this (with an old version and a new version).

[2022-07-18 11:40] akohlmey commented on #3282
This is not likely to change (that part of the build system is already complex as it is to be (more) portable). The documentation can be built anywhere and then only the resulting files (html folder, pdf or epub file) need to be transferred to the target location (which may be without internet access).

This is different from compiling executables for which it may only be possible to compile them

[2022-07-18 13:16] ocaisa commented on #3353
Others have indeed run into this: https://github.com/jbeder/yaml-cpp/issues/831

[2022-07-18 13:32] ocaisa commented on #3353
Ah, interesting, the nvcc wrapper already should fix this (https://github.com/lammps/lammps/blob/develop/lib/kokkos/bin/nvcc_wrapper#L312) but may not catch `-pedantic-errors`

[2022-07-18 13:39] akohlmey commented on #3353
Have you tried compiling without `-DCMAKE_CXX_COMPILER=`? I had removed it from the `kokkos-cuda` preset since the current versions of Kokkos do not require setting it explicitly anymore and then compilation of "external" packages would not even be passed through nvcc via the nvcc_wrapper script resulting in an significant compilation speedup.

[2022-07-18 13:52] ocaisa commented on #3353
Ah, I wasn't aware of that, I will try it, thanks.

The CMake advice at https://docs.lammps.org/Build_extras.html#kokkos does still say it should be set...

[2022-07-18 13:57] ocaisa commented on #3353
For the record, patching https://github.com/lammps/lammps/blob/develop/lib/kokkos/bin/nvcc_wrapper#L312 to
[code]
did seem to fix the problem

[2022-07-18 17:58] akohlmey commented on #3353
This was a new feature at the time and we were being conservative in the documentation. I'll probably only update the docs for the next development cycle and incorporate your patch to nvcc_wrapper into PR #3324.

If you are building the stable version, you probably want to incorporate the accumulated patches from that PR (or wait until we release the first update to the stable release). The number

[2022-07-19 01:31] jiehou93 commented on #3351
I'm wondering if it's possible to avoid the "energy_full" calculation simply by iteration through a region within the cut-off radius.
I understand that some many-body potentials (e.g., EAM type) cannot be written as pairwised form, but forces in these potentials are often limited by a cut-off radius.
So, calculating energy change for the whole system at every MC step seems a bit redundant, an iter

[2022-07-19 03:53] athomps commented on #3351
Yes, your intuition is correct, it is a bit redundant, but it is guaranteed to be correct. The hard part is figuring out the set of atoms that affect the energy change of moving one atom.  For example, with EAM, it is all atoms within twice the density cut off plus the maximum MC displacement.  This is not an easy thing to encode.

“Sent from my phone”

--

      Aidan P. Thompson

      Distingui

[2022-07-19 04:31] jiehou93 commented on #3351
Thanks for the reply. May I ask why it's twice the cut off plus the maximum MC displacement? My expection was 1x the cutoff plus the max MC displacement......
If it's 1x cutoff and if the max MC displacement is smaller than skin depth of neighbor list, then maybe we can simply iterate through the neighbor list of the moving atom?

[2022-07-19 04:41] athomps commented on #3351
Diameter of sphere is twice radius.

“Sent from my phone”

--

      Aidan P. Thompson

      Distinguished Member Technical Staff

      01444 Computational Multiscale

      Sandia National Laboratories

      PO Box 5800, MS 1322      Phone: 505-844-9702

      Albuquerque, NM 87185     Fax  : 505-845-7442

      E-mail: ***@***.*** Cell : 505-218-1011

________________________________
From: ji

[2022-07-19 05:04] jiehou93 commented on #3351
OK...  Then I think we were talking about the same size of region here, a sphere with radius of r_cut + d_MC (or twice that in diameter).
In this case, this region is likely smaller than default neighboring region (radius = r_cut + skin depth), so is it possible to just go through the neighbor list to calculate the energy change?

[2022-07-19 07:33] ocaisa commented on #3353
I see the fix included in #3324 so closing this, thanks for the help!

[2022-07-19 07:33] #3353 closed, assigned to stanmoore1, yury-lysogorskiy

[2022-07-19 07:36] ocaisa commented on #3353
(BTW the wrapper patch is also merged into Kokkos via https://github.com/kokkos/kokkos/pull/5235)

[2022-07-19 15:42] athomps commented on #3351
No, it is only possible to do that when the potential is truly pairwise additive. That is why we have the full_energy option for all other potentials.  For example, in the case of EAM, as I indicated above, moving one atom to a new location will change the density of atoms within a distance r_cut, but the atom density of one of those atoms will *additionally* depend on the positions of atoms withi

[2022-07-19 15:47] athomps commented on #3351
An idea that has been floated in the past is leveraging the per-atom energy calculation, which is common to almost all energy models in LAMMPS.  This would require a method to selectively update per-atom energies of atoms within some model-dependent cutoff distance.  In the case of EAM, that distance would be r_cut + d_MC, the same as what you were suggesting, except now it would be correct :-)

[2022-07-19 16:30] jiehou93 commented on #3351
Thank you for the clarification, I see the problem now. Density calculation indeed needs to include atoms within 2 x r_cut, which could be difficult to encode. The selective per-atom energy update seems like a promising way to go, hope you have some luck there.

[2022-07-19 20:24] jiehou93 opened #3356 "[Feature Request] Support arbitary momentum/velocity setting in "fix momentum" command"
**Summary**

Modify "fix momentum" command to allow customized momentum/velocity setting, rather than simply zeroing out the momentum.

**Detailed Description**

The current "fix momentum" command zeros the linear and/or angular momentum of the group of atoms every N timesteps. It would be useful if users can have some control over the final momentum (or velocity).

An application for the above fu

[2022-07-20 14:04] ocaisa commented on #3140
@stanmoore1 I started looking at this again recently and now I realise the issue I was trying to raise. The problem (for OpenMPI specifically) is https://github.com/lammps/lammps/blob/develop/src/KOKKOS/kokkos.cpp#L53-L72 which are relying solely on build time detection of GPU-aware MPI, rather than runtime detection. Looking at https://www.open-mpi.org/faq/?category=runcuda#mpi-cuda-aware-support

[2022-07-20 15:51] #3354 closed, assigned to akohlmey

[2022-07-20 19:45] slamont1 opened #3357 "[BUG] _cannot compile MISC package without MC package _"
**Summary**

fix_srp_react.cpp (one of the fixes in the MISC package) contains a header reference to fix_bond_break.h and fix_bond_create.h, which are only included in the MC package. Thus, a fatal error occurs when trying to compile without the MC package, but this dependency is not noted anywhere and many users may not know where to go looking for these files to compile the software correctly.

[2022-07-20 20:27] jkelowitt commented on #3351
My group has some old (~v2016) code which basically does this for Stillinger-Weber, but for every particle in the simulation rather than the neighbors. I haven't thought of a good way to implement it in the LAMMPS style. It would slot right into the single function, but doesn't seem to match the intent of the single function.

This `pair hybrid` optimization was in that code too, so I figured I'd

[2022-07-20 20:39] jiehou93 commented on #3351
I'm not sure if I understand you correctively. If the energy calculation is done for every particle in the simulation, then it's more like the "energy_full" option, rather than the "energy" option.

[2022-07-20 21:10] akohlmey commented on #3357
@slamont1 Thanks for your bug report. I just submitted a pull request that should address this issue and make certain that pair style (and fix) src/react are only installed when also the MC package is installed.

[2022-07-20 22:41] jkelowitt commented on #3351
The implementation was just simple and didn't bother with neighbor lists (although that would make it faster). Basically, if the i, j pair had a SW pair potential, it would calculate the two body energy, then iterate over all the remaining (sw) atoms to collect the three-body energies.

Most of our speed ups come from the combination of the hybrid change and the sw change. With both changes, we co

[2022-07-21 16:05] athomps commented on #3351
The disadvantages of this compared to `energy_full()`:
1. Guaranteed to be incorrect for `d_MC>0`, unless suitable setting of `comm_modify cutoff` is used
2. Guaranteed to be slower than full_energy for sufficiently large `nlocal`
3. Requires custom implementation for every energy model e.g. second loop over `nlocal+nghost` in the case of SW

All of these issues could be solved with sufficient eff

[2022-07-21 18:39] #3357 closed, assigned to akohlmey

[2022-07-22 17:09] Bagbodek opened #3362 "Extending Compute centroid/stress/atom for pairstyle lj/cut/coul/long and models with k_space style"
**Summary**

An Extension of the compute 'centroid/stress/atom' to handle models with long range coulombic forces (requiring k_space style command) and pair style lj/cut/coul/long.

**Detailed Description**

Hello LAMMPS developers,

I wanted to find out if anyone plans to work on extending the compute centroid/stress/atom (used for calculating per atom virial stresses which in turn are used for c

[2022-07-22 20:11] jkelowitt commented on #3351
These are great points to look out for in future implementations of our custom codes. Thank you!

In reference to the `pair hybrid` optimization, would you foresee any issues with removing the hybrid portion of the conditional, "if *pair->hybrid* etc. use energy_full(), else use energy()"?

[2022-07-22 20:53] athomps commented on #3362
I am not qualified to comment on whether this is feasible and/or useful.  I defer to @donatas-surblys

[2022-07-22 20:57] athomps commented on #3351
Okay, thanks for reminding about the original request.  Your suggestion is reasonable and implementation is trivial.  I do not see hidden dependencies. I was not able to open your output files.  Did you get identical Markov chains, or just statistically similar?

[2022-07-22 21:02] akohlmey commented on #3351
I think there needs to be an additional check added to avoid the EAM potentials as hybrid substyle. They do have a `Pair::single()` function, but that is a hack to enable their use for compute group/group (since it uses cached embedding function data) but I doubt it will work correctly for this.

[2022-07-22 21:42] jkelowitt commented on #3351
They seem to me (the less trained eye) to be statistically similar. Here are three sets of atom counts for quick 1000 step GCMC runs.  The first two are current LAMMPS (23 Jun 2022), the third has the modification described above:

1. Atom counts for in.fast (2 particle system without using pair hybrid),
2. Atom counts for in.slow (2 particle system using pair hybrid)
3. Atom counts for in.slow wi

[2022-07-22 22:09] athomps commented on #3351
This non-identical Markov chain makes me a little nervous. Can you send me a small example so that I can toggle full_energy myself?

[2022-07-22 22:37] jkelowitt commented on #3351
Here's the example `in.fast` from above:

[code]

[2022-07-22 23:18] athomps commented on #3351
This is not what I was expecting. I need a representative use case with pair hybrid. The more complicated that better, as long as it runs fast.

[2022-07-22 23:35] jkelowitt commented on #3351
The example for in.slow was identical what I've shown above, but replacing:
[code]
with
[code]
which introduces hybrid without (theoretically) changing the potential.

Most of my group's practical use cases for gcmc and hybrid are with mW water, which uses SW. I'll have to look around a bit to find a practical example without SW in it.

[2022-07-27 13:01] akohlmey commented on #3356
@jiehou93 this kind of bias is usually applied using fix addforce. Granted, this is more indirect, since you have to choose a suitable force to achieve a desired net velocity though reaching a steady state. But you have to be careful to not induce a global center of mass drift that would invalidate all thermostatting anyway.

Another option is to apply fix move to a (regular or random) subset of t

[2022-07-27 16:24] jiehou93 commented on #3356
@akohlmey many thanks for your comment and vedio links.

Fix addforce is certainly a good way to apply displacement while keep relative movements of atoms. But it's essentially a stress control method, that means we can control the stress applied by adjusting the force added, but the strain/displacement/net velocity cannot be directly controled.

Though the stress control is very useful, it would

[2022-07-27 22:24] brianmaustin opened #3367 "small underallocation in kokkos.cpp"
kokkos.cpp allocates lmp->suffix as a char[7] hold a const string with 7 characters.
This should be a char[8] to accomodate the null character.
[code]
https://github.com/lammps/lammps/blob/80766244778ed0bf1f18934c5e5ff00fa6b0e00e/src/KOKKOS/kokkos.cpp#L498

[2022-07-27 23:14] akohlmey commented on #3367
Thanks for reporting, this is fixed in commit e583f54ca7604e6cc524c7698876a0706c4ba441 and will be merged into the development branch soon.

[2022-07-29 03:57] akohlmey commented on #3356
Whether you add a uniform force or add a uniform velocity to a group of atoms of the same kind is essentially the same thing.

[2022-07-29 04:29] jiehou93 commented on #3356
No these two method can be quite different. Let's say I want to run a simulation of tensile deformation. With the add velocity method, I can simply assign +v and -v  to top and bottom layers of the material, then it will continuous to deform with a constant strain rate, straight and simple.

But if I choose to apply the add force method, the materials will first show a finite deformation, then rea

[2022-07-29 14:00] akohlmey commented on #3356
When you instead add a velocity as you propose you give atoms in the designated group a "klck" (and repeatedly so at a fixed frequency and in the same direction) and thus run into the similar problems as with fix temp/rescale or the much maligned Berendsen thermostat. I consider this something you should not be doing during a production run.

[2022-07-29 14:32] jiehou93 commented on #3356
Can you elaborate a bit on the problem assiciated with temp/rescale and Berendsen thermostats? I haven't really used these two commands so I'm not sure what you are referring to.

[2022-07-29 14:39] akohlmey commented on #3356
I have referred to the disastrous effect of using temp/rescale many times on the LAMMPS mailing list. Yours is worse because you want to give your system a kick in a specific direction not just scale all velocities. The unphysical behavior of the Berendsen thermostat (which manipulates velocities) versus the Nose-Hoover thermostat (which manipulates forces) is a topic often discussed on many MD co

[2022-07-29 15:47] jiehou93 commented on #3356
Thanks for the clarification. If I understand this correctively, velocity manipulation (either temp/rescale or the velocity control discussed above) should not normally be applied to atoms that also have their temperature controlled by another fix (e.g., fix nvt).
But I think this can be resolved by using nvt and nve separately, with nve + velocity control applied only to surface layer, and nvt to

[2022-07-29 15:53] akohlmey commented on #3356
No you don't understand me. The problem is both in the abruptness of the velocity change and the fact that it is periodic with a fixed direction. The issue you mention is very minor in comparison and not a big concern here.

In your proposed modification the effect is similar than applying a sledgehammer to those atoms where how hard it hits depends on the velocity difference. It only would be of

[2022-07-29 16:14] jiehou93 commented on #3356
My apologies, I can understand this is similar to applying a sledge hammer to selected atom, but I still don't see the problem here.

I mean, kicking these atoms to force defromation is actually the purpose here, and I imagine it would not be so different to rigid displace methods (such as fix move, or assiging initial velocity + setforce to zero).

[2022-07-29 16:17] akohlmey commented on #3356
It is different because it is periodic and thus can induce phonons and resonances. It is different from the other methods you mention because, once started they are smooth and continuous.

[2022-07-29 17:11] jiehou93 commented on #3356
OK I get your points now. I actually did some test run recently with the modification mentioned above to apply shear to an iron lattice, but the simulation just evolves as I expected, no abormal fluctuations in temperature/pressure was noticed. I checked that the velocited I manually added is about 3 orders of magnitudes lower than the thermal velocity at room temperature, probably small enough to

[2022-07-29 17:29] akohlmey commented on #3356
Properties that rely on auto-correlation can be quite sensitive even to small contributions.

You are - of course - free to change the LAMMPS source code any which way you like and use that for your studies, but I don't think this should become a general feature in LAMMPS. There is just too high a risk that somebody would taint their work unintentionally.

[2022-07-29 17:33] jiehou93 commented on #3356
I understand your concern here. Thank you for your discussion and comments anyway, it helped a lot!

[2022-07-29 17:35] akohlmey opened #3371 "LAMMPS Code Clinic 2022"
Hi all,

We will be holding a LAMMPS Code Clinic event as an online activity between August 8th, 2022 and September 2nd, 2022

This is an opportunity to learn about programming with LAMMPS. improve LAMMPS itself or your own code for LAMMPS, and collaborate with other LAMMPS developers.

As always, the price is free!

For more details, please go to the [Code Clinic event homepage](https://www.lammp

[2022-08-01 18:17] #3356 closed, assigned to nobody

[2022-08-01 18:39] igor-s-tan opened #3373 "[Feature Request] Symmetric Molecular Dynamics option"
**Summary**

Sam Cox and Andrew D. White in their recent work [1] developed a molecular dynamics that keeps the system symmetric throughout whole simulation (for all space groups).

**Detailed Description**

The authors developed a simple md package [2]. As written in the description:
"""
This is a simple MD engine written in C that can be constrained to obey given symmetry groups at every frame.

[2022-08-01 19:58] akohlmey commented on #3373
@igor-s-tan  thanks for your suggestion. I am adding the "volunteer needed" label to indicate that this project is up for grabs, if somebody feels like it. I agree, a new fix would be the most straightforward approach. There is some conceptual similarity to the MANIFOLD package which confines particle motion to a manifold surface, which is also implemented as a fix and then various classes for the

[2022-08-01 20:37] #3367 closed, assigned to akohlmey

[2022-08-03 07:08] donatas-surblys commented on #3362
Sorry, just noticed this now.

The topic was discussed at the end of #1705, but the gist is that the centroid approach can’t really do anything different from the original implementation of heat flux via stress/atom regarding kspace, but is disabled because using it for local control volumes not spanning the entire system is a bit questionable. Although the same can be said about the original stre

[2022-08-03 13:39] MBartkowiakSTFC opened #3376 "[BUG] Atom mass in PyLammps: index out of bounds"
**Summary**

We have a simulation running via PyLammps, with 1000 Ar atoms. The code crashes when we try to read out the masses of the atoms.

n_atoms = 1000
self.lmp is a PyLammps object.

[code]

The last line fails:
  File "lammps/pylammps.py", line 177, in mass
    return self.get("mass", self.index)
  File "lammps/pylammps.py", line 140, in get
    return prop[index]
IndexError: index 2 is ou

[2022-08-03 14:00] akohlmey commented on #3376
This is not a bug but incorrect usage. The "mass" property is a per-atom-type property and not a per-atom property. This is due to the internal dimensions of the corresponding arrays. You can find a [table of those](https://docs.lammps.org/Classes_atom.html#_CPPv4N9LAMMPS_NS4Atom7extractEPKc) in the documentation.

[2022-08-03 14:00] #3376 closed, assigned to akohlmey

[2022-08-03 14:10] MBartkowiakSTFC commented on #3376
Just as a comment, the previous stable release of LAMMPS did produce a mass value for every atom exactly this way, and my example script produced the following output:
LAMMPS (29 Sep 2021 - Update 3)
OMP_NUM_THREADS environment is not set. Defaulting to 1 thread. (src/comm.cpp:98)
  using 1 OpenMP thread(s) per MPI task
LAMMPS output is captured by PyLammps wrapper
We expect 3 atoms, PyLammps has

[2022-08-03 14:22] akohlmey commented on #3376
This is because previously PyLAMMPS would use a very inefficient way to obtain the mass information that does not access the mass array in the Atom class directly. If I recall correctly, this old implementation would not allow you to *set* the mass.
Please see commit 41da32d7de8ba19529b10e1d13af98b3a88a0334

In general, we do not recommend using PyLAMMPS for anything but demonstrations. It is *ver

[2022-08-03 14:26] MBartkowiakSTFC commented on #3376
Thank you for looking into this, and for the comments!

[2022-08-03 20:18] stanmoore1 commented on #3140
@ocaisa yes this seems reasonable, but would need to be tested.

[2022-08-04 23:44] jkelowitt commented on #3351
Sorry for the delay. I've attached an example polymer with an example run using gcmc. We do MC exchanges only, in order to determine the water activity in the polymer. We're following the procedure laid out in Ref. [1], on the polymer described in Ref [2].

I hope this is complex enough; it uses lj/mdf, yukawa, and two sw potentials.

`pair_style      hybrid lj/mdf 7.0 10.0 sw threebody off sw thr

[2022-08-05 23:51] #3160 closed

[2022-08-08 18:28] chappertron opened #3385 "[BUG] AMOEBA dipole induction iteration exits early"
**Summary**

There is an early termination of the AMOEBA induced dipole calculation if epsilon increases vs. previous iteration. Line 372 in `amoeba_induce.cpp` checks if the value of epsilon has increased vs the previous iteration and unnecessarily terminates. If this line is removed, the iteration continues and a solution is found.

As I understand, epsilon does not necessarily need to decrease

[2022-08-08 18:30] chappertron opened #3386 "[BUG] AMOEBA dipole convergence warnings ignoring polar-iter option"
**Summary**

The number of iterations for induced dipole convergence in the newly added Amoeba/Hippo forcefields can be controlled with the `polar-iter` parameter in the `.key` file.
For the purposes of displaying a warning when the number of iterations is exceeded, line 393 in `src/AMOEBA/amoeba_induce.cpp` checks if the number of iterations has exceeded a hardcoded variable `maxiter`, rather tha

[2022-08-08 19:35] akohlmey commented on #3385
@chappertron thanks for reporting, I have included your suggested changes in PR #3387

[2022-08-08 19:36] akohlmey commented on #3386
@chappertron thanks for reporting, I have included your suggested changes in PR #3387

[2022-08-09 17:28] chappertron commented on #3386
@akohlmey Thank you!

[2022-08-09 17:28] chappertron commented on #3385
@akohlmey Thank you!

[2022-08-10 22:34] #3385 closed, assigned to sjplimp

[2022-08-10 22:34] #3386 closed, assigned to sjplimp

[2022-08-13 05:34] hammondkd commented on #2597
I can volunteer for this, but I'm having trouble ascertaining what you're looking for. For example, neighbor.cpp seems to have a DOI in the first line. If that one is correct, I'll emulate that example for the rest of them. If not, please give an example of what you're looking for.

[2022-08-13 06:18] akohlmey commented on #2597
Thanks for volunteering. I have updated the list, and checked/regularized a few entries in commit c2115c27e8b64aa32f5ad9f507c888aa3f4b56ba
So neighbor.cpp was almost there. src/DIFFRACTION/compute_saed.cpp and src/DIFFRACTION/compute_xrd.cpp are suitable examples, if you replace the '_' with ' '. Please also see: https://docs.lammps.org/Modify_style.html#citation-reminder-suggested

[2022-08-15 21:31] mdelyser opened #3402 "[BUG] rerun dump doesn't output more than one frame"
**Summary**

In "old" versions of lammps (approx Sept 2021 and older), when I use the rerun command with an existing dump file, the newly produced dump file contains data for all frames. In "new" versions of lammps (approx Jan 2022 and newer), when I use the rerun command with an existing dump file, the newly produced dump file only contains data for the first frame (despite still giving me thermo

[2022-08-16 01:20] akohlmey commented on #3402
Thanks for your report. Unfortunately (or fortunately?), I cannot reproduce it with either the latest stable version (23 June 2022) or the current development branch (post 3 August 2022). This seems to be a duplicate of issue #3274. There *was* a problem with rerun causing errors or not producing output beyond the first frame and this was due to internal changes that allow to output dumps at regul

[2022-08-16 13:47] mdelyser commented on #3402
That's weird. I cloned the github repository last Thursday (Aug 11) to make sure the bug was still present. Running the example I sent only gave me 1 frame of output. I just cloned the github repository again, ran the example, and got both frames of output.

I'm not sure what I messed up last week. Maybe I didn't call the newly compiled version last Thursday when I thought I did. But it's working

[2022-08-16 14:48] akohlmey commented on #3402
No worries. It would have been worse if the bug had reappeared after we already fixed it.

[2022-08-16 14:48] #3402 closed, assigned to akohlmey

[2022-08-16 19:44] jtclemm opened #3404 "[BUG] Invalid dump line format can trigger segmentation faults"
**Summary**

When users specify custom format line options using the `dump_modify` command, LAMMPS only performs a minimal number of error checks - namely it checks whether the user provided formatting is too short for dump custom. If the formatting string is too long, this can lead to invalid memory access in [dump custom](https://github.com/jtclemm/lammps/blob/43726c020a1330572a7aa88e14a7a0e1d81

[2022-08-16 20:05] akohlmey commented on #3404
@jtclemm I have run your example input and neither experienced a segmentation fault nor saw any valgrind issues about invalid memory access. There might be something different with the printf() implementation you are using.

The problem with the checks you are applying is that they can be very misleading. I have seen people using format strings without blanks (e.g. `%20.15f%20.15f%20.15f`) and I h

[2022-08-16 20:09] akohlmey commented on #3404
Please look at the `DumpXYZ::pack()` function. It "packs" 5 per-atom properties (tag, type, x-,y-,z-position) into the communication buffer.

[2022-08-16 20:51] jtclemm commented on #3404
My apologies, I forgot to mention that only the specific dump_modify command should be uncommented to trigger each specific  issue. Here's a set of comments in that file that causes the seg fault: [in.melt.txt](https://github.com/lammps/lammps/files/9354432/in.melt.txt). The seg fault occurs when LAMMPS tries to delete `vformat[i]` after iterating to a value of `i` greater than `nfield` on [line 2

[2022-08-16 21:49] akohlmey commented on #3404
There are additional issues with the non-portable printf() format requirements on 64-bit integers (on some platforms they are "long int" on others "long long int" etc.) and lots of nitty-gritty details. That is why I have been pushing so hard to replace as much of those cases with `{fmt}`, but thermo_modify and dump_modify are difficult to replace. So either we take away some flexibility (and simp

[2022-08-16 22:00] jtclemm commented on #3404
Since the memory error is the primary issue at hand, that would close this bug report. Better errors/warnings would be nice but, like you said, I see that checking formatting strings is nontrivial. Thanks also for the background on printf() and {fmt}, it is helpful to know about.

[2022-08-16 22:13] akohlmey commented on #3404
@jtclemm commit 0cac041ad40d18ac652c00809c8ce29ebb6d0a38 should avoid the segfault. I found 3 cases where this change is needed. Please let me know if you notice another one.

Yeah, `{fmt}` is really cools stuff. The more I learn about it, the more I like it. But it takes some time to learn using it well.
I have not yet dug so deep that I've learned to write specializations for custom data types.

[2022-08-17 19:40] #2597 closed

[2022-08-17 23:37] #3404 closed, assigned to nobody

[2022-08-24 14:57] jonwils opened #3413 "[BUG] Incorrect background charge correction term for charged slab systems"
**Summary**

When using the electrostatic slab correction from Yeh & Berkowitz and the background charge correction from Ballenegger for charged systems, the background-background charge interaction term is calculated incorrectly. In pppm.cpp in the slabcorr() and slabcorr_groups() functions, this term is calculated as:

e_slabcorr = MY_2PI\*(dipole_all\*dipole_all - qsum\*dipole_r2 - qsum\*qsum\*

[2022-08-25 21:19] wapisani opened #3415 "[Feature Request] Retain comments in data file upon read"
**Summary**

It would be helpful if LAMMPS retained all comments that are present in a data file so that those same comments can be written to new data files.

**Detailed Description**

I usually use the class2 INTERFACE Force Field (IFF) and the atom types in this force field are variations on the atomic symbol. For example, a carbon atom in a benzene/phenyl group is "cp", but a standard carbon a

[2022-08-25 21:28] akohlmey commented on #3415
This is not easily possible since comments are removed long before parsing those lines, so it is not possible to parse and associate them with any data.

However, your use case is an application that likely would benefit from the type label feature in PR #2531

[2022-08-25 21:44] wapisani commented on #3415
I was not aware of that feature. Looks like it would work well for my use case. Thanks! I look forward to using it in the future.

[2022-08-25 21:44] #3415 closed, assigned to nobody

[2022-08-27 04:31] jimustafa opened #3417 "[Feature Request] Implement additional C-style format strings"
**Summary**

It seems there is a use case for additional C-style format strings for variable declarations. In particular, when looping over a integer with padding enabled, a `%0Xd` format string could make it easy to get the correctly formatted value for previous or subsequent values of the variable. The situation in mind is reading data from a previous simulation where the filename contains the p

[2022-08-27 11:12] akohlmey commented on #3417
Actually you *can* format with padding in this case. The problem is that variables *always* return floating point values, thus using an integer format specifier would be incorrect and rightfully refused by LAMMPS. If you use the following command instead, you will get the desired output format.
[code]
No change to LAMMPS is needed for this.

[2022-08-27 11:12] #3417 closed, assigned to akohlmey

[2022-08-27 17:16] jimustafa commented on #3417
Thank you @akohlmey! My bad for missing such an obvious solution.

[2022-08-30 08:26] Rinske-alkemade opened #3423 "Variables in Lammps Harmonic/cut potential do not have the correct units."
Dear Lammps,

On the documentation page of the _harmonic/cut_ pairstyle (https://docs.lammps.org/pair_harmonic_cut.html), the coefficient _k_ currently is defined in units of energy. However, it should be defined in units of energy/distance^2.  I know that this is not a big issue, however, due to this definition, it took me some time to figure out with which form of the harmonic potential lammps i

[2022-08-30 09:02] akohlmey commented on #3423
Thanks for your report. This should be remedied in the next LAMMPS patch release.

[2022-08-30 11:55] hoba87 opened #3424 "[BUG] dump output (dump_modify) of timesteps not as expected"
**Summary**

The dump_modify command works not as expected, because requested timesteps are not printed to dump file.

[code]

**LAMMPS Version and Platform**

LAMMPS (23 Jun 2022) on CentOS 8.5

**Expected Behavior**

I get for the given fix runs and dump_modify commands output to dump at timesteps of 0, 50, 60 and 70. If the nve fix is deleted (the 5 lines in the middle) I would expect timesteps

[2022-08-30 13:16] mkanski commented on #3424
First things first - `fix nve` and other time-integrating fixes don't affect dump frequency at all.

Second, I cannot confirm this behaviour (with the current develop version - patch_3Aug2022-284-g2f8c370645, or the version I had on my PC - patch_23Jun2022-501-g9061be98c2) for the first input, i.e. LAMMPS correctly writes dump at 0, 50, 60, and 70th timestep.

As for the original input from the zi

[2022-08-30 14:39] hoba87 commented on #3424
Ok if I compare it for example with LAMMPS (7 Aug 2019), LAMMPS (29 Oct 2020) or LAMMPS (29 Sep 2021 - Update 1) I get for the given files the expected output of timesteps at 0, 50, 60, 110. That is changed now for the current stable version as you have checked also. LAMMPS (17 Feb 2022) also shows the "new" behaviour.

The behaviour of the older versions is also what I would expect for the cited

[2022-08-30 15:30] mkanski commented on #3424
Well, what's intuitive depends on what you are used to. ;)
For me, the "new" behaviour is more intuitive as the manual also states that:

It wasn't the case with the "old" behaviour as the interval between snapshots is 10 instead of 60 (in your example, after the first use of `dump_modify`).
There is also an issue when using output from `ave/atom` in dumps. The values weren't correct with the old

[2022-08-30 16:01] hoba87 commented on #3424
Ah ok, I agree that it is more intuitive to define the frequency instead of the total number of timesteps, however with the changed frequency as followed, still I get the 0, 50 and 100 timestep, so I am not able to change it with the dump_modify command. That's what is really unintuitive ;), so yeah, either allow (and fix) it or forbid it by throwing an error.

[code]

The case with the ave/atom i

[2022-08-30 16:12] akohlmey commented on #3424
@sjplimp we need your final word here.

My take on this is the following: When the `dump_modify every` command is issued the next step of the dump should become the current step plus the every value and *not* based on the current step when the dump command was issued. For me "dump_modify every 10" would mean "output every 10 steps *from here on*".

A sequence of:
[code]
Should output on timesteps

[2022-08-30 17:45] sjplimp commented on #3424
The intent of the setting for N in both the dump and dump_modify every commands is the same.
It means: output on every timestep that is a multiple of N
It does not mean: output once every N steps starting from the current step.

The dump doc page is more clear on this (in the text) than than the dump_modify doc page.
But I think both doc pages could be made more clear, especially at the top - I se

[2022-08-30 18:47] akohlmey commented on #3424
BTW: unrelated to the behavior of the dump_modify command. If the intent is to simply output a single trajectory frame after a run is completed, this would be more conveniently done using the "write_dump" command.

[2022-08-31 18:42] akohlmey commented on #3424
That is the case. Commit 673eeff58170e87765ff723e849b473773eaa6ad in PR #3422 restores the described behavior.

[2022-09-03 03:51] #3371 closed, assigned to akohlmey

[2022-09-04 19:36] strizhkindenis opened #3429 "[BUG] Wrong Python module install path on Fedora36"
**Summary**

When building lammps on Fedora36 with `-D BUILD_SHARED_LIBS=on -D LAMMPS_EXCEPTIONS=on -D PKG_PYTHON=on` lammps Python module installs into `.local/local/lib` instead of `.local/lib`

**LAMMPS Version and Platform**

Fedora linux version 36
lammps release branch commit: 883a25bbd847f66d663dbb61381bdbdb9922c574

**Expected Behavior**

Python moudule installs into `.local/lib/pythonX.X/

[2022-09-04 23:25] junghans commented on #3429
Hmm, the issue must be somewhere in our `setup.py` as we are using that to install the python module in CMake:
https://github.com/lammps/lammps/blob/8315f9996b2f32aebe859bffd2cd09e9ded9b877/cmake/CMakeLists.txt#L852

[2022-09-05 13:05] junghans commented on #3429
@denisstrizhkin if you install the lammps package using `dnf` is the python module in the right place?

[2022-09-05 15:43] akohlmey commented on #3429
FWIW, the code used in "make install-python" calls install.py which has been 'modernized' to a) create a virtual environment for building, b) install/update pip, build, wheel, setuptools (i.e. the contents of python/wheel_requirements.txt), c) use `python -m build` to create a wheel with some trickery to include the LAMMPS shared library) and finally d) use `python -m pip` to install the created w

[2022-09-05 16:05] strizhkindenis commented on #3429
By using `sudo dnf install python3-lammps` it installs into `/usr/lib/python3.10/site-packages/lammps`.

`import lammps` works but I get this error:
[code]
on `lmp = lammps.lammps()`.
`export LD_LIBRARY_PATH=/usr/lib64` does not help.
Though `/usr/lib64/liblammps.so.0` is present.

This is on clean fedora36 vm

[2022-09-05 16:07] strizhkindenis commented on #3429
But I don't think user home install is possible with `dnf`.

[2022-09-05 23:36] benmenadue opened #3431 "[BUG] CUDA kernel launch failure with OpenMPI 4.1.4"
**LAMMPS Version and Platform**

[code]

**Summary**

With OpenMPI 4.1.4, LAMMPS crashes due to `cuLaunchKernel` returning an error (400 = Invalid resource handle). With earlier versions, or with the UCC library disabled in OpenMPI, LAMMPS functions correctly.

This is a result of the UCC library making calls to the CUDA runtime library during some MPI calls, which results in the CUDA context bein

[2022-09-06 03:26] junghans commented on #3429
I think the unnumbered `liblammps.so` symlink is part of the devel package - we should fix that dependency....

Correct.

[2022-09-06 03:30] junghans commented on #3429
Seems pretty convoluted to me, original cmake just copied files around during installation, not sure why that was changed. But this more a question for @rbberger.

[2022-09-06 05:20] rbberger commented on #3429
Probably related to this: https://discuss.python.org/t/linux-distro-patches-to-sysconfig-are-changing-pip-install-prefix-outside-virtual-environments/18240

Historically speaking: `make install-python` was designed for the use case that motivated this issue. So a regular user doing a local CMake build and installation into their home. `make install` is targeted for packaging or virtual environment

[2022-09-06 22:59] #3423 closed, assigned to akohlmey

[2022-09-06 22:59] #3424 closed, assigned to nobody

[2022-09-08 02:55] Qiyu8 opened #3434 "[BUG] CUDA illegal memory access with NVIDIA HPC SDK OpenMPI 4.0.5"
**Summary**

Hello!
I was trying to running lammps(kokkos mode) in my ARM-based machine, Two A100 NVidia card are installed. However, I couldn't manage to make cuda_ipc transport to work as long as the P2P is enabled. The mpirun command is as follows:
[code]
The failed log is:

[code]

but if I removed cuda_ipc or turn cuda/aware off, The program can run successfully while the performance is bad.

[2022-09-08 03:06] stanmoore1 commented on #3434
Hi @Qiyu8 thanks for the report. I think this is more an issue with the system/libraries on your machine (i.e. `cuda_ipc`) and not a bug in LAMMPS. Maybe @weinbe2 has an idea, otherwise I think you will need to contact authors of the libraries or someone at NVIDIA, since I have no way to reproduce or debug this.

[2022-09-08 08:23] Qiyu8 commented on #3434
@stanmoore1 Thanks for your advice, I will going to NVIDIA forum for help. @weinbe2 Any suggestions?

[2022-09-08 21:44] weinbe2 commented on #3434
Definitely reach out on the NVIDIA forum, since that will cast a wider net, but a few questions that will help in either case:
 * Which ARM CPU do you have?
 * Are these GPUs connected by NVLink, or are all comms through the host?
 * How are you defining "good" performance? More specifically, is this relative to 2xA100 on x86, or another quantification? The reason I ask is I believe the default pr

[2022-09-09 02:25] Qiyu8 commented on #3434
@weinbe2 The ARM CPU is ARM-V8.2-based kunpeng, all of the GPUs are connected through PCIE, no NVLink are used, in this workload, all gpus should comms through P2P，not through the host, when referring to the performance,  I tested on another ARM machine with same configuration, The performance can reach 240 timesteps/s,  but in this case, The performance is 205 timesteps/s, which is not good enoug

[2022-09-09 15:46] weinbe2 commented on #3434
Thank you for more information. For what it's worth, I'm using "P2P" as a blanket term referring to inter-GPU comms, which will go through the PCIe bus when NVLink isn't available (and may technically include host staging, depending on the PCIe topology). For this reason the exact PCIe topology can matter, as well as the exact driver/CPU, etc.

One test to try is the CUDA toolkit p2pBandwidthLaten

[2022-09-09 15:49] stanmoore1 commented on #3434
Thanks @weinbe2! @Qiyu8, hopefully Evan or others at NVIDIA can help you figure this out. Closing this issue here since it isn't a bug in LAMMPS/Kokkos per se.

[2022-09-09 15:49] #3434 closed, assigned to nobody

[2022-09-09 20:24] #3431 closed, assigned to nobody

[2022-09-09 22:56] akohlmey commented on #3362
This has been sitting for over a month now without any followup or other reaction. Since it doesn't look like it won't make much of a difference anyway, I am closing this now and wait for a possible pull request.

[2022-09-09 22:56] #3362 closed, assigned to athomps, donatas-surblys

[2022-09-09 22:58] akohlmey commented on #3351
@jkelowitt @athomps This discussion has become stale. Please let me know if there will be some follow up or whether we can close this.

[2022-09-09 23:15] #2002 closed

[2022-09-10 03:53] hammondkd opened #3441 "[BUG] _EXTRA-MOLECULE with CMake creates error"
**Summary**

CMake build of LAMMPS with only the EXTRA-MOLECULE package installed creates an error.

**LAMMPS Version and Platform**

3Aug2022 / develop branch / checkout version fb9c40d running on Fedora 36.

**Expected Behavior**

builds without errors

**Actual Behavior**

.../src/EXTRA-MOLECULE/angle_cosine_delta.h:23:10: fatal error: angle_cosine_squared.h: No such file or directory
   23 | #

[2022-09-10 04:46] hammondkd commented on #3441
*sheepish expression* I don't get the compile error if I include the MOLECULE package as well as EXTRA-MOLECULE (duh...), but I still get unit test errors. Test #34 (MPILoadBalancing) fails, as does Test #41 (LibraryMPI) and Test #398 (FixTimestep:adapt_coul).

Incidentally, I encountered all of this while trying to figure out how to build the tests for the library interface. What are the correct

[2022-09-10 06:45] akohlmey commented on #3441
Tests are supposed to be set up so they are either not included or skipped if a requirement is not available.
So python tests require a suitable python interpreter, but tests using the LAMMPS python module also require that LAMMPS is built with -DBUILD_SHARED_LIBS=on since it tries to import the LAMMPS library via ctypes. In addition, some python tests depend on NumPy, others require PyYaml and so

[2022-09-11 18:43] hammondkd commented on #3441
@akohlmey You are exactly right about the MPI failures: the OpenMPI 4 implementation I'm using (the one that ships with Fedora 36) associates "cores" with physical cores; to get the 4 CPUs the kernel recognizes, I need to use MPIEXEC_PREFLAGS="--use-hwthread-cpus" ("--oversubscribe" would also work), and if I do that, it works fine.

I get the following message in the CMake log when configuring:
"

[2022-09-12 01:36] akohlmey commented on #3441
There must be something not complete with your Fortran compiler installation or your CMake installation. Here is the corresponding CMake script code in `unittest/fortran/CMakeLists.txt`:
[code]
I am using Fedora 36 on multiple machines and there is no problem recognizing the Fortran compiler. Here is the corresponding CMake run summary output:
[code]

And for me the Fortran tests are compiled and

[2022-09-12 22:14] #3441 closed, assigned to nobody

[2022-09-13 15:04] hammondkd commented on #3441
@akohlmey I found the problem (and it was not in my configuration): when one builds LAMMPS with any of the packages ATC, MSCG, AWPMD, ML-QUIP, LATTE, or ELECTRODE included, CMake gets "enable_language(Fortran)" on line 427 of cmake/CMakeLists.txt, which has the side effect of setting CMAKE_Fortran_COMPILER_ID, which is then found on line 9 of unittest/fortran/CMakeLists.txt.

If I rebuild with ATC

[2022-09-13 15:10] akohlmey commented on #3441
OK. Please check, if the following change remedies the situation then:
[code]

On Tue, Sep 13, 2022 at 11:05 AM hammondkd ***@***.***> wrote:

--
Dr. Axel Kohlmeyer  ***@***.***  http://goo.gl/1wk0
College of Science & Technology, Temple University, Philadelphia PA, USA
International Centre for Theoretical Physics, Trieste. Italy.

[2022-09-13 16:36] hammondkd commented on #3441
@akohlmey Worked perfectly with that change. Thank you!

[2022-09-15 21:25] njzjz opened #3447 "[Feature Request] Publish LAMMPSLexer as an independent package"
**Summary**

Publish `LAMMPSLexer` as an independent Python package.

**Detailed Description**

Some external packages need to write LAMMPS code in their Sphinx-based documentation. It will be nice if `LAMMPSLexer` can be installed as an extension.

**Further Information, Files, and Links**

LAMMPSLexer: https://github.com/lammps/lammps/blob/develop/doc/utils/sphinx-config/LAMMPSLexer.py
`Pygments

[2022-09-17 20:29] akohlmey commented on #3447
@njzjz if you want to do this, you are free to do so for as long as the code taken from LAMMPS remains under GPL-2 license and that you indicate where it is taken from. Otherwise you would have to convince @rbberger to do it since he is the principal author.

[2022-09-17 21:22] rbberger commented on #3447
@njzjz Sounds like a good idea. I'll create that package.

[2022-09-18 00:16] rbberger commented on #3447
@njzjz @akohlmey Done. Was an interesting exercise. Learned a lot doing so. https://pypi.org/project/pygments-lammps/

[2022-09-18 01:07] njzjz commented on #3447
Thanks, it works for me!

[2022-09-18 01:07] #3447 closed, assigned to rbberger

[2022-09-19 10:56] bigd4 opened #3451 "[Feature Request] Add LAMMPS_VERSION_NUMBER in version.h"
Now `version.h` has following information:
[code]
It may a little hard to diretly use **LAMMPS_VERSION** in **#if.** Althogh **LAMMPS_VERSION_NUMBER** can be got by cmake easily but I don't know how to get it automatically when use make. Would you please add it (like `#define LAMMPS_VERSION_NUMBER 20220915`) in `version.h`?  It may not work for older version but may bring convenience in the future

[2022-09-19 16:54] akohlmey commented on #3451
@bigd4 if you need a differently formatted version text, you can easily write a little converter and create and use a custom header, e.g. numversion.h as part of your build procedure.

[2022-09-20 08:52] bigd4 commented on #3451
Yes, I realized that I could convert it in `Install.sh` when use make. Thank you very much!

[2022-09-20 08:52] #3451 closed, assigned to sjplimp

[2022-09-20 21:52] jimustafa opened #3452 "[Feature Request] Add compute/dump functionality to identify defects"
**Summary**

Add compute/dump functionality to identify, count, and output point defects (see [1,2]).

**Detailed Description**

When simulating a primary knock-on atom (PKA) coming from a collision by a high energy particle, the resulting damage cascade is typically composed of point defects, such as vacancies and interstitials. The large simulation boxes required can lead to large data dumps tha

[2022-09-23 03:31] hammondkd commented on #3452
It would be a simple matter to include it in a package, I suppose, but that also commits people to maintain it. The creation of the sites does some things that are probably non-kosher for proper packages (e.g., creating atoms and then deleting them again without telling the user), and there are some features that don't quite work right (e.g., using a file to read the sites if they cannot also be g

[2022-09-23 21:26] heindelj opened #3457 "[BUG] Inconsistent unit conversion in QEQ part of Reaxff module"
**Summary**

In the reaxff module, there are three constants which are defined in `reaxff_defs.h`.

They look as follows:
[code]

The way these constants are defined, `C_ele / EV_to_KCALpMOL` should exactly equal `KCALpMOL_to_EV`. As the comment on this line indicates, the correct conversion is 23.060549. However, since even in EEM papers, the conversion of EV to kcal/mol is often set exacty equal

[2022-09-26 16:46] stanmoore1 commented on #3457
I will take a look.

[2022-09-26 16:47] athomps commented on #3457
@akohlmey I have assigned this to @stanmoore1.  I think he is better qualified than me to review ReaxFF PR's.  This seems like an important issue that I had not heard about before.  Requiring that forces and energy be consistent is a minimum requirement for any potential.

[2022-09-29 19:59] hammondkd opened #3464 "[BUG] Variable style format gives false positive in format string conversion check"
**Summary**
I was playing around with variable style "format" today, which I've never used, and I encountered the error message,
[code]
Minimal working example is
[code]

variable.cpp, line 399 looks like
[code]
This regular expression has the side effect of refusing to use something as benign as "%f" or "%g" as a format string (which seems like it should be allowed). One simple fix is to replace

[2022-09-29 22:24] athomps commented on #3457
After doing my own checking, I do not recommend adopting this proposed changes, for several reasons:

0. It is not a bug
1. The current value of KCALpMOL_to_EV matches that used in the original serial ReaxFF code of Adri van Duin
`reax: reax_poten.F:      c1=23.02           !conversion from kcal to eV`
3. The value is applied consistently to both energy and force calculations, so changing it has n

[2022-09-29 22:30] athomps commented on #3457
@heindelj I'd be curious to know how you observed force differences on the order of 0.5 to 1.5 kcal/mol/A. Your test must differ from mine in some way.

[2022-09-29 23:22] heindelj commented on #3457
@athomps I have a different implementation of ReaxFF which agrees with the Lammps implementation basically bit for bit in outputs. I did not do the finite difference with the Lammps implementation, but in my implementation I get rather large differences in forces. I am testing on small molecules in the gas phase right now so maybe that is somehow related to seeing larger force differences? I'm not

[2022-09-30 02:38] TerrySuun opened #3466 "[BUG] Wrong force for bond_style quartic"
**Summary**

The evaluation of bond force for bond_style quartic is wrong for the LJ term.

**LAMMPS Version and Platform**

23 Jun 2022
Linux x86_64
source code

**Expected Behavior**

1, correct force for bond_style quartic
2, clear documentation of bond energy terms

**Actual Behavior**

Large force when particle distance r < 1.0

**Steps to Reproduce**

1, Manually calculate force between quar

[2022-09-30 02:51] akohlmey commented on #3466
Please note that fbond is *not* the force, but - for computational efficiency - it is force/r.
You can see this when the force is projected on x, y, z in lines 136-138 and 142-144 where fbond is "only" multiplied by delx/dely/delz. If fbond would be the force, then those projections would require a division by r.

[2022-09-30 03:33] TerrySuun commented on #3466
Ah, right, I missed this. Any plan on the document update? Hopefully? Otherwise, I'll just close this bug report.

[2022-09-30 07:19] TerrySuun opened #3467 "[Feature Request] Requesting a new bond_style quartic/cut"
**Summary**

A new bond_style quartic/cut

**Detailed Description**

In our modeling, to improve an existing molecule model, we need a bond type which behaves similar to LJ potential: the energy goes to zero when r goes to infinity. We need it for specific pair of atoms, not between two pair types, hence adding another pair interaction would involve pairs of atoms that are excluded from this inter

[2022-09-30 07:25] akohlmey commented on #3467
Please note that most features in LAMMPS are not added by the LAMMPS developers, but contributed by LAMMPS users that had a specific need for a specific feature in LAMMPS. Please see https://docs.lammps.org/Modify.html for more information on how to add features to LAMMPS.

[2022-09-30 07:30] akohlmey commented on #3467
BTW: What you describe sounds a lot like what pair style `list` implements: https://docs.lammps.org/pair_list.html

[2022-09-30 08:15] TerrySuun commented on #3467
Yes, indeed. I'll try implement with pair_style list to see if it works for us.

[2022-09-30 23:56] akohlmey commented on #3466
It is a cutoff of `2^(1/6)` i.e. 1.122462048309373 and *not* `2^(-1/6)`

This will be clarified in the next patch release.

[2022-10-01 00:06] akohlmey commented on #3464
There are a few more issues at hand and adding a '*' is too liberal, a '?' would be more correct.
I have tracked this down by adding an explicit unittest section on format style variables and found a bunch of issues.
- the regular expression also needs to handle left justified formats (start with '%-') and needs to start with '^' and end with '$' to avoid partial matches on otherwise incorrect for

[2022-10-01 00:08] akohlmey commented on #3464
This is currently impossible to fix because of how the variable code parses the input. It is segmented by inserting null characters and thus printing the entire string is not possible. While a general rewrite of all string handling to use copies and the `std::string` class is a long-term goal, the variable code was skipped this far because of its complexity.

[2022-10-02 18:04] yueyericardo opened #3469 "[Feature Request] Allow Kokkos dynamic linking"
Currently, Kokkos is forced to be built as a static library.
https://github.com/lammps/lammps/blob/f136bcbef7ad0c9979e6ac24bbec63ef0f8b7800/cmake/Modules/Packages/KOKKOS.cmake#L81-L84

However, this does not support [plugins](https://docs.lammps.org/Developer_plugins.html). Because, in this way, both the built plugin library and the lammps library would contain some common Kokkos static variables

[2022-10-02 18:13] akohlmey commented on #3469
Trying to build a plugin with KOKKOS support is asking for trouble. The plugin interface mechanism is not designed to support that.

That only applies to the case when using the bundled Kokkos library. You can still download and build Kokkos as an external library (which would be required, for example, if you want to couple LAMMPS and another code that both would use Kokkos) and configure it to be

[2022-10-02 18:30] yueyericardo commented on #3469
Thanks for the quick reply! I would link with the external Kokkos library then.

[2022-10-02 18:30] #3469 closed, assigned to akohlmey

[2022-10-02 19:18] akohlmey commented on #3467
After re-reading the description, I am thinking that a new bond style is not going to solve the problem, since the atoms may not move beyond the communication cutoff or else there will be bond atom lost errors or the communication cutoff must be extended and the calculation will slow down. Pair style `list` is more suited for the given conditions. If needed an additional functional form can be add

[2022-10-02 19:18] #3467 closed, assigned to nobody

[2022-10-02 23:56] TerrySuun commented on #3466
Yes, my mistake, should be 2^(1/6).

[2022-10-02 23:56] #3466 closed, assigned to nobody

[2022-10-03 13:37] #3464 closed, assigned to nobody

[2022-10-04 01:37] TerrySuun opened #3472 "[BUG] Wrong reading of pair-specific cutoff in pair_style list"
**Summary**

The pair-specific cutoff specified in pair list data file required by pair_style list is read and used incorrectly.

**LAMMPS Version and Platform**

LAMMPS SEP 15 2022
Source code

**Expected Behavior**

The pair-specific cutoff is correctly read from the explicit pair list as cutoff, not squared cutoff, so that these explicitly specified pair interactions are in effect.

**Actual Be

[2022-10-04 17:27] #3472 closed, assigned to nobody

[2022-10-06 17:01] hammondkd commented on #3452
I may work on this in the next few weeks to try to fix the problems I encountered last summer and to re-encode some of the features that may not be desirable so they work better with LAMMPS and its existing code base and feature set. Stay tuned.

If you need the new files with the slight modifications so they compile with current versions, see https://github.com/hammondkd/lammps/tree/da11c278dfb83

[2022-10-06 21:51] hammondkd opened #3476 "[BUG] thermo_modify format accepts too many fields"
**Summary**

The `thermo_modify` command currently allows the user to specify a format string for one too many fields. Example is below.

**LAMMPS Version and Platform**

Latest develop branch (synchronized this afternoon, 10/6/2022).

**Expected Behavior**

The following input script should produce an error:
[code]
The last line should try to access the third element of a two-element vector, prod

[2022-10-06 22:03] akohlmey commented on #3476
Please don't invest too much effort into playing around with format strings.

We are seriously considering to get rid of them and take advantage of `{fmt}` formatting instead.
With that we can simplify the format requests to request only "width", "precision" (if for a floating point number) and "alignment" instead of providing "raw" format strings. You can see this already in the thermo column hea

[2022-10-06 22:11] hammondkd commented on #3476
I'm not changing the format strings at all here---it's the fact that column 3 doesn't exist that's the bug.

I have a fix in place that I'll push shortly, and it also implements the range idea. If the "%f" and such format strings go away in favor of "{fmt}" and friends, these changes should be agnostic to that.

The bug seems to be an off by TWO error: "+ 1" should have been "- 1".

[2022-10-06 22:26] akohlmey commented on #3476
please just provide the proposed bugfix here. If this is for real and addressing the right issue, it will affect other parts of the thermo code and possibly other parts of LAMMPS, too. I'd also prefer to add tests for it to the unittest programs. I have a pull request already open with fixes and improvements there (and some refactoring accessing computes/fixes/variables in various places).

[2022-10-06 22:40] akohlmey commented on #3476
when comparing `thermo_modify format` with `thermo_modify colname` it appears the fix would be:
[code]

[2022-10-06 23:11] hammondkd commented on #3476
They should be available now in https://github.com/hammondkd/lammps/commit/3b292cd50a5c036553c790557b23a6fe8d0ffe0e; if I should submit it as a pull request, I can do that.

The bug fix is line 694 [new file line 709] of src/thermo.cpp (it seems like it should be nfield_initial, not nfield_initial - 1, but that didn't work).

[2022-10-06 23:20] akohlmey commented on #3476
Please note that `icol > nfield_initial - 1` in your commit is the same as `icol >= nfield_initial` in my change. This is the same what is also used for `thermo_modify colname` which I had tested extensively. Not sure how the second one was implemented differently, since both options were added in the same commit e3611c5d73ffe7886f4578d633a5886a7114924f
I prefer to have both comparisons implemente

[2022-10-06 23:30] hammondkd commented on #3476
Yes, they are the same (I implemented that before your previous post).

If you would like me to excise the "new" feature from this into another pull request, I can do that.

[2022-10-06 23:40] akohlmey commented on #3476
I just added d83d15053676b40b1e15c40402053ba75b588ec9 to PR #3475

[2022-10-07 05:33] srtee commented on #3413
Worth noting that the corrected expression from @jonwils is what is actually in Ballenegger's paper (https://aip.scitation.org/doi/pdf/10.1063/1.3216473).

In that paper $h$ is used for `zprd` (Sec II A, first para) and $L_z$ is `zprd_slab` (Sec III C), so the non-neutral slab energy (equation 29) corresponds to the corrected expression rather than what is currently in the code.

[2022-10-07 15:21] stanmoore1 commented on #3413
@srtee that is helpful, thanks. I'll take a look/submit a PR.

[2022-10-07 21:38] akohlmey commented on #3429
Not quite. "make install-python" is for the case of somebody compiling LAMMPS locally (regardless of the build method) *without* the desire to install the LAMMPS executable or library into a path somewhere, but with the wish to use the LAMMPS Python module. So it produces a self-contained wheel, but lacks anything that is beyond the needs of running the Python module.

"make install" should work i

[2022-10-08 21:21] #3429 closed, assigned to junghans, rbberger

[2022-10-10 11:04] strizhkindenis commented on #3429
Thanks everyone. I can confirm that develop branch works as expected for me. Tested on clean Fedora36 WM.

[2022-10-11 05:23] jimustafa commented on #3452
Thank you @hammondkd! It seems that this could be a great addition to LAMMPS. And thanks for pointing me to your fork. Will take some time to check out the source and see if I can get the package built on my end.

[2022-10-11 06:36] srtee opened #3481 "[Feature Request] Script option for _use_table in INTEL PPPM"
**Summary**

Enable scripts to turn on/off table-based gridding of charges in INTEL package's PPPM implementation.

**Detailed Description**

Currently Intel's PPPM uses a pre-computed table to spread charge onto the PPPM grid. This setting is currently controlled by `#define INTEL_P3M_TABLE` in `src/INTEL/intel_preprocessor.h`, with the different code paths switched by `if(_use_table)` statements

[2022-10-12 01:12] #3413 closed, assigned to stanmoore1

[2022-10-12 15:08] robeme opened #3484 "[BUG] CMake issue with clang-format on ubuntu 22.04"
It seems that CMake is not able to identify the correct clang-format version if the output of `clang-format --version` is something like `Ubuntu clang-format version 14.0.0-1ubuntu1` using
[code]
in `cmake/Modules/FindClangFormat.cmake`. I only get the message `Could NOT find ClangFormat: Found unsuitable version "0.0", but required is at least "8.0" (found /usr/bin/clang-format)`. Unfortunately,

[2022-10-12 15:37] akohlmey commented on #3484
Thanks for reporting. I will take a look. In the meantime, you can just run `clang-format -i` interactively on relevant files or folders and it should pick up the embedded configuration and apply it.

[2022-10-12 16:34] akohlmey commented on #3484
This is now fixed in commit c741eca953ab58fd170e1896c938c54c73cd51d6 and will be available with the next patch release of LAMMPS

[2022-10-12 17:05] robeme commented on #3484
Thanks! That was quick. It's kinda funny that a tool which helps to consistently format source code does somehow not consistently output its version number 🤣...

[2022-10-12 17:53] akohlmey commented on #3484
I think this is a modification from the Ubuntu developers. On Fedora and Arch Linux it just uses the output starting with `clang-format`.

[2022-10-12 19:41] garey-ruslanov commented on #3373
@akohlmey Hello, I am @igor-s-tan 's colleague and I'm going to implement this Fix. May I ask questions to you in the future here?

[2022-10-12 20:09] akohlmey commented on #3373
You can try if the questions are sufficiently generic. For more specific discussions you can ask to get access to our developer Slack.

[2022-10-18 12:55] Leimeroth opened #3492 "[Feature Request] Pair style hybrid/scaled with kokkos acceleration"
# Bug report

Currently using -sf kk throws an error: Must use pair_style hybrid/scaled/kk with Kokkos, when using pair_style hybrid/scaled. When trying to manually apply /kk suffixes the error changes to Unrecognized pair style 'hybrid/scaled/kk'. When using the otherwise same script with hybrid/overlay no problems occur with and without -sf kokkos.

I don't know whether kokkos acceleration is su

[2022-10-18 13:04] akohlmey commented on #3492
*Since* it is *not* mentioned as an accelerator variant that means it is *not* supported. All supported functionality *is* documented. Given the flexible and complex nature of LAMMPS it would be impossible to document all unsupported functionality.

While you may find that error message irritating, it is accurate.

[2022-10-18 13:20] Leimeroth commented on #3492
Is support for kokkos acceleration planned? The error message for other accelerator styles is a lot clearer regarding them being not supported imo.
From hybrid/scaled source code for kokkos:
[code]
and for other accelerators:
[code]

[2022-10-18 13:36] akohlmey commented on #3492
Not that I know of. That is a question for @stanmoore1

Those tests test for different things and the requirements are different. For KOKKOS the *hybrid* style must support KOKKOS.

For other accelerated styles that is usually not required (there is no hybrid/gpu or hybrid/omp style but you can use hybrid with GPU or OPENMP sub-styles). Only hybrid/scaled is different since it requires access to d

[2022-10-19 18:56] ndtrung81 commented on #2621
@akohlmey FYI, I revisited the issue with the given input script and found that with the current HEAD (commit b44e353) the run completed successfully with "neigh yes" with 2 and 4 MPI procs. This is with the CUDA build via CMake, but the OpenCL build fail with multiple MPI procs.

I only turned off the error out line in fix_gpu.cpp as below for this test:

[code]
Could you reproduce the crash with

[2022-10-19 19:12] akohlmey commented on #2621
When I run this input with the suggested change with CUDA and 4 MPI ranks on 1 GPU, it crashes in the second run with
[code]
Similar for OpenCL:
[code]

I see similar behavior with the PR #3485 branch with some inputs also without hybrid. E.g. with an input file:
[code]
in the bench folder.
[code]
It may be related to having more than one style used with GPU acceleration. I can "fix" the issue wit

[2022-10-19 19:36] stanmoore1 commented on #3492
I took a look at `pair hybrid/scaled`. It wouldn't be hard to port to Kokkos, but I have some other priorities first. So I'll add it to my to-do list, but it could be a little while.

[2022-10-20 08:02] Leimeroth commented on #3492
That would be great. Should I keep this open as kind of feature request or close it?

[2022-10-20 13:32] bathmatt opened #3494 "[BUG] Redundant copies of nelements/cutsq go out of sync in pair_mliap and its descriptor file"
**Summary**

redundant copies of nelements/cutsq go out of sync in pair_mliap and its descriptor file.

**LAMMPS Version and Platform**

Develop b44e353d4ae0246dc955ff9a6a3f25ca16b3038f

**Expected Behavior**
exptect these to be the same.  These differences are causing computed values to be wrong, the test data needs reblessing.

**Actual Behavior**
values are different.

**Steps to Reproduce**
Ap

[2022-10-20 14:02] akohlmey commented on #3494
I cannot reproduce this. Please note that unit tests are not guaranteed to match closely when compiled in Release mode due to the differences in compilers when compiling code aggressively. Please try with RelWithDebInfo instead.
Also, what is your OS and version? Do you use custom compilers?
I am running on Fedora 36 with GCC 12 and the unit tests for KOKKOS also run on Fedora (but still version 3

[2022-10-20 14:06] bathmatt commented on #3494
When you say you cannot reproduce this, what do you mean, you cannot see the output saying there are differences or you cannot get the test to fail?

[2022-10-20 14:30] bathmatt commented on #3494
Just to reiterate.  The bug is that the code has two different values for variables like cutsq and nelements for the same pair, mliap_pair.  The mliap_data uses the descritpor value,

      if (rsq < descriptor->cutsq[ielem][jelem]) {

and this is different the the value set in pair_mliap.  This is the bug.  The bug needs to be fixed and the test needs to be re blessed.  Right now the test passes

[2022-10-20 15:20] akohlmey commented on #3494
There is some confusion there.

`nelements` is a variable describing the size of the `elements[]` array of strings. This is what several manybody potentials use to map their potential parameters to LAMMPS atom types. Pair style mliap does not use that so `nelements` will be 0. This is a bit unfortunate, but cannot be changed.

Similarly, the descriptor (same as a potential file) may have more entr

[2022-10-20 15:29] akohlmey commented on #3494
The correct consistency check would be:
[code]
and that does not show any inconsistencies for the test.

[2022-10-20 15:33] stanmoore1 commented on #3494
Let's back up a step. @bathmatt you are seeing numerical differences in the unit tests between Kokkos and non-Kokkos? But currently the automated unit tests on the PR are failing with a segfault?

[2022-10-20 15:38] akohlmey commented on #3494
@stanmoore1
This is about the develop branch (check out the commit hash), which has no KOKKOS support for ML-IAP. Those tests are skipped because of that. This is about the ML-IAP package code itself.

[2022-10-20 15:39] stanmoore1 commented on #3494
@akohlmey OK I missed that, thanks

[2022-10-20 15:44] bathmatt commented on #3494
@akohlmey when I do that I get a seg fault...

[code]

and

[code]

This is because cutsq isn't allocated beyond 2 for the descriptor, and

(gdb) p atom->ntypes
$3 = 8

[2022-10-20 15:45] bathmatt commented on #3494
deleted the prev comment...  i missed a check

[2022-10-20 15:50] bathmatt commented on #3494
Those have been fixed and not committed..
Well, to your repo.

[2022-10-20 15:57] bathmatt commented on #3494
OK, I will dig into what is happening a bit more, I'm seeing the code use a mix of data it looks like, things are getting into the pairs that looks outside the smaller radius cutoff  which was changed.  I will look more tomorrow and close if it is my mistake, and take 100 lashes.

[2022-10-20 16:03] bathmatt commented on #3494
Thanks for the correct compare,

[2022-10-21 10:12] bathmatt commented on #3494
The explanation the mapping between pair->cutsq and descriptor->cutsq resolved this issue.

[2022-10-21 10:12] #3494 closed, assigned to nobody

[2022-10-21 21:29] hammondkd opened #3496 "[BUG] Hyperlinks to functions in documentation aren't resolving the first time"
**Summary**

When I build the documentation, the links to Fortran functions in doc/html/Fortran.html don't work (e.g., the links to `file()`, `command()`, `commands_list()`, and `commands_string()` under the "1.3.3. Executing LAMMPS commands" heading). Neither do the ones in doc/fasthtml/Fortran.html when I do a `make fasthtml`.

However, they *do* work if I issue the following commands (from the

[2022-10-21 22:57] akohlmey commented on #3496
@hammondkd this is an interesting observation. I've noticed that this behavior is the same across all different outputs, so I suspect this is some internal limitation of the sphinxfortran extension. Unfortunately, I have no idea how to debug or even fix this in the extension. But based on your observations with the "fasthtml" target, I have implemented a workaround in commit 165b6b4ba3b5d7291d4cf1

[2022-10-24 19:53] yurivict opened #3499 "VTK deprecation notice is printed"
Configure log has this:
[code]

VTK-9.2.2
FreeBSD 13.1

[2022-10-24 20:28] akohlmey commented on #3499
Thanks for the report. This should be addressed in the next patch release and also the next update to the stable release.

[2022-10-24 22:23] #3496 closed, assigned to akohlmey

[2022-10-24 22:23] #3499 closed, assigned to akohlmey

[2022-10-24 22:23] #3476 closed, assigned to akohlmey

[2022-10-24 22:23] #3484 closed, assigned to akohlmey

[2022-10-29 09:31] e-724 opened #3505 "error: triclinic box skew is too large"
Please **do not** post requests for help (e.g. with installing or using LAMMPS) here.
Instead send an e-mail to the lammps-users mailing list.

This issue tracker is for tracking LAMMPS development related issues only.

Thanks for your cooperation.

#模型基本设置
units    metal
atom_style  atomic
boundary        p p p
read_data SiO2.data
#fix 1 all box/relax yes yes yes
#box tilt large
change_box all x

[2022-10-29 10:19] #3505 closed, assigned to nobody

[2022-10-29 10:23] e-724 commented on #3505
This problem how to solve it why turn off

[2022-10-29 10:27] e-724 opened #3506 "ERROR: Triclinic box skew is too large"
I want to optimize the lattice parameters of low-temperature phase quartz, and this problem appears, how can I solve it?

in.SiO2

#模型基本设置
units    metal
atom_style  atomic
boundary        p p p
read_data SiO2.data
#fix 1 all box/relax yes yes yes
#box tilt large
change_box all x scale 0.960 y 0.960  z 0.960
box tilt large
fix 1 all box/relax
#fix 1 all deform 1 x scale 0.960 y scale 0.960 z scale

[2022-10-29 10:30] akohlmey commented on #3505
As the submission template already said. This is not the right place to ask for help.

There are explanations in the manual about the requirements for triclinic boxes in LAMMPS.
Your simulation obviously does not comply with it. Thus it is not so much a LAMMPS issue,
but a question of you not following the requirements. You should study what is said in the
manual and if you have still questions, y

[2022-10-29 10:34] akohlmey commented on #3506
This is not a bug, and this is not the right place to discuss this. Please see my comment to the other issue you created.
Please refrain from creating further issues. They will be closed and locked.

[2022-10-29 10:34] #3506 closed, assigned to nobody

[2022-11-01 15:28] ndtrung81 commented on #2621
@akohlmey For some reason I still cannot reproduce the crash with CUDA with 4 MPI ranks on my end (CUDA Toolkit 11.6, Fedora 35, NVIDIA P100 GPU), with the recent commit #05aca2b in the develop branch. I can reproduce the crash with OpenCL. FYI, the runtime errors you got are at geryon/nvd_timer.h:76 and geryon/ocl_timer:118 are both at the UCL_Timer::sync_stop() function. The difference is that t

[2022-11-02 09:31] akohlmey commented on #3351
closing because of inactivity

[2022-11-02 09:31] #3351 closed, assigned to athomps

[2022-11-02 18:13] akohlmey commented on #2621
@ndtrung81 I've made some more experiments. There is something fishy going on when there are multiple kernels active and that is exposed most easily when you have multiple run commands. It could very well be in the GPU neighbor list code. So I can "fix" the multiple rhodo runs case by adding `-pk gpu 0 pair/only yes` and thus avoid the pppm kernel. This would be consistent with the fact that the h

[2022-11-04 10:40] amirhajibabaei opened #3513 "Installing the downloaded packages"
**Summary**

Using `cmake`, I tried to install the packages that need to be downloaded.
Everything worked well, but apparently `cmake install` didn't copy the downloaded packages to the installation prefix.

**LAMMPS Version and Platform**

current stable version: LAMMPS (23 Jun 2022 - Update 2)
OS: linux

**Details**
I used the following command (in `lammps/build` directory) to build and install

[2022-11-04 13:35] akohlmey commented on #3513
@amirhajibabaei the automatic download of "external" packages is primarily intended for testing the functionality with ctest. Whether it is compatible with "make install" depends a bit on the individual package itself. Where it is possible, LAMMPS will in that case of automatic downloads try to request building static libraries and thus the resulting libraries will be included as a copy in liblamm

[2022-11-04 14:16] amirhajibabaei commented on #3513
Thank you @akohlmey, this is helpful.

[2022-11-04 14:16] #3513 closed, assigned to nobody

[2022-11-07 05:57] advancesoftcorp opened #3515 "[Bug] Correction of BO in ReaxFF"
In the following code, valency_val is used to calculate Deltap_boc.
But, valency_boc has to be used ?

https://github.com/lammps/lammps/blob/9cbc77f41cb4cbec517693925a7df2747c01cbb4/src/REAXFF/reaxff_bond_orders.cpp#L271-L272

[2022-11-07 16:34] athomps commented on #3515
@advancesoftcorp  This is somewhat surprising, but not obviously wrong.  Due to limited resources, we have to adopt the "innocent until proven guilty" principle. Do you have any proof that is wrong?

[2022-11-08 01:16] advancesoftcorp commented on #3515
Sorry, I have misunderstood the definitions of the variables. The code is not wrong.
I had believed that valency_boc = Val(boc) and valency_val = Val(angle), where Val(boc) and Val(angle) are defined at supporting information of https://pubs.acs.org/doi/10.1021/jp709896w as Eq.(3b) and (13e).
However, it seems that valency_val = Val(boc) and valency_boc = Val(angle).

[2022-11-08 12:49] PNMZR opened #3518 "Excuting L.run(0) gives the TypeError: 'NoneType' object is not iterable"
**Summary**
When I excuted the following code:

[code]
The code `L.run(0)` gives the `TypeError: 'NoneType' object is not iterable`.

I wonder if this is a bug, if so, please fix it, thanks.

**LAMMPS Version and Platform**

- LAMMPS version: LAMMPS-64bit-Python-23Jun2022-update2
- Platform: Win11 os

[2022-11-08 14:43] akohlmey commented on #3518
This is more likely due to a limitation of Windows. This has been a common occurrence with Windows and the PyLammps module over the years. The same script completes without error on Linux.

The general advice is to avoid "PyLammps" for any serious LAMMPS programming because of its shortcomings and performance limitations and use the the simpler and more effective "lammps" module instead. The follo

[2022-11-08 15:41] athomps commented on #3515
@advancesoftcorp It is interesting that the variable names seem to be the reverse of their mathematical counterparts. but in the absence of an actual error in the code, I think we should leave it as is.

[2022-11-08 23:27] #3515 closed, assigned to athomps

[2022-11-09 18:32] LunarLanding opened #3520 "[BUG] python function defined in __main__ is not found"
**Summary**

Functions defined in the python interpreter's __main__ module are not found by lammps.
E.g. `python end_of_step_callback input 1 SELF format p exists` always fails if the function is defined in `__main__`.
Minimal reproducible example below.

**LAMMPS Version and Platform**

LAMMPS (23 Jun 2022), compiled from source
OS: OSX 13.0
Architecture: arm64
Python : 3.10.6
Python distribution

[2022-11-09 21:23] akohlmey commented on #3520
Please try with the 3Nov2022 version of LAMMPS. This is likely a known technical limitation of MacOS that possibly addressed with the changes in PR #3458
I do not see a problem on Linux with 3Nov2022. I currently have no access to a suitable MacOS machine.

[2022-11-09 21:31] akohlmey commented on #3520
Another issue could be that if you obtained python through conda, you may run into issues with how conda builds its python development support. If the python interpreter is linked to a static version of the python library and LAMMPS to a dynamic version, than there are going to be problems at runtime with inconsistent symbol handling and errors or segmentation faults (also on Linux).

[2022-11-10 13:08] LunarLanding commented on #3520
Thanks for the quick reply and testing on Linux.
I have tried with the 3Nov2022 version (output below), unfortunately I still get the same issue:
[code]

It seems I hit a quite niche use case, given that conda is widely used for python and they do not provide by default a python executable with enable-shared. Currently I am trying to compile python with enabled-shared while maintaining compatibili

[2022-11-10 22:43] akohlmey commented on #3520
@LunarLanding I cannot reproduce the segfault on Linux either.
I am preparing a pull request that will document the limitation of having to use a Python interpreter linked to a shared python runtime library when also using the LAMMPS python module. I am also slightly changing the syntax for the `python source` command by dropping the need for a dummy function name and restructuring the documentati

[2022-11-10 23:07] akohlmey commented on #3520
How did you install the LAMMPS python module? Did you do "make install" or "make install-python". In the latter case it should not be needed to set any environment variables since a copy of the shared library is placed into the same folder as the python code. For "make install" is is *expected* that you set the environment variable since you would be installing LAMMPS globally or to a folder where

[2022-11-11 00:10] LunarLanding commented on #3520
I gave a minimal example, it is not intended to justify this usage, just to showcase this bug with the python->lammps->python sandwich. But it is easy to arrive at. For instance my use-case uses python to define and run a state machine that manages restarts and recovering from lammps errors, while interfacing directly with lammps to read global state; python fixes are used to add custom forces.

I

[2022-11-11 03:10] akohlmey commented on #3520
If you want to set up a system from custom commands, you can just as well put the LAMMPS command that you now put in strings into a file and read/process the file with `lmp.file('somefilename')` from the python interface or with `include somefilename` from LAMMPS commands.

There are always alternatives. It is mostly a question at looking a problems from a different perspective.

In my experience,

[2022-11-15 08:59] orliac opened #3526 "[BUG] MPI jobs randomly crashing with ranks above 300"
**Summary**

When running LAMMPS MPI on 10 or 20 nodes with 36 processes per nodes e.g., it randomly crashes with:
[code]
**LAMMPS Version and Platform**
[code]
[code]

**Expected Behavior**

No crash.

**Actual Behavior**

Fails with:
[code]

**Steps to Reproduce**
MPI jobs are submitted via Slurm with the following setup:

[code]

**Further Information, Files, and Links**

[2022-11-15 09:25] akohlmey commented on #3526
@orliac The error message indicates that you are running out of memory (or rather address space).
Please provide a representative input deck and as much of a log file / screen output as you can retain before crashing and from a similar calculation that has succeeded, if available.

[2022-11-15 09:49] orliac commented on #3526
@akohlmey thanks for the feedback.
We thought as well when looking at the documentation, but allocating more nodes did not help (and from the report below, the required memory is much lower than what we allocate).
As I mentioned it crashes randomly, with the exact same setup each time (and with different versions of LAMMPS, from 2020 and 2022 that I reported).
Here is what we got from a run that w

[2022-11-15 11:23] batatasfritas commented on #3526
Hello,

I think it's also worth mentioning that the same job will run (more often than not) with a substantially smaller number of nodes. With 4 nodes, I rarely (never?) observed the bug, with 20 nodes it's fairly consistent. (If it's not clear yet, I work with @orliac). So it's clearly not a memory issue at least a standard one.

Given the error happens really early in the calculation (the entire

[2022-11-15 12:22] akohlmey commented on #3526
Please try running with `comm_style brick` (i.e. the default) and also without `fix balance`.

How much of a load imbalance do you have that you need to use recursive bisectioning for load balancing?
Can you share a visualization of the initial geometry?

[2022-11-15 12:23] orliac commented on #3526
Here is the output from a recent version of LAMMPS (on 10 x 36 tasks):
[code]

[2022-11-15 14:21] orliac commented on #3526
Adjusting the input file following @akohlmey's suggestion:
[code]
I could run 20 jobs on 360 tasks without a crash (at least nothing appearing the first seconds of the runs as we observed with our original options).

[2022-11-15 15:10] batatasfritas commented on #3526
And I managed to isolate the issue to the `fix balance` option. When running with `comm_style tiled` as in the original file, but without the `fix balance` option the issue does not show up, even when running on 20 nodes with a total of 720 tasks.

Now the question is, is it of use for the Lammps team that we pursue this further? Or was the set of options the user had chosen (we are from the HPC c

[2022-11-15 15:44] akohlmey commented on #3526
I suspect not so much `fix balance` as the cause, but the rcb algorithm implementation. So with `comm_style brick` and something like `fix 99 all balance 0 1.05 shift xyz 20 1.02` it would probably run without error as well.

This is difficult to answer. In principle, we want to eliminate any bugs in the code. But the question here is a bit tricky, as it could just as well be a problem due to "abu

[2022-11-15 15:49] orliac commented on #3526
I wanted to attach that to a parallel debugger (Totalview) but our license does not allow us to monitor more than 128 processes while errors seem to occur for MPI jobs with roughly 300 tasks and above.

[2022-11-15 15:58] akohlmey commented on #3526
This will happen with fewer MPI ranks if the system is smaller. There is a potential weakness in the rcb implementation in LAMMPS that favors problematic geometries for individual tiles if there are few atoms per tile. I have seen similar problems before (but not resulting in memory allocation failures). There should be some constraints on minimum viable geometries, but that is difficult to implem

[2022-11-15 18:01] #3520 closed, assigned to akohlmey

[2022-11-17 18:20] akohlmey commented on #3526
@orliac @batatasfritas Do you have any updates on this?
As mentioned before, I am curious to see the timing output on un-loadbalanced calculations or on a calculation with comm_style brick and the "shift" load balancing method.
Some image to see the geometry of the system would be helpful as well.

In case there are no updates, can we consider this issue resolved?

[2022-11-17 18:33] akohlmey commented on #3518
I cannot reproduce this on a Windows (virtual) machine either.

[2022-11-17 18:33] #3518 closed, assigned to rbberger

[2022-11-18 13:49] batatasfritas commented on #3526
Sorry for the time this took, but the situation is a bit complicated due to the number of people involved. The user currently running the jobs is finalizing the project but he wasn't involved in the initial decisions so he can't help us understand the choices concerning the load balancer.
I've finally been put in contact with the original researcher and I'll try to see if he can contribute somethi

[2022-11-18 14:06] akohlmey commented on #3526
Thanks for running the jobs and providing some extra info. Some of the results are contrary to my expectations, so I suspect there is something else going on that cannot be deduced from the information provided.
Unfortunately, just the total performance number is not helping me much to understand the issue.
I would need to see more of the logfile itself, especially how the system is decomposed, i.

[2022-11-18 14:15] akohlmey commented on #3526
@batatasfritas in case you are running some more tests, please insert the command
[code]
At the end of the input. Together with information about the hardware, it can help to understand how close the runs are to using up the available memory.

...and here is one more idea; a "blast from the past". Many, many years ago, I sometimes ran into issues of running out of memory on MPI machines due to som

[2022-11-18 15:38] batatasfritas commented on #3526
The MPI implementation I've been using (Mvapich2) has two options concerning SRQ that are worth mentioning in this context and that can be set as environment variables (`MV2_SRQ_MAX_SIZE` and `MV2_SRQ_SIZE`). I adjusted both (up to twice the default value) without a significant change in the results (3-4 dead jobs for each 10).
I'll compile Lammps with Intel MPI and report back.

Concerning the me

[2022-11-18 17:48] andeplane opened #3531 "[BUG] GPU package (OpenCL) hangs during neighbor list building on Apple Silicon"
**Summary**

I'm trying to run LAMMPS using the GPU package (a simple lj/cut potential) on my Apple M1 Pro CPU/GPU which should be able to run OpenCL. When I run with
`/repos/lammps/src/lmp_mpi -pk gpu 1 neigh yes -suffix gpu -in run.in`
LAMMPS hangs during Verlet::setup (stack goes further into `FixGPU::setup` and [lmp_gpu_forces]https://github.com/lammps/lammps/blob/develop/src/GPU/fix_gpu.cpp#L

[2022-11-18 18:07] akohlmey commented on #3531
@andeplane not sure if there is a chance to get this looked into. There are multiple points working against it:
- Apple seems to have completely abandoned OpenCL and wants people to use the Metal API instead. So if this is an issue in the OpenCL runtime, it may not get fixed.
- There needs to be a LAMMPS developer interested in making this work in contrast to other open issues in the GPU package
-

[2022-11-18 18:10] andeplane commented on #3531
Yeah, I didn't really expect anything. Feel free to close it as wont-fix, but now it's here for transparency anyway! I like your response time :P

[2022-11-18 18:48] akohlmey commented on #3526
@batatasfritas

Thanks for the data. There is a significant load imbalance that is indicated in the timing summaries.
The first step in these cases is typically to check if that can be reduced by using the `processors` command.
The `min time column` for Pair indicates that there are sub-domains without any atoms, e.g. through large vacuum regions. The next thing to try would be to use the `balance

[2022-11-23 22:33] weichafan opened #3535 "[BUG] ReaxFF + Kokkos + NPH/NPT problem"
**Summary**

Simulations of ReaxFF + Kokkos present problems when performing simulations with NPH or NPT. Even when using independent temperature control when there is an expansion of the box due to melting, the system temperature also jumps. The script works fine without kokkos.

**LAMMPS Version and Platform**

Lammps version 3Nov22, OS: Pop!_OS 22.04
KOKKOS_ARCH = Volta70
AMD Ryzen Threadripper

[2022-11-23 23:13] stanmoore1 commented on #3535
@weichafan thanks I will try to reproduce this issue.

[2022-11-23 23:34] stanmoore1 commented on #3535
@weichafan I can reproduce this issue. I see a jump from 2107 K to 4158 K and a similar jump in volume. Will debug.

[2022-11-23 23:38] weichafan commented on #3535
Thanks a lot @stanmoore1 . Nice to hear that it was able to be reproduced. I always worry that I did something wrong.

[2022-11-23 23:47] stanmoore1 commented on #3535
Just FYI, you can reduce the overhead a little in the heating loop with `pre no post no`

[code]

[2022-11-23 23:50] stanmoore1 commented on #3535
Actually I think that you need `pre yes`

[2022-11-23 23:53] weichafan commented on #3535
Great! I didn't know these great keywords. Using lammps for 10 years or so and it is the first time I read about these keywords. Thanks a lot.

In lammps manual for RUN command :

By default (pre and post = yes), LAMMPS creates neighbor lists, computes forces, and imposes fix constraints before every run. And after every run it gathers and prints timings statistics. If a run is just a continuation

[2022-11-23 23:57] stanmoore1 commented on #3535
Yes, you can only set `post no` since you are changing the temperaure.

[2022-11-24 00:37] stanmoore1 commented on #3535
I wrote a restart file just before it crashes and then read it back in for debugging. No crash with UVM enabled or Kokkos Serial backed. Looks like a missing sync/modify for transferring between CPU and GPU memory, but it is a little tricky since it isn't 100% deterministic with fix langevin. For example if I change the number of MPI ranks it doesn't fail in 2000 steps either.

[2022-11-24 01:19] weichafan commented on #3535
I obtained similar and weird results using the "fix NPT" directly. At that moment I supposed was a problem related to the integration of the movement equations (Probably mixing simulation box and coordinates). Using fix NPT I observed the same problem, that is, after a box expansion, there is a jump in temperature (600-700 K)  that then does not return to the fixed target temperature.

Then I trie

[2022-11-24 01:27] weichafan commented on #3535
Attached are 2 other simulations I did use ReaxFF + Kokkos

In one case I used  "fix NPT" and in another, I used "fix NPH"  + "fix temp/Berendesen"

[Test-ReaxFF-Kokkos-NPTandNPH.zip](https://github.com/lammps/lammps/files/10080133/Test-ReaxFF-Kokkos-NPTandNPH.zip)
I

[2022-11-24 10:54] iquasere opened #3537 "Create plane on the XY axis"
Hi there!

I am trying to create a plane of atoms in the XY axis (Z=0), and trying to adjust the ```lattice``` command, since it seems to be the only way to rotate it from it's default XZ axis orientation (Y=0), by setting its orient to [1 0 0] and [0 1 0] faces (this should give me Z=0), if using the (0,0,0) point as part of the plane. This is the script
[code]
But it gives me the same plane that

[2022-11-24 11:06] akohlmey commented on #3537
No, what you see is the expected behavior. The location and orientation of the plane is determined by the "region" command. The "lattice" command only provides a grid of possible atom positions. The "create_atoms" command then looks up which of those grid points are within the given region and places atoms there. This is all documented behavior.

If you want to rotate that plane. You can use the "

[2022-11-24 11:06] #3537 closed, assigned to nobody

[2022-11-29 16:25] stanmoore1 commented on #3535
@weichafan this should be fixed by #3541, can you confirm? Thanks for reporting the bug and providing an example input.

[2022-11-29 19:56] #3535 closed, assigned to stanmoore1

[2022-11-29 22:37] akohlmey commented on #3526
@orliac @batatasfritas any updates on this? Do we need to keep this open?
I cannot give more recommendations without having access to the actual input deck.
And for having a LAMMPS developer look into implementing changes that avoids unsuitable subdomains, we would need an input deck that can reproduce this behavior with fewer MPI ranks.