[2019-10-09 22:17] akohlmey commented on #1712
I am not sure that this kind of change is really helping that much. I suspect in many cases, the cause of the wraparound is not that actually that much memory is requested, but either the number is computed from an uninitialized variable (which on Linux boxes often, but not always, will contain 0 due to the way malloc() is implemented, and thus it will not always show), or from doing 32-bit intege

[2019-10-11 05:16] carlos-pereyra opened #1715 "[BUG] examples/gjf fails"
**Summary**

Within `examples/gjf` the following input file `in.gjf.vfull` does not work, while `in.gjf.vhalf` works.

**LAMMPS Version and Platform**

Last fetch, LAMMPS 19 Sep 2019. Mac OS X.

**Details**

When I run `mpirun -n 8 ./lmp -in in.gjf.vhalf` I get results.

Ave neighs/atom = 20.9988
Ave special neighs/atom = 0
Neighbor list builds = 1809
Dangerous builds = 101
Total wall time: 0:00:0

[2019-10-11 08:45] akohlmey commented on #1715
@carlos-pereyra thanks for reporting. It looks like using `fix langevin gjf vfull` also requires setting `tally yes`. You failed to mention, that the vfull example initially fails because of wrong ordering of the fixes.

@charlessievers please have a look at [the changes in this branch in my personal repo](https://github.com/lammps/lammps/compare/master...akohlmey:gjf-vfull-bugfix)
I haven't track

[2019-10-11 18:43] charlessievers commented on #1715
I do use part of tally to obtain the correct GJF algorithm, but I tested it to run without tally through the use of the osflag. It appears some of my osflag placements are missing, I must have missed a commit. Anyways, that is awkward and I apologize.

The changes seem appropriate and will fix the issue, but my plan was to use the osflag. If we plan to enforce tally yes, I will go through and remo

[2019-10-11 19:15] akohlmey commented on #1715
it would be ok with me to have it either way. we just have to make sure, that we have consistent behavior. it should not be that `osflag` implicitly becomes the same as setting `tallyflag`.

that is information, that should be in the "backward compatibility" section for the release, not in the manual. the manual should simply describe what is implemented. i only recall a notice that the syntax cha

[2019-10-11 20:04] carlos-pereyra commented on #1715
@akohlmey  and @charlessievers

Thank you both for fixing this so swiftly. I look forward to fetching the changes.

[2019-10-11 21:10] charlessievers commented on #1715
I agree `osflag should not implicitly be the same as `tallyflag`. The difference should come into play during the end of step when energy is actually tallied from the virial. If it is fine, I would like vfull to rely on tally set to yes. What is the best way for me to remove `osflag`? Should I wait until you have pulled your changes into master?

I see, looking back my PR does leave some informati

[2019-10-11 21:14] charlessievers commented on #1715
@carlos-pereyra thank you for using GJF and helping to improve it! Also, I recommend using vhalf over vfull in almost every circumstance.

[2019-10-12 05:04] akohlmey commented on #1715
i currently have no plans to merge those. otherwise i would have already submitted them as a pull request. i merely intended them to be a starting point for a discussion. i would prefer you to make the changes that you intended from the get go, rather than have changes based on my guesses.

if you want `gjf vfull` depend on `tally yes`, you should add a test, that checks for that requirement and a

[2019-10-12 18:14] kuben-joz opened #1718 "The building lammps with cmake guide might need a small change"
Not really a serious issue, if we look here:
https://github.com/lammps/lammps/tree/master/cmake#mkl
I believe this should ask to specify
`MKL_INCLUDE_DIR `and `MKL_LIBRARY`
and not
`MKL_INCLUDE_DIRS` and `MKL_LIBRARIES`
 this, I believe, is because of these lines in FindMKL.cmake:
[code]
I am not sure why there is a plural and singular distinction, but if I want to set it manually in a cmake file

[2019-10-12 22:27] #1718 closed

[2019-10-13 12:04] Kick-H commented on #869
It does not matter.

[2019-10-13 12:06] Kick-H commented on #869
I got the same error when I calculated the sII type methane hydrate. This structure is also a tricline box.

[2019-10-13 14:53] akohlmey commented on #869
@Kick-H please provide a small but complete input deck, similar to the one attached to the issue. The error message can happen for **many** different reasons and having a triclinic box may or may not be associated with triggering the situation.

Since you revived this discussion thread, I finally got around to testing the suggestion by @mkanski and found that it **does** address the problem at han

[2019-10-14 06:49] Kick-H commented on #869
[in.methane.txt](https://github.com/lammps/lammps/files/3723250/in.methane.txt)
[sII-333.data.txt](https://github.com/lammps/lammps/files/3723251/sII-333.data.txt)

There are different results when you running:
mpirun -np 1 lmp_mpi < in.methane.txt,
mpirun -np 4 lmp_mpi < in.methane.txt respectively.

I am not sure if it is exactly the same as the reason you appeared.
I hope that I will not waste

[2019-10-14 07:23] akohlmey commented on #869
the difference in results are just due to floating-point math and running a minimization.
this will result in slightly different final coordinates. if you run the minimization separately, and then start the MD from `after-min.data`, you will see the differences be much smaller.

nevertheless, those trajectories will diverge more quickly than simulations in NVE or NVT ensemble for three reasons:
1.

[2019-10-14 12:15] akohlmey commented on #869
@Kick-H please note, that my first variant of the fix had a couple of small bugs. What I have submitted as pull request #1719 should work. This will hopefully make it into the next patch release, which is expected soon.

[2019-10-14 13:32] pnorbert opened #1720 "[BUG] Cannot compile master branch force.cpp"
**Summary**

Since commit 7bf2b9978 I cannot compile force.cpp on my VM with g++ 5.4.0

**LAMMPS Version and Platform**

master branch, commit 7bf2b9978

**Actual Behavior**

[code]

[code]

[2019-10-14 14:01] akohlmey commented on #1720
This is a known problem. It won't happen, when most packages are installed. The correction for it is already in commit 25b114eeb479a136a7a50fa207e4b1f9887133a4 of PR #1719
Just add `#include "atom.h"` at the top of `force.cpp` where the other include statements are.

[2019-10-15 07:35] Kick-H commented on #869
Thank you very very very very much. You are my hero!

[2019-10-15 08:10] #869 closed

[2019-10-15 08:10] #1720 closed

[2019-10-16 10:06] akohlmey opened #1729 "[Feature Request] Update minimum CMake version required to 3.10"
**Summary**

After the next stable release we should set the minimum CMake version require to 3.10.

**Detailed Description**

Compatibility with CMake 2.8.12 causes increasing difficulties and requires hacks and workaround. See the discussion for pull request #1723 for the reasoning why version 3.10 was picked and why the negative impact should be rather limited.

[2019-10-16 16:18] akohlmey commented on #1715
Fixed in #1725

[2019-10-16 16:18] #1715 closed

[2019-10-18 23:00] jewettaij commented on #1702
I'm not familiar enough with Gay-Berne to be certain whether this is actually a bug or a problem with the choice of parameters used.  As Matteo (the poster) suggested, perhaps negative μ,ν exponent parameters in the example could cause discontinuities (or singularities in the potential).  If so, this could easily lead to energy drift (or crashes).  A casual glance at equations 8 and 10 from [this

[2019-10-19 00:17] jewettaij commented on #1702
Nevermind.  I left my brain at the door when I wrote this.  (Those rij in equation 10 are unit vectors.  Even so, I suppose it would be disturbing if the pairwise energy did not diverge as rij approaches 0.)    I don't see how any divergence can occur in the energy for finite rij (and negative μ,ν).  Please disregard my previous post.

I apologize for wasting people's time.

[2019-10-19 09:14] matteoeghirotta commented on #1702
Unfortunately the Gay-Berne potential does have some "artifacts", like a region behind the repulsive core with energy going to -infinity in some ellipsoidal configurations and indeed I am not sure the energy drift with negative exponents can be ascribed to a bug. I think the safest thing would be to choose only positive exponents, until we understand the problem better, but probably a note on the

[2019-10-19 22:16] wmbrownIntel commented on #1702
Thanks Andrew for pointing me to this ...and giving me a new memory to haunt me :).

This is indeed a bug that goes back to my derivation of the analytic torque and will also affect positive mu!=1.

Matteo, please try one of these (for whatever flavor you use) and let me know:

[patched_gb.zip](https://github.com/lammps/lammps/files/3747229/patched_gb.zip)

[2019-10-21 03:07] ndtrung81 commented on #1678
@M-S-Jacobs2727 can you try the changes in #1735? First, you rebuild the GPU library, then go to src/, do "make package-update" if you have the modified versions of the /gpu pair styles in src/. This is because the changes here do not involve those in the zip files previously attached in this thread.

[2019-10-21 23:13] M-S-Jacobs2727 commented on #1678
Thank you so much! Works great with everything I've thrown at it. Can't wait to see it committed!

[2019-10-23 18:56] cabb99 opened #1741 "[BUG] Fix print does not support rerun"
**Summary**

It is no longer possible to use fix print to output runtime variables in the output during a rerun

**LAMMPS Version and Platform**

LAMMPS versions 7Aug2019 and 5Jun19 were tested on a Ubuntu PC.

**Expected Behavior**

Fix print should be able to output variables during reruns. This is helpful when debugging force-fields, or reanalyzing trajectories.

**Actual Behavior**

Fix print

[2019-10-23 22:50] xuwenwu commented on #1425
Yeah, I agree with mkanski.

[2019-10-25 01:45] deng-cy opened #1743 "[Feature Request] Ubuntu 19 installation error"
When I use the command:
sudo add-apt-repository ppa:gladky-anton/lammps
The terminal said no release. I am assuming LAMMPS does not support Ubuntu 19.

[2019-10-25 02:56] akohlmey commented on #1743
You are assuming wrong. You cannot expect a personal repository to be
updated the minute a new release hits the net.
You have to either wait or compile lammps from sources yourself.

--
Dr. Axel Kohlmeyer akohlmey@gmail.com http://goo.gl/1wk0
College of Science & Technology, Temple University, Philadelphia PA, USA
International Centre for Theoretical Physics, Trieste, Italy

On Thu, Oct 24, 2019,

[2019-10-25 21:08] #1678 closed

[2019-10-28 17:58] stanmoore1 opened #1747 "Typo in lmptype.h"
https://github.com/lammps/lammps/blob/master/src/lmptype.h#L34

Change "Do" to "To"

[2019-10-28 20:35] rbberger opened #1748 "Regression: Failing testcase with latest GPU package code"
**Summary**

PR #1735 introduces a regression when running some examples with GPU support.

https://ci.lammps.org/job/lammps/job/master/job/cmake/job/cmake-testing-gpu-opencl/195/testReport/tests.test_examples/HugoniostatTestCase/test_hugoniostat_gpu/

**LAMMPS Version and Platform**

current master

**Details**

Running the `examples/hugoniostat/in.hugoniostat` example with `-pk gpu 1 -sf gpu` le

[2019-10-30 18:00] #1695 closed

[2019-10-30 18:00] #1702 closed

[2019-10-30 21:47] #1747 closed

[2019-11-01 16:58] donatas-surblys opened #1753 "[BUG] special bonds are not treated correctly when pair_style hybrid has two lj/cut/coul/dsf"
**Summary**

As can be found by following the discussion in a past thread (https://lammps.sandia.gov/threads/msg42574.html), coul/wolf and coul/dsf (and possibly other related pair styles) don’t completely ignore 1-2, 1-3 and 1-4 coulomb interactions, even when special_bonds is set to 0. Unfortunately, it seems that when pair_style hybrid contains multiple coul/dsf, this special case doesn’t get d

[2019-11-01 21:59] sjplimp commented on #1753
I don't understand what the expected answer is.
You create 3 atoms.  You add 3 bonds, one between
each pair of atoms.  If you have special 1/2, 1/3, 1/4 all zero.
Then I think there should be 0 force and energy, whether you
use hybrid or not?  Is that correct?

Are you saying that is or is not happening?
For no hybrid or for hybrid?

[2019-11-01 22:11] donatas-surblys commented on #1753
The result in **Expected Behavior** is what I get with **pair_style lj/cut/coul/dsf**, and I would expect to get the same when using pair_style hybrid. coul/dsf and coul/wolf are a bit like the real part of coul/long, so the special_bond at 0 means that qi*qj/r^2 has to be subtracted from the damped forces, as in the source of pair_lj_cut_coul_dsf.cpp and similar:
`          if (factor_coul < 1.0)

[2019-11-02 05:44] jewettaij commented on #1702
It's no fun getting bug reports on something you wrote years ago.  Thank you very much for patching this, Michael.

[2019-11-03 16:28] evoyiatzis opened #1754 "[Feature Request] Implement Widom insertion method"
**Summary**

Implement in a "fix" or "compute" the Widom insertion method to compute chemical potentials

**Detailed Description**

Implementing Widom insertion would enable users to carry out tasks such as:
- parametrization of DPD models based on experimental solubility values following the approach in J Chem Phys. 2017, 147, 094503. doi: 10.1063/1.4992111.
- direct chemical potential calculatio

[2019-11-03 17:15] agiliopadua commented on #1754
I suppose Widom insertions could be done using compute fep and fix adapt, in one step from \lambda=0 to \lambda=1. Use of soft potentials not required.

[2019-11-04 09:41] evoyiatzis commented on #1754
The use of soft potentials is related to how someone can make faster thermodynamic integration by performing Widom insertion for small \lambda values. The idea put forward by Gusev & Suter is described in doi 10.1021/ma970383u. I had not included it in the "Feature Request" text. I have added it now.
In my eyes, one aspect to consider is also the computational efficiency when performing Widom inse

[2019-11-04 16:25] eagunn commented on #1109
@mdelyser As you can see from radio silence, once my teaching semester began, I lost all time to work on this defect. But we were on the right track and making progress. I'm hoping that once my fall semester is over, mid-December or so, I can use some of my free weeks till mid-January to work on and perhaps even complete this small project. I'll be in touch with you in December to see if you are s

[2019-11-04 20:24] rbberger commented on #1748
@ndtrung81 the example still crashes, just at a later point

[2019-11-04 21:05] Pakketeretet2 commented on #1754
fix gcmc already has means to evaluate potential energies of a particle to
be inserted somewhere. One could just borrow this code but never insert to
do the chemical potential sampling.

On Mon, Nov 4, 2019 at 4:41 AM Evangelos Voyiatzis <notifications@github.com>
wrote:

[2019-11-04 23:06] akohlmey commented on #1753
yes, there is. however, this code will return a "no match" if there are multiple hybrid sub-styles that match the same pattern. so that would need to be updated.

[2019-11-05 11:00] evoyiatzis commented on #1754
Thanks for your suggestion @Pakketeretet2 . I have actually worked along these lines and the attached code is actually a suitably adapted version of "fix gcmc" for this task. The reason I request for this feature is because I do not consider copy-pasting code &making small changes to be a best practice. In the present case, nevertheless, it has produced a working code which works fine.

[2019-11-06 11:24] #1753 closed

[2019-11-06 20:33] rbberger commented on #1334
@eagunn We've now changed the format to RST. All .rst files are in the src/ folder. Old txt files are in a txt/ folder. Instead of keeping both files around, we are now gradually removing the txt files once we touch the rst files.

The changes I haven't migrated yet are the ones that have updated math equations. As far as I understand, you wrote a tool to do the conversion. Do you have a list of f

[2019-11-06 20:37] akohlmey commented on #1743
Since there has been no follow-up, I am closing this now. It is not really our job to manage requests to personal projects where people generously donate their time to make LAMMPS binaries available.

[2019-11-06 20:37] #1743 closed

[2019-11-08 12:51] eagunn commented on #1334
@rbberger  I tried to make it easy to review the conversion and, eventually, correct problem equations. But there are a lot of files and it probably needs to be done file by file. If you look at my pull request or if you go to my repo on github and look at branch iss1334proofOfConcept, you will find the two folders described below. A directory list will give you a list of files. A diff will allow

[2019-11-14 14:25] #1741 closed

[2019-11-16 02:04] arpitem opened #1773 "[Feature Request] Adding GPU support to pair style meam/c potential"
Summary:

Request for adding GPU support to pair style meam/c potential.

Detailed Description:

The package gpu command currently doesn’t have support for switching on Newton’s 3rd law. My understanding is that, due to the unavailability of newton on, the pair styles which require newton pair on (like pair style meam/c) do not have GPU support. I want to accelerate some large scale simulations wh

[2019-11-16 02:14] akohlmey commented on #1773
@arpiitr you understanding is incorrect. The reason why the GPU package does not support "newton pair on" because it is using full neighbor lists since those are faster despite requiring twice the force evaluations, as there is no need for atomic operations or locks to avoid race conditions, which limit parallel efficiency significantly.
The reason that there is no GPU version of pair styles like

[2019-11-16 02:34] arpitem commented on #1773
Thanks for the clarification.
I read in the documentation that the GPU package does not support "newton pair on" because "more computation is done, but less communication" but I was not sure about the reason for not having GPU support for pair style meam/c. I hope someone who knows GPU programming finds this enough interesting to work upon it.

[2019-11-16 21:46] Amingeo opened #1774 "bug in "group include molecule""
Hello everyone,
In applying the following command:
#################
region          sph sphere 10.00 10.00 10.00 5
group           sph1 dynamic all region sph every 50
group           sph1 include molecule
dump           1 sph1 custom 50 position.xyz type id  mol x y z
dump_modify 1 sort id
#################
which is a simplified version of a script I need to use to apply a fix for all atoms of t

[2019-11-16 21:57] akohlmey commented on #1774
This is not an error. This is the expected behavior. The group "include" keyword, like all group keywords, is a one time operation (even the "dynamic" keyword is, as it sets up a fix to redefine the group regularly and the setup is a one time operation, too). Since you redefine the group according to the "dynamic" keyword every 50 steps, the effect of the "include" keyword is lost at that time. Th

[2019-11-16 21:57] #1774 closed

[2019-11-16 22:05] Amingeo commented on #1774
thanks Axel, I guessed that can be the reason and tried to add dynamics to "include molecule too" but it yields error and the syntax has not been defined in lammps? Is there any solution because it can have some crucial applications.

[2019-11-16 22:10] akohlmey commented on #1774
correct. it has not been programmed. there are lots of things in LAMMPS that have not been programmed. feel free to alter the code according to your needs.

the only "solution" I know would be to alter the code as needed. What would be a "crucial" application? In your example you merely use the dynamic group to have coordinates output to a dump.

[2019-11-16 22:25] Amingeo commented on #1774
What I wrote (as stated) was just a simplified version of the script to simplify check ups. For my current study, I need to use it to apply a fix qeq/shielded to compute fluctuating point charges for nearest atoms withing a cut-off distance to an atom frozen on the position 10 10 10. I cannot apply this fix to all atoms in the cell because it makes the computation too expensive and also during par

[2019-11-16 22:39] akohlmey commented on #1774
I don't think that this can work because, to the best of my knowledge, none of the qeq fixes support dynamic groups (and if i recall correctly, it would be complicated to add support for that, since they need to store and access per-group-atom properties from previous iterations/steps and that would not be compatible with dynamic groups).

for selecting atoms for outputting them to dump files, the

[2019-11-18 23:12] LucienPan0903 opened #1778 "Bug about lj/cut/coul/long?"
**Summary**

I tried to use lj/cut/coul/long, but I cannot find any code about it in the src/ directory. I can find the description in the document but no code in the stable and master branch of lammps.

**LAMMPS Version and Platform**

Master branch and the latest stable version.

**Expected Behavior**

When I tried to use the command "pair_style hybrid lj/class2/coul/long 10.0 lj/cut/coul/long 1

[2019-11-18 23:14] stanmoore1 commented on #1778
Did you enable/install the KSPACE package?

[2019-11-18 23:23] LucienPan0903 commented on #1778
You are right. I did not enable that package.  Thank you very much! I find the lj/cut/coul/long in the KSPACE directory. Thank you very much!

[2019-11-18 23:23] #1778 closed

[2019-11-19 14:56] pnorbert opened #1780 "Question about building LAMMPS with all user packages - including USER-ADIOS"
**Summary**

@andraslibal is trying to build LAMMPS with all user packages. Since USER-ADIOS is included in the list of packages (in cmake/presets/all_on.cmake) and he has no care about the ADIOS2 software, the cmake configuration breaks at the point where it is looking for ADIOS2.

What is the expected behavior of configuring packages when building all_on? Should a package just be turned off when

[2019-11-19 15:03] akohlmey commented on #1780
What you see is the expected behavior. When you turn all packages on, you have to make certain that all prerequisites are available and suitably configured. This applies to the conventional build and the cmake based build. If you want to exclude specific packages, you can load the preset and then disable specific packages that are not desired. I would recommend against using the "all on" preset, b

[2019-11-19 19:18] akohlmey opened #1781 "[Feature Request] Need tool or macro to build command tables"
**Summary**

Updating the tables of commands in the files `doc/src/Commands*.rst` is tedious compared to what we had with the .txt format. So we would need some semi-automated way to (re-)build those tables from simple lists. Right now it is still possible to update the corresponding files in `doc/txt/` and redo the translation, but that will go away soon, and also those patches are needlessly lar

[2019-11-21 17:08] akohlmey commented on #1781
This could be combined with a tool to check, if the lists of commands/styles are complete. I'm working on a code parsing the LAMMPS headers into a suitable data structure.

[2019-11-22 19:01] robeme opened #1785 "[BUG] restarting colloidal simulation"
**Summary**

I don't know if it is really a bug, but when I restart a colloidal simulation with purely repulsive colloidal particles I get an error that I have a large/large overlap. The colloids are purely repulsive, however, it is still possible with the pair_style colloid that one colloid can move "in" the radius of the other.

**LAMMPS Version and Platform**

All versions of LAMMPS.

**Expecte

[2019-11-22 21:51] #1785 closed

[2019-11-23 02:06] eagunn commented on #1781
@akohlmey This looks like something I might be able to accomplish over my college's Christmas break. Can you give me a better idea of what you are thinking of for input files to the builder part?
It will probably be 2 weeks or so before I could look at it in any detail, so if you're in a hurry, I'm out. If its longer term, I'd like to take a stab at it.

[2019-11-23 02:38] rbberger commented on #1781
I’m already working on a Sphinx extension for this. Haven’t pushed anything yet since getting the LaTeX version to produce something meaningful is more tricky.

[2019-11-23 03:13] eagunn commented on #1781
@rbberger Ack. Let me know if you could use an alpha tester or output checker in Dec/Jan, then.

[2019-11-23 21:42] XiaohanlPU commented on #1754
Just want to correct some mistakes:
in your cpp file, in line 577, 7021, 798, 959, 1994, it seems your equation is wrong. The defination of beta is 1/kT, so for chemical potential calculation, you should use exp(-beta*insertion_energy), rather than exp(-1/beta*insertion_energy) in your code.

[2019-11-25 19:59] akohlmey commented on #1780
haven't seen any followup on this here or in the ADIOS2 repo for a week. i assume the problem has been solved and will thus close this here now.

[2019-11-25 19:59] #1780 closed

[2019-11-27 12:50] amirhajibabaei opened #1790 "[BUG] COUPLE/python pycache problem"
**Summary**

After a fresh installation of lammps (branch master), I changed to directory "lammps/examples/COUPLE/python/" and I tried command "python example.py".
The first time it ran successfully, but the second (and third, ...) time the command failed with an error (Segmentation fault).
I finally noticed that after I delete "/lib/python3.7/site-packages/__pycache__/lammps.cpython-37.pyc" the c

[2019-11-29 10:35] stephanmg opened #1791 "Coupling LAMMPS (examples/COUPLE/simple)"
**Summary**

1. git clone https://github.com/lammps/lammps.git lammps
2. `make mpi mode=shlib`
3. Now I want to use lammps in my other C++ project, like explained in `examples/COUPLE/simple/`, , i.e. I do: `#include "library.h"`.
4. Observe error `#elif with no expression`.

**LAMMPS Version and Platform**

LAMMPS head of master from Github. GCC8 on Ubuntu Linux Xenial AMD64.

**Details**

Error I

[2019-11-30 23:23] martok opened #1793 "[BUG] Python library paths on Debianoids"
**Summary**

It seems that the library installer in python/install.py when run as root does not seem to play well with Debian's patches to where packages are. Paths below refer to Py3.6 on Ubuntuu 18.04 LTS.

Packages are installed into `/usr/local/lib/python3.6/dist-packages/`, which distutils correctly do.
However, `liblammps.so` is installed into the directory returned by `get_python_lib`, whic

[2019-12-02 15:48] #1791 closed

[2019-12-03 12:57] evoyiatzis commented on #1754
Thanks for the correction @XiaohanlPU ! You are right. I made this correction to the cpp file

[2019-12-10 20:10] seukjames opened #1805 "[BUG] 7Aug19 version bond/break issue in parallel"
**Summary**

The latest "fix bond/break" (7Aug19) does not work properly in parallel. Several lammps versions were tested to do breaking several stretched bonds. The following tests were summarized.

For 7Aug19 Lammps version, it seems to work breaking bonds with a serial executable but not in parallel of a cluster.

For 30Sep13 Lammps version, it works both in serial and parallel. Angles and dihe

[2019-12-13 07:58] donatas-surblys opened #1808 "[BUG] Flawed logic in USER-INTEL when checking for kspace compatibility with pair hybrid"
**Summary**

When using USER-INTEL, both pair and kspace style have to be supported, otherwise the following error is produced: "Intel styles for kspace require intel pair style.".
Due to a logic error, the check fill always fail with pair hybrid, even when all sub-styles are supported.

**LAMMPS Version and Platform**

Latest LAMMPS master version. Intel compiler version: 18.0.2.

**Steps to Repr

[2019-12-15 21:21] moradza opened #1809 "[Feature Request] _Implementation_of_a_Generic_Neural_Network_Force_Field_pair_style_NN"
**Summary**

_Please provide a brief and concise description of the suggested feature or change_
Empirical potential like SW and LJ are limited by the analytical form used to describe interactions, furthermore, new potentials require to make *.cpp and *.h files, I suggest to replace table potential for 2body and 3body interaction with NN force field.

**Detailed Description**

_Please explain how

[2019-12-16 00:41] akohlmey commented on #1809
Sorry, but you are suggesting is makes little sense. Neural network based potentials and tabulated potentials (or explicitly formulated empirical potentials for that matter) serve different purposes and have different properties and different computational costs. There is a lot of value in empirical potentials and they can be used for problems, that NN based potentials cannot. And NN based interac

[2019-12-16 00:41] #1809 closed

[2019-12-16 00:58] moradza commented on #1809
I agree with you on the computational costs of NN potentials but as someone who is training NN potential, I disagree with you. NN potential trained with enough expertise match any tabulated potential, at least based on my ongoing research. I'll send out my paper to you as soon as it got published.

[2019-12-16 01:25] akohlmey commented on #1809
No need to send me your paper. There are too many of these papers floating around already and I most likely won't care enough to read it. I am not objecting to your research, but to your claim to remove features that are useful and that we are planning on improving, too. You are missing the point of why tabulated potentials are useful and thus have value. That your NN potentials may be more accura

[2019-12-16 10:01] donatas-surblys opened #1810 "[BUG] rerun segfaults when used with molfile and more than one MPI process"
**Summary**

When rerun is used to read a trajectory via the molfile plugins, and more than one MPI processes are present, LAMMPS segfaults at the end of the run.

**LAMMPS Version and Platform**

Latest master version.

**Steps to Reproduce**

Run this script with more than two MPI processes:
[code]

**Expected Behavior**

This should run regardless of the number of MPI processes.

**Actual Behav

[2019-12-16 12:09] akohlmey commented on #1810
This is appears to be a bug in `ReadDump::next()` function, where it calls the corresponding close function of the dump reader instances regardless of whether the `filereader` property is true or false. So this is not only a bug for the molfile dump reader but all others as well. Please try out the following modification:
[code]

[2019-12-17 02:36] donatas-surblys commented on #1810
Yes, the patch fixes the problem for my actual use cases and now everything is working as expected. Thank you.

[2019-12-19 14:46] ohenrich opened #1814 "[Feature Request] KOKKOS NVE integrator for aspherical particles"
**Summary**

KOKKOS NVE integrator for ellipsoidal particles

**Detailed Description**

It seems Langevin dynamics is not supported with the KOKKOS package and aspherical particles. This requires the fix_langevin, which appears to be KOKKOS-enabled, but also the fix_nve_asphere, which is missing.

[2019-12-19 14:53] ohenrich opened #1815 "[Feature Request] write_data functionality for aspherical particles"
**Summary**

A write data functionality for aspherical particles

**Detailed Description**

With aspherical particles it is currently only possible to create binary checkpoints through the write_restart functionality. Due to their binary nature, these restart files cannot be edited manually, which means atom types, topologies, etc cannot be changed manually during a run. A corresponding write_data

[2019-12-19 14:59] akohlmey commented on #1815
This is a duplicate of #1327
Unfortunately, implementing write data support for this cleanly and correctly is not quite as straightforward as one might expect. This is why this is still pending.

[2019-12-19 14:59] #1815 closed

[2019-12-28 23:07] moradza opened #1821 "Lammps Python Object"
**Summary**
I am using lammps pair_python.cpp and pair_python.h to calculate forces from positon but my python code calculates the force vector instead norm of force vector, (py_compute_args includes delr and rsq). I want to modify few lines in the pair_pyathon.cpp for my own usage. Any suggestion on how to get back a vector instead of a double.

        py_value= PyObject_CallObject(py_compute_fo

[2019-12-28 23:50] akohlmey commented on #1821
Short answer:

No

Long answer:

a) This is more a question about programming the Python/C interface and not LAMMPS, thus you
should consult the corresponding Python C API documentation. I don't know the details of how to do this by heart and would also have to look it up myself.

b) your modified code segment:
[code]
makes no sense and is showing several misconceptions about C/C++ programming:
 -

[2019-12-29 00:25] moradza commented on #1821
Thanks Axel!
I didn't put the whole code here, it is the part that I am struggling with it. I will look up to the Python C API for further information. Here is the part I didn't show above, ( I will open a new discussion on the lammps-user mailing list).

double delr[3];
int i, j ;// i and j are atom i and  j
delr[0] = x[j][0] - x[i][0]
delr[1] = x[j][1] - x[j][1]
delr[2] = x[j][2] - x[j][2]

I re

[2019-12-29 00:46] akohlmey commented on #1821
What you are describing now makes even less sense. The whole structure of the C++ part of pair style python is laid out for pairwise additive potentials. For most manybody potentials you need to request a different kind of neighbor list and - depending on the specific nature of the many-body component - processes this neighbor list into "short" neighbor lists for efficiently looping over 3-body an

[2019-12-29 00:46] #1821 closed

[2020-01-03 07:03] akohlmey commented on #1808
Should be addressed in PR #1817. Please check it out.

[2020-01-03 16:31] akohlmey commented on #1805
@sjplimp any idea how to address this?

[2020-01-03 22:10] sjplimp commented on #1805
@akohlmey @seukjames I ran this problem.  A few observations and Qs.

1) With the current GitHub master version, I'm not seeing the problem.
Whether I run on 1,8,32 cores (MPI tasks) I see the bond count in
the data file reduce from 38603 to 38599 after 10 steps.  Is that the
expected behavior?  I did not go back and try 7Aug19.

2) I see a couple of warnings that could be problematic:

WARNING: I

[2020-01-03 22:40] akohlmey commented on #1805
my recollection of that is very vague, so it must be a long time ago. the issue might be with bonds across subdomains. i don't see any changes in the commit messages for the sources related to that (which go back about 5 years before they become just svn commit ids).

what has transpired recently, is that for more complex bond breaking or bond forming operations, fix bond/react seems more capable

[2020-01-06 22:26] akohlmey commented on #1748
just checked this on my machine with PR #1752 merged into current master and don't see any crashes or issues. This is with gcc 8.2 and CUDA 10.2 (had to update since my old setup of gcc 4.9 and cuda 9.1 would fail after updating to fedora 31

[2020-01-07 07:07] donatas-surblys commented on #1808
OK, the sample script is working with PR #1817, but I worry that calling pair_init_check() inside kspace_init_check() makes the intel pair style compatibility test pass unconditionally. For example, I was able to segfault LAMMPS by using "lj/charmmfsw/coul/long" pair style that is not implemented by USER-INTEL with -sf intel flag:
[code]

I am also getting a similar error (ERROR: Intel styles for

[2020-01-07 16:23] akohlmey commented on #1808
@donatas-surblys thanks for the feedback and providing additional test inputs. i'll be looking into this more thoroughly using some more careful testing and also checking with valgrind and alike. the problem is, that USER-INTEL is doing some steps out of order and redundantly because it needs information otherwise only available later to do some further preprocessing and repackaging of internal da

[2020-01-07 20:39] akohlmey commented on #1808
@donatas-surblys i've changed the process of detecting intel hybrid substyles since the corresponding suffixes are actually not stored inside the hybrid styles, so a different detection mechanism is needed. PR #1817 is updated correspondingly. Please check it out.

[2020-01-08 19:22] akohlmey commented on #1790
I cannot reproduce it with ubuntu 18.04, which is shipping with python 3.6. Same thing on fedora 31 which does ship with python 3.7. So it is more likely, that the problem may be due to your custom python installation.

The paths in your stack trace also indicate that you may have been using sudo to install the lammps module and then you may run into permission issues. I would recommend to install

[2020-01-08 19:22] #1790 closed

[2020-01-08 20:48] akohlmey commented on #1793
My feeling is that this either needs to be worked around in the the LAMMPS debian/ubuntu/whatever binary package is generated or people should rather manually install the LAMMPS python wrapper at user level and not as root, which would then place it in $HOME/.local/lib/pythonX.Y/site-packages.
It is my understanding that the liblammps.so shared library is installed in a system location with ubuntu

[2020-01-08 20:48] #1793 closed

[2020-01-08 20:59] akohlmey commented on #1805
@seukjames i just ran your input with the latest master sources from github and i get the same number of bonds/angles/dihedrals in serial and parallel with 4 bonds, 20 angles and 49 dihedrals removed. So it is more likely an issue on your side, or you have to provide us  with more specific instructions to reproduce the issue as the generic serial vs. parallel cannot be confirmed.

[2020-01-08 21:00] akohlmey commented on #1805
I am not closing this issue for the time being, but it will be closed in a while unless you provide additional confirmation of a bug that we can actually reproduce ourselves.

[2020-01-08 21:08] akohlmey commented on #1636
we are preparing for the next stable release in about a month, so this is no longer relevant.

[2020-01-08 21:08] #1636 closed

[2020-01-08 21:11] #1630 closed

[2020-01-08 21:12] akohlmey commented on #1377
@sjplimp this should be added to your TODO list

[2020-01-08 21:17] #1748 closed

[2020-01-08 22:16] #1808 closed

[2020-01-08 22:16] #1810 closed

[2020-01-09 03:24] donatas-surblys opened #1826 "[BUG] USER-INTEL hybrid pair styles silently ignore pair_modify pair special settings."
**Summary**

The pair_modify command can be used to selectively modify the special_bonds settings of hybrid pair sub-styles. When switching to USER-INTEL via the -sf intel command line argument, the pair_modify special settings are silently ignored and the global settings are used for all sub-styles.

**LAMMPS Version and Platform**

Latest master version with PR #1817 merged.

**Steps to Reproduc

[2020-01-09 03:36] akohlmey commented on #1826
This cannot be fixed because of the way how this modification is implemented in pair style hybrid and how USER-INTEL prepackages and preprocesses force field settings for better accessibility and performance. I have to think very hard about finding a way to detect it. It probably is only possible from inside pair style hybrid, not from the USER-INTEL styles.

[2020-01-10 04:03] seukjames commented on #1805
I checked that the latest master source worked well in parallel. I am going to switch from 7Aug19 to master.

Thanks.

[2020-01-10 11:28] akohlmey commented on #1805
This inconsistent behavior then must be due to something on the local machine and not LAMMPS. Fix bond/break has not been changed at all since July 2019 and had no functional changes for over 5 years.

[2020-01-10 11:28] #1805 closed

[2020-01-11 18:06] martok commented on #1793
It does not. `install.py` asks setuptools to provide the shared library as a "data file", to be placed wherever Python thinks that may go. The wrapper looks for the library first in it's own directory, which happens to be the same place by default, but not on Debian. Then it looks without path, but for that the installer would have needed to put the .so in `/usr/local/lib`, update ldconfig and loa

[2020-01-13 15:37] #1826 closed

[2020-01-13 21:13] akohlmey commented on #1781
We have now a simplified list format that is converted to tables automatically and a tool to check if styles are missing. That should do the trick for a while.

[2020-01-13 21:13] #1781 closed

[2020-01-14 21:10] junghans opened #1839 "tarball is getting pretty big"
[code]
It creeped up slowly, but it is getting pretty big.

Inside the latest tarball:
[code]
Around 40% are the examples.

[2020-01-14 21:55] akohlmey commented on #1839
the logical step would be to put the examples into a separate tar file, but that is a discussion you have to have with @sjplimp

[2020-01-14 22:09] sjplimp commented on #1839
@akohlmey @junghans When I download the Aug 2019 tarball (gzipped ) I get ~140 MB.  You listing says 101M ??  So 100-140 MB is the download size.  The tarball
unpacks to 400 MB.  The size of the git repo on my box looks like 840 MB ?
Practically speaking, which of those is a problem for the average user?

[2020-01-14 22:18] junghans commented on #1839
I don't think it is a huge issue, but it would be nice to have a source-only tarball to save some time when download LAMMPS.

[2020-01-14 22:52] akohlmey commented on #1839
Slow download is mostly an issue when downloading LAMMPS from the Sandia webpage. The fastest way (for me) to get a complete new LAMMPS copy is using `git clone --depth 1 git@github.com:lammps/lammps.git`, which takes me about 10 seconds (the `--depth 1`  omits the commit history and cuts the amount of data in half). Using the anonymous access with https://github.com/lammps/lammps.git adds 50% to

[2020-01-15 17:36] akohlmey opened #1842 "[Feature Request] Improve thread safety"
**Summary**

To satisfy increasing demand from users to run multiple LAMMPS instances concurrently from threads of the same process, we should take some measures to make LAMMPS work correctly under these circumstances.

**Detailed Description**

While it is going to be difficult and a lot of effort to make all of LAMMPS completely thread safe, there are a few steps that can improve the situation.

[2020-01-16 15:27] marlpur opened #1844 "[BUG] PyLammps throws a ValueError if warnings occur during a run"
**Summary**

When using the PyLammps interface, the get_thermo_data() function pulls thermodynamic data from the output of a run. If LAMMPS writes a warning to the output during the run then PyLammps attempts to interpret this as numeric data and crashes. The following is an example.

[code]

**LAMMPS Version and Platform**

LAMMPS 07-Aug-2019
Running on CentOS-7

**Expected Behavior**

PyLammps s

[2020-01-17 05:27] XiaohanlPU commented on #1754
Hi, I'm just wondering whether this fix_widom command can be used on multi-processors for full-energy molecules. I remembered that  fix_gcmc was fixed to only one processor because people were reporting error when employing GCMC to full-energy molecule translation and rotation on multi-nodes. However, for widom test particle insertion, we didn't do any translation and rotation (e.g for water). So

[2020-01-17 14:50] akohlmey commented on #1844
Thanks for reporting. This is addressed in pull request #1845

[2020-01-20 14:23] akohlmey commented on #1839
@sjplimp @junghans
Is there any meaningful action item here?

If the purpose of the download from sandia is to provide a "complete" package with documentation ready, there is little that can be done except perhaps inquiring, whether there is a deliberate bandwidth limit on those downloads, and if that could be changed.
For any automated build tools, it should be most effective to download from git

[2020-01-20 14:35] junghans commented on #1839
Yeah, Zenodo would be nice.

[2020-01-20 14:36] junghans commented on #1839
Fedora, OpenSUSE, Spack and Gentoo already download the source from github.

[2020-01-20 14:44] ellio167 commented on #1839
I believe OpenKIM would be happy to do this (DOI minting) for you...

[2020-01-20 15:54] akohlmey commented on #1839
Thanks for the offer. There are several services available, but the GitHub integration of Zenodo is hard to beat in terms of convenience.

[2020-01-20 16:03] ellio167 commented on #1839
Yeah, that is certainly true.  I just wanted to offer it as an option.

[2020-01-21 11:01] JGaed opened #1849 "[Feature Request] KOKKOS - fix rattle / shake"
**Summary**

Porting fix rattle / shake to kokkos package

**Detailed Description**

As we perform calculations of big systems with a lot of water on a GPU cluster using the Kokkos package we would ask to port the fix shake and/or rattle to the Kokkos package. Is it planned in the future? Thank you in advance!

[2020-01-21 14:47] akohlmey commented on #1849
@JGaed do you have some performance comparison of your setup for using KOKKOS versus the GPU package, and especially with running the GPU package in such a way, that only the pair style will be run on the GPU and perhaps with a combination of GPU and USER-OMP (in case the optimal GPU oversubscription leaves a half or more of the CPU cores idle and/or you are reaching the communication limit of the

[2020-01-21 20:45] #1844 closed

[2020-01-21 22:33] stanmoore1 commented on #1849
Porting fix shake to Kokkos is high on our to-do list.

[2020-01-22 16:10] pzeiger opened #1851 "[BUG] Cannot use pair_style extep with more than 8 atom types"
**Summary**

LAMMPS crashes with segfault/memory allocation error if more than 8 atom types are used in conjunction with "pair_style extep".

**LAMMPS Version and Platform**

patch_9Jan2020, Debian 10, linux x86

**Expected Behavior**

Like for "pair_style tersoff", one should be able to use "pair_style extep" with a larger number of atom types (tested Tersoff with up to about 50).

**Actual Behav

[2020-01-22 16:24] akohlmey commented on #1851
Thanks for the report. However, the crash you see is due to memory corruption and has a different cause. It can be corrected by the following change:
[code]

[2020-01-22 17:38] #1851 closed

[2020-01-22 22:44] akohlmey commented on #1519
doc_anchor_check.py has been replaced with rst_anchor_check.py, which included the correction mentioned above.

[2020-01-22 22:44] #1519 closed

[2020-01-23 14:21] JGaed commented on #1849
@akohlmey Thank you for your advice. We've used the GPU packaged in the past but not in a combination with USER-OMP. I will give it a try and will do some benchmarks in the next days.

@stanmoore1 I am glad to hear that and will be patient.

Thank you both for your fast answer.

[2020-01-31 14:20] akohlmey commented on #1256
More corrections were done since the last stable release. We should be consistent now.

[2020-01-31 14:20] #1256 closed

[2020-01-31 14:25] akohlmey commented on #578
@sjplimp can you please verify, if the authors of this code are still maintaining their contribution to LAMMPS? This code has not seen *any* updates by the authors since it original integration 5 years ago. An this issue is now open for 2 1/2 years. All changes since have been to keep it consistent with the rest of LAMMPS.

[2020-02-05 18:46] finkeljos opened #1871 "[BUG] New GJF-2GJ langevin integrator"
**Summary**

When using the newly implemented GJF-2GJ Langevin integrator with the systems I am studying via the command

fix 1 all langevin 300.0 300.0 100.0 1 gjf vhalf

I get the following warning from LAMMPS:

"Inconsistent image flags (src/domain.cpp:785)"

accompanied by a wild explosion of KE, temperature and pressure.

**LAMMPS Version and Platform**

I am using the Nov 2019 version of LAM

[2020-02-05 19:48] charlessievers commented on #1871
The changes I made were put in 14 days ago #1852. I believe the bug you were experience will be fixed if you pull the current master.

[2020-02-07 01:14] giacomofiorin commented on #1871
@finkeljos Once you confirm that it works don't forget to close this issue.

[2020-02-07 01:39] #1871 closed

[2020-02-14 07:30] zhum opened #1880 "[BUG] no usleep while compiling using gcc-9.1 or Intel Compiler"
**Summary**

After `git clone -b stable https://github.com/lammps/lammps.git` I do: `cd src; make yes-manybody; make gpu`. Then I get this error:
[code]
I use CUDA-10.1, GCC-9.1, openmpi/4.0.1. If I try to use Intel Compiler (15, 2017 or 2019), I get the same error (other words, but the same meaning).

**LAMMPS Version and Platform**

LAMMPS from git, branch `stable` (14.02.2020). Intel Xeon E5-26

[2020-02-14 07:44] akohlmey commented on #1880
Thanks for the report, but this sounds more like there may be something wrong with your Linux installation. We compile LAMMPS regularly with gcc 9.x (e.g. version 9.2.1 on Fedora 31) and the intel compiler as well as on CentOS 7.x (but with the "native" gcc 4.8.x compiler) and have never seen this. Also, this piece of code has been around for quite some time (over 6 years), so if there was somethi

[2020-02-14 10:14] zhum commented on #1880
Hm... I don't know why it worked. My investigations show:

/usr/include/features.h:
[code]
Then /usr/include/unistd.h:
[code]

_GNU_SOURCE is defined on Linux systems (by gcc internals) by default. So __USE_XOPEN2K8 would be defined too. And then condition in unistd.h should not work.
I "fixed" this by adding
[code]
before `#include <unistd.h>` in variables.cpp, but it seems to be a dirty hack. Ma

[2020-02-14 10:39] akohlmey commented on #1880
Sorry, but you are looking at the wrong define.

Using `-D_GNU_SOURCE` will include `-D_BSD_SOURCE` (on centos 7) or `-D_DEFAULT_SOURCE` (on newer systems), which will in turn define `__USE_BSD` or `__USE_MISC`, respectively. And because of the `||` clause in the unistd.h header that should include the prototype of `usleep()`.

Either you are using very unusual compiler/preprocessor flags (perhaps

[2020-02-17 12:53] akohlmey opened #1884 "[Feature Request] Add a portability namespace with functions that perform operations that are non-portable or becoming obsolete"
**Summary**

We can improve the portability and maintainability of the LAMMPS (core) code base by writing generic functions that provide an abstraction of non-portable functionality (e.g. Windows vs. POSIX) or handling of obsolescent APIs (e.g. newer POSIX standards declare APIs obsolete and thus they may go away in the future).

**Detailed Description**

Several parts of LAMMPS use "ad hoc" solut

[2020-02-17 12:59] akohlmey commented on #1880
@zhum have you been able to reproduce the compilation failure with a "clean" Linux installation/container or have you identified the compilation flags/settings or header conflicts that was causing your compilations to fail contrary to our integration tests on the same kind of OS/compiler choice?

I've done a bit more research and it seems a good idea to have LAMMPS become less dependent on APIs li

[2020-02-18 20:27] 2young-2simple-sometimes-naive opened #1887 "[BUG] building error"
**Summary**

[  4%] Built target poems
[  5%] Built target cslib
[  5%] Built target nvc_get_devices
[  5%] Building NVCC (Device) object CMakeFiles/cuda_compile_2.dir/__/lib/gpu/cudpp_mini/cuda_compile_2_generated_scan_app.cu.o
fatbinary fatal   : Could not write file '/tmp/tmpxft_0001930a_00000000-2_scan_app.fatbin.c'
CMake Error at cuda_compile_2_generated_scan_app.cu.o.RelWithDebInfo.cmake:279

[2020-02-18 20:34] #1887 closed

[2020-02-18 20:37] akohlmey commented on #1887
This looks like you have either a permission error on /tmp or you are running out of disk space on that partition. This can happen more often on recent Linux versions, as those use by default a ramdisk (file system type tmpfs), so it is easily flooded. I've been compiling LAMMPS with GPU support on multiple machines recently via CMake and never saw an issue.

[2020-02-25 05:21] akohlmey commented on #1880
@zhum if there are no further updates showing how we can reproduce this issue, this will be closed as invalid assuming that your installation is at fault.

[2020-02-27 10:00] zhum commented on #1880
I'm AFK for 2 weeks, but after 9-th march I'll try to compile LAMMPS inside a container. And try to figure out why it cannot be  compiled on my installation. I'll write my results here.

[2020-02-27 11:31] Liozou opened #1907 "[BUG] New FIRE implementation is not as robust as the previous one"
**Summary**

The new FIRE implementation loses atoms when the initial positions of the atoms are too close to each others, while the previous version of the implementation worked with the same input.

Observed errors:
[code]
or
[code]

I understand that atoms blowing out of the simulation box are indicative of bad dynamics because their initial configuration is wrong, not of a LAMMPS issue, but si

[2020-02-27 11:52] akohlmey commented on #1907
Thanks for reporting. Can you confirm, that using fire/old is still working with this input?

[2020-02-27 11:54] Liozou commented on #1907
Yes! fire/old is working just fine.

[2020-02-27 12:14] akohlmey commented on #1907
Thanks. That is good to know and the reason why the old implementation was kept available. Minimizers are always some kind of compromise between speed and stability, so I am not certain, if there are tweaks and settings that can improve the default behavior without negatively affecting the performance. I have to defer this to the experts in that field, but at the very least, we could add some comm

[2020-03-04 10:44] jguenole commented on #1907
Thanks for reporting this!
There is a criteria that prevents atoms moving too far within a single minimization step. That should be actually identical in both old and new fire, and prevent losing atoms...
I will check in detail why its not behaving as intended.

[2020-03-05 14:14] #1659 closed

[2020-03-05 14:14] #1729 closed

[2020-03-05 16:07] frobnitzem opened #1917 "[BUG] More than one instance of min()"
When building the most recent version of lammps with the spack spec:
`lammps@20200303%gcc@7.4.kokkos+kokkos+cuda+cuda_mps+molecule+rigid+snap+mc+meam+kspace+class2 cuda_arch=70 ^/rknfw72`

(FYI, the kokkos dependency referenced is:
`kokkos@3.0.00%gcc@7.4.kokkos+serial+cuda+volta70+cuda_lambda+numactl+openmp+power9 cuda_arch=70`)

I get the a "multiple definitions" error on cudpp_maximal_launch.cpp

[2020-03-05 16:29] akohlmey commented on #1917
Can you try compiling with the following change?
[code]

[2020-03-05 16:46] frobnitzem commented on #1917
I still see:
[code]

Note that it compiles fine if I use either +kokkos or +cuda, but not both together - so I suppose this is low priority.

[2020-03-05 16:50] akohlmey commented on #1917
how about this change instead?
[code]

[2020-03-05 18:43] akohlmey commented on #1917
On top of that, you should be able to work around this issue by using -DCUDPP_OPT=off when configuring the build with CMake.

[2020-03-05 19:35] akohlmey commented on #1917
A proper fix (well, it worked for me) should be in PR #1918

[2020-03-05 19:57] frobnitzem commented on #1917
Now it's just hung up on the duplicate definition:
[code]

If I put both patches together, I get the same issue, but with different line numbers:

[code]

[2020-03-05 20:13] akohlmey commented on #1917
Yes. Neither patch would work. They were based on (wrong) guesses. I have since been able to reproduce the issue myself and identified the real cause. For the 3 March 2020 version the recommended workaround is to configure with `-DCUDPP_OPT=off`. The next patch will replace the redundant definitions with C++ features.

[2020-03-05 20:14] #1917 closed

[2020-03-05 20:28] tabedzki opened #1919 "[BUG] SRP Documentation Equation Error"
**Summary**

The SRP Documentation has a `Misplaced &` in the first equation on the lammps documentation website.

**LAMMPS Version and Platform**
March 3 2020

**Expected Behavior**

Display equation.

**Actual Behavior**

Displays error message (`Misplaced &`).

**Steps to Reproduce**
Visit https://lammps.sandia.gov/doc/pair_srp.html

**Further Information, Files, and Links**
I tried looking int

[2020-03-05 20:37] akohlmey commented on #1919
thanks for reporting, this will be fixed in the next LAMMPS patch

[2020-03-05 20:44] akohlmey commented on #1919
BTW: there is another issue in the example where it has `\*` instead of `*`. Given the amount of changes that both @rbberger and me applied to the documentation to embed all math expressions, there are likely more of these little issues. There are about 500 equations and about 2000 math symbols that were embedded into the manual. That said, we also fixed issues that had gone unnoticed for many mon

[2020-03-06 13:47] jguenole commented on #1907
I identified the problem.

The "bug" affects fire, but not in combination with the eulerexplicit integrator. This integrator is actually the only one used by fire/old, that explain what fire/old is not affected by this issue.

The parameter dmax should limit the maximum displacement of particles and prevent this error. This limitation is enforced by evaluating the displacement based on the current

[2020-03-06 17:21] jibril-b-coulibaly commented on #1508
I will start working on this enhancement

[2020-03-10 09:30] janmees opened #1925 "[BUG] Skin distance dependence of DPD thermostat"
**Summary**

When using the dpd/tstat pair style (thermostat), pressure measurement (thermo pressure tensor) seems to be dependent on the neighbour list skin distance. To my knowledge, there is nothing in the documentation that could explain this behaviour (I'm using the same number of cores).

**LAMMPS Version and Platform**
5 Jun 2019, Also tested on August 2019 and January 2020

**Steps to Repr

[2020-03-10 10:31] akohlmey commented on #1925
This is not unexpected behavior. Since the pair style will modify forces with a (velocity dependent) random term, everything that will cause a difference in the sequence of random numbers will cause changes. Changing the neighbor list skin has thus a similar effect as using a different number of MPI ranks as both change the order of atoms in the neighbor list and thus the random numbers used for t

[2020-03-10 11:09] janmees commented on #1925
Ah I see, thank you for the quick response!

[2020-03-10 11:09] #1925 closed

[2020-03-10 19:08] #1907 closed

[2020-03-10 23:38] #1919 closed

[2020-03-11 05:33] donatas-surblys opened #1927 "[BUG] Compatibility check fails for USER-INTEL kspace when using restart files and hybrid pair styles."
**Summary**

Using the USER-INTEL kspace requires a compatible pair style. Currently, LAMMPS fails with a "ERROR: Intel styles for kspace require intel pair style.", when using pair_style hybrid and read_restart, even though no such errors are present when using a data file or making a system from scratch.

**LAMMPS Version and Platform**

Latest LAMMPS version (33996d9bac98d4bf2b852531a93ebe495b5

[2020-03-11 12:53] akohlmey commented on #1927
There is no "hybrid/overlay/intel" pair style. As far as I can tell, the issue is in pair style hybrid itself, and thus in hybrid/overlay as well. Sub-styles for hybrid must be stored without suffix when using the suffix flag, so that pair_coeff can work, as it uses the (non-suffix) pair style name to map individual coeff settings to sub-styles. Consequently, pair style hybrid must apply the suffi

[2020-03-12 09:49] donatas-surblys commented on #1927
Yes, the patch fixes my errors. Thank you.

[2020-03-13 15:02] arneshpalanisamy opened #1933 "[BUG] _pair_lubricate_poly.cpp_issues"
**Summary**

pair_lubricate_poly.cpp has bugs related to force calculation using a_sq, a_sh, etc. as Ranga from Edinburgh university pointed out.
The forces are not pairwise symmetric (i.e.lubrication force between a pair of particle i and particle j must be equal and opposite, here it is not so).

secondly the
if(shearing) branch has a bug in line 127 Ef[1][2] = Ef[2][1] = 0.5 * h_rate[3]/domain-

[2020-03-13 15:13] akohlmey commented on #1933
Thanks for reporting. BTW: the same issue also exists in pair style lubricate. This will be fixed in the next patch release.

[2020-03-13 18:27] wapisani opened #1935 "[BUG] Out of range atoms - cannot compute PPPM with triclinic box and user-intel"
**Summary**
There seems to be a bug with pppm/intel and triclinic boxes. Attached is a tar.gz file containing two files, a simple input deck (PEEK0313PCFFTrS0.in) that reproduces the error and the data file (PEEK0313PCFFEq2S0.dat) the input script reads in.

The script reads in an orthogonal data file containing 5 PEEK molecules for a total of 170 atoms. The system has been equilibrated for 200 ps

[2020-03-13 19:51] akohlmey commented on #1935
@wapisani thanks for submitting this. I have looked into it and figured out what happens. The USER-INTEL package translates coordinates and some other per-atom properties into special buffers, so it can do single precision and vector operations on them. However, that will result in problems with triclinic cell processing. When doing grid related operations, first all coordinates are translated to

[2020-03-13 20:03] akohlmey commented on #1935
Commit 924629538f556b7b009dd2af11e0b95c960732d2 should recover triclinic support for pppm/intel, but calling the corresponding functions from plain pppm that do not use the coordinate buffers while coordinates are converted to fractional coordinates.

[2020-03-13 22:35] sjplimp commented on #1933
Hi - not clear on this.  I think the Ef = h_rate equations are just converting
from Voigt notation back to a full matrix form?
So Ef(0,1) is the xy term = hrate[5]
E(0,2) is the xz term = hrate[4]
E(1,2) is the yz term = hrate[3]

So isn't the divisor (xprd,yprd,zprd) set by
the 2nd letter.  I.e. yprd for xy, zprd for both xz and yz.
But you are changing one of the zprd to xprd?

Steve

[2020-03-13 23:44] #1927 closed

[2020-03-13 23:44] #1935 closed

[2020-03-14 01:02] akohlmey commented on #1933
This was closed by accident. The patch has been reverted and the issue is not yet resolved.

[2020-03-15 16:41] stanos4 opened #1942 "[Feature Request] new pair style"
**Summary**

implementing new pair style but wrong energy is returned

**Detailed Description**

Dear all,

Not a feature request per se but a developer help request. I'm trying to write a new pair and angular styles. The "dirty" version is already in my fork, but I've got a problem with energies. When I do geometry optimization (using quickmin), I see that energy is rising instead of decreasing.

[2020-03-15 18:10] akohlmey commented on #1942
@stanos4 the LAMMPS developers have no time to debug your own code.
I have some general comments. You can set up a system with just 2 or three atoms and then change the distance for one of them with fix move and thus get energy vs. distance curves that you can compare to your potential function. From that you could also verify the forces from finite differences. What you describes could happen, if

[2020-03-15 18:10] #1942 closed

[2020-03-15 18:14] akohlmey commented on #1933
@arneshpalanisamy following up on the remarks by @sjplimp I am also adding the unconfirmed label, as your description is not sufficient to actually explain the details. As @sjplimp observed, the current (unchanged) implementation is consistent with the description in the comments above the statement you would like to change, so we need a more specific argument and demonstration why there would be

[2020-03-16 20:19] Amingeo opened #1944 "[Feature Request] Let's boost users' contributions in extending lammps"
**Summary**

Dear LAMMPS developers,
 Without any doubt, a remarkable percentage of LAMMPS users who have enjoyed working with its highly versatile and broad capabilities and have some programing experiences in c++, would be so ambitious to contribute in extending and developing LAMMPS, either to add new features related to their specific projects which might be useful for others or improving some

[2020-03-16 20:31] wapisani commented on #1935
@akohlmey Thanks for the fix! It's working great! I'm getting through about eight times the number of time steps with the fix in four hours on 88 cores (across two nodes) than when running without user-intel with the same time frame and core/node count.

[2020-03-16 22:48] akohlmey commented on #1944
Sorry, but your assessment of the situation is wrong in multiple ways.
First off, learning and research **is** painful, frustrating, and time consuming. The more complex something is, the more painful and the more time consuming and the more frustrating. You are spending so much time because you don't understand things. That is how it has always been. The biggest mistake that people can do is to a

[2020-03-17 09:40] Amingeo commented on #1944
Thanks Axel for your comment. I totally agree with all your statements. However, I think you misunderstood what I was suggesting. What I was suggesting was sharing well explained examples for "few" cpp codes (1-5 examples). Obviously, people who have shallow c++ experience cannot and are not going to learn it this way (and also the LAMMPS source code). It anyways needs all hard efforts that you ta

[2020-03-17 10:49] akohlmey commented on #1944
Since those 1-5 example files would need to be different for every person, who is going to pick which? Please provide some examples of files or parts of files that a) you are struggling to understand in order to write new code to be added to LAMMPS and b) where the relevant information to understand what the code is doing cannot be obtained from the existing information I mentioned and through hav

[2020-03-17 13:46] Amingeo commented on #1944
Please let me to declare that I am not suggesting it only on behalf of myself. I can apply new things I need to try by modifying some in house codes written in fortran90. For LAMMPS modifying, I already have done this once without needing to understand the whole code and only via changing some similar codes. The reason I suggested it is that I learned that this is exactly something many colleagues

[2020-03-17 14:22] akohlmey commented on #1944
You are *still* missing my point. There is no way to bypass having to go through the process of learning the way how I have already outlined it. You can call it "the hard way", see the website and book "Learn Python the Hard Way" for and example and good arguments, why this is the better way to approach writing code). Fix `temp/rescale` is a good example for a file that has **exactly** the right a

[2020-03-19 12:51] #934 closed

[2020-03-20 08:02] wqchen007 opened #1951 "[BUG] call python from a lammps input script"
**Summary**

Calling python from a lammps input script can't run correctly after installation following instructions

**LAMMPS Version and Platform**

lammps-7Aug19/centos 7.6/python3.7

**Expected Behavior**

Test the example in example/python and calling python from a lammps input script can run correctly after installation following instructions

**Actual Behavior**

after installing the python

[2020-03-20 09:21] akohlmey commented on #1951
Thanks for submitting a bug report. Sadly, there is not enough information here to reproduce it and to figure out what is at fault. Based on previous experience, it may just be a user error. Thus you need to provide more details about what **exactly** you did to configure, compile, install, and run LAMMPS and which inputs **exactly** are failing. It is more likely, that you omitted some step durin

[2020-03-20 17:50] erny123 opened #1953 "Fixing and Updating HowTo Discussion: 8.1.3. Using LAMMPS with Bash on Windows"
**Summary**

 [HowTo Discussion 8.1.3. Using LAMMPS with Bash on Windows](https://lammps.sandia.gov/doc/Howto_bash.html)  needs updating

Now that it's easier to use linux on windows, this section should be updated.

**Detailed Description**

1.  Should probably include this link at the beginning:
[https://docs.microsoft.com/en-us/windows/wsl/install-win10](https://docs.microsoft.com/en-us/windows

[2020-03-21 08:02] wqchen007 commented on #1951
Thanks for your reply! we have tried two version of lammps: 3 March 2020 and 7 Aug 2019, we install them with the orders: $make yes-python $make serial $make mpi, and both of them can run normal test file correctly. we test the example in example/python like 'in.fix_python_invoke' but  it return an error: ERROR: Could not process Python string (../python_impl.cpp:227), and the other task that need

[2020-03-21 10:51] schmidf opened #1954 "[BUG] segfault with uloop on many partitions"
**Summary**

Using a uloop variable to distribute jobs to many partitions sometimes causes a segfault when incrementing the loop variable.

**LAMMPS Version and Platform**

7 Aug 2019, Cluster with SUSE Linux Enterprise Server 12 SP4, Intel compiler, GPFS filesystem

**Expected Behavior**

I want to run otherwise identical simulations for ~2000 different values of a parameter on a cluster with 320

[2020-03-21 16:06] akohlmey commented on #1954
@schmidf thanks for reporting. this piece of code has a known race condition problem with no clean solution. If you run `git annotate` on that section of code, you can see that @sjplimp worked on that over 6 years ago. Before that change, the race condition was even more severe and would have tasks run simulations multiple times because they would not notice the increment. We should nevertheless m

[2020-03-22 17:19] yuhlzu commented on #1659
hello, There was a problem compiling the latest version（patch_19Mar2020 ） on MacOS(10.15.3), How should I do?
[code]
and  LAMMPS (20 Nov 2019)
[code]

[2020-03-22 17:30] junghans commented on #1659
@yuhlzu try to build with `-DBUILD_OMP=OFF`.

[2020-03-22 19:25] akohlmey commented on #1659
First **you** need to describe to use what steps **exactly** you did to try compile LAMMPS.

As far as I know, Apple's Xcode compiler distribution ships a version of Clang, that supports the OpenMP directives, but does not include the OpenMP runtime library, which is required by LAMMPS. That is why you see the error message. Your options are the following:
- do not try to enable OpenMP support, or

[2020-03-22 23:02] yuhlzu commented on #1659
thank you,  The error above is because I compiling lammps by cmake
[code]
now is ok when I  installed gcc(c++) llvm(clang) make by brew and ln -s gcc(c++ clang make) /usr/local/bin/* , but I need to set PKG_USER-INTEL=off

[2020-03-22 23:06] rbberger commented on #1659
I'm locking this conversation, since it has nothing to do with C++11 and this issue is closed.

[2020-03-22 23:24] akohlmey commented on #1659
which has **nothing** to do with C++11 thus you are commenting on the wrong issue.

these are ugly hacks. if you do that kind of modifications to your system, then you will have to expect that things do not work, because its high probability of an inconsistent setup. it will confuse cmake. I have tested the cmake configuration in LAMMPS on an **unmodified** macosx system with LAMMPS patch 19 March

[2020-03-23 14:41] akohlmey commented on #1954
@schmidf could you please try to apply the following change to `src/variable.cpp`, recompile LAMMPS and see, if those segmentation faults will still appear or whether there are other problems. Thanks.

@sjplimp does this kind of change make sense to you? do you see a way to do the same in a simpler fashion?

[code]

[2020-03-24 02:26] #1951 closed

[2020-03-24 04:48] uihsnv opened #1959 "[BUG] Erronious equation in documentation of the force 2-norm in min_modify"
**Summary**

The equation for the 2-norm of the global force vector is shown as the length of the sum of per-particle force vectors, when it should be the square-root of the sum of the squared 2-norms of each per-particle vector.

**LAMMPS Version and Platform**

19 Mar 2020

**Expected Behavior**

||F|| = sqrt( ||F_1||^2 + ||F_2||^2 + ||F_3||^2 + ...  )

**Actual Behavior**

||F|| = sqrt( F_1 + F

[2020-03-24 11:00] schmidf commented on #1954
Thank you for the patch! In my first tests I still observed some segmentation faults, now in `fread()` instead of `fscanf()`.

I now believe that the issue is that `fopen()` sometimes fails and returns a Null pointer. Maybe checking the return value and retrying in case of failure would already be enough. I still don't understand the origin of the empty `tmp.lammps.variable.lock` files though.

Un

[2020-03-24 15:18] akohlmey commented on #1954
@schmidf the empty files can happen due to the distributed nature of GPFS and various caching features. The only way to cleanly solve these race conditions would be to "sacrifice" one MPI rank and have that rank be responsible for handing out the next loop value.

The non-existing file is a different variant of the race condition, in this case, two MPI ranks have attempted to rename the file at th

[2020-03-24 16:16] stanmoore1 opened #1961 "[Feature Request] Add -std=c++11 to Makefiles"
**Summary**

Can we add `-std=c++11` to the Makefiles, e.g. `Makefile.mpi` and others, now that LAMMPS requires it?

[2020-03-24 22:59] rbberger commented on #1953
Thanks for reporting! I've fixed the two issues you mentioned in PR  #1962. WSL is a moving target and we'll update the docs. Right now I'm waiting for the general availability of WSL 2.0, which will require a larger rewrite.

[2020-03-24 23:08] akohlmey commented on #1959
@julient31 can you comment on this?
When converting from external tex file to embedded math, the latex code remained unchanged it seems to added those files in commit 56e1a05287c34188eca387dfee62b935434096fd

[2020-03-24 23:19] akohlmey commented on #1961
@stanmoore1 I would recommend against adding it to Makefile.mpi since this makefile is supposed to work on the largest variety of machines without modifications and `-std=c++11` is specific to GNU gcc and compilers that try to be command line compatible with it. Most compilers on most systems are C++11 compatible by default. It is mostly RHEL/CentOS 7.x that is not.

Beyond that, for people that h

[2020-03-25 00:40] julient31 commented on #1959
@akohlmey Hey Axel! Hope you're doing well!
Indeed, the definition in the doc does not correspond to the 2-norm (which is what is implemented).
I also think there is a small issue with the INF norm in the code. I'll check that more carefully tomorrow.
How would you like me to proceed? Encapsulate those corrections in another PR? Or create one just for them?

[2020-03-25 00:43] akohlmey commented on #1959
Just add the documentation changes to whatever else you submit. Unless there is a significant rewrite of the documentation, we do not consider it as major a change as changes to the code. I've been rather liberally tacking on doc changes to whatever other changes were ready (and so does and did steve).

[2020-03-25 00:45] julient31 commented on #1959
Sounds good, I'll do that. Thanks a lot Axel!

[2020-03-25 01:08] akohlmey commented on #1880
@zhum any updates?

[2020-03-25 01:09] akohlmey commented on #1933
@arneshpalanisamy do you have any updates/answers on this issue?

[2020-03-25 03:39] akohlmey commented on #1839
Here are the latest numbers:
`-rw-r--r-- 1 akohlmey klein 118M Mar 24 22:37 patch_19Mar2020.tar.gz`
and
[code]

While the doc folder has shrunk significantly, this was overcompensated by the massive mesocnt potential file.

[2020-03-25 03:43] akohlmey commented on #1839
I've tried and set up LAMMPS for obtaining a DOI for the latest stable release. This specific release is registered: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3726417.svg)](https://doi.org/10.5281/zenodo.3726417)

There also is a DOI for **all** LAMMPS releases [https://doi.org/10.5281/zenodo.3726416](https://doi.org/10.5281/zenodo.3726416)

[2020-03-25 09:53] schmidf commented on #1954
Today I was able to reproduce the segmentation fault again. After applying your patch, there were no more segmentation faults, but the exit with error gets triggered occasionally.

How about retrying at least a few times? Having a useful error message is nice, but the simulation still fails.

[2020-03-25 10:36] akohlmey commented on #1954
Thanks for the feedback. Below is a version of the patch combining the two strategies as suggested with a limit to avoid a deadlock.
For debugging it might also be helpful to uncomment the two "printf()" statements, so that you can verify on the screen output, that no instance is run multiple times.

[code]

[2020-03-25 11:48] schmidf commented on #1954
Thank you for the patch. Now the simulations finish successfully.
However, I now see some duplicate (or more) runs:
[code]

[2020-03-25 12:08] akohlmey commented on #1954
Yes, this is not unexpected. That is why I asked you to comment out those lines. Due to GPFS's asynchronous I/O optimizations we cannot avoid the race, only avoid crashes. At least we have now the confirmation that the latest patch bypasses any segfaults and thus should be added.  Will have to discuss with @sjplimp possible alternatives.

Thanks again for trying this out and providing helpful feed

[2020-03-25 14:41] #1954 closed

[2020-03-25 14:53] ocaisa opened #1964 "[BUG] Building USER-VTK with Intel compiler"
**Summary**

As part of https://github.com/easybuilders/easybuild-easyconfigs/pull/10191 I'm building LAMMPS with `USER-VTK` on top of the Intel 2020 and GCC 9 compilers. GCC compiled fine but the Intel version errors out with
[code]
The equivalent commands with GCC quote things like
```-DvtkRenderingVolume_AUTOINIT="1(vtkRenderingVolumeOpenGL2"```
so there seems to be some inconsistency between t

[2020-03-25 15:02] akohlmey commented on #1964
I don't think that this is due to LAMMPS. This looks like an issue in the `mpiifort` compiler wrapper. You don't say explicitly, but it looks like your are using the CMake build variant and there we simply import the VTK build options from its CMake file, so there is nothing in LAMMPS that changes the quotes.

[2020-03-25 15:24] ocaisa commented on #1964
Ok, thanks, also seems not to be a new problem:
https://software.intel.com/en-us/forums/intel-fortran-compiler/topic/746611

[2020-03-25 15:24] #1964 closed

[2020-03-28 09:32] zhum commented on #1880
I've compiled it successfully with gcc-4.8.5 and cuda-8 (openmpi-4.0.1). But with newer gcc versions it fails.
Works for now, but please check compilation with modern gcc/cuda.

[2020-03-28 12:06] akohlmey commented on #1880
Sorry, but the problem **must** be with your installation. We compile LAMMPS regularly on machines with newer GCC installations and have never seen a failure like you describe it.

However, the configuration your report is not supported. When I try to compile code with CUDA 10.2 on Fedora 31, which ships with gcc 9.2, I get this error:
[code]
I have to install a custom gcc 8 to make this work. Thu

[2020-03-28 12:06] #1880 closed

[2020-03-29 20:52] arneshpalanisamy commented on #1933
Dear Akohlmey,

Thank you for the updates,
 sjplimp i right i think, his arguments make sense.
apologies for the hasty report.
however, the second part, which i mentioned.
In poly, line number 296,
h_sep = h_sep/radi; should be h_sep = h_sep/((radi+radj)/2);
and similarly, line number 287 should be
h_sep = r - radi-radj; instead of  h_sep = r - 2.0*radi;
likewise line 292
which is currently,     h

[2020-04-02 08:36] donatas-surblys commented on #165
I know this is an old issue, but I got bit by it today. I think you don't see more reports because the error message is somewhat cryptic, and many people give up and go with the post-processing route, which is a pain if for example you just want to know the mean square value. If there's any interest, the following script demonstrates the issue:
[code]
The com/chunk, vcm/chunk and msd/chunk compute

[2020-04-03 14:30] akohlmey commented on #1961
@stanmoore1 since nobody else commented on this, can we close this issue and continue the discussion in private, if needed?
I am open to make changes, if there is a compelling use case, but we have to balance it against the goals named in my previous comment.

Outside of compiling with KOKKOS enabled, I am not aware of any scenario where the conventional build has significant advantages over using

[2020-04-03 19:57] junghans opened #1976 "[Feature Request] add an example on how to use lammps library to read trajectories"
**Summary**

Please we add an example to how to use liblammps to read / write trajectory.

**Detailed Description**

This feature would be use for external package to read / write lammps trajectories.

**Further Information, Files, and Links**

We currently have an reversed engineered data reader https://github.com/votca/csg/blob/master/src/libcsg/modules/io/lammpsdatareader.cc
but using liblammps

[2020-04-03 20:23] akohlmey commented on #1976
LAMMPS doesn't really have a clean interface so that trajectory data can be exported for other programs to use it. All you could do is to fake a simulation with a given number of atoms, no pair style, no integrator and then create a dump style of your choice and then use `lammps_scatter_atoms()` to update the data. Similarly, you would set up a reader with the  `read_dump` command and then use `la

[2020-04-03 20:38] junghans commented on #1976
Hence this is a feature request, as you are in the process of redesigning the API, it would be nice to have some way to parse lammps dump and data files. Writing is secondary for now.

[2020-04-03 20:46] akohlmey commented on #1976
sorry, but there must be some miscommunication. where does it say (or where did I say) that the API (and which API?) is being redesigned?

[2020-04-03 21:15] junghans commented on #1976
Redesign might have been a too strong word, I was reading https://github.com/lammps/lammps/pull/1956#discussion_r399612987 and (mostly) hoping I/O could be one of the header that will get exported in the API.

[2020-04-03 23:27] akohlmey commented on #1976
ok. I see where this is going now. This is not going to be easy for the general case, and rather hackish. You need to create a LAMMPS instance with compatible settings (which usually you cannot know unless you already know what is in the file). The molfile library does this protocol: (1) open file -> number of atoms, (2) read structure -> number of types, residues, charges and other constant per-a

[2020-04-04 00:28] akohlmey commented on #1976
...and on top of that, reading data files in a standalone way is even more complex and often problematic, since the format is not self-descriptive. There are some conventions to place comments in the right places to provide additional information, but they are not required by LAMMPS and it will only warn, if there are inconsistencies.  Reading a data file requires to have a LAMMPS simulation syste

[2020-04-04 00:56] akohlmey opened #1977 "[Feature Request] Simplify build options by always building the LAMMPS library"
**Summary**

Right now we have essentially 4 main build options:
- build executable from "static" objects (= no -fpic)
- build executable from "shared" objects (= with -fpic)
- build a static library
- build a shared library

I propose to reduce this to two options: always build the executable and the library, and only select between a shared library and a static library.

For CMake that means to

[2020-04-08 16:20] rbberger commented on #1977
`BUILD_SHARED_LIBS` is a CMake variable (https://cmake.org/cmake/help/v3.0/variable/BUILD_SHARED_LIBS.html). The other ones were introduced by us.

[2020-04-08 16:56] junghans commented on #1977
Sure, I am all for dropping `BUILD_EXE` and `BUILD_LIB` as it would make the lammps CMake more standard.

[2020-04-08 18:27] junghans opened #1980 "[Feature Request] Test CMake exported target in CI"
**Summary**

Add a test for the liblammps CMake exported target to the CI.

**Detailed Description**

We should do something like this in the CI:
[code]
This would help to catch errors in the exported target earlier.

**Further Information, Files, and Links**

As a bonus we could do the same for the installed pkg-config file with:
[code]

[2020-04-09 02:44] SaraMosalla opened #1982 "[BUG] _write_coeff in lj/long"
**Summary**

The parameters in write_coeff at the end of the data file using pair_style lj/long/coul/long and lj/long/tip4p/long is completely wrong.

I am using
**LAMMPS (12 Dec 2018)**

I got the attached coefficients.  I specified the numbers in bold in my data file and the rest are calculated by mix geometric.

![Bug](https://user-images.githubusercontent.com/48093480/78852484-05691800-7a4f-11

[2020-04-09 13:52] akohlmey opened #1984 "folder examples/accelerate needs updating or should be removed"
**Summary**

The outputs in the `examples/accelerate` folder are over 6 years old and the instructions outdated.
Same about the corresponding pieces of the documentation in `doc/src/Speed_packages.rst`

**LAMMPS Version and Platform**

LAMMPS 19 March 2020

**Details**

The files and documentation should be updated and tested with the latest version, especially *after* the already merged and still

[2020-04-09 15:41] sjplimp commented on #1984
@akohlmey agree with this

[2020-04-09 15:48] sjplimp commented on #1977
@akohlmey In the proposed change, if a static (default) build is done, does
that mean you get two files: an exe and a lib?  How large are those files?
In the old way, you get just the exe and it is the same file as before?

[2020-04-09 16:10] akohlmey commented on #1977
For the conventional build you get the library and the executable and the library file will be larger because of the additional information stored in it for the linker unless a lot of libraries from lib folder are also linked into the executable.  Here is an example i used for testing:
[code]
With `mode=shared` you get:
[code]
Since we depend on GNU make, it would technically be possible save the

[2020-04-09 16:42] sjplimp commented on #1977
Thanks for the info - to clarify, the 31M lmp_mpi in the new mode
is an identical file to the lmp_mpi exe in the old mode?
Also, the new mode just takes incrementally longer to build
both, not 2x longer, correct?  What does 76M extra for the lib
grow to if you include most packages?

I think 99% of folks probably just want the exe.
So making the 1% type an extra command to also get the lib
file do

[2020-04-09 17:43] akohlmey commented on #1977
here are the sizes:
[code]
Installed packages:
[code]

I see the logic differently: Will the people that want the executable care about the extra storage used? ...and if that is a concern, then there is **much** more savings potential in dropping the '-g' flag. As it will reduce the storage needed by a factor of 5 and for "everything": the executable, the library, **and** the object files:
[code]

[2020-04-09 18:15] sjplimp commented on #1977
@akohlmey can you answer my first Q in the previous message
about identical files (not ballpark size, bitwise identical).

Also, to your last point, you're saying "make mpi" in the new mode will
always re-link to create a new exe, whether anything has changed or not?
If so, I don't think that's good feedback for users.  Someone doing development will think
some source file must have changed, and h

[2020-04-09 18:29] sjplimp commented on #1977
@akohlmey Or maybe you are saying it is only the lib build that will
now have the screenfuls of *.o files listed, and the exe build
will always be brief, whether anything has changed or not?

[2020-04-09 18:50] akohlmey commented on #1977
yes. it is bitwise identical. here is the difference with a small example.
Assume three sources files, foo.cpp, bar.cpp and foobar.cpp.
We previously did:
[code]
Now we do:
[code]
This gives me identical executables:
[code]

Because of the change described above the link command of the executable is **not** long.
It is clearly visible that nothing has changed and only the executable is relinked, w

[2020-04-09 18:53] akohlmey commented on #1977
Exactly. Please see my other reply and the screen outputs in it.

[2020-04-09 20:02] akohlmey opened #1985 "Makefiles in src/MAKE/MACHINES and src/MAKE/OPTIONS need review"
**Summary**

The various makefiles for the conventional build system need to be reviewed. Some of them need to be updated (e.g. because of no longer supported features/settings) or removed (because the specific machines or similar ones don't exist anymore).

**LAMMPS Version and Platform**

LAMMPS 19 March 2020

**Details**

Noticed this while updating makefiles for implementing issue #1977 .
Some

[2020-04-09 22:09] akohlmey commented on #1977
@sjplimp pull request #1985 is now complete as far as I can tell.

[2020-04-10 04:51] 2young-2simple-sometimes-naive opened #1987 "[BUG] bug in coul/long potential calculation"
**Summary**

The elong in coul/long cause a shift in Coulombic potential

**LAMMPS Version and Platform**

Patch release 19 March 2020

**Actual Behavior**
For both images, the black curve is the theoretical potential 1/r, and the red curve is the total potential in a simulation box constituted with two particles with a same +1 charge. The total potential is measured from thermo_style etotal and 2

[2020-04-10 05:14] akohlmey commented on #1987
I am not so sure, that this is a bug. You are neglecting the fact, that you are looking at an infinitely large sphere built from periodic replica of your system, and a system with only two charges of the same sign will result in divergent term at k=0. This divergent term is ignored and thus your system is modified by being effectively neutralized through a smeared out counter charge, so I would no

[2020-04-10 05:18] 2young-2simple-sometimes-naive commented on #1987
Thanks.

[2020-04-10 05:18] #1987 closed

[2020-04-11 20:10] akohlmey opened #1990 "[Feature Request] Implement pair_modify rshift"
**Summary**

This feature would allow to set a global parameter that would shift the computation of pair distances by a (small) positive amount (e.g. 1e-10) and thus would avoid divergences with overlapping particles. This would be useful for core-shell models (and would potentially make all supported pair styles compatible with it and no longer require /cs variants) or using potentials with a div

[2020-04-11 21:31] #1508 closed

[2020-04-14 14:57] #1977 closed

[2020-04-15 21:42] stanmoore1 opened #2001 "ERROR: fix rx cannot be combined with fix property/atom"
**Summary**

Some of our internal USER-DPD regression tests are failing with `ERROR: fix rx cannot be combined with fix property/atom`. They were working fine before the recent changes.

**LAMMPS Version and Platform**

Latest master

[2020-04-15 21:48] akohlmey commented on #2001
They were not failing because of a bug in the checking for the conflict.

[2020-04-15 21:51] stanmoore1 commented on #2001
Hmmm, they shouldn't be failing though, so maybe the logic needs to be tweaked. @timattox who should we ping about this?

[2020-04-15 21:54] akohlmey commented on #2001
please let me use this opportunity to remind folks that the way how USER-DPD uses fix property/atom is rather badly done and can result in all kinds of issues.

[2020-04-15 22:00] stanmoore1 commented on #2001
Many of their test scripts combine `fix rx` with `fix property/atom`. Are you sure *we* didn't mess up the check?

[2020-04-15 22:03] akohlmey commented on #2001
why then put in a test and make it so it doesn't work? at the very least it should describe when it is safe to combine it and when not (and then adapt the logic accordingly).

[2020-04-15 22:06] akohlmey commented on #2001
it also emphasizes that we need to expand the testing on ci.lammps.org to catch these things before we release them.

[2020-04-16 12:25] akohlmey opened #2002 "[Feature Request] Add support for symbolic atom, bond, angle, dihedral and improper types"
**Summary**

Right now, force field types in LAMMPS are numbers starting from 1. Allowing symbolic (text) based atom types would make a lot of tasks easier like merging data from multiple simulations, supporting reading of existing topology/parameter file formats from CHARMM or Amber, and writing complex inputs. On the other hand, some of the flexibility of LAMMPS stems from the size of data struc

[2020-04-16 20:49] #2001 closed

[2020-04-19 03:25] jrgissing commented on #2002
in case it helps (one way or another), recall the related effort implemented here #1004

[2020-04-20 17:14] benjamindjensen opened #2009 "[BUG] Replicate not copying extra bonds/angles/etc"
**Summary**

Combination of 3 commands causes an unexpected "Molecule auto special bond generation overflow" error:
 - read_data with extra bonds/angles/etc
 - replicate
-  molecule

**LAMMPS Version and Platform**

LAMMPS (19 Mar 2020)

**Steps to Reproduce**

If you add a "replicate 1 1 2" command immediately after the read_data in the examples/USER/reaction/tiny_nylon/in.tiny_nylon.stabilized,

[2020-04-20 20:21] akohlmey commented on #2009
@benjamindjensen thanks for the report. I think I have identified the issue and implemented a fix for this bug. A patch will be coming soon.

[2020-04-20 20:57] akohlmey commented on #1982
@SaraMosalla thanks for reporting this issue. a fix will be submitted soon and should be available in the next LAMMPS patch release.

[2020-04-20 21:08] akohlmey commented on #1959
corrected in #1967

[2020-04-20 21:08] #1959 closed

[2020-04-20 21:10] akohlmey commented on #1933
@sjplimp can you have a look at this?

[2020-04-20 21:13] akohlmey commented on #1470
@junghans can you check whether this is something that is now different after your CMake modernization changes? if not, we should label it as wontfix and close this issue. thanks.

[2020-04-20 22:42] junghans commented on #1470
Yeah, I think this should be possible now as we put the optimization flags into `CMAKE_TUNE_FLAGS` and the user can overwrite those.

[2020-04-21 14:02] mkanski opened #2011 "[Feature Request] Dump written every n time units for simulations with variable timestep"
**Summary**

Implement an option for a dump to be written every n time units (e.g. 100 fs).

**Detailed Description**

Currently, it is impossible to write a dump every n time units if a variable timestep is used. Such an option would be useful for visualising and analysing simulations where the timestep varies, e.g. modelling of sputtering or combustion.
I am willing to implement this, but I am n

[2020-04-21 14:16] akohlmey commented on #2011
Have a look at the `dump_modify every` option and also `dump_modify first`. For a dump to be triggered you need to know the next timestep on which you want to dump again. If you use an equal style variable with `dump_modify every`, you could estimate the next step from that variable where you have access to the size of the timestep.  This is as good as what you could implement in C++ as there you

[2020-04-21 16:29] vincent-dufourdecieux opened #2012 "[BUG] Segmentational fault with ReaxFF on polymer + water at high Pand T"
**Summary**

I run a simulation with 200 molecules of water and 1 25-monomer-long chain of PH3B. I use ReaxFF potential with parameters from Monti et al. (2013). I start at 300K and 1atm and then increase to 1000K and 100 atm. After stabilization, the simulation runs fine at the latter T and P for 450,000 steps and then breaks giving me a "Segmentational fault". There is no big change in energy, t

[2020-04-21 16:36] stanmoore1 commented on #2012
You could try the Kokkos version. It is more robust in memory.

[2020-04-21 16:41] akohlmey commented on #2012
Thanks for the report, but we have no resources and no time to debug simulations that require very many steps until they crash. You either need to find a way to trigger the crash reliably and quickly, or need to try some workarounds and hope they resolve the issue.

First thing to try out is always to use the very latest LAMMPS version (in this case either the latest stable release 3 March 2020 or

[2020-04-21 16:52] vincent-dufourdecieux commented on #2012
Hi,

Thanks for the quick answer ! I'll try new version of LAMMPS and try to use Kokkos or change the mince and safezone parameters and I will let you know.

[2020-04-22 13:12] mkanski commented on #2011
Thanks for your response. I tried `dump_modify every`, but the result was unsatisfying. However, I think I have found a solution. Please see the snippet below, which should be placed at the beginning of Output::write() function: https://github.com/lammps/lammps/blob/0711232e5b31fcf727803146636816b234283f8d/src/output.cpp#L298

This is only a proof of concept, but as far as I see it works. The idea

[2020-04-22 13:31] akohlmey commented on #2011
This looks quite hack-ish to me. I would be leaning toward not including this kind of change in the regular LAMMPS distribution. But that decision is ultimately in the hands of @sjplimp , so he should let you know what he thinks about this or whether he has a suggestion for an alternative.

Personally, I think that when frequency of fix dt/reset and the dump frequency are aligned, using dump_modif

[2020-04-22 13:52] mkanski commented on #2011
I understand. It does look hackish. Normally, my dumps are written every 100 fs, a timestep is 0.05-0.2 fs and dt/reset is invoked every timestep, so `dump_modify every` is not really a viable option.

[2020-04-22 14:01] akohlmey commented on #2011
How about you implement this as a derived class?
Call the dump style custom/time (and atom/time or cfg/time or xyz/time) and then do not offer the option to set the dump frequency, but instead a time delta. Internally, the dump would be called on every step, but it would skip creating output unless the simulation time would conform to some rule, e.g. within epsilon of the next time or over the nex

[2020-04-22 14:05] akohlmey commented on #2011
You may even be able to support the dump_modify every option, by changing its meaning to be the time of the next dump instead of the step number.

[2020-04-22 15:16] mkanski commented on #2011
This looks promising. I'll need a few days, but I think I can do it.

[2020-04-23 07:28] matteoeghirotta opened #2017 "[BUG] Gay-Berne pair style does not honour special-bonds in the GPU package"
**Summary**

Pair style Gay-Berne in the GPU package computes the interactions and updates the relevant accumulators (energy, forces and torques) for connected pairs, even when told not to do so by means of the special_bonds directive.

**LAMMPS Version and Platform**

The problem was detected with LAMMPS version 3 March 2020, running on debian 9 and ubuntu 18.04 Linux, x86_64 architecture.

**Exp

[2020-04-23 23:14] jewettaij commented on #2017
Hi Trung.  In case you are curious, Matteo Ricci and Otello Roscioni developed "bond_style ellipsoid" which (as you might have guessed) will allow many people to simulate molecules containing ellipsoids bonded together.  Hopefully many people will use this cool new feature.

(Thanks again in advance for maintaining LAMMPS code.  We are using fix rigid/small and package GPU in some of our work.  Th

[2020-04-23 23:19] jewettaij commented on #2017
I forgot to include the [link](https://pubs.rsc.org/en/content/articlelanding/2019/cp/c9cp04120f#!divAbstract).

[2020-04-24 14:06] akohlmey opened #2020 "[Feature Request] Refactor LAMMPS Fortran interface, add unit tests for interfaces"
**Summary**

LAMMPS currently ships with 3 different interfaces to calling LAMMPS from fortran, but none of them is actively maintained and they are broken to different degrees. This is a proposal to
provide a fully supported fortran interface and integrate any required additional C code into
`library.h` and `library.cpp` directly, so the interface will be only a single file `lammps.f90` providing

[2020-04-24 14:48] ndtrung81 commented on #2017
@matteoeghirotta thanks for reporting this issue and for sharing the input deck. I can reproduce the issue and will try to resolve it.
@jewettaij thanks for letting me know :-) FYI, fix rigid/small is done by @sjplimp

[2020-04-24 21:44] #1982 closed

[2020-04-24 21:44] #2009 closed

[2020-04-25 15:43] ndtrung81 commented on #2017
@matteoeghirotta please check out the above PR #2026 to see if the changes resolve the issue you observed. Thanks again for reporting it!

[2020-04-25 17:37] jibril-b-coulibaly opened #2028 "[BUG] Build with Win4MPI fails on Windows"
**Summary**

I am building LAMMPS with MPI on Windows 10 using minGW as follows:

`cmake -C ../cmake/presets/most.cmake -C ../cmake/presets/nolib.cmake  -D BUILD_MPI=yes -D LAMMPS_MACHINE=mpi -D CMAKE_INSTALL_PREFIX=.. ../cmake -G "MinGW Makefiles"`

When I run `make`, the compilation fails when trying to link to lmp_mpi.exe with a slew of  MPI related errors such as:
`liblammps_mpi.a(fix_viscosit

[2020-04-25 19:08] junghans commented on #2028
Can you tried this patch:
[code]

[2020-04-25 21:19] jibril-b-coulibaly commented on #2028
I have tried it and got the same issue. The `MPI_FOUND` variable was empty, I assume the block of code before does not reach `find_package(MPI)`.

The following addition to that block, on top of the patch you provide, works, but I am not sure how it breaks the cross-compilation and other things you have been working on recently.

[code]

If we fix it this way, it wouldn't solve the issue for users

[2020-04-25 22:12] akohlmey commented on #2028
The automatic downloads in the MPI4WIN.cmake script file contain only the files to compile and link binaries. To **run** the resulting binaries, it is required to download and install the MPICH2 v1.4.1 installer package separately.  http://packages.lammps.org/windows.html
This is in part for historical reasons as previously compiled and distributed LAMMPS binaries for windows required that, too, a

[2020-04-26 02:18] akohlmey commented on #2028
@jibril-b-coulibaly @junghans I've updated the handling of MPI detection by making this dependent now on cross-compiling and thus no longer assuming that building for Windows means cross-compiling in PR #2023. Hopefully, that will resolve the issue. It works for native Linux compiles and cross-compiling on Fedora.

[2020-04-26 02:26] jibril-b-coulibaly commented on #2028
Thank you for the precious and informed details, and for making this change.

I forgot how I initially turned to use MS-MPI in my workflow but I recalled having issues with installing MPICH2 or building LAMMPS with it. Running [these downloads](https://www.microsoft.com/en-us/download/details.aspx?id=57467) installs an `mpiexec.exe` executable and the includes and static libraries found by CMake a

[2020-04-26 02:52] akohlmey commented on #2028
The MPICH2-1.4.1 installer has a flaw as it does not update PATH and related settings. For the pre-compiled packages we fix this in the installer script. https://github.com/lammps/lammps-packages/blob/master/mingw-cross/installer/lammps.nsis

That does not really touch the problem. The major issue is not so much compiling MPI, but having `mpiexec` or `mpirun` launch (local and remote) processes on

[2020-04-26 16:13] ellio167 opened #2029 "[BUG] CMAKE v3.10 compatibility"
**Summary**

There are bugs/issues with CMAKE v3.10 that the recent updates to the LAMMPS cmake build system do not account for.  If v3.10 compatibility is really desired, fixes and testing with cmake 3.10 should be performed.

**LAMMPS Version and Platform**

Tested with current master (72ff0dd) and CMAKE v3.10.3 on both openSUSE leap and macOS.

**Expected Behavior**

`cmake -DPKG_KIM=ON ../cmak

[2020-04-26 17:06] ellio167 commented on #2029
@junghans There are probably other interactions that may cause trouble.  I guess I should have tested the previous PR more fully, myself; sorry.

We're also seeing these behaviors:

- If you do `-DPKG_KIM=on -DPKG_KOKKOS=on`, it will fail:

[code]

I think this is probably caused by the various settings that are performed by the kim-api cmake config file.  This file was designed to be used with th

[2020-04-26 17:54] junghans commented on #2029
Re: `CURL::libcurl`, it seems that got added in cmake-3.12, so I will add a workaround.

Re: the `CMAKE_CXX_STANDARD` I guess the problem is that it is set in kim-api's config file (https://github.com/openkim/kim-api/blob/master/cmake/config.cmake.in#L94), which is bad.

So we should just revert #2018.

[2020-04-26 18:04] junghans commented on #2029
@ellio167 can you test #2030? I added a fix for the missing `CURL::libcurl` as well.

[2020-04-27 08:52] matteoeghirotta commented on #2017
@ndtrung81 I'm sorry I mistakenly mentioned the command:
lmp_3Mar20-gpu -pk gpu 1 neigh **no** -sf gpu -in ellipsoid_sp.in
above, it should instead have been
lmp_3Mar20-gpu -pk gpu 1 neigh **yes** -sf gpu -in ellipsoid_sp.in

In fact, the first command produce correct results, while the second results in high energies.
In other words, it seems the problem is related to having the neighbor list com

[2020-04-27 09:39] matteoeghirotta commented on #2017
@ndtrung81 , sorry for the mess I made, your modifications indeed fixes the issue for the on gpu neighbor list

[2020-04-27 10:30] MatKie opened #2031 "[BUG] Working of hybrid/overlay command dependent on ordering of sub-styles"
**Summary**

Hello everyone,

I'm trying to simulate a fluid electrolyte mixture with a mie potential and long range corrections for dispersion and electrostatics. For this I call the hybrid/overlay style with the sub-styles: mie/cut (ps1), coul/cut (ps2) and lj/long/coul/long (ps3) with lj and coul flag long (setting pair_modify compute no for this one).
This works only if I call the sub-styles i

[2020-04-27 11:23] akohlmey commented on #2031
@MatKie I will look into resolving the inconsistent behavior (LAMMPS should consistently refuse your calculation), but your model itself is bogus.

The long-range correction has **two** parts: 1) you have an `erfc()` based damping function in real space, so the interactions are smoothly reduced to zero at the cutoff, 2) you do a lattice sum in reciprocal space, which now also has to compensate for

[2020-04-27 11:58] MatKie commented on #2031
Thank you for the detailed answer, I now see where the problem with the model is.
I guess to get real long range corrections for Mie fluids I would need to adapt the lj/long/coul/long pair style, which I might look into in the future (obviously after learning a lot more about Ewald sums).

[2020-04-27 12:05] akohlmey commented on #2031
This would be more effort than you might expect. The LJ long-range correction is implemented only for the r**6 term. For any other power, you would have to implement it all over. Not sure, whether it is worth the effort.  Add to that, that the corresponding pair styles were written by a person with a unique programming style, that makes them hard to read for pretty much everybody else. It has been

[2020-04-27 12:10] akohlmey commented on #2031
Commit bc3a1187ae913d75a129306c2a496e5d4edac296 in PR #2023 should now trigger the non-matching coulomb styles error in both cases.

[2020-04-27 20:15] #2017 closed

[2020-04-27 20:16] #2029 closed

[2020-04-28 01:37] erny123 opened #2037 "MANYBODY package which is not enabled in this LAMMPS binary"
**Summary**

Trying to run the following tutorial:
[https://icme.hpc.msstate.edu/mediawiki/index.php/LAMMPS_Tutorial_1](https://icme.hpc.msstate.edu/mediawiki/index.php/LAMMPS_Tutorial_1)
When I run it using the following:
`mpirun -np 4 $LDir/lmp_mpi -in calc_fcc.in`

It fails and output shown below. In summary:
`ERROR: Unrecognized pair style 'eam/alloy' is part of the MANYBODY package which is n

[2020-04-28 01:42] akohlmey commented on #2037
The LAMMPS manual has *VERY* detailed instructions on how to compile LAMMPS (the entire chapter 3) and how to include optional packages. Please see https://lammps.sandia.gov/doc/Build_package.html
Examples given there even explicitly show how to include the MANYBODY package.

[2020-04-28 01:42] #2037 closed

[2020-04-28 01:45] akohlmey commented on #2037
I also find it surprising how you can compile three weeks ago a version that is 12 days old, unless you have discovered the secret of time travel. In that case, please share that knowledge.

[2020-04-28 06:29] pranjal-s opened #2038 "[BUG] USER-MESODPD rename potentially incomplete"
**Summary**

The rename of the USER-MESO package to USER-MESODPD (at https://github.com/lammps/lammps/pull/1924) is potentially incomplete.

**LAMMPS Version and Platform**

LAMMPS Version: LAMMPS (3 Mar 2020)
Platform: Linux
LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID:	RedH

[2020-04-28 06:44] Flamefire opened #2039 "[Feature Request] Add support for Atomistica"
**Summary**

The CMakeLists should provide support for Atomistica. This requires only 2 changes:
- Linking `libatomistica` to the `lmp` or `lammps` target
- Setting the linker language to fortran

Alternatively: Provide an imported target (best via a FindAtomistica.cmake) for the atomisitice library which has the language set to Fortran and hope that CMake chooses that over the C++ linker (not 100

[2020-04-28 08:40] akohlmey commented on #2038
The error message is correct and your compilation steps are incorrect for the version of LAMMPS you are compiling. The rename of the package was done **after** the release of the 3 March 2020 (stable) version, so you must request the USER-MESO package as indicated. https://github.com/lammps/lammps/releases/tag/patch_19Mar2020

[2020-04-28 08:40] #2038 closed

[2020-04-28 08:46] akohlmey commented on #2039
Sorry, but you are barking up the wrong tree here. The burden to provide a suitable integration into LAMMPS is the job of the developers of Atomistica. There are numerous examples of directly supported interfaces to "external" packages, e.g  KIM, QUIP, LATTE, USER-PLUMED, USER-SCAFACOS etc. which have only the code required to integrate the external library into LAMMPS included in LAMMPS as a pack

[2020-04-28 08:46] #2039 closed

[2020-04-28 15:14] erny123 commented on #2037
akohmey,
I'm sorry for offending you.
One thing isn't clear to me. What packages are included with the command:
`cmake --build .`

Also, it says:
[https://lammps.sandia.gov/doc/Build_cmake.html](https://lammps.sandia.gov/doc/Build_cmake.html)

Is
`make -j N`
The same as the above cmake command? Can they be used interchangeably?

Last, I installed and compiled LAMMPS from [https://lammps.sandia.gov

[2020-04-28 15:17] akohlmey commented on #2037
These are questions and this is a discussion that belongs to the lammps-users mailing list and not here as they have nothing to do with LAMMPS development but are user issues.

[2020-04-28 15:52] #2028 closed

[2020-04-28 15:52] #2031 closed

[2020-04-28 16:21] djygithub opened #2040 "[BUG] ERROR: Insufficient memory on accelerator (src/GPU/gpu_extra.h:38) melt 20 million atoms"
**Summary**

Similar but older issue from mailing list https://sourceforge.net/p/lammps/mailman/message/31967475/

Memory failures on V100/32GB for lammps 20 million atom test, also started failing for 10 million atoms. This is peculiar; the 20 million atom test worked successfully twice, then started to fail. Cold reboot, resetting the V100 does not clear up the issue, building with make versus c

[2020-04-28 16:27] akohlmey commented on #2040
can you provide the the GPU memory usage on the machine you are running on by providing the output of `nvidia-smi` here?

[2020-04-28 16:29] djygithub commented on #2040
yes i also updated the original comment thanks
[code]

[2020-04-28 16:30] akohlmey commented on #2040
can you try compiling without using CUDPP (setting CUDPP_OPT to empty with the conventional build in the lib/gpu folder, or by using `-DCUDPP_OPT=off` when using CMake?

[2020-04-28 16:31] djygithub commented on #2040
yes i will try these.

[2020-04-28 16:38] rbberger commented on #2040
Please also include the output of the CMake configuration/compilation.

[2020-04-28 18:23] akohlmey commented on #2040
OK, I just made a quick check on a machine with Tesla V100-SXM2-16GB GPUs that I have access to.
The 31/32 GB number is the available GPU RAM vs the total. When running a binary compiled with mixed precision for the I can run up to 6M atoms at which point the process occupies about 9GB RAM on the GPU. anything larger fails.
when I used 4 GPUs instead, I can run the 20M input unchanged and the amou

[2020-04-28 18:42] stanmoore1 commented on #2040
You can greatly reduce memory use (at the expense of some performance) if you reduce the neighbor skin. In the extreme:
[code]

I'm also working on getting the Kokkos package to support using UVM to automatically "spill" out of GPU memory into CPU memory via page faulting (again at the expense of some performance), which would allow one to use the 100's of GB of CPU memory.

[2020-04-28 19:22] ellio167 opened #2042 "Documentation server occassionally produces SSL error"
**Summary**

When loading LAMMPS documentation form the web, I receive web-browser errors indicating that the site is insecure.

**LAMMPS Version and Platform**

N/A

**Details**

[code]

[2020-04-28 19:28] akohlmey commented on #2042
@ellio167 you may consider using https://docs.lammps.org as backup. This one is currently following the changes in PR #1970 but will be linked to the "master" branch (and be updated automatically after every merge) as soon as that PR is merged to master (if you have some comments and suggestions for the new "programmer guide" section, feel free to add them to #1970
 ;-)).

[2020-04-28 19:37] ellio167 commented on #2042
In fact, I was just using the first link that comes up via google....

[2020-04-28 20:24] sjplimp commented on #2042
@rbberger I don't know what to do about this.

[2020-04-28 20:30] rbberger commented on #2042
@sjplimp This is something on the Sandia side. You should forward this to your web admins.

[2020-04-28 20:47] sjplimp commented on #2042
Do you know if it's a forever problem, or just now?  They've been having issues with the Sandia server (www.sandia.gov, which hosts then LAMMPS webpage) for the last week or two.

[2020-04-28 20:49] ellio167 commented on #2042
I've seen this on-and-off now for (it seems like) a couple of months...

[2020-04-28 20:57] akohlmey commented on #2042
This is likely an issue with the frontend/backend web server setup where some servers are running a different SSL software stack. Recently some SSL encryption methods have been removed from web browsers and tools like wget or curl or rather the libraries they depend on. which can then lead to handshake issues when being connected to the wrong server.

Also the sandia web servers are obviously thro

[2020-04-28 22:16] djygithub commented on #2040
Built as requested, same error I have attched the cmake, make, and execution output.

[lammpsv100nocudppbuild.melt20m.execution.txt](https://github.com/lammps/lammps/files/4548833/lammpsv100nocudppbuild.melt20m.execution.txt)
``` cmake -D PKG_GPU=yes -D GPU_API=cuda -D GPU_PREC=double -D GPU_ARCH=sm_70  -D CUDPP_OPT=off  ../cmake ```

FWIW I ran with kokkos, uses less GPU memory, 20 million atoms

[2020-04-28 23:00] djygithub commented on #2040
https://github.com/stanmoore1 the UVM idea is intriguing, I imagine the overflow would go to HBM memory on the CPU?  It will be interesting to see the relative performance DRAM versus HBM.

[2020-04-29 13:56] akohlmey commented on #2040
Since there is nothing planned to change the behavior of the GPU package I will close this issue now. It won't be locked, so the discussion can continue. We may add a note about memory usage on the GPU and that it can differ due to driver and accelerator package.

[2020-04-29 13:56] #2040 closed

[2020-04-29 13:57] akohlmey commented on #2042
Since this is an issue with Sandia's web hosting and not a LAMMPS issue I will close this now. Once we have docs.lammps.org linked to the master branch, we can add notes to the manual and the LAMMPS website at Sandia to list this as an alternate site to look up LAMMPS documentation online.

[2020-04-29 13:57] #2042 closed

[2020-04-29 13:59] akohlmey commented on #2012
@vincent-dufourdecieux do you have any updates for us on this issue? or a way to more quickly and with few resources reproduce a failure?

[2020-04-29 15:28] vincent-dufourdecieux commented on #2012
Hi,

I was about to give an update, thanks for the reminder !
So I tried:
- To use the last stable version of LAMMPS (3 March 2020) --> It didn't change anything
- To increase mincap (up to 4) and safe zone (up to 400) --> It worked a bit, but I am trying to reach very high pressure, so this solved it for pressure  100 atm, 200 atm, but when I tried 1000 atm, it didn't work. I don't know how high

[2020-04-29 15:39] akohlmey commented on #2012
This all looks like this is an intrinsic issue of a very high density. To address that would require expertise on the low-level implementation of the code. I am assigning this issue now to @hasanmetin in the hope that he may have some suggestion. Or as an alternative, you may look his contact info up from the source code or the LAMMPS webpage and send an e-mail directly.

A related question is: do

[2020-04-29 21:34] stanmoore1 commented on #2012
How long does this run for and how many CPU cores? Can you try dumping out a data or restart file right before it crashes, then load it back in to see if you can get a short reproducer?

[2020-04-30 12:33] mkanski commented on #2012
Try increasing MIN_HBONDS to something like 200 and recompile LAMMPS. It solved the segmentation fault problem for me in a similar case.
https://github.com/lammps/lammps/blob/5c2f0ecc65b2187898940e746bd47b87641213a5/src/USER-REAXC/reaxc_defs.h#L94

You can increase `mincap` and `safezone` as far as you have enough RAM for it. Also, the value of `hbond_cutoff` in `lmp_control` is much larger than i

[2020-04-30 15:04] vincent-dufourdecieux commented on #2012
Thanks for all your suggestions !
@akohlmey : I will @hasanmetin ! And in terms of pressure I saw one article where they mention going to pressure around 1000 atm for these ReaxFF parameters, but they don't use LAMMPS. And those parameters have been used for similar systems with polymers in water.

@stanmoore1 : I will try @mkanski suggestions and if it doesn't work, I will do as you suggest. Righ

[2020-04-30 15:06] stanmoore1 commented on #2012
Kokkos doesn't use this, so if it is still segfaulting with Kokkos the issue is probably somewhere else.

[2020-04-30 15:12] stanmoore1 commented on #2012
This is what I would do:

1. Make sure your Makefile has `-g` (debug symbols enabled)
2. Compile with clang or gcc and add `-fsanitize=address` to both compile and link flags.

This should give a detailed stack trace on segfault.

[2020-04-30 15:40] mkanski commented on #2012
@vincent-dufourdecieux
You use 10A as the hydrogen bond cutoff instead of standard 7.5. This will lead to much more Hbond interactions, especially in a compressed state.

Two other things you can try:
1. Use `fix dt/reset` instead of a static timestep.
2. Check if a neighbor list has to be rebuilt at every step, i.e `neigh_modify every 1 delay 0 check yes` It's computationally cheap, so the perfor

[2020-04-30 20:09] stanmoore1 opened #2050 "[BUG] Out of bounds index in compute coord/atom"
**Summary**

Pretty sure there is a bug in `compute coord/atom`.

If the optional flags in `compute orientorder/atom` are all zero then `ncol = 5` by default https://github.com/lammps/lammps/blob/master/src/compute_orientorder_atom.cpp#L158:

[code]

Then this code in `compute coord/atom` is out of bounds here: https://github.com/lammps/lammps/blob/master/src/compute_coord_atom.cpp#L310

[code]

@

[2020-04-30 20:44] athomps commented on #2050
I would not call this a bug. It's a feature that is documented here:
compute_orientorder_atom.html
"compute must invoke its components option to calculate components of the Ybar_lm vector"
There is also an error check in init(), but it is unreliable, because it checks iqlcomp instead of qlcompflag.

[2020-05-01 04:05] stanmoore1 commented on #2050
@athomps got it thanks

[2020-05-01 06:10] conandolley103 opened #2052 "ERROR: Unrecognized atom style 'full' is part of the MOLECULE package which is not enabled in this LAMMPS binary"
Hi lammps, I got the error unrecognized atom_style full when I run lmp_mpi for lammps-3Mar20 on Linux system. I already installed make yes-MOLECULE package, but still got the error. Can you help me to figure out where file to fix it? Thank you very much.

[2020-05-01 07:52] mkanski commented on #2052
You need to recompile LAMMPS.

[2020-05-01 08:01] conandolley103 commented on #2052
Thank you very much for your reply. I will do it as your advice.

[2020-05-01 09:55] #2052 closed

[2020-05-01 16:09] vincent-dufourdecieux commented on #2012
Thanks to all your suggestions !
When I don't use Kokkos, and that I set the hbond_cutoff to 7.5 and the HMINBONDS to 200, it works ! I tried pressure up to 2000 atm and it works fine ! I am not sure yet how high I need to go for pressure, so I'll see when I keep on increasing it.
However, with Kokkos, I changed the hbond_cutoff to 7.5 (and no change to HMINBONDS since @stanmoore1 says it is usele

[2020-05-01 19:33] stanmoore1 commented on #2040
So far I haven't been able to get LAMMPS to use UVM to spill from GPU memory into CPU memory--it is crashing in the neighbor list build but on my to-do list to fix. I have spillage working in a different code  so I know it can work.

[2020-05-01 23:36] #2050 closed

[2020-05-02 03:30] akohlmey commented on #2012
FYI. Just submitted a pull request that makes MIN_HBONDS a parameter that can be chose at runtime, same as MIN_CAP.

[2020-05-02 06:43] yurivict opened #2056 "[BUG] clang-9 compiler: warning: bool literal returned from 'main'"
[code]

[2020-05-02 06:46] yurivict opened #2057 "[BUG] MISC package is broken: error: use of undeclared identifier 'caddr_t'"
OS: FreeBSD 12.1
clang-9
Version: patch_15Apr2020

[code]

[2020-05-02 06:48] yurivict opened #2058 "[BUG] warning: format specifies type 'unsigned long *' but the argument has type 'uint_fast32_t *'"
OS: FreeBSD 12.1
clang-9
patch_15Apr2020

[code]

[2020-05-02 06:52] yurivict opened #2059 "[BUG] PKG_KIM is broken: error: reinterpret_cast from 'nullptr_t' to 'double *const' is not allowed"
OS: FreeBSD 12.1
clang-9
Version: patch_15Apr2020

[code]

[2020-05-02 07:58] yurivict opened #2060 "[BUG] cslib_wrap.h:32:36: error: unknown type name 'int64_t'; did you mean 'uint64_t'?"
cslib_wrap.h seems to be missing ```#include <cstdint>```.

OS: FreeBSD 12.1
clang-9
2020.04.15

[2020-05-02 10:14] akohlmey commented on #2060
already fixed in 437967bfd83f8078e0f34d6cfdb617457ee3b0f9

[2020-05-02 10:14] #2060 closed

[2020-05-02 10:16] akohlmey commented on #2056
This is an issue of the KIM-API library, not LAMMPS.

[2020-05-02 10:16] #2056 closed

[2020-05-02 10:17] akohlmey commented on #2058
This is an issue of the MSGC library, not LAMMPS.

[2020-05-02 10:17] #2058 closed

[2020-05-02 18:06] yurivict opened #2061 "[BUG] USER-MISC is broken: error: no matching function for call to 'accept'"
OS: FreeBSD 12.1
Compiler: clang-9

[code]

[code]

[2020-05-03 03:24] yurivict opened #2062 "[BUG] fatal error: 'alloca.h' file not found"
[code]

OS: FreeBSD 12.1
Compiler: clang-9

On all BSDs the function ```alloca(3)``` is declared in ```stdlib.h```.

[2020-05-03 14:00] ellio167 commented on #2056
Fixed in https://github.com/openkim/kim-api/commit/790053e8105218e813d57914bdf4c999cd59fb9f and to be included in the next release

[2020-05-03 23:01] yurivict opened #2065 "[BUG] Breaks when BUILD_MPI=OFF: undefined reference to symbol 'ompi_mpi_comm_world'"
OS: FreeBSD 12.1
Version: patch_15Apr2020 (with some patches from https://github.com/lammps/lammps/pull/2051)
Compiler: clang-9

[code]

All cmake arguments:
[code]

[2020-05-04 00:19] akohlmey commented on #2065
This is too convoluted and complex to even try and reproduce it. Please find the minimum set of configuration options that reproduces the linker failure. And please test with full branch from PR #2051  `git clone --depth=1 -b collected-small-changes https://github.com/akohlmey/lammps.git`.  There have been numerous improvements since April 15th.

[2020-05-04 02:28] yurivict commented on #2065
If you would just use the same set of options in the cmake arguments line, wouldn't this easily reproduce the problem?

[2020-05-04 02:53] junghans commented on #2065
Could be any of the packages that depend on MPI itself.

[2020-05-04 03:16] akohlmey commented on #2065
It is not just about recreating the situation, but about narrowing down, which specific combination of settings causes it.  I don't use any *BSD machines normally and only have a tiny FreeBSD virtual machine to try out and debug.  Debugging is massively slowed down.  Also, I need confirmation that this is not an issue that was already corrected (there is a good chance for that).  I am happy to fix

[2020-05-04 04:18] yurivict commented on #2065
Ok, maybe I would wait until after the next patch release when all patched will be merged.

[2020-05-04 12:09] akohlmey commented on #2065
Ok, then I will close this one for now. Please re-open in case the issue persists after the next patch release (possibly tomorrow) after narrowing down which specific combination of options are causing this unwanted behavior. Thanks.

[2020-05-04 12:09] #2065 closed

[2020-05-04 14:06] #2057 closed

[2020-05-04 14:06] #2059 closed

[2020-05-04 14:06] #2061 closed

[2020-05-04 14:06] #2062 closed

[2020-05-04 14:28] #2012 closed

[2020-05-04 18:44] yurivict opened #2067 "[BUG] Links to a static plumed library when a shared one is available"
OS: FreeBSD 12.1
clang-9

The link line has /usr/local/lib/libplumed.a while ```/usr/local/lib/libplumed.so``` is available.

pkg-config returns a different string:
[code]
which should by default link to a shared library when it is available.

Linking to static libraries makes it more difficult to track dependencies, and it also causes binaries to be larger due to code duplication.

[2020-05-04 19:01] akohlmey commented on #2067
The linkage mode of the plumed library is a compile time choice. If you want shared linkage, please set -D PLUMED_MODE=shared. This defaults to static linkage because the typical deployment of LAMMPS is a self-compiled executable of an individual researcher, *NOT* the packaging and system-wide installation.

[2020-05-04 19:01] #2067 closed

[2020-05-06 18:27] fmoreno84 opened #2072 "[BUG] Serial LAMMPS fails in lammps.py when mpi4py is installed"
Hello,

I have compiled LAMMPS as a serial shared library in order to load it from python3,

`make serial mode=shlib`

If the mpi4py library is installed, the following python3 code segfaults,

[code]

[code]

I've found a workaround:
Comment/remove line 111 (last stable release, 3 Mar 2020) in lammps.py:

[code]
I don't know if it breaks something else.

Thank you.

[2020-05-06 18:41] akohlmey commented on #2072
This sounds like there is an issue with your mpi4py installation and not with LAMMPS itself.
If this segfaults from importing mpi4py where you indicate it does, the LAMMPS shared library has not even been loaded into python yet. So it cannot make any difference how LAMMPS was compiled. Consequently, I cannot reproduce the situation. For me loading a serial LAMMPS library with mpi4py present is not

[2020-05-06 19:31] fmoreno84 commented on #2072
Sorry, I was not so clear.

Commenting line 111 prevents the segfault (I have no idea why, just trial and error), but the line that actually segfaults is further down (268):
`self.lib.lammps_open_no_mpi(0,None,byref(self.lmp))`

My mpi4py installation comes from the Debian package python3-mpi4py. I can reproduce the segfault on Debian 10 (buster) and Debian 11 (bullseye) on two different machines

[2020-05-06 21:18] akohlmey commented on #2072
Before I will look into it, please try again with the latest LAMMPS patch release (which was posted yesterday). Please note that the Python code in `lammps.py` currently has no knowledge whether the loaded LAMMPS library has been compiled with MPI or not, so any attempt to implement some automatic workaround will require changes in the LAMMPS library interface and the python module.

[2020-05-08 08:02] zhucongx opened #2075 "[BUG] "lmptype.h" is not included in header files after using Cmake to compile LAMMPS as library"
**Summary**

After using Cmake to compile the LAMMPS as a static lib, "lmptype.h" is not installed to the include folder, which causes link error when users including other header files like "atom.h" or "pointers.h".

**LAMMPS Version and Platform**

LAMMPS version 2020-03-03.
Operating system macOS Catalina

**Expected Behavior**
I used the code below to compile the LAMMPS as a static lib.
[code]

[2020-05-08 11:52] junghans commented on #2075
This got added in https://github.com/lammps/lammps/commit/897f5b19be4a321bb2a400841e89bdffa2ddf182, please use the latest patch release.

[2020-05-08 11:52] #2075 closed

[2020-05-09 02:35] akohlmey commented on #2072
@fmoreno84

This is to confirm that the combination of serial LAMMPS library and mpi4py does work as expected. This is on a Fedora 31 system. I first compiled LAMMPS in serial with shared library and then did "make install-python" to install library and module into the standard user location.

[code]

Then I use this little test program in python and run it with "mpirun -np 2 testme.py"
[code]
thi

[2020-05-09 02:35] #2072 closed

[2020-05-09 05:07] fmoreno84 commented on #2072
@akohlmey

I tried your code with the last git version of LAMMPS and I'm still getting a segfault.

Maybe there is something wrong with mpi4py on Debian, but I think the point is that I'm not using mpi4py in my code, it's merely installed. If I uninstall mpi4py my code works as expected. I think LAMMPS shouldn't crash trying to load an (in my case) unneeded library.

I'm sticking with my workaroun

[2020-05-09 21:28] akohlmey commented on #2072
If you look carefully at the stack trace you are getting, then you should see that this segfault is coming from a LAMMPS library binary in `/usr/local/lib/python3.8/dist-packages/liblammps.so`, which is calling out to an MPI library in `/usr/lib/x86_64-linux-gnu/libmpi.so.40`. That means, that you are either not loading the LAMMPS shared library that you think you do (e.g. because you didn't set u

[2020-05-09 21:47] junghans opened #2078 "[BUG]destbufferoverflow in pair_bop.cpp:5308:22"
openSUSE found the following error:
[code]

[2020-05-09 22:00] junghans commented on #2078
Actually it had a couple more warnings, too, but that was the only error:
[code]

[2020-05-10 00:58] akohlmey commented on #2078
This looks like a false positive.  The call at line 5308 is:
[code]
and the array `s` is dimensioned to 'MAXLINE' in line 5026. fgets reads at most one byte less than MAXLINE and appends a '\0`, so I don't see where this is writing beyond the buffer.

[2020-05-10 03:03] junghans commented on #2078
It is gcc-7.4.0, build log [here](https://github.com/lammps/lammps/files/4605070/x86_64_build.txt)

[2020-05-10 03:07] junghans commented on #2078
gcc-9.3.1 has the same warning.

[2020-05-10 04:43] akohlmey commented on #2078
This is not a bug in the code, but it is due to openSUSE's additional compiler settings. The warning goes away, if you change
[code]
to
[code]
The reason is that using `-D_FORTIFY_SOURCE` requires compiling with optimization, but that macro turns optimization and variable tracking off for this function. If you turn off optimization globally, you should see a warning from `/usr/include/features.h`

[2020-05-10 04:43] #2078 closed

[2020-05-10 04:50] akohlmey commented on #2078
Here is a short demonstration. It print the warning for only one function as soon as you compile with `-O` and warn about enabling optimization without.
[code]

[2020-05-10 13:00] junghans commented on #2078
Thanks for the explaination!

One last question, why are we having `_noopt` on `PairBOP::read_table()`?

[2020-05-10 13:45] akohlmey commented on #2078
Because this (and several other functions) put a undue strain on compilers with high optimization and would cause confusing warnings and needless delays in compilation, since there is nothing there that needs optimizing.

[2020-05-10 16:59] junghans commented on #2078
I added `sed -i 's/_noopt//' src/KSPACE/pppm_disp.cpp src/MANYBODY/pair_bop.cpp src/force.cpp src/lammps.cpp src/modify.cpp` to the openSUSE spec file and gcc seems to eat it without problem from SLE 15 SP2 over leap 15.[12] to Tumbleweed.

Can we add an option to CMake that is off by default to disable `_noopt`?

[2020-05-10 17:17] junghans opened #2079 "[BUG] OpenCL build fails on openSUSE ppc64le"
[code]

Build log [here](https://github.com/lammps/lammps/files/4606255/build_ppc64le.txt)

I haven't really fully understood where the error comes from, but only ppc64le is affected all other arches are fine.

[2020-05-11 02:56] junghans commented on #2078
I like afd769314b67d9614e70d80c4e8fade41b367899

[2020-05-11 13:56] rbberger opened #2081 "Regression in USER-OMP: allocations too small"
**Summary**

The new AtomVec implementation creates a regression with the USER-OMP package. It assumes `comm->nthreads` does not change. In some cases (e.g. no atom style is set), `FixOMP` sets `comm->nthreads` after `AtomVec` is created.

[code]
In this case, AtomVec will set its local `nthreads` to 1 and FixOMP will change `comm->nthreads` to 4. All `AtomVec::grow` executions will continue with

[2020-05-11 14:18] akohlmey commented on #2081
This is something that resonates with a habit in programming LAMMPS classes that has been bothering me for a long time: there are too many variables defined inside LAMMPS classes that need not be there because they are redundant or are only used locally in a single function. `nthreads` is just one of them, there are others (like `me` or `natoms` for example).

And that touches some other issue: so

[2020-05-11 14:49] akohlmey commented on #2081
After looking at the code, the situation is a bit more complex, as there is also the "threads" array with entries that are either 1 or the number of threads.

So the solution has to be expanded beyond using `comm->nthreads` instead of `nthreads`.
I think the most straightforward solution would be to make `threads` an array of type `bool`
and then have locally `int nthreads = comm->nthreads` and in

[2020-05-11 14:59] akohlmey commented on #2081
The first option is now implemented in PR #2080

[2020-05-11 17:36] junghans commented on #2078
On a second thought, I would still like a mechanism that allows to disable `_noopt` completely independently if `-D_FORTIFY_SOURCE` is set or not.

[2020-05-11 17:43] akohlmey commented on #2078
but i don't.
what is implemented in PR #2080 is as far as i am willing to go to accommodate a flaw outside of LAMMPS.

[2020-05-11 17:50] junghans commented on #2078
Your call!

Have you seen any significant compile time degradation using a recent gcc like 9 or 10 on the 6 places where we use `_noopt`?

[2020-05-11 17:58] akohlmey commented on #2078
Compilation time is only one of the issues. As far as I am concerned, there is nothing more to say on this topic.

[2020-05-11 21:17] stanmoore1 commented on #2040
FYI, I fixed the issue with UVM spillage in the Kokkos package (it was actually a 32-bit integer overflowing), see https://github.com/lammps/lammps/pull/2082. So now problem size with Kokkos on NVIDIA V100 GPUs is limited by only by the CPU memory when using UVM, though performance will be slower if spilling out of fast GPU memory.

[2020-05-12 00:38] #2081 closed

[2020-05-12 19:44] rbberger commented on #2079
Seems to be related to this: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58241
Something is defining `bool` as `__vector(4) __bool int`. Try building with gnu++11

[2020-05-12 21:18] rbberger opened #2084 "[BUG] CMAKE_TUNE_FLAGS="-fsanitize=address" doesn't work anymore"
**Summary**

Part of the compiler flags validation removes the `=`, which then fails the test and removes the flag.

**LAMMPS Version and Platform**

current master

**Expected Behavior**

Accept valid compiler flag.

**Actual Behavior**

[code]

**Steps to Reproduce**

[code]

[2020-05-12 21:37] junghans commented on #2084
[code]

[2020-05-12 21:52] junghans commented on #2084
I guess the best might be to skip the check for `-fsanitize=` on the other hand this case is so special you could just use `CMAKE_CXX_FLAGS` directly.

[2020-05-13 07:41] vikaskok opened #2085 "[Feature Request] Output forces on granular walls."
**Summary**
It would be useful to obtain forces acing on granular walls as an output of "fix wall/gran command". Currently we cannot access the forces from this fix, unlike some other fix commands, like say "fix freeze".
From documentation of fix wall/gran command: "No global or per-atom quantities are stored by this fix for access by various output commands".

**Detailed Description**
Forces acti

[2020-05-13 13:07] francesco-bongiovanni opened #2086 "[BUG] Kokkos 3.1 bug -> maybe change to 3.1.1 ?"
Hi,

I've downloaded LAMMPS version Patch_5May2020 and build it with the following command:

cmake -DCMAKE_INSTALL_PREFIX=/home/int/sam/defoort/lammps/newinstalldir -DBUILD_OMP=yes -DKokkos_ARCH_SKX=yes -DLAMMPS_MACHINE=mpi -DPKG_BODY=yes -DPKG_MANYBODY=on -DPKG_MOLECULE=on -DPKG_KSPACE=on -DPKG_RIGID=on -DPKG_MISC=on -DPKG_MC=on -DPKG_MOLECULE=on -DPKG_USER-REAXC=on -DPKG_USER-OMP=on -DPKG_KOKKOS

[2020-05-13 13:15] akohlmey commented on #2086
Kokkos 3.1.1 is included in the current master. You could try using that and apply the suggested fix, which goes on top of version 3.1.1 and report back.

[2020-05-13 13:36] junghans commented on #2079
Works!

@akohlmey @rbberger should we add in option for that in CMake? Or just ignore?

[2020-05-13 13:49] akohlmey commented on #2079
we already have too many CMake options.
Wasn't there a reason we enabled strict c++11 conformance globally?

[2020-05-13 13:59] junghans commented on #2079
We could detect ppc64le from calling `uname -m` and do it automatically.

Not all compilers support all GNU extensions.

[2020-05-13 16:56] francesco-bongiovanni commented on #2086
I did use the master version with latest  Kokkos and I still have the same error. For some odd reasons, Kokkos does not seem to get back the arch when it runs the `cuda_kernel_arch()`  function in file [Kokkos_Cuda_Instance](https://github.com/kokkos/kokkos/blob/7933c2e4b9c83a4d99101acbf2ae06a1115f50d5/core/src/Cuda/Kokkos_Cuda_Instance.cpp#L117)

I will continue to look where the issue lies and r

[2020-05-13 17:01] stanmoore1 commented on #2086
Can you give more details--what hardware you are running on?

[2020-05-13 17:13] francesco-bongiovanni commented on #2086
sure,
The GPU node is composed of  2* Xeon gold 6130 (Skylake) and  2* NVidia V100 16GB in PCie  (with cuda version 10.0.130 installed), with Intel OPA 100Gbps interconnect

[2020-05-13 17:15] stanmoore1 commented on #2086
For V100 it should be `-DKokkos_ARCH_VOLTA70` instead of `-DKokkos_ARCH_VOLTA72`

[2020-05-13 17:22] stanmoore1 commented on #2086
There are no HPC GPUs with CUDA compute capability version 7.2, see https://en.wikipedia.org/wiki/CUDA

[2020-05-14 07:50] francesco-bongiovanni commented on #2086
Well caught ! it indeed works now ! thanks a lot for spotting that out !

[2020-05-14 10:36] #2086 closed

[2020-05-14 16:29] stanmoore1 commented on #2086
Great, glad it works

[2020-05-14 17:40] rbberger commented on #2085
Looks like the docs are outdated. The implementation does support the `store_contacts` option, which defines a peratom property. Try this (not sure if I got the right indices):

[code]

[2020-05-14 21:03] sjplimp commented on #1657
I looked at these inputs and outputs and I don't understand the physical
problem.  The issue vs noissue scripts are orders of magnitude different
in length and timescales.  In particular the "issue" script has a tiny
neighbor skin and a humongous shear rate in the deformation.
Thus I'm not convinced that for the "issue" ones that
you have formulated a numerically correct model.  Please post 2 scri

[2020-05-14 21:05] sjplimp commented on #1657
Also note that in the current LAMMPS you need to put your
pair granular commands before the fix deform commands.

Also, do whatever problems you are seeing go away if
you do not use fix deform?

Steve

[2020-05-15 00:31] yurivict opened #2088 "Why is LAMMPS_EXCEPTIONS option OFF by default?"
https://github.com/lammps/lammps/blob/master/cmake/CMakeLists.txt#L195

Wouldn't it be better to enable them by default so that it would be possible to use lammps shared libs?

Thank you,
Yuri

[2020-05-15 00:36] akohlmey commented on #2088
Most people that use LAMMPS don't need (or want) that kind of behavior. You can use LAMMPS as a (shared) library just fine without. And, of course, you are free to enable it and compile LAMMPS that way you want.

[2020-05-15 01:09] yurivict commented on #2088
What are the downsides of exceptions that they don't like?

But it would terminate the user's process with ```exit(1)``` when such condition occurs. This isn't necessarily the desired behavior.

------

It seems that default (no exception) branches in the code are different every time, so it's unclear how can the user know what action to perform in case exceptions occur.

[2020-05-15 01:27] akohlmey commented on #2088
Most error conditions you cannot cleanly recover from. Keep in mind that LAMMPS is first and foremost an MPI parallel code and with exception handling enabled you get back to the calling code, but not necessarily on all MPI ranks. Thus to recover from a fatal condition you almost always have to restart the application from scratch as you need to reset the communication layer.

Also most people use

[2020-05-15 09:04] martok commented on #2088
I kinda support this request, especially for shared object targets.
Alternatively (I haven't checked out the #1970 documentation yet), just document somewhere in "Build LAMMPS as a shared library" that it's a *really* good idea to use -DLAMMPS_EXCEPTIONS? It took me quite a while to discover this even exists originally.

It doesn't really need any unusual science. "Starting over" in a library cont

[2020-05-15 09:38] akohlmey commented on #2088
that were cases i know about.

I am OK with putting a note into the documentation. But I would really only call it a good idea to have exceptions enabled when not running in parallel. I don't want to change the default behavior, as that is what it has been historically for more than a decade. I also don't want to have a different behavior depending on whether shared or static or with MPI or withou

[2020-05-15 13:32] stanmoore1 commented on #2088
I agree with @akohlmey. For normal LAMMPS use (outside of library), if one hits an error there is no way to recover. Hard errors are hard errors for a reason, otherwise they should be warnings instead. How do you recover if the simulation box blew up, everything in simulation is full of NaNs, or the user gave invalid input?

[2020-05-15 15:23] yurivict commented on #2088
If errors are unrecoverable then you should remove ```LAMMPS_EXCEPTIONS``` completely because enabling it would lead to incorrect operation.

[2020-05-15 15:42] akohlmey commented on #2088
This is a pointless argument because a research code like LAMMPS is **full** of pieces of code that, when using certain input, can lead to "incorrect operation". That is just the nature of a simulation software, especially one with so many features and so easy to extend and modify. There are too many permutations of combinations of features, that it is impossible to protect people from doing "bad"

[2020-05-15 15:42] #2088 closed

[2020-05-15 15:43] yurivict commented on #2088
Maybe you should compile an executable that should run in parallel without exceptions and without using a shared library, and have a shared library with exceptions for a non-parallel use case only?

[2020-05-15 15:46] akohlmey commented on #2088
Why is it such a problem that you need to set an additional flag in the makefile or a CMake variable. You need to do the same for almost any compilation of LAMMPS anyway, so why complain about one more setting? You could just as well complain that not all packages are enabled by default.

[2020-05-15 15:53] junghans commented on #2088
I had a similar issue in the past! I was wondering what is the performance penalty of enabling the exceptions?

[2020-05-15 15:53] yurivict commented on #2088
Because I maintain the lammps package on FreeBSD. It doesn't have exceptions enabled by default. But one user, Vipster https://github.com/sgsaenger/vipster, needs exceptions to be enabled. The general package can't be used. This is why I asked here.

The above discussion only convinced me that this is an unsolved problem. "Just rebuild" isn't a choice when you talk about packages. There should eit

[2020-05-15 15:54] yurivict commented on #2088
No performance penalty in this case. This option doesn't disable exceptions, just makes code to not throw them.

[2020-05-15 16:16] akohlmey commented on #2088
Sorry, but that is not our problem. You can choose as the package maintainer what to include or enable and what not and how you package it. We welcome people to do that, but we do not develop LAMMPS for package maintainers and whatever requirements, policies, or conventions they have in their distributions or their users ask of them. We try to accommodate what can be done easily, but not at the ex

[2020-05-15 16:36] yurivict commented on #2088
The project should support various use cases. As it is now, it can't be packaged for two different use cases simultaneously.

Please let me know how can I compile it such that both parallel users who don't need exceptions and non-parallel users who do need exceptions can be satisfied at the same time?

[2020-05-15 16:39] junghans commented on #2088
Maybe there are other downsides to enable them, but if there are no performance penalty couldn't we always enable them and then catch all of them in `main.cpp` for the executable use case? That would also get rid of the problem that API changes whether or not the consumer add `-DLAMMPS_EXCEPTIONS` to their code. (Not a problem anymore when using CMake's exported targets)

That sounds like a multi-

[2020-05-15 16:44] akohlmey commented on #2088
There are multiple ways to handle conflicting packages that provide the equivalent functionalities. You can use environment modules or Lmod (Fedora/RHEL/CentOS uses that for different MPI libraries and the applications compiled/linked against them), you can use the "alternatives" software that maintains symbolic links, you can use, e.g., `-DLAMMPS_MACHINE=<something>` to have a different library a

[2020-05-15 16:49] akohlmey commented on #2088
Not for the foreseeable future. Please remember, that CMake is not the only option to build LAMMPS and we want to keep things consistent across the build procedures. And as I've explained earlier in this thread, problems of packaging or people building applications on top of those packages are not something that I have the time or desire to worry about. Many of the core LAMMPS developers don't eve

[2020-05-15 17:48] junghans commented on #2088
#2090 is what is was thinking of.

[2020-05-15 21:27] vikaskok commented on #2085
Thank you very much for your prompt responses.
@rbberger : I carried out a few test runs with the store_contacts option enabled for the fix wall/gran command.
I would like to share with you the following observations:
1. Regarding indices. (Using the fix zwall example in your comment)
f_zwall[1] - A vector containing atom IDs which have come into contact with zwall.
f_zwall[2,3,4] - fx,fy,fz exert

[2020-05-19 06:00] sailer1205 opened #2096 "[BUG] _random_mars.cpp_issues_"
**Summary**

in random_mars.cpp, the if condition may be a mistake in RanMars::besselexp():
`  if (theta < 0.0 || alpha < 0.0 || alpha < 1.0) `

"alpha < 0.0 || alpha < 1.0" is equal to "alpha < 1.0", shall we use the "alpha < 1.0" instead?
but when I use the master branch to compile and  run the example under  examples/wall,
an error was occurred:

LAMMPS (19 Mar 2020)
OMP_NUM_THREADS environment

[2020-05-19 13:17] akohlmey commented on #2096
I believe the second modification was done unintentional, since the change introduced in that commit had nothing to do with bessel function distributed random numbers. More likely the change was implemented separately and then the files were copied over instead of working on a feature branch under git and then not check carefully enough when committing so that the formerly fixed bug was re-introdu

[2020-05-19 17:07] jibril-b-coulibaly commented on #1657
Thank you for taking the time to continue investigating. The "no_issue" and "issue" input are indeed dramatically apart in terms of physical setup. I initially included both for demonstration purposes but we could narrow the focus on the "issue" ones to illustrate the problem. For the `norot_issue` scripts, changing only `fix rigid` to `fix rigid/nve` results in distinct behavior.

To better illus

[2020-05-20 01:17] sailer1205 commented on #2096
@akohlmey Thank you for your prompt reply!

[2020-05-20 02:46] akohlmey opened #2099 "[Feature Request] Add more unit test inputs"
Pull request #2098 adds an infrastructure for adding unit tests for all kinds of force computing styles to LAMMPS. Currently only a handful of tests for a few representative pair styles have been added. Many more are needed to cover the large number of styles supported by LAMMPS.  To contribute tests, no programming knowledge is required, just some knowledge in running LAMMPS, its input file synta

[2020-05-20 18:33] #2096 closed

[2020-05-21 18:36] sjplimp commented on #1657
thanks for these inputs and movies - this helps me understand what I'm looking for.  I'll take a further look.

[2020-05-21 19:21] sjplimp commented on #1657
@jibril-b-coulibaly Here is something I'm still confused by.  As Axel said, the 2 input scripts for the no-deformation case run identically for about 100 steps, then slowly diverge, if you look at various output values. But if I look at your 2 movies for these scripts, they seem different instantly.  Part of it may be due to looking at different portions of the box in the 2 movies?  But in the one

[2020-05-21 19:28] sjplimp commented on #1657
Also, you might tell me that the 2nd frame in the movie is after 1000 steps (I think),
so that is later than 100 steps.  However between the first frame (step 0) and the
second frame (step 1000), none of the bodies appear to have collided yet, so they
are just spinning freely, due to their original angular momentum of the body.  Again,
this is the no-deformation fix rigid case.  But if I dump atom

[2020-05-22 19:38] akohlmey opened #2102 "[Feature Request] Replace many uses of sprintf() and similar with '{fmt}'"
**Summary**

There are many places in LAMMPS where local char arrays are used to generate formatted strings
via the `*printf()` family of functions. This is error prone, wasteful, and requires complex and more verbose programming and thus makes code review more difficult and time consuming.
In addition, the `*printf()` functions have no portable provisions for formatting custom types
that may be e

[2020-05-22 23:51] akohlmey commented on #2102
Please see PR #2103 and especially https://github.com/lammps/lammps/compare/add-fmt-lib?expand=1#diff-21d4b13a0330cc082b84bf049d09fe60
for an example of how this could be integrated.

[2020-05-28 17:33] moradza opened #2112 "/usr/include/armadillo_bits/wrapper_blas.hpp:42: undefined reference to `dgemv_'"
**Summary**

I want to use BLAS and LAPACK Libraries but I get the following error during compiling. I use armadillo for data management, but it does only provide me with vector scalar multiplication.

**LAMMPS Version and Platform**

Git info (stable / stable_3Mar2020-modified)

**Details**

I am using the Armadillo C++ library for matrix manupliation, but when it comes to matrix-vector multiplic

[2020-05-28 17:39] akohlmey commented on #2112
How has this anything to do with LAMMPS?
The answer is trivial and can be easily found with a web search and possibly also by reading the documentation for your C++ library.

[2020-05-28 17:39] #2112 closed

[2020-05-29 22:10] athomps opened #2117 "[Feature Request] _Eliminate Misleading error messages with hybrid and hybrid/overlay pair styles_"
**Summary**

Eliminate misleading error messages when using hybrid pair styles (hybrid and hybrid/overlay).

**Detailed Description**

When using hybrid pair styles, the error message for unrecognized pair styles is misleading. For example, if examples/in.snap.Ta06A is run with a LAMMPS executable that has not been compiled with the SNAP package, the error message is:

ERROR: Illegal pair_style co

[2020-05-30 00:58] akohlmey commented on #2117
@athomps this turned out to be much simpler than anticipated.

[2020-05-30 00:59] akohlmey commented on #2117
The error message after applying PR #2118 is:

[code]

[2020-05-30 02:54] #2117 closed

[2020-05-30 23:49] #1657 closed

[2020-06-01 16:08] rbberger commented on #2085
@vikaskok sorry for the late reply, been busy with other parts of the code. Please see my PR #2121. This should implement what you were asking for.

[2020-06-05 22:43] rbberger opened #2130 "Update intel_intrinsics.h to use OpenMP SIMD instead of Cilk notation"
**Summary**

Future versions for Intel Compiler will deprecate the Cilk array notation in favor of OpenMP constructs. Currently, this leads to deprecation warnings while compiling with Intel Compilers.

[code]

**LAMMPS Version and Platform**

Current master

**Details**

See https://software.intel.com/content/www/us/en/develop/articles/migrate-your-application-to-use-openmp-or-intelr-tbb-instead-

[2020-06-07 17:04] sde4 opened #2131 "MPI crash while using fix-qtb with multiple groups"
**Summary**
I found that specifying fix qtb on multiple groups is leading to MPI crashes. The crashes can be reproduced with the  example file 'alpha_quartz_qtb.in' provided by LAMMPS (examples/USER/qtb/alpha_quartz_qtb/alpha_quartz_qtb.in) by slightly modifying it and using  fix qtb in more than one group. The MPI crashes are dependent on temperature of the system; higher temperature leads to cra

[2020-06-07 18:45] akohlmey commented on #2131
Thanks for your report. I have confirmed and fixed the bug(s) in pull request #2132 so it should be fixed in the next patch release.

[2020-06-08 23:55] #2131 closed

[2020-06-11 06:11] 2young-2simple-sometimes-naive opened #2145 "[BUG] RESPA does not work well with KSPACE"
**Summary**

I am trying to run a system with RESPA, and I found that the RESPA gives the following error:
`ERROR on proc 17: Out of range atoms - cannot compute PPPM (src/KSPACE/pppm.cpp:1940)`
When trying to run the code in parallel (mpirun). It is fine running with single process. In addition, when I adjust the kspace accuracy, turning lower the accuracy allow me to run more time steps, while h

[2020-06-11 12:17] yafshar opened #2146 "[BUG] _remove .c_str() is not allowed for write_echo _"
**Summary**

The new modification [remove .c_str() and simplify output in several places ](https://github.com/lammps/lammps/commit/dd11fb3964acfbba94f19513f8d35b10b0a41e60) introduces error at
[ src/KIM/kim_property.cpp](https://github.com/lammps/lammps/commit/dd11fb3964acfbba94f19513f8d35b10b0a41e60#r39832500), since `write_echo` interface is `void write_echo(const char *);` and does not get `str

[2020-06-11 17:39] akohlmey commented on #2146
@yafshar please check out PR #2148 and add suggestions, comments or concerns there, if you have any. If you want to make additional changes, you can submit a pull request for that branch into github.com:akohlmey/lammps/

[2020-06-11 17:50] akohlmey commented on #2145
Sorry, but this is not a usable bug report and i am not convinced that there is a bug (on the LAMMPS side) at all.

The probability of the "out of range atoms" error is related to the domain decomposition parallelization in LAMMPS, so it is more likely to happen with more MPI ranks and thus smaller subdomains. and it has nothing to do with using r-RESPA versus Verlet.

It is particularly rare with

[2020-06-11 17:51] #2145 closed

[2020-06-11 20:21] yafshar commented on #2146
@akohlmey thanks. I checked out PR #2148 and everything seems good to me. It passed my tests as well.

[2020-06-11 20:27] akohlmey commented on #2146
excellent! thanks. hopefully, you can see some coding patterns, that you can adopt in new code or future updates. did we ever sent you an invite to become an official collaborator on the LAMMPS project (so we can assign you as a reviewer and similar things)?

[2020-06-11 20:31] yafshar commented on #2146
@akohlmey sure, it is a nice feature and convenient to use.

No, I did not get any invite to become an official collaborator. I would appreciate if you send me that.

[2020-06-11 20:46] #2146 closed

[2020-06-11 21:59] akohlmey opened #2150 "Reminder: document that pair style mesocnt is part of the USER-MESONT package"
**Summary**

We are starting to unbundle large files from the LAMMPS distribution and download them instead from download.lammps.org during configuration/installation of a package. First target is pair style mesocnt, which has been moved to the folder for the upcoming USER-MESONT package (PR #1873). Once that PR is merged the documentation needs to be updated to mention pair style mesocnt as well.

[2020-06-11 22:04] #2085 closed

[2020-06-12 17:06] akohlmey commented on #1839
We are now downloading large files on demand, when the corresponding package is installed. For examples instead a git submodule with a separate download would be the preferred option. I think that is all that can be done on this topic for now.

[2020-06-12 17:06] #1839 closed

[2020-06-12 18:54] charlessievers opened #2153 "[BUG] Traditional Make+Mac+mode=shared fails After April 11th"
**Summary**

Traditional Makefile no longer creates a shared object library for Mac.

**LAMMPS Version and Platform**

Issue for Mac, problem occurred after PR #1981

**Expected Behavior**

Traditional Make should ideally produce a shared library for Mac.

**Actual Behavior**

Linking error occurs.
[code]

**Steps to Reproduce**

- Need to use a Mac

`git clone https://github.com/lammps/lammps`
`c

[2020-06-12 18:59] charlessievers commented on #2153
@akohlmey Just saw your response to @athomps on April 15th about this issue.

It might be nice to have an error message. I am willing to close this issue once you have read it.

[2020-06-12 19:23] akohlmey commented on #2153
Error message how?
The only advice I can give is that if you follow development, it is worth reading the release notes.
Makefiles and other things have been broken in the past, too. There is no way to make this all automatic. That is what we are supporting CMake for. I only use the conventional make when testing these days.

[2020-06-12 20:23] charlessievers commented on #2153
No idea, I am closing the issue.

The issue did convert me to only using CMake. I usually only use them for development.

[2020-06-12 20:23] #2153 closed

[2020-06-13 18:09] akohlmey opened #2158 "[Feature Request] Embed UNITS: tag with required units setting into potential files"
**Summary**

Beginners often make the mistake of using the wrong units settings with (manybody) potential files.
By adding a "UNITS:" tag like the current "DATE:" and "CITATION:" tags, we could add a check for compliance, at least for the potential files that are bundled with LAMMPS. Databases that collect such potential files may be willing to add such tags to the files in their repositories.

**

[2020-06-14 15:32] ellio167 commented on #2158
@akohlmey this looks great.  I would be interested to contribute on the automatic unit conversion idea.

[2020-06-14 16:48] akohlmey commented on #2158
@ellio167 thanks for the offer. Let us first see what the feedback on PR #2159 is. The first order of business would be to write a test program and then it would probably most straightforward to implement the conversion for pair style table (which only stores data for distance, force and energy). I don't have yet a well formed idea for how to indicate the possible conversions (enum?, bitmask?, lis

[2020-06-15 15:41] #2150 closed

[2020-06-16 18:26] sgsaenger opened #2164 "Sane defaults for CMAKE_TUNE_FLAGS"
Compilation with CMake currently defaults to use `-march=native` or `-xHost`.
These flags reduce portability across systems with compatible software, but incompatible hardware configurations.
This is rarely expected from software, and does not reproduce the behavior of the old `make`-based build system.
Especially `-march=native` is also known to [produce slower binaries](https://stackoverflow.com

[2020-06-16 18:42] junghans commented on #2164
Related https://github.com/votca/csg-tutorials/issues/89, setting -DCMAKE_TUNE_FLAGS='' is the workaround for now.

[2020-06-16 20:46] akohlmey commented on #2164
What is considered "sane" is a matter of perspective not facts. As explained in a previous conversation, choices are made and for as long as those can be easily changed from the cmake command line or GUI, there really is no need to make changes to the sources.

[2020-06-16 20:46] #2164 closed

[2020-06-18 00:15] rbberger commented on #1334
Math expressions have been converted and merged. Closing.

[2020-06-18 00:15] #1334 closed

[2020-06-18 17:03] sde4 opened #2165 "Fix modify with fix qtb"
Summary
It seems that fix modify (temperature) is not implemented correctly for fix_qtb.

LAMMPS Version and Platform
LAMMPS (15 June 2020)

OS name: GNU/Linux
OS release: 3.0.101-108.63-default
Hardware p;atform: x86_64

Expected Behavior
fix modify should be able to provide the ability to work with thermostat biasing.

Actual Behavior
fix modify is doing something currently but not sure what exa

[2020-06-18 19:29] akohlmey commented on #2165
There is no indication in the documentation for fix qtb that it supports thermostat biasing, unlike in the documentation for fixes that do. The general rule in LAMMPS is: if it is not documented it is not supported. You get a different computed temperature, and thus you get different results, but that does not mean that a bias is removed and restored. That requires extra function calls.

[2020-06-18 19:29] #2165 closed

[2020-06-18 21:59] weinbe2 opened #2166 "[BUG] Kokkos/SNAP gives out-of-bounds errors when running with two atoms without chem-snap"
**Summary**

The recent chem snap PR appears to introduce a silent bug (i.e., it accidentally gives the right temperature, energies, pressure) for systems with two elements but without the proper modifications for chem snap. (Specific example: the system described by `/examples/snap/in.snap.WBe.PRB2019`). The bug can be diagnosed via compiling with `-DKOKKOS_ENABLE_DEBUG_BOUNDS_CHECK`, which throw

[2020-06-18 22:00] weinbe2 commented on #2166
FYI @charlessievers @stanmoore1 @athomps

[2020-06-18 22:04] stanmoore1 commented on #2166
@weinbe2 nice catch. One can also use `KOKKOS_DEBUG=yes` in the Makefile to enable bounds-checking.

[2020-06-19 00:33] charlessievers commented on #2166
I tested the WBe example quite a few times to ensure it worked... That is frustrating. I'll get a fix by the end of the day.

[2020-06-19 00:47] charlessievers commented on #2166
Good catch indeed. I will make sure to enable this in the future while testing.

[2020-06-19 01:18] charlessievers commented on #2166
I am not getting the view bounds error with -D Kokkos_ENABLE_DEBUG=on , but I did catch a mistake while zeroing the ylist for multi element non chem_snap. I will create a PR with the change, would you test it out @weinbe2?

[2020-06-19 01:21] weinbe2 commented on #2166
Sure, I'll be happy to give it a spin, just tag me whenever you post it!

[2020-06-19 01:37] akohlmey commented on #2166
@weinbe2 just sent you an invite as external collaborator. That should allow you to be assigned as reviewer.

[2020-06-19 03:59] #2166 closed

[2020-06-19 05:28] sde4 commented on #2165
Hi Axel,

Thanks for clarifying. Will LAMMPS developers consider implementing the fix modify for qtb? I am willing to put a more formal request. Please comment!

[2020-06-19 05:35] akohlmey commented on #2165
This is contributed code. You should contact its author about this. I am
not even sure that your request has a physical meaning.

--
Dr. Axel Kohlmeyer akohlmey@gmail.com http://goo.gl/1wk0
College of Science & Technology, Temple University, Philadelphia PA, USA
International Centre for Theoretical Physics, Trieste, Italy

On Fri, Jun 19, 2020, 01:28 Subhadeep De <notifications@github.com> wrote:

[2020-06-19 16:42] saxtremer opened #2170 "[BUG] create_atoms rotate keyword manual/code disagreement"
**Summary**

Documentation suggests that the angle after the rotate keyword in the create_atoms command must be in degrees, but it's coded in radians.

**LAMMPS Version and Platform**

12 Dec 2018 Ubuntu checked, but no related recent (for 6 years) changes to the functionality

**Expected Behavior**

As the manual suggests, the rotation angle should be in degrees:
[https://lammps.sandia.gov/doc/cr

[2020-06-19 16:49] akohlmey commented on #2170
@sjplimp do you agree?
this would be a one-liner:
[code]

[2020-06-19 19:20] sjplimp commented on #2170
yes, I agree.  Good catch @saxtremer !

[2020-06-19 19:28] saxtremer commented on #2170
@sjplimp @akohlmey  Thank you for the quick response and your work. LAMMPS rocks.

[2020-06-19 21:07] #2170 closed

[2020-06-19 21:07] #2084 closed

[2020-06-19 21:30] junghans commented on #2084
I don't think disabling the check is a great idea, one some platforms e.g. on armv5, gcc doesn't support `-march=native` and no it will get injected anyhow.

[2020-06-19 21:35] akohlmey commented on #2084
Suggest a check that works properly and it will be added. Otherwise, just override the variable with something else or set it to empty.

[2020-06-19 21:50] junghans commented on #2084
I made two suggestions above, 1.) have the user add `-fsanitize=address` to `CMAKE_CXX_FLAGS`, which is unchecked. Or 2.) skip the check for `-fsanitize=address`.  No response for more than a month. I am happy to implement 2.) if that is what you want.

Adding flags unchecked has the problem that user will end up with either a error at compile time or worse an obscure error when cmake is try to de

[2020-06-22 19:59] rdettori opened #2175 "[BUG] Pressure offset in NPT run with GPU accelerated TIP4P"
**Summary**

The pressure computed during an NPT run with the same input files changes if GPU accelerated version of TIP4P is used. The GPU accelerated version results in a large offset and thus in a wrong density.

**LAMMPS Version and Platform**
I used LAMMPS 3 Mar 2020 and tested on two different machines: one has one GeForce GTX 745 and the other GeForce RTX 2080.  The result is basically the

[2020-06-22 20:07] akohlmey commented on #2175
What are the precision settings for the GPU runs? Please make sure that those are DOUBLE.

[2020-06-22 20:10] akohlmey commented on #2175
@Vsevak can you take a look?

[2020-06-22 20:12] rdettori commented on #2175
This is the output when I compiled using CMake.

[code]
So the precision is mixed. I haven't tried DOUBLE actually.

[2020-06-22 20:27] akohlmey commented on #2175
Ok. Thanks. The difference is too large to be due to precision, but when comparing CPU to GPU results it is best practice to compare the GPU runs with DOUBLE. For those the difference has to be within the range of floating-point truncation errors.

[2020-06-22 21:52] stanmoore1 opened #2177 "[BUG] NULL pointer in KSpace tests"
**Summary**

Our extended Kspace regression tests are failing from a recent commit:

[code]

**LAMMPS Version and Platform**

Latest master

[data.spce.txt](https://github.com/lammps/lammps/files/4815751/data.spce.txt)
[test15.in.txt](https://github.com/lammps/lammps/files/4815753/test15.in.txt)

[2020-06-22 21:53] stanmoore1 commented on #2177
7e2f29bb6576f68bdab06e8ffc8cc80cc6f85f19 passed, while 5148834d23570f1e8338aae8db48334f2d2a5a8f failed.

[2020-06-22 22:07] stanmoore1 opened #2178 "[BUG] Accuracy regression in MSM"
**Summary**

One of our internal kspace_style MSM tests is failing.

**LAMMPS Version and Platform**

Latest master

**Expected Behavior**

The accuracy of MSM should be close to the estimated accuracy.

**Actual Behavior**

The accuracy of MSM is way off. This shows there was a bug introduced.

[code]

**Steps to Reproduce**

[test14.in.txt](https://github.com/lammps/lammps/files/4815795/test14.i

[2020-06-22 22:08] stanmoore1 commented on #2178
May be related to #2177. Almost certainly caused by f78671c1a4d81e5907e929c9341d784e03881bd6.

[2020-06-22 22:16] akohlmey commented on #2178
Just to be certain: the issue here is that the printed value for the computed accuracy is off, not the forces or energies or anything else, correct?

[2020-06-22 22:20] stanmoore1 commented on #2178
@akohlmey No, the script is comparing MSM forces to a highly refined Ewald sum as the ground truth, so the forces are off.

[2020-06-22 22:21] akohlmey commented on #2177
I think I know where this is coming from. @sjplimp had talked me into it. Need to think carefully about this though.
This is due to trying to fix an issue with the refactored AtomVec class where pointers were not properly deleted when the atom style was changed. Now it is deleting too aggressively and thus the replicate command has a problem because it keeps two AtomVec instances around.

[2020-06-22 22:29] akohlmey commented on #2178
that is very peculiar, since we do have tests run via ctest comparing forces, energies, and stress and those do not show a difference since commit 8691579def0e96eab37b2731808dc499cfe6cc54

[2020-06-22 23:08] akohlmey commented on #2177
FYI: after addressing the segfault issue, the test fails with:
[code]
But that seems valid since there are no coeffs anywhere:
[code]

[2020-06-22 23:39] akohlmey commented on #2178
I can only speculate what made this work in one case and fail in another. The most likely explanation is that the provided test example here replaces the kspace style and that is not yet tested for in the new tests (there is not yet a tester tool for kspace styles).

[2020-06-23 00:53] #2177 closed

[2020-06-23 00:57] #2178 closed

[2020-06-23 01:05] stanmoore1 commented on #2178
I confirm this is fixed, thanks!

[2020-06-23 01:05] stanmoore1 commented on #2177
This is now fixed, thanks @akohlmey!

[2020-06-23 08:31] Vsevak commented on #2175
Sure, I will try to figure it out.

[2020-06-23 14:46] stanmoore1 opened #2184 "[BUG] Kokkos crashing due to AtomVec changes"
**Summary**

I'm seeing 100% failure of the Kokkos regression tests due to recent changes in AtomVec.

[code]

**LAMMPS Version and Platform**

Latest Master

**Steps to Reproduce**

Run any input deck with Kokkos enabled

[2020-06-23 15:04] akohlmey commented on #2184
@stanmoore1 the code in the latest master still has issues leading to problems with reading restarts as exposed by the atom_style test tool. I needed to reorganize things a bit more. with the code from PR #2182, i can run `./lmp -kokkos on t 4 -in ../examples/melt/in.melt -sf kk` without a crash.

[2020-06-23 15:24] pastewka commented on #1543
I cannot reproduce this bug. It appears to be a problem with the local installation of NetCDF on @janmees system. Closing this issue.

[2020-06-23 15:24] pastewka commented on #1543
I see I cannot close it myself, @akohlmey can you close this issue?

[2020-06-23 15:31] #1543 closed

[2020-06-23 15:53] stanmoore1 commented on #2184
@akohlmey OK thanks for looking at this.

[2020-06-23 17:16] stanmoore1 opened #2186 "USER-QTB examples broken"
**Summary**

The inputs in `/examples/USER/qtb/alpha_quartz_qtb` and  `/examples/USER/qtb/alpha_quartz_qbmsst` are failing from recent changes with:

[code]

**LAMMPS Version and Platform**

Latest master.

**Details**

Do we just need to use the `ptemp` setting as suggested in the error message?

[2020-06-24 20:35] Vsevak commented on #2175
I found something: setting `thermo 1` in the proposed input completely eliminates the bug on my machine (GTX 1070, CUDA with DOUBLE). Otherwise, the wrong output can be found in the per-atom stress tensors. If I understand correctly, this indicates that the error is not in the computing kernel, but somewhere in the "glue code".

[2020-06-25 00:12] #2184 closed

[2020-06-25 23:31] #2158 closed

[2020-06-25 23:31] #2186 closed

[2020-06-26 00:42] #2175 closed

[2020-06-26 23:11] nbobbitt opened #2193 "[Feature Request] delete random atoms by type"
It would be very useful to have the ability to delete atoms in a specific region randomly by type (e.g. delete N atoms of Type 1).

[2020-06-26 23:21] jrgissing commented on #2193
you can achieve this with the new "set type/subset" option. for example, you could create a group of the specific atoms eligible for deletion, set N atoms to a new type and delete all atoms of that type

[2020-06-27 01:20] junghans opened #2194 "[BUG] Some tests fail in Fedora 32 rpm build"
**Summary**

[code]
with
[code]
and
[code]
and
[code]

**LAMMPS Version and Platform**

Lammps: Jun 15 2020
Fedora 32 (gcc (GCC) 10.1.1 20200507 (Red Hat 10.1.1-1))

**Expected Behavior**

Tests pass

**Actual Behavior**

Tests fail

**Steps to Reproduce**

[code]

**Further Information, Files, and Links**

[Build log](https://github.com/lammps/lammps/files/4839782/build.txt.zip)

[2020-06-28 21:06] akohlmey commented on #2194
With the current test setup, all "coul_table" tests are highly sensitive to choice of compiler and compiler flags and are thus ok to fail with the current setup, if the difference is moderate and happening only for a small number of values. It is not clear at the moment, if this is an intrinsic feature of the table lookup method or due to something else.

The other issues should be fixed in master

[2020-06-28 21:06] #2194 closed

[2020-06-29 01:25] akohlmey commented on #2193
yup. that is the way to do it. it is easy to add an atom type with create_box or with the "extra" keywords when reading from a file, if need be, the pair style can be temporarily changed to "zero", which just requires a catchall "pair_coeff * *" statement and then these manipulations are easy. the original force field can then be restored, if needed.

[2020-06-29 01:25] #2193 closed

[2020-06-29 13:06] junghans commented on #2194
Ok, I will give the next release a try again. Maybe you could make the "coul_table" tests less sensitive or exclude them from the default set of tests. Having tests that are too sensitive and spuratically fail, isn't optimal for the users / hpc admins that just want to see if lammps is compiled correctly on their machines.

[2020-06-29 13:19] akohlmey commented on #2194
please note that what the pair style tester tool does is complex and not a binary yes/no unittest. making tests of this kind too insensitive is worse as real issues can go past such a test, and that is the priority here. the situation is explained in the documentation.  you can exclude tests yourself through the ctest command line, if you feel the need.

[2020-06-29 13:40] junghans commented on #2194
Understood, I know how exclude tests, and I will do that for the rpm packages if needed, but my point was mainly if a normal user follows the standard `cmake`, `make`, `make test` procedure and gets a bunch of failing tests how is he suppose to know if that is due to the tests being too sensitive or having compiled lammps incorrectly.

[2020-06-29 13:43] akohlmey commented on #2194
if people do that and do not read the documentation, then its their problem, as with so many things in LAMMPS.

[2020-06-29 13:46] akohlmey commented on #2194
please note that testing has to be explicitly enabled. so "normal" people won't get there unless they read the documentation, and then they should also be reading the discussion on what the tests mean. we can discuss changing this when questions about failing tests become a common issue on the mailing list.

[2020-06-29 14:01] junghans commented on #2194
`ENABLE_TESTING` is pretty standard in CMake as well, but you are right, let's see what happens on the mailings list. And as always if users don't test, they won't see any issues ;-)

In the end, I just wanted to make sure these falling tests are not critical before I roll the lammps packages for fedora and openSUSE.

[2020-07-01 13:29] junghans commented on #2194
A small update with the pre-release from Jun30 2020 only one test still fails:
[code]

[2020-07-03 15:00] rbberger opened #2208 "LAMMPS docs only builds with enchant installed"
**Summary**

Since https://github.com/lammps/lammps/commit/97b11ea746d283a4996c00df0bda8f784cfceb42 the LAMMPS docs can only be built with `enchant` installed. It is no longer optional, because the extension is installed in the venv and thus configured. I would revert to the previous behavior as it causes more problems than it solves or add a better check for detecting the C library.

**LAMMPS Ver

[2020-07-03 15:27] akohlmey commented on #2208
please check out commit 1815ab610ec67c793bfc0ec485ba4b278ee025ee

[2020-07-03 16:01] rbberger commented on #2208
@akohlmey looks good!

[2020-07-03 16:41] rbberger commented on #2079
I suggest to change the following line in `CMakeList.txt`:

[code]
to
[code]

That way the original option becomes available again. We still have our default, but leave the door open to use `g++11` if necessary.

[2020-07-03 19:32] junghans commented on #2079
Thanks

[2020-07-04 07:42] charlessievers opened #2213 "[BUG] LAMMPS Exceptions throw lethal signals to python"
v**Summary**

LAMMPS Exceptions is meant to not kill the calling code.
LAMMPS kills the calling code.

**LAMMPS Version and Platform**

The LAMMPS Versions are in the output.
The Platforms are listed in the io below

**Expected Behavior**

Red Hat 7.1
Traditional Make
[code]

**Actual Behavior**

2019 MacBook OS 10.14.6
CMake build
[code]
or

Dell Desktop Machine Ubuntu 18.04.2
Traditional Make
[c

[2020-07-04 08:29] akohlmey commented on #2213
That is not correct. Exceptions must be caught in order to continue execution. The python wrapper will convert the C++ exception into a Python exception and that is not caught in your example. You should get the behavior that you expect, if you change your python code to:
[code]
Thus the behavior shown by RHEL 7.1 is the expected one. Mind you, that not all exceptions/errors that LAMMPS throws can

[2020-07-04 08:57] akohlmey commented on #2213
here is a more elaborate example after fixing the bug in the library interface when clearing the error status:
[code]
Which results in the following (expected) output:
[code]

[2020-07-04 09:12] charlessievers commented on #2213
@akohlmey I only quoted part of https://lammps.sandia.gov/doc/Build_settings.html and maybe my example was a bit too simple... I really only meant to replicate the segmentation fault, which I have not found to be an easy signal to handle gracefully.

Yep, already had to deal with this. I have a nice solution to this in FitSNAP. https://github.com/FitSNAP/FitSNAP/pull/42/commits/6408264f5a67dad69e9

[2020-07-04 09:29] akohlmey commented on #2213
I don't see how that is a particularly nice solution, you just terminate your application. That is not in line with what you yourself were expecting from exception handling.

Consider that you have some MPI ranks waiting on some communication, while one or more are failing. All you can do at that point to stop your parallel application from stalling is to call `MPI_Abort()` on the failing ranks an

[2020-07-04 09:36] charlessievers commented on #2213
I see what you are saying, that is a fair point. That would be nice. I misunderstood what you were saying.

[2020-07-04 23:28] akohlmey opened #2215 "[BUG] Cannot use pair style kim before box is created"
**Summary**

The function `PairKIM::settings()` allocates arrays to dimensions depending on `atom->ntypes`. That **only** works as expected for as long as the `pair style kim` command is issued **after** the simulation box is defined.

**LAMMPS Version and Platform**

LAMMPS current master (Version 30 June 2020), but seems to go back a long time.

**Expected Behavior**

The following input should

[2020-07-06 16:46] #2208 closed

[2020-07-06 16:46] #2213 closed

[2020-07-08 19:35] sde4 opened #2221 "Seg fault with replicate"
Summary
Replicate command is giving segmentation fault with new lammps dev version tagge: patch_15Jun2020

"line 12: 213850 Segmentation fault"

LAMMPS Version and Platform: patch_15Jun2020

OS name: GNU/Linux
OS release: 3.0.101-108.63-default
Hardware p;atform: x86_64

Steps to Reproduce
input file:
units       metal

boundary    p p p

box tilt large

atom_style      atomic

read_data       dat

[2020-07-08 19:45] akohlmey commented on #2221
This bug should be fixed in the 30 June 2020 version.

[2020-07-08 20:18] akohlmey commented on #2221
Yup, just confirmed. This does not segfault anymore.

[2020-07-08 20:18] #2221 closed

[2020-07-08 20:50] sde4 commented on #2221
yes. Thanks Dr. Axel!

[2020-07-09 21:50] ssomnath opened #2222 "Tracking parameters in sweeps"
Hello,

I am a data scientist working with domain scientists to help manage data generated from several simulations using [DataFed](https://arxiv.org/abs/2004.03710) - an [open source](https://github.com/ORNL/DataFed) scientific data management system. I am told that a simulation will be performed for each combination of a handful of parameters that will be swept over some range. [Here](https://gi

[2020-07-09 21:52] ssomnath commented on #2222
Not sure how the ``invalid`` label was assigned to this issue. I did not mean to do that and am unable to remove it.

[2020-07-09 22:10] akohlmey commented on #2222
@ssomnath you have to understand that the best way to describe LAMMPS from your perspective is as a "programming language for simulations". Which means, that every statement, even the order of statements can have an impact, but also multiple combinations of statements can describe the same simulation and that there is a large and constantly growing and changing number of keywords and features.

Th

[2020-07-09 22:18] ssomnath commented on #2222
@akohlmey - thank you for your quick response. I will discuss the possibility of restructuring the way the simulations are performed. The python module sounds like a good fit.

[2020-07-10 11:03] jehiel243 opened #2223 "Additionnal option for fix hyper/global and fix hyper/local"
Hello,

Thank you for the work you are doing to always improve Lammps. My  suggestion regards Hyperdynamics. Could you please add an additionnal option for fix hyper/global and fix hyper/local that can make it possible to exclude atoms from hyperdynamic bonds. In molecular systems, since near-neighbors may not appear in neigh list, bonded atoms should not be included as hyper "bonds". The addition

[2020-07-10 11:12] wverestek opened #2224 "[BUG] reset_ids segfaulting with "sort yes""
**Summary**

rest_ids leads to a segfault when using the "sort yes" option.

**LAMMPS Version and Platform**

LAMMPS (30 Jun 2020)
Linux Ubuntu (18.04), compiled with cmake  (3.13.2) and Gnu Compiler (7.5.0)

**Expected Behavior**

Reset atom IDs for the system, including all the global IDs stored for bond, angle, dihedral, improper topology data. This will create a set of IDs that are numbered co

[2020-07-10 11:17] guibar64 opened #2225 "Buffer overflow with 'dump */mpiio' and OpenMP"
# Problem

Hello, the input script below
[code]
gives, with `lmp -sf omp ` and a build of lammps compiled with GCC's sanitizer, the following output:

[code]

# LAMMPS version

Latest on master branch.

[code]
Compiled with g++ 6.3.0, OpenMPI  2.0.2 and the cmake flags: `-DCMAKE_BUILD_TYPE=Debug -DPKG_MPIIO=yes - -DPKG_USER-OMP=yes DCMAKE_CXX_FLAGS="-fsanitize=address" -DCMAKE_EXE_LINKER_FLAGS="-f

[2020-07-10 12:29] akohlmey commented on #2224
should be fixed with commit 0c89b517a5b6052de2bd804315676461df05c748
the issue was that your system was too small and that atoms all had the same coordinate in some dimension resulting in a zero volume of the bounding box. both of which led to invalid numbers for sorting bins and thus causing the segmentation fault.

[2020-07-10 13:21] akohlmey commented on #2225
@guibar64 thank you for your report. I agree with your assessment and proposed solution. It will be added to a pending pull request and should be fixed in the master branch before the next patch release.

[2020-07-11 22:30] #2215 closed

[2020-07-11 22:30] #2225 closed

[2020-07-14 15:57] lwan86 opened #2232 "compiling error on Summit@OLCF"
**Summary**

Compiling error:
c++: error: unrecognized command line option '-march=native'; did you mean '-mcpu=native'?

**LAMMPS Version and Platform**

LAMMPS version:
commit 284b1618f9de225b8e7e0a5225b6f29f856dff42
Merge: e2e4305 83291fd
Author: Axel Kohlmeyer <akohlmey@gmail.com>
Date:   Sat Jul 11 18:30:27 2020 -0400

Platform:
Summit
xl/16.1.1-7
spectrum-mpi/10.3.1.2-20200121
cuda/10.1.243

[2020-07-14 16:00] akohlmey commented on #2232
try adding `-D CMAKE_TUNE_FLAGS=""`

[2020-07-15 13:19] rcruzsilva opened #2235 "[BUG] cmake fails to build GPU package with CUDA 11"
**Summary**

Compilation of GPU package with cmake halts because nvcc compiler in cuda 11 dropped support for the sm_30 architecture.

**LAMMPS Version and Platform**
Lammps stable version 3-Mar-2020
CUDA 11.0, Nvidia driver 450
Ubuntu 20.04,
GeForce RTX 2080 Ti  (sm_75)

**Expected Behavior**
A successful compilation. So far did not have problem until CUDA 11. Previously compiled with CUDA 10.2 w

[2020-07-15 15:27] akohlmey commented on #2235
This is strictly speaking not a bug but rather a request for a feature update. CUDA 11 hasn't been available at the time the CMake scripts for GPU package were updated last, so there has been no support in LAMMPS for CUDA 11 thus far. I have updated the CMake scripts (also for our new minimum required version of cmake 3.10, which allows the use of VERSION_GREATER_EQUAL, which was not available whe

[2020-07-15 17:09] stanmoore1 commented on #1754
Seems like it wouldn't be hard to also code up the Bennett acceptance ratio method as well, which is more robust than Widom's method in some cases.

[2020-07-15 18:13] #2235 closed

[2020-07-15 18:30] akohlmey commented on #2232
@lwan86 please let us know whether this workaround resolves your compilation issues. Thanks.

[2020-07-15 18:58] lwan86 commented on #2232
@akohlmey Yes, it works. Thanks for the help! Let me close this ticket.

[2020-07-15 18:58] #2232 closed

[2020-07-15 22:09] #2224 closed

[2020-07-16 02:19] rcruzsilva commented on #2235
Thanks for fixing. I really like cmake compilation.

[2020-07-16 22:21] #1327 closed

[2020-07-18 20:08] evoyiatzis commented on #1754
closed after #2230

[2020-07-18 20:08] #1754 closed

[2020-07-20 15:35] #2079 closed

[2020-07-21 05:16] almeida85 opened #2244 "HAdresS example"
**Summary**
HAdresS example

**LAMMPS Version and Platform**

Latest

**Details**

Hello,
I am new with LAMMPS and want to do Hamiltonian Adaptative Resolution simulations (HAdresS). According to the authors, the method is "now a standard user-contributed feature of LAMMPS", but the example is not in the USER folder. It is however in the branch https://github.com/hadress/lammps/tree/USER-HADRESS/e

[2020-07-21 12:58] junghans commented on #2244
HAdresS was never included in mainstream lammps (see #100), you will need to build and run that special version to use it.

Also see: https://sites.google.com/view/hadressmethod/method

[2020-07-21 12:58] #2244 closed

[2020-07-21 14:57] pzeiger opened #2245 "[BUG] USER-INTEL package seems to break fix_gle"
**Summary**

If I compile LAMMPS with Intel Compiler + package USER-Intel, fix_gle does not work as expected.

**LAMMPS Version and Platform**

Latest stable LAMMPS 3Mar2020.

**Expected Behavior**

Including USER-INTEL should not break fix_gle.

**Actual Behavior**

After compiling with flag GLE_DEBUG, the A, C, S and T- matrices used by fix_gle are output. It seems that at least the T matrix is

[2020-07-22 08:59] ipe-zhangyz opened #2249 "implicit instantiation of undefined template 'ArrayTypes<Kokkos::Serial>'"
**Summary**

When building LAMMPS with hip backend kokkos, I got an error:implicit instantiation of undefined template 'ArrayTypes<Kokkos::Serial>', like the following:

[ 10%] Building CXX object CMakeFiles/lammps.dir/home/lammps/src/atom.cpp.o
In file included from /home/lammps/src/atom.cpp:21:
In file included from /home/lammps/build2/styles/style_atom.h:2:
In file included from /home/lammps/sr

[2020-07-22 11:18] akohlmey commented on #2249
HIP is currently not listed as a supported platform for LAMMPS with Kokkos. I don't think that HIP support in Kokkos development has reached a point that it is usable for LAMMPS (or usable at all except for a subset of functionality). This is all made more complex with AMD switching things around significantly with their latest release.

The only GPU support option in LAMMPS that has been updated

[2020-07-22 11:18] #2249 closed

[2020-07-22 12:01] akohlmey commented on #2245
@pzeiger sorry, but I cannot reproduce this with the current patch release of LAMMPS (21 July 2020) and trying different compilers (GNU v9, Clang v9, and Intel v18) with and without the USER-INTEL package included and and with and without it being activated. I am getting consistent numbers across all runs and all are different from both log files you provided.
The logical conclusion of that would

[2020-07-22 12:01] #2245 closed

[2020-07-22 12:09] #2222 closed

[2020-07-22 17:47] #1953 closed

[2020-07-27 13:36] wverestek opened #2251 "[BUG] reset_atom_ids ommits angles, dihedrals and impropers"
**Summary**

reset_atom_ids does not set atom ID for angles, dihedrals and impropers

**LAMMPS Version and Platform**

LAMMPS (21 Jul 2020) on Ubuntu 20.04.1 LTS

**Expected Behavior**

atom IDs angles, dihedrals and improper should be reset according to new atom IDs

**Actual Behavior**

ID for angles, dihedrlas and imropers get initlized as 0 and then not updated.

**Steps to Reproduce**

see at

[2020-07-27 14:50] akohlmey commented on #2251
@wverestek thanks for the report. The fix for this issue is in PR #2252

[2020-07-27 15:21] wverestek commented on #2251
@akohlmey Thanks for the quick fix

[2020-07-27 16:01] #2251 closed

[2020-07-29 13:51] eagunn opened #2257 "Consolidate/extend developer documentation"
**Summary**

The published Developer Guide (http://lammps.sandia.gov/doc/Developer.pdf) contains useful overview information. But other information, equally useful to the same audience, now exists in other files and is not published on the web and is not pointed-to within the Guide. I recommend we move towards consolidating all the related information into one format/location so it is easier for n

[2020-07-29 16:39] akohlmey commented on #2257
@eagunn thanks for your thoughts and suggestions.

When looking at the LAMMPS distribution and how things are (currently) done and what are (currently) considered to be best practices, there is often a bit of a disconnect. That has mostly historic reasons (this year marks the 25th anniversary of the LAMMPS paper), and while trying to modernize the code, there is also a drive to strike a balance be

[2020-07-29 16:52] abhiShandy commented on #2099
I'm interested in doing this. I have been using LAMMPS for my research since 2016 and have fair experience with submitting PRs. Please let me know how can I contribute.

[2020-07-29 20:46] akohlmey commented on #2099
Thanks for your offer. You would need start the usual development protocol, i.e. create a fork of the LAMMPS repo, make a feature branch based off of the upstream master branch, add changes, commit locally, push the branch to your fork, then submit a pull request. I suggest you submit contributions in batches and start with just a single contribution to get a sense of the workflow.

Please have a

[2020-07-30 02:40] abhiShandy commented on #2099
Thanks for such a detailed guide.

I have setup my fork and was running the tests on my local machine. I encountered 4 failing tests for angle-styles and figured that the error tolerance (epsilon) was a bit too tight. Once I increased it from 2.5e-13 to 4.0e-13, those tests passed.

For the next step in development guide, when I try to generate the coverage report I get an empty report (as shown b

[2020-07-30 03:06] akohlmey commented on #2099
@abhiShandy
What platform/OS/version/compilers are you running on?
The tests, especially when you plan to generate new reference outputs, should be run without compiler optimization.  You should set `-DCMAKE_BUILD_TYPE=Debug` and best use GNU compilers. Coverage is not required, but can be useful to determine whether certain code paths are not covered. If they can be switched from the pair_style o

[2020-07-30 03:25] akohlmey commented on #2099
I forgot to mention because it is not yet an "official" feature of the integration testing server, but code coverage is also generated automatically and uploaded from the integration testing for the master branch and pull requests. You can look it up online at: https://codecov.io/gh/lammps/lammps/ so there is no need to generate it yourself (it is faster to browse, if it is local, though).

[2020-07-30 16:12] akohlmey commented on #2099
@abhiShandy a note about finding suitable pair_coeff parameters. copying from the documentation is rarely going to work. a better approach would be to just take the lj/cut parameters and then empirically find some parameters that result in a somewhat similar shape potential. often that is straightforward (e.g. for morse you can quickly tell the minimum location and depth of the potential from the

[2020-07-30 16:50] abhiShandy commented on #2099
Got it. That way, the energies (and force, stress) will be in the same order. I'll setup a script to find the appropriate parameters for the next set of pair-styles.

How does LAMMPS test energy calculation for just a pair of atoms? Such a test would account for assumptions behind the atomic template and complete the hierarchy of tests: pair of atoms -> set of similar atoms -> set of dissimilar at

[2020-07-30 19:33] akohlmey commented on #2099
please note that the script i wrote for the lennard/mdf style and posted here has a bug (actually two that made it look like there was none, but the output didn't match that of lj/mdf as close as it should. had to dig deeper and found and fixed it this morning).

the tester program doesn't really distinguish the different cases explicitly. I will just compute the forces, global stress, per-atom en

[2020-07-31 18:09] eagunn commented on #2257
@akohlmey Thank you for the expansive reply. I have been following, with great interest, all the forward progress you've made in the last year with include file order, fmt+string, etc. It's great you've been able to follow up on the adoption of C++11 with a concerted effort to move the core sources forward.

I did search the issues, before I filed this one, for any sign of discussion/direction on

[2020-07-31 20:59] akohlmey commented on #2257
It used to be associated with a pull request, but the scope of the work has expanded and thus the pull request has been closed. It wasn't planned like that. Sometimes you have to go where the project leads you.  This all started from the urge to make the library interface documentation more consistent and demonstrate the use of the doxygen integration via the breathe package.
But while working on

[2020-08-02 22:17] akohlmey opened #2269 "[Feature Request] Implement dump style(s) for grid based data"
**Summary**

For fixes and computes that compute properties on a spatial grid, there are currently several *ad hoc* file formats. Some of those are tricky to parse in a generic fashion, since they require knowledge from the input file. If the was a "grid" dump style, the output could be funneled to a generic interface which could then also implement multiple output file formats.

**Detailed Descri

[2020-08-07 22:38] akohlmey commented on #2099
@abhiShandy Did a chunk more tests, mostly for cases, where building the input is tricky, where changes to the code were needed or where there were bugs in the pair styles.
[code]

[2020-08-08 00:51] abhiShandy commented on #2099
Awesome! I had mental barrier for writing tests for pair styles which I haven't used or don't understand well. I am planning to attempt writing tester programs for dihedral and improper styles in the next burst.

[2020-08-08 02:48] akohlmey commented on #2099
There are still the /soft pair styles open.

--
Dr. Axel Kohlmeyer akohlmey@gmail.com http://goo.gl/1wk0
College of Science & Technology, Temple University, Philadelphia PA, USA
International Centre for Theoretical Physics, Trieste, Italy

On Fri, Aug 7, 2020, 20:51 Abhishek Shandilya <notifications@github.com>
wrote:

[2020-08-13 14:39] valesori opened #2288 "[BUG] fix rigid/nve langevin not working as expected"
**Summary**

The Langevin thermostat is not working as expected in conjunction with fix rigid/nve and rigid/nve/small.

**LAMMPS Version and Platform**

LAMMPS version: 3 Mar 2020
Running on Ubuntu 16.04.7.

**Expected Behavior**

I am running an NVT simulation of rigid molecules. Each molecule is composed by three particles, one of type 1 and two of type 2. The type 2 particles are arranged in a

[2020-08-18 22:48] ellio167 opened #2294 "GenerateBinaryHeader appears to create multiply defined variables"
https://github.com/lammps/lammps/blob/43f6fa4b294d231133f5954336df34fbe0d8351e/cmake/Modules/LAMMPSUtils.cmake#L74-L87

The `foreach` in this function will create multiple definitions of the `${varname}[]` and `${varname}_size` variables when `files` is a list with more than one entry.

[2020-08-19 12:23] rbberger commented on #2294
Nice catch! Yes, indeed. We only use it with a single file as input in the GPU package, but yes the interface implies something else.

[2020-08-19 12:31] ellio167 commented on #2294
FYI, I tested this on a 5mb file.  xxd takes 1 sec.  cmake takes 14 sec.  (compiling the resulting file takes 5 sec. with `gcc`; all times are with my macbook pro).

So there is a significant overhead to using the native cmake implementation.  (In many use cases you will not have a large file, so this is not a problem.)

Ultimately, something like the proposed `std::embed` is needed
https://thephd

[2020-08-19 12:35] rbberger commented on #2294
Embedding 5MB binary blobs in a library/executable?

[2020-08-19 13:00] ellio167 commented on #2294
It has been the practice of the KIM project to embed model parameter files in the associated library.  It is conceivable that, there, we would embed files in the 100's MB size range. (This will require splitting the file into chunks so that compile time/memory does not explode.) (Maybe this will need to change in future...)

[2020-08-19 13:02] akohlmey commented on #2294
Out of curiosity: do you compress those files before embedding?

[2020-08-19 13:04] ellio167 commented on #2294
Not at the moment;  I've thought about it.  The use cases we already have where large files occur are cases where compression does not result in significant size reduction.

[2020-08-21 23:58] junghans opened #2300 "[BUG] DumpAtom & KimCommands tests fail on Fedora Rawhide"
**Summary**

[code]

**LAMMPS Version and Platform**

lammps version Aug 21 2020
i686 arch on Fedora Rawhide

On armv7hl, x86_86  & aarch64 only the `KimCommands` test fails.

**Expected Behavior**

Test pass.

**Actual Behavior**

[code]
and
[code]

Additionally on s390x, aarch64 and ppc64le the `AtomStyles` fails, too:
[code]
but that might be just a roundoff issue.

**Steps to Reproduce**

Use