[2018-11-21 19:10] sjplimp commented on #1218
@stukowski Hi Alex - you're saying this happens with the original serial read_dump command
(read_dump2 as I recall in the new parallel read dump branch)?  So that it has nothing
to do with the new parallel commands?  But the (wrong) behavior of both the old and new
read_dump is the same for this test?

[2018-11-26 20:27] junghans opened #1224 "nvcc fatal : A single input file is required for a non-link phase when an outputfile is specified"
## Summary

GPU package fails to compile with:
[code]

## Type of Issue

Something is wrong with the way how the `CXXFLAGS` got injected.
[code]

## Detailed Description (Enhancement Suggestion)

We require cmake-3.1 for the GPU package so I am not why `$<$<BOOL:>:-Xcompiler=-fPIC>` didn't get expanded.

## LAMMPS Version (Bug Report)

15-Nov-2018

## Expected Behavior (Bug Report)

Builds.

## Ac

[2018-11-26 20:31] junghans commented on #1224
@akohlmey @rbberger any ideas?

[2018-11-26 20:31] akohlmey commented on #1224
could it be a bug in the cmake version on ubuntu 12.04?

[2018-11-26 20:33] akohlmey commented on #1224
a simple workaround would be to always set -fPIC. it does no harm, and i would use it for all libraries anyway (on Linux). That way even libXXX.a can be used to build a shared object (on Linux). On windows, it is not needed, since -fPIC is the default for all objects.

[2018-11-26 20:34] akohlmey commented on #1224
another workaround would be to not use the inline expansion, but wrap the command into an if()/else()/endif() block.

[2018-11-26 20:35] junghans commented on #1224
According to https://packages.ubuntu.com/precise/allpackages Ubuntu 12.04 comes with `cmake-2.8.7`, but we require `cmake-2.8.12` in general and `cmake-3.1` for the GPU package specifically.

[2018-11-26 20:36] akohlmey commented on #1224
but the user wrote:
[code]

[2018-11-26 20:37] junghans commented on #1224
Beside the `$<$<BOOL:>:-Xcompiler=-fPIC>`, I also worried about this part `,\"-fopenmp\",\"-O3\",\"-DNDEBUG\"` - the quotes aren't correct I think.

[2018-11-26 20:44] akohlmey commented on #1224
They don't seem to do any harm, though: here is what i get locally. (cuda 9.1, gcc 4.9, cmake 3.12)
[code]

[2018-11-26 21:40] junghans commented on #1224
@akohlmey ok that is good information. So then the questions is mainly why is the generator expression not expanded. However we could easily fix that with an `if()` in all places.

[2018-11-26 23:39] akohlmey commented on #1224
@junghans please check out the PR i just submitted and requested you to review. This implements the workaround with an if, but also builds "fat" binaries, so that it will support any GPU supported by the CUDA toolkit (updated for CUDA 10). I've tried it successfully with CUDA 7.5, 8.0, 9.1 on a GeForce GTX 1060. By making either `sm_20` or `sm_30` the CUDA_ARCH, it would work with 8.0 and 9.1, but

[2018-11-27 09:31] stukowski commented on #1218
I made another observation, which may be important:

As mentioned in the bug description above, my test case invokes ``read_dump`` twice: The first time with the ``add yes`` option, the second time with the ``replace yes`` option. After reading [the docs](https://lammps.sandia.gov/doc/read_dump.html) again, I learned that ``read_dump`` also supports an ``add keep`` option, which forces LAMMPS to u

[2018-11-27 12:20] stukowski commented on #1218
Please don't close this issue yet. There seems to be a problem concerning the ``add keep`` option of the ``read_dump`` command. When I do:

[code]
I see the following log output:
[code]
My dump file indeed contains 11 atoms. So this looks good.

However, when I instead use ``add keep``:
[code]
I see the following output:
[code]

That's unexpected. LAMMPS seems to be left in an invalid state. As so

[2018-11-27 15:00] stukowski commented on #1218
I think the problems lies in the following code line, which only gets executed if add==yes but not if add==keep:

https://github.com/lammps/lammps/blob/6e8c5375646b15d1bafbf8b08acec73728caf53f/src/read_dump.cpp#L487

[2018-11-27 21:05] #1044 closed

[2018-11-27 21:05] #1224 closed

[2018-11-29 04:43] akohlmey commented on #859
taking this down now due to inactivity. if anybody has any news or a more specific information to reproduce it or a pull request with changes, please re-submit or re-open.

[2018-11-29 04:43] #859 closed

[2018-11-29 04:45] akohlmey commented on #467
taking this down now due to inactivity. if any new information or issue pops up, please re-open or re-submit.

[2018-11-29 04:45] #467 closed

[2018-11-29 22:34] sjplimp commented on #1218
@stukowski yes, I think that is the issue - good catch!  I will change this in the new read-dump-parallel
branch and also post a separate PR to fix it in master LAMMPS.  That way it will make it into
the upcoming stable release.  The parallel read dump PR will not be merged until (right) after the
stable (I believe that is Axel's plan).

[2018-11-29 23:33] #1218 closed

[2018-11-30 12:30] evoyiatzis opened #1236 "segmentation fault with stress/mop/profile and atom_style sphere"
## Summary

LAMMPS crashes with a segmentation fault when trying to compute the kinetic contribution to the stress profile of a system with "atom_style sphere" using the command "compute stress/mop/profile ... kin"

## Type of Issue

'Bug Report'

## LAMMPS Version (Bug Report)

Obtained from master branch of GitHub at 30/11/2018

## Expected Behavior (Bug Report)

The simulation should not crash

[2018-11-30 12:42] akohlmey commented on #1236
Thanks for reporting. This is easy to address. The original code only considers per-atom-type masses and not systems with per-atom masses.

[2018-11-30 16:07] #1236 closed

[2018-12-07 17:09] akohlmey opened #1249 "Tiled communication issue with read_data when using shrinkwrap boundary conditions"
## Summary

With the provided input deck, the `read_data` command fails when switching to tiled communication *beforehand*. Moving the `comm_style` command *after* reading the data file results in correct execution.

## Type of Issue

Bug report

## LAMMPS Version (Bug Report)

Last checked with LAMMPS version 27 November 2018.

## Expected Behavior (Bug Report)

LAMMPS should be able to read data

[2018-12-07 17:11] akohlmey commented on #1213
Enough done for this one.

[2018-12-07 17:11] #1213 closed

[2018-12-07 17:33] akohlmey commented on #1200
@DiscreteLogarithm your last comment was over 3 weeks ago. Can you give us an update of what your progress is, if any?

[2018-12-07 21:24] DiscreteLogarithm commented on #1200
@akohlmey I'm so sorry. I was busy with my thesis defence and forgot about this. I have created a pull request.

[2018-12-11 21:03] stanmoore1 opened #1256 "Some LAMMPS styles don't support suffixes"
## Summary

Some fix/pair/compute styles in LAMMPS don't support suffixes because they check for an exact match. This causes erroneous error messages that prevent the simulation from running. For example, see #1255.

## Type of Issue

Bug report

## LAMMPS Version (Bug Report)

Latest master

## Expected Behavior (Bug Report)

LAMMPS styles should support suffixes.

## Actual Behavior (Bug Report)

[2018-12-11 21:20] junghans opened #1257 "packages for LAMMPS stable release 12 Dec 2018"
For @junghans

- [x] OpenSuse: https://build.opensuse.org/request/show/657604
- [x] Fedora: https://src.fedoraproject.org/rpms/lammps/c/d8f9b52134c7eee374aea19da462360d4a27634c?branch=master
  - [x] Fedora 30 (Rawhide): https://koji.fedoraproject.org/koji/taskinfo?taskID=31427417
  - [x] Fedora 29: https://bodhi.fedoraproject.org/updates/FEDORA-2018-85d05cb3cc
  - [x] Fedora 28: https://bodhi.fedo

[2018-12-11 21:23] junghans commented on #1257
@akohlmey, could you make a `patch_12Dec2018` tag as well? (Gentoo and Spack relies on that.)

[2018-12-11 21:55] junghans commented on #1257
Could you also tag a version in https://github.com/lammps/lammps-testing, which works with that release?

[2018-12-11 21:58] akohlmey commented on #1257
that is @rbberger 's domain

[2018-12-11 22:06] junghans commented on #1257
That raises an interesting question, too, as long as we don't want to guarantee that all future version of the tests will work with any past lammps release, we shouldn't hard-code
 `master` here: https://github.com/lammps/lammps/blob/master/cmake/CMakeLists.txt#L252

[2018-12-11 22:16] akohlmey commented on #1257
i do not consider that an interesting question. LAMMPS is a moving target and so are these tests. we put them on github for convenience and as a backup. there are no guarantees of any suitability of any use by others. in fact, i am extremely happy that @rbberger keeps them working and even improves them despite his busy work schedule over the last 2 years and recurring changes that break them (i j

[2018-12-11 22:40] junghans commented on #1257
Ok, then I as the package maintainer just pick https://github.com/lammps/lammps-testing/commit/7869c75cac38cb8a3d2ef7747ea12ec5812f5151 to be included in the rpm.

[2018-12-12 05:09] akohlmey commented on #1256
In addition, existing checks have to be reviewed whether they are too easily resulting in false positives, e.g. by using strstr() instead of strncmp().

[2018-12-17 00:55] martok opened #1260 "Package command line switch ignored if no Suffix given"
## Bug Report
The `-pk/-package` command line switch is silently ignored when no `-sf/-suffix` is set. While this does make a certain amount of sense, it is contrary to the documentation, which sounds very much like the two are independent.

This is caused by [this check](https://github.com/lammps/lammps/blob/master/src/lammps.cpp#L765). I think it's just a matter of replacing the immediate return

[2018-12-17 01:32] akohlmey commented on #1260
The only reason i can think of, would be that nobody has considered, that somebody would want to use the package command without the suffix flag. This feature was implemented for a package that doesn't exist anymore, and then incrementally expanded. With the last refactoring, it has become quite flexible and systematic across packages.

I agree, the current behavior is not satisfactory. Either LAM

[2018-12-17 13:03] martok commented on #1260
That makes sense.
I only noticed it for consecutive liblammps uses from python, where OpenMP gets confused if the settings are to be changed from serial to thread-parallel and back and no explicit call seemed to work.

[2018-12-20 14:54] evoyiatzis opened #1264 "tail correction issue with lj/cut/soft potential"
## Summary

Upon inspection of the function init_one (lines 609 - 617) of pair_lj_cut_soft.cpp, it appears that the denominator in the tail corrections for the potential energy and the pressure is independent of alpha_LJ and lamda. The expression looks like the same for the standard 6-12 Lennard-Jones (pair_style lj/cut) multiplied with lamda^n. When calculating the offset the correct expression f

[2018-12-25 09:55] gladk commented on #1257
Done.

* [PPA-lammps-stable](https://launchpad.net/~gladky-anton/+archive/ubuntu/lammps/+packages)
* [Debian Buster](https://packages.debian.org/buster/lammps)
* [Debian Stretch](https://packages.debian.org/stretch-backports/lammps)

[2018-12-25 14:05] junghans commented on #1257
All done, but docker!

[2018-12-29 18:06] #1129 closed

[2018-12-29 22:30] akohlmey commented on #1264
@agiliopadua do you have any comments/observations on this issue?
from how I understand this, we should either correct the expressions, or add a test for `tail_flag` so that LAMMPS aborts with a suitable error message, when the tail flag is active for lambda != 1.0.

[2018-12-30 16:23] evoyiatzis opened #1269 "[Feature Request] "soft" version of lj/class2 pair potentials"
## Summary

A "soft" version of the lj/class2 potentials (similar to the lj/cut/soft potential) would allow for free energy calculations using class 2 potentials such as PCFF and COMPASS. Following the spirit of Beutler in Chem Phys Lett, 222, 529 (1994), the potential could read:

V(r) = (lamda^n) epsilon (2 * denominator ^(-1.5) - 3 *denominator^(-1))

where denominator = alpha_{LJ} *(1 - lamda)

[2018-12-30 16:39] akohlmey commented on #1269
@agiliopadua is the author of the `USER_FEP` package and thus the best person to collaborate with.

[2018-12-30 16:46] akohlmey commented on #1264
@agiliopadua i've sent you an invite to get "collaborator" status for the LAMMPS project on github. There are no commitments to anything connected to that, but it makes management of open issues and pull requests easier. For example an issue or pull request can be assigned to you and thus indicating, that that LAMMPS developers would like to get some input from you. usually because it is code in a

[2018-12-30 17:59] evoyiatzis commented on #1269
Thanks for the suggestion @akohlmey. I will contact him directly.

[2018-12-30 19:15] Pakketeretet2 commented on #1269
Just a note on terminology, LAMMPS uses "soft" for these types of
potentials, while "smooth" refers to potentials that go smoothly to 0 at
the cut-off. That's why everything in USER-FEP is called */soft.

On Sun, Dec 30, 2018, 12:59 PM Evangelos Voyiatzis <notifications@github.com
wrote:

[2018-12-30 19:58] evoyiatzis commented on #1269
Thanks for the note. I have updated the text accordingly.

[2018-12-31 17:46] agiliopadua commented on #1264
alpha_lj only affects the potential at short range, to soften the repulsive core. At the distance cutoff the term with alpha_lj in the denominator (0.5 max when lambda=0) should be negligible with respect to (r/sigma)^6, typically 3.0^6 = 729.0. When lambda approaches 1.0 then this term vanishes. Therefore, beyond the cutoff the only important factor is multiplying by lambda^n, which is done. The

[2018-12-31 18:01] agiliopadua commented on #1269
@evoyiatzis just a few points concerning the implementation.
Have you tested your pair_lj_class2_soft* by running simple examples, e.g.:
- 2 atoms at a series of distances,
- a liquid of class2 atoms with lambda=1 comparing with (not soft) pair_lj_class2,
- a simple FEP calculation
It would be useful to have a pair style with coul_long.

[2019-01-03 17:55] evoyiatzis commented on #1269
In the attached file, I have included a lj_class2_coul_long_soft pair_style and I have updated primarily the formatting of the other two styles.

[class_2_soft.tar.gz](https://github.com/lammps/lammps/files/2724754/class_2_soft.tar.gz)

For testing purposes, I  evaluated configurations of a polyamide-6 system with these three styles using lamda = 1, n = 1, alpha_LJ = 0 and alpha_C = 0 (i.e. no sof

[2019-01-03 19:31] #1260 closed

[2019-01-07 19:14] akohlmey opened #1278 "[Feature Request] CMake should automatically regenerate "style_XXX.h" files"
## Summary

CMake based builds should automatically update the various "style_XXX.h" file when corresponding source files are added, renamed, or removed. Right now one has to explicitly execute `cmake .` to trigger this and avoid missing styles in the executable or error messages.

## Type of Issue

Enhancement

## Detailed Description (Enhancement Suggestion)

After running in `src`, e.g.
[code]

[2019-01-07 19:47] #1257 closed

[2019-01-07 19:48] rbberger commented on #1257
See https://cloud.docker.com/u/lammps/repository/docker/lammps/lammps

[2019-01-07 21:32] akohlmey commented on #1264
It would be helpful to have some quantification of how much the the tail correction contributes to the pressure overall (for regular cutoff potentials). Perhaps also in combination with some test using e.g. `lj/long` with `ewald/disp` to asses the error of the tail correction.  For growing cutoff, the tail correction should shrink and the total results approach the long-range results.
I agree, tha

[2019-01-08 20:21] evoyiatzis commented on #1269
@akohlmey I will prepare an example (insertion of short polymer in methane) similar to the existing example of CH4 hydration. Should I submit it as part of the class2 package, of the user-fep or user-misc?

[2019-01-08 21:19] agiliopadua commented on #1269
Yes, I also think it makes sense to include it in USER-FEP. We have to decide where the doc will go: with the pair styles lj/soft or with pair style class2 (as is the case with morse/soft). @evoyiatzis I cloned your fork. so I can test and contribute but I can't see the files in your branch: soft_class2_potentials

[2019-01-08 21:35] akohlmey commented on #1269
I suggest to use this opportunity to change to a consistent pattern. I think it would be best to consolidate all /soft potential docs into a single file or a few files (lj, coul, class2, morse) and in the case of the single file perhaps rename the file from `pair_lj_soft.txt` to `pair_fep_soft.txt`. But then there should be a mutual links (e.g. on `pair_morse.txt`, that there is a `/soft` version

[2019-01-09 13:51] njzjz opened #1280 "Use print command but print nothing"
## Summary

I used [print command](https://lammps.sandia.gov/doc/print.html) but nothing appeared on the screen.

## Type of Issue

Bug Report

## LAMMPS Version (Bug Report)

12 Dec 2018

## Expected Behavior (Bug Report)

The input file was just:
[code]

`test` would be appeared on the screen as expected.

## Actual Behavior (Bug Report)

However, the output on the screen was only:
[code]
but no

[2019-01-09 14:03] agiliopadua commented on #1269
Makes sense. I will work on consolidating the doc.

[2019-01-09 14:17] akohlmey commented on #1280
please let us know which version of the intel compiler you are using, which OS/Platform/version you are running on, and what the exact command line is, that you use to run the example. also please make certain, that you have an "end-of-line" in your input (just add a few empty lines).
This same input works as expected on LAMMPS compiled with gcc 8.x on Fedora Linux.

[2019-01-09 14:23] junghans opened #1281 "automatic deploy of rpms"
## Summary

When playing around with last stable release on Fedora, I had a look at https://copr.fedorainfracloud.org/, which basically allows continuous deployment of rpms for fedora 27-30, epel 6 & 7, magela and OpenSuse.

## Type of Issue

Suggestion

## Detailed Description (Enhancement Suggestion)

A more detailed description on what can be done, can found here: https://pavel.raiskup.cz/blog/

[2019-01-09 14:30] njzjz commented on #1280
I find what is wrong. When I run `lmp<in.lammps`, nothing is printed. But if I run `lmp -in in.lammps`, here is the result:
[code]

So why cannot `lmp<in.lammps` work?

My system is CentOS 6.8 and my intel compiler version is 2019.0.

[2019-01-09 20:31] stanmoore1 opened #1283 "Potential MPI Deadlock when divide by zero"
## Summary

When using a spatially dependent variable, only one processor out of many may encounter a divide by zero condition. As the code is currently written using `error->all`, this can lead to MPI deadlock. For example, see https://github.com/lammps/lammps/blob/master/src/variable.cpp#L2205. This part of the code should use `error->one` instead.

## Type of Issue

Bug Report

## LAMMPS Versio

[2019-01-09 20:46] stanmoore1 opened #1284 "Failed compile due to lmpinstalledpkgs.h"
## Summary

I sometimes build two versions of LAMMPS at the same time using gmake for debugging purposes. This now fails due to #899 because the lmpinstalledpkgs.h file gets messed up. The concurrent builds somehow collide:

[code]

Here is the contents of the messed up lmpinstalledpkgs.h file:

[code]

Can this file be moved to the `obj` directory and be generated separately for each build?

## T

[2019-01-09 20:52] akohlmey commented on #1284
This is not a supported mode for the conventional build (and never has been). lmpinstalledpkgs.h is not the only file that can get corrupted while launching multiple concurrent makes. i have run into that a few times in the past. i would suggest to use CMake instead. or do "make  -j# arch1 && make -j# arch2", but *not* "make -j# arch1 arch2"

[2019-01-09 21:02] stanmoore1 commented on #1284
It seems like since the conventional build system uses separate `obj` directories and separate `exe` files, this should be trivial to fix.

[2019-01-09 21:05] akohlmey commented on #1284
They don't always get corrupted, but all the style_xxx.h files use the same mechanism, only the window for corrupting race conditions is smaller than for lmpinstalledpkgs.h.

[2019-01-09 21:08] akohlmey commented on #1284
it is not as trivial as you might think, you need to have a per-instance unique temporary filenames generated in a platform portable way. it gets even more complicated when you have a folder shared between multiple machines on a networked file system. using CMake enforces proper out-of-source builds and thus avoids the issue by construction. same is true for "make -j# arch1 && make -j# arch2" just

[2019-01-09 21:12] akohlmey commented on #1284
Let me try to address this from the other end: is there something that you cannot do with CMake, but with the conventional build? or something where CMake is inconvenient to use? The CMake build system has come so close to be able to replace the conventional build system, that i would rather spend time on make it a complete replacement, than trying to improve the old build system.

[2019-01-09 21:13] stanmoore1 commented on #1284
Why can't these files be generated when packages are installed/uninstalled and not at compile time? When I'm compiling I'm not changing the packages, so `lmpinstalledpkgs.h` doesn't need to be regenerated every time. Same with the style files.

[2019-01-09 21:18] akohlmey commented on #1284
in the conventional build, packages and style files may have been added or removed by other means than "make yes-pkg" or "make no-pkg".

CMake currently fails to detect newly added/removed sources, e.g. when i add a new style file, or when i switch between branches that have files added or removed. see #1278
the conventional make can handle this **exactly** because it attempts to update the style

[2019-01-09 21:19] stanmoore1 commented on #1284
Why does it need to be per-instance? Couldn't we just append the `exe` name, like `mpi` or `serial` from `Makefile.mpi` or `Makefile.serial`.

[2019-01-09 21:32] stanmoore1 commented on #1284
Thanks, I'll give it a whirl.

[2019-01-09 21:36] akohlmey commented on #1284
Shared networked file systems can create all kinds of race condition problems. If the hack from above fixes it, i am willing to include it. But i would regardless advise to give building with CMake a try. out of source builds is a strength of that system, and that extends into the lib folder, where only KOKKOS (due to some ultra-extreme gmake hacking) works around. If we had not have CMake added,

[2019-01-09 21:42] akohlmey commented on #1283
good catch, but we should try to avoid calling error->one() in cases when error->all() could be safely used, as for the latter is much easier to recover from, when exceptions are enabled. so it might be better to change the convenience function to include an additional (optional) parameter. like this:
[code]
Then calls to `print_var_error()` could have an additional flag 0 appended for the cases,

[2019-01-09 21:46] stanmoore1 commented on #1283
@akohlmey I totally agree, thanks

[2019-01-10 00:38] junghans commented on #1278
That might be a hard call, if you add `cpp` files CMake doesn't recognize that automatically even if the whole directory was globbed. One could certainly add a magic dependency on some hidden file to always re-trigged a CMake rerun (and hence re-generation of `style_XXX.h` files), but that doesn't feel right to me.

[2019-01-10 20:20] evoyiatzis commented on #1269
@agiliopadua  please check the soft_class2_potentials branch. I have included the source files and made a small addition to the Install.sh file.

[2019-01-14 09:35] agiliopadua commented on #1264
I suggest making this approximation explicit in the documentation of the core soft pair styles that allow tail correction (this includes the new class2_soft). I would also print a warning if r/sigma < 2.5 (meaning the tail correction may have itself an error of 0.2% due to this approximation).
I've looked at integrating the exact lj_soft potential for energy and pressure tail corrections and could

[2019-01-14 09:48] evoyiatzis commented on #1264
I had a look at the documentation of the AMBER code and the developers are using the same approximation like you have done @agiliopadua , i.e. scaling the usual L-J expression with lambda^n. So, I guess I have been to picky on this. Printing a warning and updating the documentation is the most obvious way to go. Out of curiosity, can you share the exact expressions by email?

[2019-01-15 23:10] akohlmey commented on #1280
must be an issue with the intel compiler or the MPI library used not handline I/O redirection properly. It is obviously not a LAMMPS issue, since both options work with several other compilers and MPI libs.

[2019-01-15 23:10] #1280 closed

[2019-01-18 08:51] akohlmey commented on #1278
@sjplimp what is your take on this? if i understand correctly, we would have the choice to either always trigger running `cmake .` at the beginning of each call to `make` to make CMake compilation work like the conventional make builds, which would be somewhat excessive. Or one would have to explicitly call `cmake .` when files are added or removed, which may be somewhat inconvenient and in some c

[2019-01-21 10:46] TOFarmer opened #1294 "ndihedraltypes is incorrectly assigned to nangletypes"
## Summary

A minor bug which assigns ndihedraltypes to nangletypes in system dictionary. This causes PyLammps.system to return an incorrect value for nangletypes and no value for ndihedraltypes.

## Type of Issue

Bug Report

## Detailed Description (Enhancement Suggestion)

Fixed with the following change in lamps.py line 991:
[code]
Change could easily be folded in to any PR that modifies Pytho

[2019-01-21 10:54] akohlmey commented on #1294
Thanks for the lucid and well done bug report. This should be fixed in commit 49da946398c88a17b30fca2a1a2b011d8f613c86

[2019-01-26 05:44] yanxon opened #1305 "ERROR: Illegal compute sna/atom command (src/SNAP/compute_sna_atom.cpp:115)"
## Summary

Error obtained while running this script:
[code]

## Type of Issue

'Bug Report'

## LAMMPS Version (Bug Report)

I am unsure about the version. I downloaded directly from ppa:gladky-anton/lammps
What's the command to check for lammps version?

## Expected Behavior (Bug Report)

This should compute the bispectrum components

## Actual Behavior (Bug Report)

ERROR: Illegal compute sna/a

[2019-01-26 10:37] akohlmey commented on #1305
This is not a bug, but your command line is incorrect. Your command line is set up for **two** atom types, but you have only **one** atom type in your system. So compute `sna/atom` is correct to complain. Please consult the documentation for compute `sna/atom` more carefully.

[2019-01-26 10:37] #1305 closed

[2019-01-31 21:57] #1269 closed, assigned to agiliopadua, evoyiatzis

[2019-02-01 21:59] rajendra1213 opened #1313 "Problem with pair_style edip"
## Summary

I am trying to relax a a-Si model on LAMMPS with EDIP potential for which I set the pair_style to edip and pair_coeff to ** Si.edip Si. The error message displayed is
ERROR: Unknown pair style edip (../force.cpp:262)
How can I get rid of this problem?

Any help would be greatly appreciated.

Thanks,
Rajendra Thapa.

[2019-02-01 22:33] akohlmey commented on #1313
please study the documentation more carefully. the documentation of the pair style edip should tell you which (optional) package it belongs to and then review how to compile LAMMPS so that you build/install a LAMMPS binary that includes this package and thus the desired pair style.

this is neither a bug nor a feature suggestion, so please in the future a) study the documentation more carefully (a

[2019-02-01 22:33] #1313 closed

[2019-02-01 22:52] rajendra1213 commented on #1313
That was helpful but sounded quite rude.

Thanks,
Rajen

On Fri, Feb 1, 2019 at 5:33 PM Axel Kohlmeyer <notifications@github.com>
wrote:

[2019-02-01 22:52] rajendra1213 commented on #1313
Thanks
Rajen.

[2019-02-01 23:07] akohlmey commented on #1313
On Fri, Feb 1, 2019 at 5:52 PM rajendra1213 <notifications@github.com>
wrote:

what do you expect, if you use the wrong place to ask your question, and
ignore all the instructions given in the template we provide to receive
meaningful and and constructive issue submissions? also, there is a whole
chapter in the LAMMPS manual covering errors and how to deal with them.
thus you cannot expect kind tr

[2019-02-01 23:18] rajendra1213 commented on #1313
The package that I need to install is the USER-MISC for the edip potential
to work. Now that I have checked the list of all installed packages using

, I see USER-MISC package already installed.

Thanks,

On Fri, Feb 1, 2019 at 5:33 PM Axel Kohlmeyer <notifications@github.com>
wrote:

[2019-02-08 21:34] hanyunfan opened #1324 "[BUG] nvcc fatal : Value sm_75 is not defined for option 'gpu-architecture'"
**Summary**

Built with kokkos and cuda10.0, modified KOKKOS_ARCH =   SKX;Turing75 in src/MAKE/OPTIONS/Makefile.kokkos_cuda_mpi

Here is the error message

**LAMMPS Version and Platform**

LAMMPS version: lammps-patch_8Feb2019
Operating system: RHEL7.4 Dell R740
OpenMPI 3.1.1
CUDA 10.0
GPU NVidia T4

**Expected Behavior**

Expecting it can be compiled

**Actual Behavior**

[frank@gpu032 src]$ make

[2019-02-08 21:37] hanyunfan commented on #1324
sorry, my bad. loading wrong version of cuda.

[2019-02-08 21:37] #1324 closed

[2019-02-11 18:53] Adrian-Diaz commented on #1249
Yea the segfault arises due to the point drop function pointer in comm_tiled.cpp being called in exchange before the function pointer is initialized when using shrink wrap. Fixing that entirely however may not be too pretty since it requires moving, in addition to the function pointer initialization, the exchange setup towards the end of the setup routine somewhere that its called before exchange

[2019-02-11 20:50] akohlmey commented on #1249
For the time being, it should be sufficient to simply add a check for shrinkwarp+tiled and error out with a message to switch to tiled communication **after** read_data. I currently cannot imagine a setup where we would absolutely need tiled communication to work this early.

[2019-02-12 01:12] junghans opened #1326 "lammps 12Dec2018 (last stable) fails with gcc-9 on Fedora 30"
[code]

Details: https://bugzilla.redhat.com/show_bug.cgi?id=1675247

[2019-02-12 01:24] akohlmey commented on #1326
Looks like a bug in gcc's OpenMP support or an incompatible change in the
OpenMP semantics (there would need to be a flag to turn that off). I am not
aware of a way to satisfy the requested changes without breaking lammps for
all other compilers.

Good luck

--
Dr. Axel Kohlmeyer  akohlmey@gmail.com  http://goo.gl/1wk0
College of Science & Technology, Temple University, Philadelphia PA, USA
Intern

[2019-02-12 01:36] junghans commented on #1326
Could we wrap it in `#ifdef __GNUC__` ?

[2019-02-12 01:37] junghans commented on #1326
Or we turn off OpenMP on Fedora for the time being.

[2019-02-12 01:53] junghans commented on #1326
How about:
[code]

[2019-02-12 06:35] akohlmey commented on #1326
That is what I am talking about. It will break with other compilers and older gcc, e.g. with gcc 8.2 on fedora 29:
[code]

[2019-02-12 06:55] akohlmey commented on #1326
When something doesn't work on Fedora with a **pre-release** compiler, that does not automatically make it a bug. Especially since suggested changes by that compiler will break with other **released** compilers. How this is being handled on the Fedora side, is not a LAMMPS concern. Since this is an issue, that affects many files, the way to address it in an automated fashion would be to replace th

[2019-02-12 13:52] junghans commented on #1326
Here is GCC's porting guide: http://gcc.gnu.org/gcc-9/porting_to.html#ompdatasharing

[2019-02-12 17:39] junghans commented on #1326
Workaround for now: https://src.fedoraproject.org/rpms/lammps/blob/master/f/lammps.spec#_129

[2019-02-13 08:17] akohlmey opened #1327 "[BUG] Incorrect handling of atom_style ellipsoid data with read_data and write_data"
**Summary**

Using `read_data` and `write_data` does not enforce or create correct data files

**LAMMPS Version and Platform**

LAMMPS 4 Jan 2019 and 8 Feb 2018, Linux x86_64 fedora 29 and ubuntu

**Expected Behavior**

`read_data` should enforce consistent settings in the data file, and `write_data` should write out correct and consistent data files.

**Actual Behavior**

`read_data` accepts line

[2019-02-13 11:22] akohlmey opened #1328 "[BUG] Variable length arrays in fix bond/react"
**Summary**

Variable length arrays are tolerated by most C++ compilers (in compatibility mode), but are not a valid C++ feature. We want to gradually move LAMMPS to be C++11 compliant, so those need to be removed and replaced with standard compliant code.

**LAMMPS Version and Platform**

LAMMPS 8 Feburary 2019, Fedora Linux 29, x86_64, GNU g++ 8.2.1

**Expected Behavior**

No compiler warnings w

[2019-02-13 11:34] akohlmey opened #1329 "[BUG] Variable length arrays in USER-SMTBQ package"
**Summary**

Variable length arrays are tolerated by most C++ compilers (in compatibility mode), but are not a valid C++ feature. We want to gradually move LAMMPS to be C++11 compliant, so those need to be removed and replaced with standard compliant code.

**LAMMPS Version and Platform**

LAMMPS 8 Feburary 2019, Fedora Linux 29, x86_64, GNU g++ 8.2.1

**Expected Behavior**

No compiler warnings w

[2019-02-14 01:55] junghans commented on #1278
The more I think about it, the less I think re-triggering `cmake` at `make` time automatically is the CMake :tm: way! (Maybe @bradking disagrees).

I guess we could generate the style header at `make` time using something like `add_custom_command(OUTPUT style_XXX.h COMMAND ...)`, but I am not sure how hard that is, maybe @rbberger has more insights.

[2019-02-14 07:45] akohlmey commented on #1249
fixed by PR #1325

[2019-02-14 07:45] #1249 closed

[2019-02-14 09:49] akohlmey opened #1334 "[Proposal] Use RST and convert images generated from LaTeX to use MathJax"
**Summary**

In case we adopt the changes from #1320, the biggest hurdle for switching to using the RST file format as source for the documentation has been removed. This would be further simplified and more consistent, if we take all equations in latex format and integrate them as MathJax. This would also allow us to use LaTeX typesetting to refer to parameters from those equations in the text.

[2019-02-14 14:37] evoyiatzis opened #1336 "[BUG] LAMMPS crashes when computing the average coordination parameter"
**Summary**

For systems less than 27 million atoms, LAMMPS computes and prints smoothly the average coordination number (combination of coord/atom & reduce ave commands) to screen & log file (using the thermo command). For larger systems, it crashes when reaching the point to perform the actual calculations.

**LAMMPS Version and Platform**

LAMMPS stable version downloaded from GitHub at 14-02-2

[2019-02-14 16:07] akohlmey commented on #1336
@evoyiatzis some additional questions:
- what is the error when LAMMPS crashes? can you get a screenshot or have something useful in the logfile?
- how did you compile the executable (-DLAMMPS_SMALLBIG or -DLAMMPS_BIGBIG), which compiler, which platform etc.
- are you running in serial or in parallel? if parallel, on how many processors? and is this across multiple nodes or on a single shared memo

[2019-02-14 17:09] akohlmey commented on #1336
@evoyiatzis i've been able to run your input successfully on a machine with 48GB RAM and 25GB swap with mpirun -np 8 and LAMMPS compiled with -DLAMMPS_BIGBIG. So you are possibly running out of memory and/or have issues with too much data per MPI rank.

[code]

[2019-02-14 17:24] #1328 closed

[2019-02-14 17:50] stanmoore1 opened #1337 "[BUG] Some examples use deprecated Reax"
**Summary**

The following examples use the deprecated `pair reax`, which has been removed from LAMMPS:

[code]

**LAMMPS Version and Platform**

Latest Master

Should these examples be removed, or be updated to use the `USER-REAXC` package?

[2019-02-14 18:23] akohlmey commented on #1337
Updated

--
Dr. Axel Kohlmeyer  akohlmey@gmail.com  http://goo.gl/1wk0
College of Science & Technology, Temple University, Philadelphia PA, USA
International Centre for Theoretical Physics, Trieste. Italy.

On Thu, Feb 14, 2019, 18:50 Stan Moore <notifications@github.com wrote:

[2019-02-14 23:50] eofetis commented on #1334
If you decide to go the RST way, by simply replacing *.txt with slightly modified *.rst in doc/src and slightly changing Makefile I managed to get nice LaTeX equations in both html (through MathJax) and pdf. Here is comparison with old "jpg style":
1) pdf
![screen shot 2019-02-14 at 3 42 20 pm](https://user-images.githubusercontent.com/42049238/52824939-9de45200-306f-11e9-920e-cb138a2761d8.png)

2

[2019-02-15 00:02] rbberger commented on #1334
As the author of the `txt2rst` tool (which was always meant to be a gateway drug), I welcome making it obsolete. :smile:

[2019-02-15 10:21] evoyiatzis commented on #1336
@akohlmey  Thanks for spending your time in this issue. A few more details:
I am running LAMMPS on a single-node with roughly 125 GM RAM and 16 cores using the command mpirun -np 16 and LAMMPS has been compiled with -DLAMMPS_SMALLBIG (i.e. the default flag). The number of particles in the system is roughly 38-39 millions so it should be ok. During execution, roughly 64 GB are needed (see the attac

[2019-02-15 11:43] akohlmey commented on #1336
@evoyiatzis there is very little left, that i can do for you here. I need some screen output of an actual error message, not MPI telling me, that there was an error. or even better would be a stack trace from the debugger. since i cannot reproduce the error, i cannot get that info on my own.

[2019-02-15 15:54] evoyiatzis commented on #1337
For the case of "examples/USER/qtb/methane_qtb", if line 47 in methane_qtb.in is replaced with:

pair_style              reax/c NULL #10.0 1 1 1.0e-6
pair_coeff              * * ffield.reax C H
fix                     11 all qeq/reax 1 0.0 10.0 1.0e-6 reax/c

then the example works fine. The same replacement has to be made in file "methane_qtb.mod" line 41 for the second example.

[2019-02-18 01:57] rbberger commented on #1278
@akohlmey @junghans I found a mechanism that we might be able to use. I'm not there yet, but I'm now catching at least style header renames and touching style header files. All of these will trigger a configuration run first. See commit above.

[2019-02-20 22:20] erozic opened #1343 "[BUG] lammps_scatter_atoms_subset method (in library.cpp) doesn't work properly"
**Summary**

The ```lammps_scatter_atoms_subset``` method of ```library.cpp``` doesn't update the atoms given by the ```ıds``` array, but sequentially (as in ```lammps_scatter_atoms```), when the data type is ```int```.

This is most probably just a c/p mistake from the aforementioned (older) ```lammps_scatter_atoms``` method, and the correct code can be seen a few lines lower in the ```double```

[2019-02-20 22:22] erozic commented on #1343
By the way, can you tell me is this the preferred/correct way to report this or should I have just corrected this in my fork and submitted a pull request in which I explain what I did and why? Since it's obvious what the problem is and I have fixed it and tested it locally for myself...

[2019-02-20 22:26] akohlmey commented on #1343
@erozic your bug report is fine like this, but if you have a working change, a pull request would be preferred. It will most certainly improve the chance, that a bugfix is included. On github, a pull request is essentially an issue with an associated branch. If you submit a pull request, a bug report is not really necessary, but since you have already created one, you can just add the text `closes

[2019-02-21 00:19] erozic commented on #1343
Great, thanks, doing that now :)

[2019-02-21 10:25] uihsnv commented on #945
Is there a road-map for when this migration will happen?

[2019-02-21 12:56] ellio167 commented on #945
Anytime now.  See #1011

[2019-02-22 20:10] #1138 closed

[2019-02-22 20:10] #1343 closed

[2019-02-23 01:57] tabedzki opened #1345 "[Feature Request] Help implementing a new particle-to-mesh variable"
**Summary**

I am looking into implementing new fields in LAMMPS to capture chi interactions and density fields of block copolymers to perform something akin to self-consistent field theory with dynamics. Is there an easy way to take the particle to mesh transformation that exists for Coulomb interactions and apply it to  a newly created field? What I am looking for is the documentation that speci

[2019-02-23 02:59] donatas-surblys opened #1346 "[BUG] internal variable type: deleting a variable causes side effects on other variables"
**Summary**

When a variable of internal type is deleted, variables of internal type that were defined after it have their references shifted. This also happens when the variable is of loop type and is deleted via the next command.

**LAMMPS Version and Platform**

This has been confirmed with the latest master version.

**Steps to Reproduce**

Run the following script:
[code]

**Expected Behavior

[2019-02-23 15:48] akohlmey commented on #1345
an easy way? no.

the documentation you look for is the source code. the code that computes the (smeared out) charge distribution on a (polynomial) mesh is in the PPPM class and the classes/functions it calls. for details, you must study the sources. i suggest you start by reading the pppm.h header and then read pppm.cpp

[2019-02-23 16:43] tabedzki commented on #1345
Alright. Thanks for suggesting which files.

[2019-02-23 21:18] akohlmey commented on #1346
@donatas-surblys thanks for the report. a fix is underway and should be included in the next patch release.

[2019-02-26 13:44] akohlmey commented on #1345
@tabedzki can we please move this discussion to the lammps-users mailing list? This may be of interest to more people and the mailing list is archived and well searchable via google. We prefer to have GitHub issues to be focused on either bugs or specific feature requests or specific development related issues. More concept related discussions are better done on the mailing list, where they are al

[2019-02-26 13:56] tabedzki commented on #1345
Sorry didn't know this was the wrong place. Will do

[2019-02-26 13:56] #1345 closed

[2019-02-26 14:02] akohlmey commented on #1345
no worries. it is not always obvious which is the preferred path.

[2019-02-26 16:10] tyst3273 opened #1349 "meam and reax still in standard packages in lammps"
**Summary**

When compiling lammps from source with the 12Dec2018 tar file on linux, if I include all standard packages with 'make yes-std', It will not compile. It returns an error related to not finding files for MEAM and REAX packages. As I understand it, these packages are deprecated, having been replaced by the user packages MEAMC and REAXC and are no longer supposed to be included (according

[2019-02-26 16:14] akohlmey commented on #1349
@tyst3273 you are not correct. MEAM and REAX are **still** included in the stable 12 Dec 2018 release. They were removed **after** that release. The issue you are seeing is because you did not follow the installation instructions properly. Both, reax and meam require to first compile a fortran library in the lib/reax and lib/meam folder and then provide a suitable Makefile.lammps file with setting

[2019-02-26 16:14] #1349 closed

[2019-02-26 16:26] tyst3273 commented on #1349
Ah! I miss understood 'after' to mean inclusively. In any case, there no longer exists any documentation on meam or reax in the standard package list and the links for meam and reax (elsewhere in the documentation, e.g. https://lammps.sandia.gov/doc/pair_meam.html) return a 404 error.

[2019-02-26 16:37] akohlmey commented on #1349
The online documentation always reflects the latest patch release, not the stable release. It says so at the beginning.

[2019-02-27 22:02] #1337 closed

[2019-02-27 22:02] #1346 closed

[2019-02-28 22:14] akohlmey commented on #1336
@evoyiatzis since there has not been any update for two weeks, and I (or somebody else) have not been able to confirm this, I am closing this now. Feel free to file a new bug report, if you are able to narrow this down some more and can (more) convincingly prove, that this is indeed a LAMMPS issue and not you running out or RAM or stack space or overflowing some 32-bit counters.

[2019-02-28 22:14] #1336 closed

[2019-02-28 22:24] akohlmey commented on #1281
Don't think the benefit is significant to warrant the effort. If LAMMPS gets broken on ppc64le, I would expect the folks at ORNL or alike will tell us about it immediately.

[2019-02-28 22:24] #1281 closed

[2019-02-28 22:27] akohlmey commented on #877
many of these are already available now, including the most important ones like compiler version, MPI/OpenMP version and list of included packages. others will be added when it is convenient.

[2019-02-28 22:27] #877 closed

[2019-03-05 19:26] #1329 closed

[2019-03-07 13:11] mkanski opened #1362 "[BUG] 'group id include molecule' leads to segfault for atom_styles without molecule"
**Summary**

Using command `group id include molecule` leads to a segmentation fault when atom_style does not have mol attribute.

**LAMMPS Version and Platform**

28 Feb 2019, Linux Mint 19

**Expected Behavior**

LAMMPS should raise an error for this situation.

**Actual Behavior**

LAMMPS crashes with a segmentation fault.

**Steps to Reproduce**

Run code below.

region              universe s

[2019-03-07 20:18] akohlmey commented on #1278
after multiple discussions, i don't see much of a chance to make this work beyond what is currently covered (which is quite a lot). Since this is primarily for development, i'm now looking into implementing what is needed beyond what we have through git hooks.

[2019-03-07 20:18] #1278 closed

[2019-03-07 20:39] akohlmey commented on #1362
thanks for the report. this is not the only group command option resulting in segfaults when using unavailable atom properties. should be addressed in #1361

[2019-03-08 17:12] #1362 closed

[2019-03-17 04:22] vvsteg opened #1368 "[BUG] gpu_package seems not to follow OpenCL 2.0 and does not compile with ROCm 2.2"
The current version of LAMMPS is compiled with the opencl variant of the gpu_package under Ubuntu 18.04 (14.15 kernel) with ROCm 2.2. There is one Radeon VII GPU in the system.

The standard ```example/melt``` benchmark provides the following errors messages during execution
[code]
If I am not mistaken the reason of these error messages is that the gpu_package does not follow the OpenCL C specific

[2019-03-18 18:30] akohlmey commented on #1368
@vvsteg the OpenCL kernels in LAMMPS predate OpenCL 2.0 and have been in limited maintenance mode since. Can you try if forcing OpenCL 1.2 compatibility at run time with the change below would work around the reported issue? As an alternative, you may look into KOKKOS, which seems to support ROCm now and is more actively maintained.

[code]

[2019-03-18 20:27] vvsteg commented on #1368
Thank you very much for the hints!

I have tried the variant with ```-cl-std=CL1.2```. No success. The error messages have not changed. I am going to post about this compatibility issue at the ROCm list.

I have made an attempt to build Kokkos for ROCm (without MPI) using these setting
[code]
Strangely enough, it seems that C++ AMP library is used in KOKKOS for ROCm. The compilation fails for ROCm

[2019-03-18 20:33] stanmoore1 commented on #1368
@crtrott or @chipfreitag can you comment on building Kokkos with ROCm? I've never done this since I don't have an AMD GPU.

[2019-03-18 20:42] akohlmey commented on #1368
that is the best i could do from what i found through searching with google. :-(

perhaps @ndtrung81 or @wmbrownIntel have some suggestion or can point out a mistake in my hack.

[2019-03-19 19:50] chipfreitag commented on #1368
@rwvo resolved the amp_math.h include problem recently and will be working with the Kokkos team to resolve that issue.  There are a couple of others we need to work through also. This will get  Kokkos ROCm to the point where it once again builds and run tests.

However.  We know that that lammps will not build with the current ROCm backend.  We have a plan to resolve this and will be putting some

[2019-03-21 21:13] akohlmey opened #1373 "[Feature Request] Implement equivalent to 'make install-python' in CMake"
**Summary**

After building the LAMMPS shared library via CMake there should be a way to install the python module similar as with the conventional build system.

**Detailed Description**

The conventional build system allows to install the python module with the matching shared library through "make install-python", either into the system or user python site-packages folder. There doesn't seem to

[2019-03-22 18:56] ndtrung81 commented on #1368
The compiling errors in the original post indicated that the local space variables should be in the outermost level of the kernel. Can you try move red_acc out of the check in lal_aux_fun1.h, and also remove __local for n_stride in lal_lj.cu (as below), and rebuild the GPU library with OpenCL 2.0 and then LAMMPS, and rerun the test with in.melt?

diff lal_aux_fun1.h
[code]
diff lal_lj.cu
[code]
If

[2019-03-23 13:31] junghans commented on #1326
Now I am getting a similar issue with gcc-8.3.0 on Gentoo:
[code]

[code]

I guess this has become a bigger issue than just Fedora and gcc-9.

[2019-03-23 14:00] junghans commented on #1326
Scrap that, I found it.

[2019-03-23 14:00] #1326 closed

[2019-03-24 12:48] tadmor opened #1377 "[BUG] _Possible errors in unit conversion factors and/or units documentation_"
**Summary**

As part of the extension of the OpenKIM testing framework to support LAMMPS simulator models, I have written a program to convert units between the LAMMPS unit systems.  To conform to LAMMPS, I have used physical constants from NIST (https://physics.nist.gov/cuu/Constants/Table/allascii.txt).  To test my code, I verified that I could reproduce the conversion factors given in update.cp

[2019-03-25 11:01] akohlmey commented on #1377
@tadmor thanks for carefully checking and reporting this. i am assigning this to @sjplimp since the units setting is something that he has been handling in the past, so he should be in the best position to determine where the discrepancies originate from.

[2019-03-25 14:29] mbaeker opened #1378 "[BUG] Possible problem in dump_modify pbc"
I've encountered a strange behaviour of dump_modify pbc when used with
a tilted box-definition.

When I run the attached in-file in lammps (with the atoms from
test.lammps), the file bug.custom correctly lists the positions as

ITEM: ATOMS id type x y z
1 2 0 0 0
2 1 0 1.75978 1.75978
3 1 1.75978 0 1.75978
4 1 1.75978 1.75978 0

When I uncomment the dump_modify command in bug.in to make sure that

[2019-03-25 16:23] akohlmey commented on #1378
@mbaeker thanks for the submission. I have confirmed the bug and a bugfix will be available in the next patch release.

[2019-03-25 16:37] mbaeker commented on #1378
good to know it was a bug - did cost me a few hours with me thinking
that I must be stupid somehow (I'm rathe new to LAMMPS)....

Cheers,
Martin.

Am Mon, 25 Mar 2019 16:23:20 +0000 (UTC)
schrieb Axel Kohlmeyer <notifications@github.com>:

--
                   Priv.-Doz. Dr. Martin Bäker
                   Institut für Werkstoffe
                   Technische Universität Braunschweig

[2019-03-25 17:15] #1378 closed

[2019-03-26 18:56] sef43 opened #1385 "[BUG] MPI error when using fix balance rcb with hybrid ellipsoid particles and periodic boundary conditions"
**Summary**

The combination of tiled communications with rcb load balancing, hybrid ellipsoid particles and periodic boundary conditions results in a MPI error/deadlock.

**LAMMPS Version and Platform**

LAMMPS (12 Dec 2018) compiled with intel 2017.4 on Scientific Linux release 7.5 (Nitrogen) x86_64

**Expected Behavior**

The attached input script and data file should run without hanging or cra

[2019-03-26 19:04] akohlmey commented on #1385
@sjplimp this is confirmed with the latest code from the master branch using gcc 8.x and MPICH or OpenMPI. Symptoms vary with settings and compiler flags between deadlock, message size mismatch errors, and segmentation faults.

[2019-03-26 20:57] hjmangalam opened #1386 "[BUG] lammps cmake process ignores multiple flags"
**Summary**

cmake ignores multiple -D flags

**LAMMPS Version and Platform**

lammps-patch_28Feb2019 & lammps-12Dec18
Trying to build with cmake on AMD64, CentOS 6.9, gcc 6.4, OpenMPI 3.1.2

**Expected Behavior**
following the sequence:

$ cmake ../cmake \

to build a lammps version with support for the locally supplied fftw3, python, voronoi, etc

**Actual Behavior**
CMake Warning:
  Manually-sp

[2019-03-26 22:00] junghans commented on #1386
I think the behavior is as excepted,  `FFT*` is only used when build the kspace package. For `VORO_*` the problem is that you have a typo in the option, i.e. `-DVORONOI` need to be `-DPKG__VORONOI`, same for `PHYTHON` and `MOLECULE`, which will also trigger `PYTHON_EXECUTABLE` to be used.

[2019-03-26 22:01] #1386 closed

[2019-03-27 20:47] #1373 closed

[2019-03-27 23:26] hjmangalam commented on #1386
On Tuesday, March 26, 2019 3:00:42 PM PDT Christoph Junghans wrote:

OK - I may have missed that. I'll re-RTFM

Hmm - strange, the page:
https://lammps.sandia.gov/doc/Build_extras.html#python[1] 

does not mention this; neither do other pages that I'm pretty sure I traversed in search
of the answer.

ie:
https://lammps.sandia.gov/doc/Build_extras.html#voronoi[2] 

Similarly, the entire page descri

[2019-03-27 23:46] akohlmey commented on #1386
On Wed, Mar 27, 2019 at 7:26 PM Harry Mangalam <notifications@github.com>
wrote:

Hmm - strange, the page:

that is not correct. it is explained in
https://lammps.sandia.gov/doc/Build_package.html

which you should have read to learn how to enable/disable packages in the
first place using either CMake or the conventional make process.

while https://lammps.sandia.gov/doc/Build_extras.html

at the

[2019-03-28 02:59] junghans commented on #1386
Also see: https://lammps.sandia.gov/doc/Build_cmake.html and the more comprehensive guide linked in there:
https://github.com/lammps/lammps/blob/master/cmake/README.md it has all options explicitly listed.

[2019-03-28 14:41] stevenvdb opened #1389 "[BUG] compute stress/atom gives zero for USER-INTEL styles"
**Summary**

When using the lj/cut style with the USER-INTEL package, all atomic stresses are equal to zero

**LAMMPS Version and Platform**

I am using commit 28a6dcd1c3a215a15f1cc9480890feb285d4a483 compiled on CentOS Linux release 7.6.1810 (Core) with only the USER-INTEL package installed

**Expected Behavior**

Atomic stresses should sum up to the total stress, as is the case when the USER-INT

[2019-03-28 16:06] akohlmey commented on #1389
This is a known issue. https://sourceforge.net/p/lammps/mailman/message/36586562/
it cannot be easily fixed, but there should be a check in the styles, so they error out.

[2019-03-28 17:45] #1389 closed

[2019-03-28 17:45] #1385 closed

[2019-03-29 05:21] uihsnv commented on #945
In their latest release (v2.0.2), they seem to have made some changes to the name that might require adjustments:

https://kim-api.readthedocs.io/en/latest/_n_e_w_s_source.html
https://groups.google.com/d/msg/openkim/p5_IAG0jHIs/Hu3F-wpzBgAJ

[2019-03-29 11:28] ellio167 commented on #945
@uihsnv see #1392

[2019-03-30 17:54] uihsnv opened #1396 "[BUG] _Error on building with the KIM package_"
**Summary**

Build exits with an error because it is unable to find the `KIM_SimulatorHeaders.h` file.

**LAMMPS Version and Platform**

29Mar2019
Linux kernel 5.0.5
Intel Core i7-6700K

**Behavior**

[code]

**Steps to Reproduce**

The cmake flags I use are:

[code]

**Additional Information**

I have the latest `kim-api` (v2.0.2) installed, and the file that is supposedly inaccessible does exist

[2019-03-30 18:06] akohlmey commented on #1396
is this in a completely new build folder with running cmake from scratch?

[2019-03-30 18:07] ellio167 commented on #1396
Confirmed. I've reproduced the behavior.  Looking into it...

[2019-03-30 18:16] akohlmey commented on #1396
i've only seen this when compiling in an existing build folder with a CMakeCache.txt file.
creating a new build folder, e.g. with:
[code]
completes and links for me.
[code]
This is why i put the note about "configuring from scratch" in the release notes: https://github.com/lammps/lammps/releases/tag/patch_29Mar2019

[2019-03-30 18:25] uihsnv commented on #1396
@akohlmey Yes, I did build it from scratch, and in an empty directory.

I'm using a slightly modified version of the following build-script:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=lammps-beta

Note that I am not using `-DDOWNLOAD_KIM=1`. Instead, I have KIM-API natively installed.

[2019-03-31 02:00] #1396 closed

[2019-03-31 06:41] uihsnv commented on #1396
Thanks! It does build now. I've added that commit as a patch.

[2019-03-31 19:55] vvsteg commented on #1368
@akohlmey, @chipfreitag, @ndtrung81 thank you for the information and the hints!

I have implemented the modification of the ```__local``` variable definitions proposed by @ndtrung81. Unfortunately, these small changes are not enough.

If one just moves ``` __local acctyp red_acc[6][BLOCK_PAIR];``` before the if-statement of the ```store_answers``` macro in ```lal_aux_fun1.h```, OpenCL runtime sti

[2019-04-02 04:38] dsbolin opened #1401 "[BUG] Compute pair/local (and other compute */local) sets number of values incorrectly if any optional keywords are used"
**Summary**

In compute pair/local, the use of the optional `cutoff radius` keyword can break the expected behavior, particularly if only a single quantity is computed. I believe a similar problem would occur for most (all?) other compute */local commands (compute property/local, compute bond/local, etc.) if optional keywords are used.

**LAMMPS Version and Platform**

Current patch version 29 Mar

[2019-04-03 15:20] tabedzki opened #1403 "[BUG?] Difference between grid parameter checks kspace"
I was going through the flag check for the KSpace mesh settings. I noticed that there is a discrepancy between how the flag is set for `gridflag` and `gridflag_6`. One check is `&&` and the other check is `||`. I was wondering whether this deliberately done or which one of them should be fixed.

Line [441 ](https://github.com/lammps/lammps/blob/f73ccc3025ad1003f24f7d1ed36393e96c0986e9/src/kspace.c

[2019-04-03 19:20] akohlmey commented on #1401
@dsbolin your are correct, I just submitted a pull request addressing the issue.

[2019-04-04 16:15] rtoijala opened #1408 "LAMMPS_BIGBIG problems in USER-REAXC"
USER-REAXC uses the wrong print format for tagints in some places. First mentioned in #1405.

Compiler warnings:

    [...]/lammps/src/USER-REAXC/reaxc_traj.cpp: In function ‘int Write_Init_Desc(reax_system*, control_params*, output_controls*, mpi_datatypes*)’:
    [...]/lammps/src/USER-REAXC/reaxc_traj.cpp:289:58: warning: format ‘%d’ expects argument of type ‘int’, but argument 3 has type ‘rc_ta

[2019-04-04 16:47] #89 closed

[2019-04-04 20:15] akohlmey commented on #1200
please see my comment for PR #1250

[2019-04-04 20:15] #1200 closed

[2019-04-05 02:21] donatas-surblys opened #1410 "[BUG] can't use logical NOT in atom variable"
**Summary**

Using the logical NOT operator "!" inside an atom variable causes a "Invalid syntax in variable formula (../variable.cpp:2274)" error.

**LAMMPS Version and Platform**

Latest master version.

**Steps to Reproduce**

Run the following script:
[code]

**Expected Behavior**

Expected output:

**Actual Behavior**

The actual output:

**Further Information, Files, and Links**

All the oth

[2019-04-05 02:53] akohlmey commented on #1410
Thanks for reporting. It is not the only unary operator, there also is the unary "-". For equal style variable evaluations, both cases are handled, but for atom style variables only the unary "-". The one line fix in commit e359e80118890a6330bb3c3c93e1d6637e16d5ed should address this.

[2019-04-05 07:00] yangkunbit opened #1411 "[BUG] “compute stress/atom” The results calculated using pair style reax/c/omp are incorrect"
“These lines in an input script for a 3d system should yield that result. I.e. the last 2 columns of thermo output will be the same:

compute        peratom all stress/atom NULL
compute        p all reduce sum c_peratom[1] c_peratom[2] c_peratom[3]
variable       press equal -(c_p[1]+c_p[2]+c_p[3])/(3*vol)
thermo_style   custom step temp etotal press v_press‘’

But we have try many times the last

[2019-04-05 08:37] mkanski commented on #1411
It's because you use `virial` keyword which excludes the kinetic energy component of pressure. Without it the pressures from the compute and thermo are the same.

[2019-04-05 14:22] dsbolin commented on #1401
@akohlmey Great, thanks! Want me to close the issue, or is that something main developers do?

[2019-04-05 14:34] akohlmey commented on #1401
not needed. we typically put a statement like "closes #1401" or "fixes #1401" into the pull request description or commit message and then github will close the issue automatically, once the change is merged with the master branch, which is the perfect time to do it.

[2019-04-05 14:49] dsbolin commented on #1401
Sounds good, thanks!

[2019-04-05 19:34] #1401 closed

[2019-04-05 19:39] #1408 closed

[2019-04-05 19:39] #1410 closed

[2019-04-05 21:23] akohlmey commented on #1401
@dsbolin the PR is merged now and the issue automatically closed.
Please remember, that you have promised us to submit a pull request with some examples for the new granular pair style and the modified wall fix styles. just something short that we can use as illustrative example and for generating reference runs for regression testing.

[2019-04-06 02:45] yangkunbit commented on #1411
Thank you very much~
We tried  didn't use virial keyword, But I think the main problem is that the results in Linux and windows versions are inconsistent, and the gap is close to three orders.
For example the press is about -3970.1197, but it will be 287559.69 which calculated by  windows versions.

Following the logfile

LAMMPS (8 Feb 2019) for windows
................
compute 	peratom all stress

[2019-04-06 10:01] mkanski commented on #1411
I still cannot confirm it on Windows 10 and 8 Feb 2019 LAMMPS version both serial and MPI. Please attach the `log.lammps` file showing the issue.

[2019-04-06 10:15] yangkunbit commented on #1411
The system is Windows 7 64bit  and 8 Feb 2019 LAMMPS（LAMMPS-64bit-latest-MPI）
[log.lammps.txt](https://github.com/lammps/lammps/files/3050356/log.lammps.txt)
[log.lammps_LAMMPS (12 Dec 2018)for linux.txt](https://github.com/lammps/lammps/files/3050357/log.lammps_LAMMPS.12.Dec.2018.for.linux.txt)

[2019-04-06 10:30] yangkunbit commented on #1411
we found the main reason is the use of OpenMP multi-threading a minute ago，the commond is "lmp_mpi -pk omp 8 -sf omp -in 1500K_RDX.in"

[2019-04-06 10:56] mkanski commented on #1411
Yes, I can confirm it on both Linux and Windows for any number of OMP threads including one. The bug is somewhere in reax/c/omp. Interestingly, the computed pressure is not deterministic if more than one OMP thread is used. The table below shows the result of the thermo and compute for 2 OMP threads:

Sim no. | press | c_press
--|----------------|------------
1 | 146.581690 | 31.563190
2 | 146.581

[2019-04-06 13:07] akohlmey commented on #1411
reopened with corrected subject

[2019-04-06 13:24] akohlmey commented on #1411
did some empirical testing and it looks like the result is correct when i add `no_virial_fdotr_compute = 1;` to the constructor of pair style `reax/c/omp`.

[2019-04-06 13:37] akohlmey commented on #1411
unfortunately not correct, only consistent between global and per-atom stress

[2019-04-06 15:46] akohlmey opened #1417 "[Feature Request] Implement per-atom stress in pair style reax/c/omp"
**Summary**

Per-atom stress is not properly tallied in pair style reax/c/omp. This should be corrected.

**Detailed Description**

When requesting per-atom stress when running pair style reax/c/omp the results are either missing or double counting some contributions. for more details and test inputs, please see issue #1411

[2019-04-08 14:42] #1411 closed

[2019-04-09 10:20] mkanski commented on #869
I believe the bug comes from lines 505-507. Coordinates of all atoms in H2O molecule are converted from fractional coordinates, but it should be done only for local atoms.

https://github.com/lammps/lammps/blob/898860328b45aa938547490af4261f5d80386f31/src/KSPACE/pppm_tip4p.cpp#L505-L507

Replacing the lines with the snippet below gives almost the same energies for orthogonal and triclinic (without

[2019-04-11 09:22] mjclarke94 opened #1425 "[Feature Request] Allow delete_atoms to work on specific species or group"
**Summary**
The delete atoms command currently is indiscriminate towards the group or species of an atom, and simply works on a given geometric region. It would be useful to have the option to discriminate between types of atoms.

**Use case**
As an example use case, when calculating Li diffusion coefficients through a cathode, it is necessary to remove a small fraction of Li atoms from the pristi

[2019-04-12 08:42] mkanski commented on #1425
It's not entirely true. Delete_atoms command works on groups which can be defined by an atom-style variable. The code below should delete approx. half of atoms of type 1:

`variable delete atom (type==1)*(random(0,1,214365)<0.5)`
`group delete variable delete`
`delete_atoms group delete`

The created variable is equal to 1 if an atom is of type 1 and a random number is lower than 0.5 and such atom

[2019-04-13 10:36] mjclarke94 commented on #1425
Hi @mkanski. Forgive my ignorance, but follow up question:

Is it possible following this to update the charge of a group of atoms? I just tried your and it deletes approximately the right number of atoms, but I can't know ahead of time exactly how many will be deleted. I'd then need to charge compensate for the removal of these atoms by slightly increasing the charge of another group of atoms. Is

[2019-04-16 04:54] jrgissing commented on #1425
although probably not relevant to the use case you mentioned, fix bond/react can also delete specific molecules, identified by their topology

[2019-04-17 02:03] nleconte opened #1429 "[BUG] KC type potentials - parallelization issues"
**Summary**

I've been looking at output based on calculations using the  Kolgomorov Cresti type potentials (full and ILP) on a bilayer system.

Both give the strange behavior in attached files at the end of this issue.

I am using 40 mpi processes, yielding a 5 by 4 by 2 MPI processor grid.

Incidentally, that's what we see in this grid, a 5 by 4 grid with mismatches at the interfaces of the grid

[2019-04-18 03:14] nleconte commented on #1429
Actually, I'm wondering if the problem also exists using only one MPI process. In the following figure, it seems that the edges are affected too (hinting towards some problem in the periodic boundary conditions when calculating the normals)?

<img width="1303" alt="Screenshot 2019-04-18 12 05 04" src="https://user-images.githubusercontent.com/11783268/56334258-91e15180-61d2-11e9-892b-204879edef70.

[2019-04-22 23:52] ellio167 opened #1432 "[BUG] _Global variable in USER-REAXC can cause segfaults_"
**Summary**

The LR variable defined in reaxc_lookup.cpp (line 32) is global and can cause problems if multiple pair_reaxc objects are created.

**Comments**

The LR variable should be made local to the pair_reaxc object or a new class should be defined that could contain the LR variable and have all of the reax functions as member variables.  This would involve a good deal of changes/additions/ad

[2019-04-24 09:19] mkanski commented on #1432
The bug is more severe, because even if there are no segfaults, the results are wrong, since the tabulated long range interactions are taken from the last potential file. However, the fix is not complicated. `LR` is used only in three functions and all of them use the `reax_system` structure, so all you need to do is to move `LR` there.
There is also a second problem - reax/c relies on a fix to co

[2019-04-24 10:52] mkanski commented on #1429
The Jupyter notebook is empty for me. However, I have few question after checking other attached files:
1. Does the problem appear with orthogonal simulation box?
1. Are the grid visible if only AIREBO is used?
1. Your system is anisotropic, but you want to relax the box isotropically. Why? Why is the z-dimension periodic anyway?

Try running the minimization with `neigh_modify every 1 delay 0 che

[2019-04-24 13:38] ellio167 commented on #1432
@mkanski  Thanks for the comment.  Indeed, you are right that the results will be incorrect!  Your suggested fix for the LR variable is nice.  I would be happy to go with this approach.

For your second problem, I'm trying to understand what is going on.  It looks to me that each instance of pair_reaxc will create its own copy of fix_reaxc using the add_fix() function.  Or, does the add_fix() rout

[2019-04-24 21:13] kmanalo opened #1433 "[Feature Request] Maintain Singularity/Docker Containers"
**Summary**

It would be nice to have a Singularity container that follows the latest installation of LAMMPS.

**Detailed Description**

The purpose would be to support more HPC users.  As a non-LAMMP user, but an installer of HPC software, I would like to provide easier ways to deploy containers that have nearly all the packages they would want inside of it.

**Further Information, Files, and Lin

[2019-04-24 21:38] akohlmey commented on #1432
@ellio167 since the fix label is hardcoded into pair reax/c, Modify::add_fix() will replace the previous fix instance with a new one in the same place. see the comments in modify.cpp.
This is obviously not the desired behavior. to ensure, that each instance of pair reax/c has access to a unique fix reax, the fix label has to be made unique (and stored). This could be done by appending the string v

[2019-04-30 16:03] #1432 closed

[2019-04-30 19:51] akohlmey commented on #1425
Been thinking about this for a bit. In principle the issue is resolved by using the strategy proposed by @mkanski , but it seems to me, this would be a more obvious solution, if we add support for using atom style variables directly. I don't want to add sub-options to the porosity keyword, as that would make things more complex and possibly confusing. Opinions anybody?

[2019-05-01 01:34] ellio167 opened #1439 "[BUG] _CMAKE build on macOS fails with KIM-API build with clang (cc, c++) and gfortran_"
**Summary**

CMake build on macOS with KIM-API and cc and c++ (clang), gfortran fails with cannot find library 'gfortran'

**LAMMPS Version and Platform**

patch_30Apr2019

macOS Sierra (10.12.6)

cc -v
Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin16.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bi

[2019-05-01 03:54] rbberger commented on #1368
I can confirm this is also an issue with Intel's Compute Runtime, which is Intel's new OpenCL driver stack, which is also OpenCL 2.0.

[2019-05-01 08:03] uihsnv opened #1441 "[BUG] Intel Compiler flags not set correctly"
**Summary**

The wrong compiler flags are selected, even though I have the intel compilers selected in the cmake options.

**LAMMPS Version and Platform**

30Apr2019

**Actual Behavior**

[code]

**Correct Behaviour**

The tests should Pass, and the `march` and `mtune` flags should not exist. They are `gcc` flags. Not sure about `pipe` and `plt`.

The correct flags are: `-xHost -O2 -fp-model fast=

[2019-05-01 09:49] zqex opened #1442 "[Feature Request] Log distributed samples"
**Summary**

fix print and fix ave/time can be used to save global values at regular intervals. It would be very nice with a similar feature to store the result of global variables / computes e.g. mean-square displacements with log spaced time intervals similar to what can be achieved by dump_modify every v_next for dumping configurations.

**Detailed Description**

MSD data are not only used for

[2019-05-01 10:17] uihsnv opened #1443 "[BUG] Missing header file in USER_INTEL"
**Summary**

Build exits with an error saying that "pppm.h" can't be opened.

**LAMMPS Version and Platform**

30Apr2019
Linux

**Actual Behavior**

[code]

**Steps to Reproduce**

Compile with cmake flags: `-DINTEL_ARCH=cpu -DPKG_USER-INTEL=yes`

[2019-05-01 11:23] akohlmey commented on #1441
Those gcc compiler flags are nowhere set in the cmake configuration files for LAMMPS. This must be an issue with your local cmake installation.

[2019-05-01 11:23] #1441 closed

[2019-05-01 11:26] akohlmey commented on #1443
when using the USER-INTEL package, you currently also have to enable the MANYBODY, MOLECULE, and KSPACE packages as those contain the styles, that the USER-INTEL versions are derived from.

[2019-05-01 12:25] akohlmey commented on #1443
the change in PR #1444 should fix this issue.

[2019-05-01 20:19] #1443 closed

[2019-05-01 22:21] akohlmey commented on #1439
@ellio167 i am not certain, if this needs to be addressed on the LAMMPS side, because there is no fortran code in LAMMPS itself, but in the KIM-API library files. Those should be linked with libgfortran and whatever else is needed and not LAMMPS.

Also, on Linux, when installing a custom compiler (available via environment module) we add to the environment variables `LIBRARY_PATH` and `LD_RUN_PATH

[2019-05-01 22:34] ellio167 commented on #1439
@akohlmey The KIM API library is linked with gfortran and all is fine from that perspective.  The lammps executable should only need to be linked with libkim-api, it should not need to explicitly link against libgfortran.

However, somehow the LAMMPS build is __erroneously__ adding the "-lgfortran" flag to its link command.  This has something to do with the LAMMPS CMake setup.  I'm pretty sure th

[2019-05-01 22:52] akohlmey commented on #1439
@ellio167 i think i understand, where this is coming from. When downloading KIM-API, the CMakeLists.txt file enables Fortran compilation, so that the same fortran compiler is used in KIM-API compilation as is used elsewhere when compiling fortran code in LAMMPS. Please try the following patch.

[code]

Apart from that, I still believe that you would have to set `LIBRARY_PATH` and one of `LD_RUN_PA

[2019-05-02 00:59] ellio167 commented on #1439
The suggested patch essentially works, but it needed tweaking to remember any compiler environment variable settings...  I'll submit a PR right away.

I tested it, and there is no need for a `LIBRARY_PATH` or other variable setting at run time.  The full absolute kim-api library path is embedded in the lammps executable (I think this is true on linux too, at least for the kim-api library).

[2019-05-02 22:30] akohlmey commented on #1439
@ellio167 would you mind trying to test compiling LAMMPS with LATTE and USER-AWPMD enabled as well. That should enable fortran support and thus may fail linking on your MacOSX box as well. If it works, i would like to see the cmake configure output. perhaps we can gain some idea for how to address the handling of fortran with your kind of setup in a more generic way.

[2019-05-03 01:33] ellio167 commented on #1439
@akohlmey It tried it (using the code in this PR) and it, indeed, failed.  In fact, if you look at the log, you will see that kim-api is compiled with `gfortran-8` but LATTE is compiled with `pgf95`
[cmake-make.log](https://github.com/lammps/lammps/files/3140392/cmake-make.log)

Since this is creating a static library, when linking lammps both liblatte.a and the fortran library will need to be lis

[2019-05-03 01:57] akohlmey commented on #1439
thanks for taking the time. this shows, that for LATTE, the cmake compiler settings are not passed on as it is for other external libraries. this was the idea also for KIM-API to define the CMAKE_XXX_COMPILER variables on the cmake command line and then use them for LAMMPS and all downloaded libraries as well. all things considered, i like the original setup with the unneeded -lgfortran better tha

[2019-05-03 14:28] ellio167 commented on #1439
@akohlmey @rbberger @junghans
Following on....  I think I've worked out a clean way to handle these sorts of external libraries.  It might serve as a template for lammps cmake support.  However, I understand if there is not interest in the large refactoring this would lead to....

Here is my test project:
[latte-external-package-build.zip](https://github.com/lammps/lammps/files/3142309/latte-exter

[2019-05-03 15:44] sgsaenger commented on #1429
While i cannot comment on the versions of the KC potential shipped with lammps,
you could try the implementation available on our fork:
https://github.com/sgsaenger/lammps/tree/rdip

ATM, it is used like the `kolmogorov/crespi/z` by assigning a seperate atom-type to the different layers,
but it implements the full potential:
[code]
We've used it extensively over the years, so far no parallelizatio

[2019-05-04 09:14] uihsnv commented on #1441
I'm using the latest `cmake` version: 3.14.3 . I don't think there is any issue with that. The `-DINTEL_ARCH=cpu` cmake option is supposed to set those options, but for some reason, it is not.

[2019-05-04 15:18] akohlmey commented on #1441
those fail because your CMake does add those GCC-only compiler flags **first**, and those are the problem here. As mentioned before, the "-march" and "-mtune" flags are **NOT** added by the CMake configuration files in LAMMPS. Thus they must be added by your local CMake configuration.

[2019-05-04 18:12] akohlmey commented on #1442
@zqex The thermo command already supports an equal style variable as argument for custom spacing of thermo output lines. In addition, I have just added support for a variable time step spacing to fix print. Doing the same for fix ave/time is more complex, as it is impossible to guarantee that nstep, nrepeat, and nevery are commensurate and not overlapping.

[2019-05-04 19:40] akohlmey commented on #1439
@ellio167 thanks for your efforts. I've adapted passing additional settings to the LATTE library build for improved consistency into PR #1450
Since we want to do a stable release very soon, i would suggest we hold off on larger changes to the cmake configuration scripts until after the stable release and otherwise try. At the moment, things seem to be working ok for the more common case of Linux m

[2019-05-04 20:12] ellio167 commented on #1439
@akohlmey Makes sense.

[2019-05-06 07:36] mkanski commented on #1425
I think that the best solution for a new user would be to make `porosity` work on groups. This would include the existing behavior + atom style variables + other options of groups like subtractions or dynamic groups (if one would like to delete atoms after some MD).
Of course there is a problem with the backward compatibility, but it can be maintained by introducing an optional keyword for `porosi

[2019-05-06 08:58] mkanski opened #1454 "[BUG] Behavior of read_dump depends on the order of keywords"
**Summary**

Atoms are not added if `add yes` keyword is after `format`, e.g.
`read_dump       dump.lammpstrj 0 x y z format native add yes` won't add atoms but
`read_dump       dump.lammpstrj 0 x y z add yes format native` will.

**LAMMPS Version and Platform**

Current master.
Linux Mint 18.

**Expected Behavior**

Atoms should be added regardless of the position of `add yes`

**Actual Behavior*

[2019-05-06 11:30] akohlmey commented on #1454
Actually, this is the documented behavior. It is due to the format keyword, which must come last, if used.

[2019-05-06 11:30] #1454 closed

[2019-05-06 12:33] zqex commented on #1442
Dear Axel,

Excellent having this for fix print solves the problem. I usually use
the dump_thermo as diagnostic to check if the simulation makes sense.
but saves the relevant observables to files during the simulation since
this makes it easier to selectively download and analyse the observables
of interest.

Yes, fix ave/time would be a mess.

Thanks!

Den 04/05/2019 kl. 20.12 skrev Axel Kohlmeye

[2019-05-06 14:25] akohlmey commented on #1433
@kmanalo you can get pretty close to what you are looking for by using the CMake build system and the most.cmake preset, which is missing only a few exotic packages and contains only packages requiring external sources where automatic download and compile is supported.

The major challenge to have a docker/singularity container is to find a person willing to maintaining it. The LAMMPS core team is

[2019-05-06 16:10] #1442 closed

[2019-05-08 00:07] akohlmey commented on #1429
@nleconte please try to validate your observations with the latest development patch version of LAMMPS. I don't think any of the LAMMPS core developers has currently the time to look into this, so your best chances are to look up the email addresses of the contributing authors in the source code (or README or manual) and contact them directly.

[2019-05-08 00:18] nleconte commented on #1429
Hi Axel, Sebastian and Mkanski,

Thanks for responses. I have just returned from holidays so will be follow
up on your suggestions in the coming days/hours.
I am also in touch with Ouyang (the contributing author) who has been
rather responsive, so I'm confident I'll be able to resolve the issue soon.
I'll act accordingly on Github.

Regards,
Nicolas

On Wed, May 8, 2019 at 9:07 AM Axel Kohlmeyer

[2019-05-09 16:18] #726 closed

[2019-05-10 02:17] nleconte commented on #1429
Sorry for late response, I was on holidays.

1. Can't comment on this as the bilayer graphene system I'm simulation requires a triclinic cell to build a commensurate supercell between the two layers.

2. Nothing is visible when only using AIREBO. Indeed, no interaction between layers keeps them perfectly flat.
3. Indeed, that was an error in my input file. For simplicity, I have redone them removi

[2019-05-10 02:23] nleconte commented on #1429
When you say _full potential_, you mean calculating the normals (rather than aligning them with _z_)?

[2019-05-10 04:44] nleconte commented on #1429
For the record, I also just tried using your drip potential. I don't get any spurious grid, using the same input file (replacing the potential call of course), your personal branch and using the same post-processing visualization script.

ASSUMING that no z-axis simplification for the normals is made in @sgsaenger's code, it would _seem_ that the difference lies in the way the normals are calculat

[2019-05-10 04:51] nleconte commented on #1429
And side question: to what data did you fit your drip data? Is it similar to the Drip potential in recent PR #1453? Or was it fit to a different DFT/vdW scheme?

Until I figure out above issue (ILP and KC/full), I'll probably proceed with your potential. The KC/z works without spurious grid, but adds long-range corrugation (I'm not talking about the AA-AB corrugation) as it cannot differentiate be

[2019-05-10 09:42] sgsaenger commented on #1429
Yes, everything is calculated as defined in the original KC paper.

As i said, our implementation is quite old, we just didn't get around submitting it in time before another implementation was merged to LAMMPS...
Therefore, the potential file included in our branch uses the original KC parameters, it has nothing to do with Tadmor et al.'s DRIP.

Our assumptions for edges was for them to be "satur

[2019-05-13 14:32] junghans commented on #1326
Same on Gentoo: https://bugs.gentoo.org/685798

[2019-05-14 06:45] nleconte commented on #1429
Ok, got it about the _full_ terminology.

As for the edges, your potential properly seems to take into account the periodic images to calculate the normals. In the KC/full and ILP potential, it just considers the atoms at the boundaries as being actual edge atoms (with less number of neighbors) when calculating the normals. I think this explains why I get the spurious grid when using it for period

[2019-05-14 07:08] oywg11 commented on #1429
@nleconte It seems that you misunderstand the "edge terminology". In the KC/full and ILP, the calculation of the normal is split into three cases according to the number of neighbours (cont=1, 2, and 3). The less number of neighbours (1,2) is designed for open boundary conditions, in which graphene or hBN have real edges. In your simulation, PBC condition is used, so the number of neighbours for e

[2019-05-14 07:36] nleconte commented on #1429
Thanks for clarifying how your code works and sorry for the confusing terminology I used.

Last time you gave me your output file (in the email exchange) from which I rebuilt the input file. It still gave the buggy looking behavior. Could you send me the input file _as is_, so I can run it with different number of processors and compare line by line with mine. I already have your position file. An

[2019-05-14 08:08] oywg11 commented on #1429
@nleconte Attached please find the input file. I didn't write a script for post-processing, I just typed several commands in MATLAB to plot the figures. The command I used is "contourf", you can find its syntax here: https://www.mathworks.com/help/matlab/ref/contourf.html.

[in.gr.txt](https://github.com/lammps/lammps/files/3176492/in.gr.txt)

[2019-05-14 09:38] sgsaenger commented on #1429
@oywg11
FIY, when we compared your implementation with ours, there were problems in creating the neighbor lists when we used a classical forcefield:
```ERROR: Could not build neighbor list to calculate normals, please check your configuration (../pair_kolmogorov_crespi_full.cpp:731)```
With AIREBO, both RDIP and KC/FULL copy the neighbor list:
[code]
[code]
If we use lj/charmm/coul/charmm, rdip wo

[2019-05-14 10:05] oywg11 commented on #1429
Which version of LAMMPS did you use? I updated the codes recently.
Can you share with me your input file and data file so I can also check it?

[2019-05-16 02:03] junghans opened #1463 "[BUG] MPI_ERR_COMM: invalid communicator with OpenMPI on Centos7"
From: https://bugzilla.redhat.com/show_bug.cgi?id=1710518

Description of problem:

I see this error trying to run lmp_openmpi, for example on 2x18 cores or a single 18-core node, with the rhodo benchmark case; I got the same thing with chute (all over TCP, whether or not that's sensible, and I doubt the transport makes a difference).  Also, it's with `OMP_NUM_THREADS=1`.

[code]

The same thing w

[2019-05-16 02:10] junghans commented on #1463
Reported on Fedora by @loveshack.

[2019-05-16 02:58] akohlmey commented on #1463
LAMMPS version? OpenMPI version? compiler type and version? any evidence that points at LAMMPS as the culprit?

[2019-05-16 10:22] loveshack commented on #1463
As in the current EPEL7 package.

No, given that the MPICH version works, but I haven't have time to debug
it.

[2019-05-16 11:17] akohlmey commented on #1463
no evidence, no investigation.

[2019-05-16 11:17] #1463 closed

[2019-05-18 00:59] akohlmey opened #1466 "2019 LAMMPS Workshop and Symposium Aug 13-15 in Albuquerque, NM"
` ` | **2019 LAMMPS Workshop and Symposium**
----| :----
Date: | **August 13th-15th  2019**
Location: | **University of New Mexico (UNM) Continuing Education Building, Albuquerque NM, USA**
Registration: | **[via Google Docs](https://docs.google.com/forms/d/e/1FAIpQLScoDqLKAZJJC605Nu4Rehx-CJm9-_7HtsWU_JE8auzmYfNFKQ/viewform?usp=pp_url)**
Registration Deadline: | **July 1st 2019 for contributed tal

[2019-05-20 23:37] tabedzki commented on #1403
Any update on this? Do we know which one it should be?

[2019-05-21 16:57] jamie-arcc opened #1470 "[BUG] CMake is not propagating all settings to the subordinate builds"
**Summary**

Using the CMake build with Intel 2019 update 3 and mvapich2 2.3.1 and cmake 3.14.0.  It seems that the configurations for the subordinate packages within lammps are not correctly receiving all of the configuration options that were set when running cmake to configure LAMMPS, causing the build to fail. In addition, the `-xHost` flag is getting added implicitly and inappropriately to th

[2019-05-22 11:18] uihsnv opened #1471 "[Feature Request] Logarithmic spacing function"
**Summary**

I'm looking for a function that generates logarithmically spaced integers, given a total duration (steps or run length) and the number of divisions of that space.

**Detailed Description**

There currently exists functions `logfreq()` and `logfreq2`, but neither of them actually do that. The first can only have logarithmic spacings with an integer base, while the latter is just linear

[2019-05-22 12:40] junghans commented on #1463
Update: This seems to be a problem with OpenMPI-4, still investigating...

[2019-05-22 14:50] danicholson opened #1473 "[BUG] cudaErrorMemoryAllocation with KOKKOS on Volta GPU"
**Summary**

My KOKKOS/CUDA simulation crashes on a cudaErrorMemoryAllocation after ~14 million steps on a Titan V GPU. It is a molecular system without electrostatics.

**LAMMPS Version and Platform**

LAMMPS: 15 May 2019
OS: Centos 7
GCC: 4.8.5
CUDA: 9.1
GPU: Titan V
CPU: Xeon E5-2630 v4

compiled with:
[code]

**Expected Behavior**

The script runs without issue on CPUs

**Actual Behavior**

Th

[2019-05-22 15:03] stanmoore1 commented on #1473
@danicholson  you are running out of memory: `error( cudaErrorMemoryAllocation): out of memory`. The Titan V only has 12 GB of GPU memory, which is probably much less than your CPU. From your stack trace, it runs out of memory when building an atom map--currently the Kokkos package only supports the "array" style atom map which is more memory intensive than the "hash" style. That said, with only 1

[2019-05-22 15:25] danicholson commented on #1473
@stanmoore1 Thanks for the reply. In a previous test, nvidia-smi did not report high memory usage. I wrote a script to check it every minute or so, and the usage was ~600 MiB at the last check before the error occurred. I also used the KOKKOS  tool to check the GPU memory usage for a shorter simulation and it was stationary around a similar value. Could this error be due to memory fragmentation?

[2019-05-22 15:28] junghans commented on #1470
Hmm, I am not sure we can accommodate all these wishes for such specialized builds installing lammps through a real package manager like spack might be the better option. However, we can certainly add an option to not overwrite user specified C/CXX flags.

[2019-05-22 15:34] stanmoore1 commented on #1473
Yeah that seems reasonable for your system size. The error mentions `texture` memory (i.e. Kokkos `randomread` memory), which that atom map variable uses, perhaps switching to regular global memory would fix the issue.

[2019-05-22 15:39] stanmoore1 commented on #1473
This issue sounds very similar to #542.

[2019-05-22 15:46] akohlmey commented on #1470
CMake support is rather new and a work in progress. Thus your feedback is appreciated, but I am not certain, if this is a serious "bug". If you want full customization, please use the conventional build process. It was designed to be more customizable. The primary intent to add support for CMake was to make it easier for people with limited experience compiling software to produce a working versio

[2019-05-22 16:25] jamie-arcc commented on #1470
Maybe that practice should be mentioned in the documentation

Isn't the point of using CMake to do this though? especially since at least one of the packages that is messing up seems to also be configured with CMake, and CMake does definitely have support for handling embedded dependencies at the top level.  Thus far, it only seems to be a small number of packages having the issue and most of this

[2019-05-22 17:03] stanmoore1 commented on #1473
I've checked with Valgrind and Kokkos profiling tools and I don't see any memory growth over time. Can you describe how you are getting LAMMPS source code, are you cloning the GIT repo? Just to be absolutely certain, you used either `make pu` or `make yes-kokkos` after you update your repo?

[2019-05-22 17:23] stanmoore1 commented on #1473
I guess you are using cmake, so the comment about `make pu` wouldn't apply.

[2019-05-22 17:26] danicholson commented on #1473
I can do a test run using global memory rather than texture memory. Would this just require declaring `map_array` as `typename AT::t_int_1d` rather than `typename AT::t_int_1d_randomread` in `neigh_bond_kokkos.h`?

[2019-05-22 17:29] stanmoore1 commented on #1473
Yes, though looking back at #542, it also failed with the exact same error, and the root cause was a memory leak not texture memory, so I'm doubtful that will help.

[2019-05-22 18:07] stanmoore1 commented on #1473
I'm running this on a V100 GPU to see if I can reproduce the OOM. It will take several hours to reach 14 million timesteps, and may need to run even longer since V100 has 16 GB of memory instead of 12 GB for Titan V.

[2019-05-22 18:11] stanmoore1 commented on #1473
Other than a memory leak, something else in the simulation could be blowing up which is leading to a large memory allocation.

You could try writing a restart file every 1 million timesteps, and then after if fails at 14 million timesteps, read back in the latest restart file before it failed, and try running it again. If it fails at the same spot as before, then it is probably something wrong wit

[2019-05-22 18:27] danicholson commented on #1473
Thank you very much for you attention to this issue. I will run the test that you suggested. Based on a CPU-only run with the same input, this system should reach a stable equilibrium in a few nanoseconds, but I agree that it is worth checking.

[2019-05-22 18:40] stanmoore1 commented on #1473
Yes, I mean there may be a bug that is triggered by very rare events that causes an atom to explode out of the box, or something like that.

[2019-05-22 18:41] stanmoore1 commented on #1473
This looks more like a memory leak than that type of bug though, just can't find any evidence yet.

[2019-05-23 05:10] uihsnv commented on #1471
A version of the same, updated to include a start and a finish:

[code]

[2019-05-23 13:50] danicholson commented on #1473
A few things:

1. Starting from a restart at 12 million steps, the script runs for 14 million steps then quits on the same error.

2. The GPU memory usage and host RSS are increasing with time, but never approaching host/device limits.
![mem_GPU_randread](https://user-images.githubusercontent.com/19437833/58256763-9521ad00-7d3d-11e9-8e03-5fe40593f7f8.png)
![RSS_host_randread](https://user-images.g

[2019-05-23 14:52] stanmoore1 commented on #1473
I can reproduce this on V100. It failed just before 14 million timesteps.

[2019-05-23 17:42] stanmoore1 commented on #1473
@crtrott any ideas?

[2019-05-23 19:15] stanmoore1 commented on #1473
@danicholson I submitted another job on V100 with memory profiling to see if I can reproduce the memory growth you saw.

[2019-05-23 19:21] danicholson commented on #1473
@stanmoore1 Just to clarify, I did not use the kokkos profiling tools to monitor the memory. I used `pmap` and `nvidia-smi`.

[2019-05-23 19:25] stanmoore1 commented on #1473
@danicholson understood. Kokkos tools use `getrusage` to get total host memory, which should show the same `rss` growth as you saw. For the GPU memory, the Kokkos tools will tell if the leak is in Kokkos Views or not.

[2019-05-24 14:46] stanmoore1 commented on #1473
I do see significant host `rss` growth over 12 million timesteps. However the memory in Kokkos Views stays constant, at least according to the Kokkos profiling tool.

[2019-05-24 15:48] stanmoore1 commented on #1473
This is definitely related to the neighbor list. I can greatly accelerate the host `rss` growth by building a new neighbor list more frequently.

[2019-05-24 16:15] stanmoore1 commented on #1473
Scratch that, the Kokkos tool doesn't subtract its own memory overhead and reneighboring makes more entries in the tool.

[2019-05-24 16:53] stanmoore1 commented on #1473
@danicholson I can confirm that the leak goes away if I don't use texture memory for `map_array` and `sametag`. This looks like a bug outside LAMMPS, i.e. in Kokkos or CUDA. That said, the code shouldn't be reallocating those arrays every time the neigh list is build. I'm guessing that would also fix the problem.

[2019-05-24 17:33] stanmoore1 commented on #1473
@danicholson my test shows #1474 fixes this issue. Could help performance a little too since it isn't reallocating as often.

[2019-05-24 18:23] stanmoore1 commented on #1473
I created a small reproducer and reported this to the Kokkos library developers: https://github.com/kokkos/kokkos/issues/2155. @danicholson thanks for the bug report.

[2019-05-24 18:42] danicholson commented on #1473
@stanmoore1 Great, thank you the investigation and the fix. I'm running it now, and the memory usage looks stable.

[2019-05-24 20:10] stanmoore1 commented on #1473
@danicholson sure, let us know if you see other issues.

[2019-05-28 01:47] nleconte commented on #1429
Using @oywg11's input, 2 MPI processes (1x2 grid):

<img width="399" alt="Screenshot 2019-05-28 10 39 41" src="https://user-images.githubusercontent.com/11783268/58444863-05ad3d00-8135-11e9-98ff-32c10f0681bd.png">
<img width="454" alt="Screenshot 2019-05-28 10 39 56" src="https://user-images.githubusercontent.com/11783268/58444864-080f9700-8135-11e9-9345-78f1174f3bc2.png">

Same input, 20 MPI proc

[2019-05-28 05:36] uihsnv opened #1478 "[BUG] Output of help does not show MC package or fixes"
**Summary**

In-spite of having built with the MC package, the output of `lmp -h` does not say *MC* under `Installed packages:`. It also does not list any of the commands that the package offers, under relevant headers.

**LAMMPS Version and Platform**

* git clone on 24 May 2019, but running a script says *LAMMPS (15 May 2019)*
* *Linux, Intel i7-6700K*

**Expected Behavior**

The help output sho

[2019-05-28 09:39] akohlmey commented on #1478
I cannot reproduce it. Most likely, you picked the wrong LAMMPS executable while checking (note: `lmp -j` != `./lmp -h`). Please provide matching output or close this issue as 'invalid'

[2019-05-28 09:44] akohlmey commented on #1471
too frequent data use in MD simulations **does not** improve data sampling, since those data are highly correlated. the so-called statistical efficiency drops quite substantial for data collected more frequent than, say, 1ps apart for typical molecular/atomic MD simulation setups.

[2019-05-28 10:24] uihsnv commented on #1478
Oh shoot! You're right. I also have an `lmp`executable in `/usr/bin`, which is my main install of lammps. I am very sorry. How do I add the invalid label?

[2019-05-28 10:24] #1478 closed

[2019-05-28 10:28] uihsnv commented on #1471
The spacing is multiplicative, so can have a huge effect for large numbers. For eg., a factor of `1.1` will imply an initial series of singly-spaced steps, but after a while will take off, to give large spacings. Take a look at the example I posted in the documentation part of the PR, or try it out.

[2019-05-28 10:47] akohlmey commented on #1471
you are not addressing my concern. i still don't see a valid use case beyond what LAMMPS already provides. the logarithmic spacing is not useful for any serious data analysis in the first place. it really only makes sense for monitoring of the progress of long-running simulations and for that i am still missing a convincing argument why we need closer spacing. your reasoning of this being used "co

[2019-05-28 11:05] uihsnv commented on #1471
That is not a fair argument on your part. Also, that was just a word I used, and not my primary argument. Please base your criticisms on the function itself.

Yes, this is useful for sampling information for systems undergoing very long runs, because integer bases will give too few samples. And by 'sampling' I don't just mean dumping data. It could be a compute or a fix too.

I use it to sample th

[2019-05-28 12:19] akohlmey commented on #1471
if you don't want to be criticized on this, then please don't bring it up. you want to change the core code of LAMMPS, not just add some (optional) package code,  so we **do** have to look at what is the benefit of an addition to the majority of users versus the overhead of having to maintain it in the future.

you are not addressing my concern here. from a statistical point of view generating dat

[2019-05-28 13:20] uihsnv commented on #1471
Criticism on that front is perfectly valid. But what I meant was that your statement that "if this was as common or frequent as you claim, others would have had asked for it a long time ago" is unfair, because many people just find a workaround instead of reporting or asking for it (the group I'm part of uses a separate text file with such log-spaced numbers). Also, because to know the answer to t

[2019-05-28 13:42] uihsnv commented on #1471
I modelled it to be as close to `logfreq()` and `logfreq2()` as possible, so as to make it easier to maintain.

[2019-05-28 15:33] akohlmey commented on #1471
you have painted yourself into that corner by making a claim without any proof in the first place.
since it is *you* that want something from the LAMMPS developers, it is also *your* obligation to provide proof, and not our obligation to prove you wrong. besides, how do you know how much i talk to LAMMPS users and developers and how much of an insight of what users want and need and request (outsi

[2019-05-28 15:45] uihsnv commented on #1471
I do accept, given your role in the development of the software, as well as volume of participation in the mailing-list, that you would have a much better sense of the needs of users than me. But would it not be a wee bit hubristic, even for you, to assume that no one would need it?

Just so we're clear, when you say that, you're referring to the developers taking time to examine the utility (as y

[2019-05-28 15:49] akohlmey commented on #1471
we are going in circles now. i have to say all that i want about this.

[2019-05-28 16:00] uihsnv commented on #1471
Does this imply the death of this issue/request?

[2019-05-28 16:14] akohlmey commented on #1471
no. only that i am no longer participating in it.

[2019-05-30 10:30] #1473 closed

[2019-05-30 13:46] loveshack opened #1481 "Mention crashes with profilers?"
I eventually realized the crash reported in #1463 was due to the environment, with the IPM profiler LD_PRELOADed.  (That's not at all obvious from core dumps to the extent I've poked at them, and I haven't debugged the cause.) The same happens for me with mpiP, but IPM and mpiP have both worked at some stage in the past, with published results, and I haven't seen such problems profiling anything e

[2019-05-30 15:31] akohlmey commented on #1481
Why should this be recorded here? While running LAMMPS may trigger it, there is no indication at the moment, that this is due to bad behavior of LAMMPS. If you can find evidence of it, then it should be reported here.

[2019-05-31 01:15] ellio167 opened #1482 "[BUG] _CMAKE build failure w/g++-9_"
**Summary**

Build fails in kspace.cpp with omp related issue.

**LAMMPS Version and Platform**

version: current git master: daac3f7102f4d12b05d9ec24d13bfdf675496623

machine: mac w/homebrew g++-9 (gcc version 9.1.0 (Homebrew GCC 9.1.0))

cmake version 3.14.4

**Expected Behavior**

build completes

**Actual Behavior**

[code]

**Steps to Reproduce**

CXX=g++-9 cmake ../cmake/
make

[2019-05-31 01:38] akohlmey commented on #1482
this is a duplicate of #1326

The GCC developers decided to suddenly switch the behavior for whether const variables need to be placed in a shared OpenMP directive or not without any indication in the OpenMP level or backward compatibility (like Intel compilers do). Pre gcc 9 const variables **must not** be declared in shared directives (the compiler would error out); since gcc 9, they **must** be

[2019-05-31 01:44] ellio167 commented on #1482
Yuk.  Thanks for the explanation.  Sorry I didn't look around more to find the existing gcc-9 issue.

(I'll leave this open since #1326 is closed; which might help others find it.  But, feel free to close as you like.)

[2019-05-31 01:45] akohlmey commented on #1482
oh, and another workaround is, of course, to disable OpenMP when configuring with cmake.

[2019-05-31 01:47] akohlmey commented on #1482
for cmake, it is probably the best workaround, that we change the defaults. i.e. if you have gcc 9, then OpenMP is  disabled by default until somebody implements a better way of dealing with it. that way people that run cmake in an unsuspecting way, won't be surprised in the same way that you got surprised.

[2019-05-31 01:57] ellio167 commented on #1482
Yeah, that seems reasonable.  I actually didn't realize that it was enabling OpenMP!  (Suppose I should read the cmake output more closely ;-) )

[2019-05-31 02:39] akohlmey commented on #1482
PR request with the change is submitted. this should be helpful for the upcoming stable release.

[2019-05-31 09:48] loveshack commented on #1481
Because it could be helpful to users like me.  It would be even more
useful to know which profiler(s) will work when simple low-overhead ones
using PMPI don't; I assume you profile somehow.

Indeed, but it's anomalous in my experience, used not to happen, and is
something of an impediment to people interested in performance.  If it
was my system, I'd be interested in that, but obviously you don't

[2019-05-31 10:28] akohlmey commented on #1481
but i would expect that information to be added to the documentation of the profiler, if it can be confirmed to be an issue with the specific profiler. it is already challenging to keep information about issues that are indeed caused by LAMMPS up-to-date and available and confirm, that there are no conflict between features and parts of LAMMPS.

i'd be interested to have this information present w

[2019-05-31 17:05] #1482 closed

[2019-06-02 00:05] Amingeo opened #1487 "Inconsistent per atom kinetic energy!!!"
**Summary**
Dear everyone,
I just recently noticed a strange inconsistency between the calculated per atom kinetic energy and what calculated using velocity values after applying correct conversion factors for units.
Very briefly, I dumped vx, vy and vz and ke/atom (c_xxx ), then I divided the (vx^2+vy^2+vz^2) by the dumped kinetic energy per atom for each atom and expected to get the same number

[2019-06-02 00:31] akohlmey commented on #1487
I cannot reproduce it. If i add the following lines to the peptide example:
[code]
I get 2390.06 for **all** atoms which is the conversion factor for "m/2*v**2" as set in the file update.cpp as:
[code]

Also, if you look at the source code of `compute ke/atom` it is very obviously correct.

[2019-06-02 00:31] #1487 closed

[2019-06-02 01:15] Amingeo commented on #1487
I already checked, the LAMMPS source code and found it ok. Maybe it happens when distributing atoms between cpu cores. I did just a simple Argon simulation for an ensemble of 500k atoms and 32 cores.

[2019-06-02 01:18] Amingeo commented on #1487
Please try to recalculate it from the dump file, using vx,vy,vz and ke/atom and you will see what I said

[2019-06-02 01:22] Amingeo commented on #1487
The inconsistency is found between the dumped vx,vy,vz and ke/atom (it happens somehow during dumping I think, otherwise using the script you wrote and doing it inside LAMMPS, it works alright, I mean after dumping the velocity and energy values)

[2019-06-02 01:23] akohlmey commented on #1487
you have to prove to us what is exactly the issue and show in detail exactly how you compute it and not the other way around.

[2019-06-02 01:31] Amingeo commented on #1487
Please try this code (I made it small and it is finished quit fast), Pelase after that, open the dump file, using vx,vz,vy, just calculate (vx^2+vy^2+vz^2) divided by ke/atom of the same atom for just two atom to see the difference I am talking about. Thanks in advance

boundary        p p p
dimension       3
units           metal
atom_style	atomic
log             1000K.log
#######################

[2019-06-02 01:33] akohlmey commented on #1487
when i change the dump line to

[...]

what i see is an error in your script:

this is not dumping vx, vy, and vz, but vx, vy, and **vx**.

[2019-06-02 01:35] Amingeo commented on #1487
you are right, thanks for prompt checking and sorry for this obvious blunder

[2019-06-02 01:37] akohlmey commented on #1487
Next time, please follow the recommendations in our issue templates and provide an input example to exactly reproduce an issue. Then this can be resolved right away.

[2019-06-03 22:52] jibril-b-coulibaly commented on #1482
Hi,
The patch in the CMakeLists.txt uses VERSION_GREATER_EQUAL which the minimum required version 2.8.12 does not support. That causes a crash with "Unknown arguments specified" in the corresponding if command line 325 when using CMake 2.8.12.

Could you please provide a fix to it ? Thanks

[2019-06-04 00:00] akohlmey commented on #1482
making it work with cmake 2.8.12 is a bit hackish, but since this is a temporary workaround, it doesn't matter as much. the change is in PR #1489

[2019-06-04 20:42] #1481 closed

[2019-06-04 20:51] akohlmey commented on #1368
as it so happens, i was contacted about a week ago by somebody, who claims to have ported the geryon library to ROCm HIP. this will hopefully be merged in the near future. Also it would result in ~20% speedup vs. OpenCL

[2019-06-04 20:53] akohlmey commented on #1403
@stanmoore1 any ideas? i know the /disp versions are "funny" and thus their logic may be different, but i know too little about this for any yay or nay answer.

[2019-06-04 21:06] stanmoore1 commented on #1403
This is choosing whether the grid is set by the user explicitly or if it should be automatically generated using the accuracy metric. Setting a grid value equal to 0 is not valid and could cause problems, so in that case the /disp version has better behavior. A better answer would probably be to error out if any of the input grid values are 0.

[2019-06-04 21:09] stanmoore1 commented on #1403
In other words, in the regular version, if ALL of the input parameters are 0, it will silently ignore them and automatically size the grid. In the /disp version, of ANY of the input parameters are zero, it will silently ignore all of the inputs and automatically size the grid. It would be best to error out instead of silently ignoring user input.

[2019-06-04 21:13] tabedzki commented on #1403
Ok. I can do that and make a pull request for that.

[2019-06-04 21:17] stanmoore1 commented on #1403
@tabedzki thanks. It would be good to error out if the input is <= 0. For example, if one specifies a negative number for the grid, it gives this:

[code]

[2019-06-05 04:18] ndtrung81 commented on #1368
Glad to hear that!

[2019-06-05 12:14] mkanski opened #1493 "[BUG] Two issues with pair_style extep"
**Summary**

I found two issues with pair_style extep:
1. It requires that all elements from the potential file are used in `pair_coeff`.
1. It does not work when `NULL` is used in `pair_coeff`.

**LAMMPS Version and Platform**

Current master, Linux

**Expected Behavior**

1. It should be possible to use line like `pair_coeff B`.
1. When using extep with `pair_style hybrid` line like `pair_coeff

[2019-06-05 14:13] akohlmey commented on #1493
Am looking into it. There are several places where edits are needed for systems with only one element or for use with pair style hybrid.

[2019-06-05 14:22] mkanski commented on #1493
I think I solved it, please see the PR.

[2019-06-05 16:45] junghans opened #1495 "Packages for LAMMPS stable release 05 Jun 2019"
For @junghans

- [ ] OpenSuse: https://build.opensuse.org/request/show/708182
- [x] Fedora: https://koji.fedoraproject.org/koji/taskinfo?taskID=35323371
  - [x] Rawhide (F31): https://koji.fedoraproject.org/koji/taskinfo?taskID=35316008
  - [ ] Fedora 30: https://bodhi.fedoraproject.org/updates/FEDORA-2019-78b8f6a93e
  - [ ] Fedora 29: https://bodhi.fedoraproject.org/updates/FEDORA-2019-a6fa217d46

[2019-06-06 03:43] vvsteg commented on #1368
@akohlmey, actually, that LAMMPS forum message has been posted by me :) My collaborator @eokuznetsov is finishing his work on this HIP port. Currently, it covers all capabilities of the CUDA variant except for the neighbour list building on GPUs. Following your reply, we will wait until #1430 is merged and then plan to submit the pull request.

The performance of this HIP-backend is better than th

[2019-06-06 17:40] junghans opened #1499 "[BUG] USER_INTEL break strict-aliasing rules"
Fedora found this:
[code]

[2019-06-07 15:07] #1403 closed

[2019-06-08 03:17] uihsnv opened #1500 "Reorganise Vim syntax files"
**Summary**

The files in `tools/vim/` can be organised to conform to standard installations of vim syntax files, so that it is easier for linux distributions to install them.

**LAMMPS Version and Platform**

 * 5 Jun 2019
 * Linux

**Details**

The recommended way is to put the `lammps.vim` file in a `syntax` directory and the part given in the `README` in a `ftdetect` directory. So if this hier

[2019-06-08 11:04] akohlmey commented on #1500
Please note that the primary target of the LAMMPS (source) distribution are regular users, not people that re-package LAMMPS for distributions. From your description it looks like all that is needed would be an addition to the README file explaining what has to go where for a `vim-lammps` package instead of a user's $HOME/.vim` folder.

[2019-06-08 11:34] uihsnv commented on #1500
Putting them in separate folders would actually simplify things for users also, because then, they just have to copy the two directories into their `~/.vim/`.

[2019-06-08 11:37] akohlmey commented on #1500
I think we can expect people to be intelligent enough to follow instructions of the kind `copy file 1 to folder X` and `copy file 2 to folder Y` or `create a file 3 with the contents as shown below and copy it to folder Z`.

[2019-06-08 11:51] uihsnv commented on #1500
Okay, so how about that^ ? I put the stuff in the README in an actual file, so packagers can script its installation, and it isn't sitting inside directories, so typical users can see it in `/tools/vim/`. I also modified the instructions accordingly.

[2019-06-10 10:11] uihsnv commented on #1495
This may not really count because it isn't a binary build, but more of a Archlinux-specific build-script, but still: https://aur.archlinux.org/packages/lammps/

[2019-06-11 00:04] #1493 closed

[2019-06-11 02:59] AditiKhot opened #1505 "npt/asphere doesn't run on specific groups"
Hi,

I am trying to simulate a molecule made of one ellipsoid particle and one point particle. I assign these particles groups anisotropic and isotropic and run NPT simulation using 'fix npt/asphere' and 'fix npt' respectively. But I get the following error:
Compute temp/asphere requires extended particles (../compute_temp_asphere.cpp:112)

If I run the same simulation in NVT ensemble with 'fix nv

[2019-06-11 05:04] akohlmey commented on #1505
Thanks for your report. The problem is, that `compute temp/asphere` currently cannot handle mixed systems of extended and point particles. It assumes, that all particles have the same numbers of degrees of freedom. This is not a problem for `fix nvt/asphere`, since it only needs to compute the temperature for the atoms in the fix group. However, for `fix npt/asphere`, it additionally needs to run

[2019-06-11 17:13] AditiKhot commented on #1505
Can you please provide some advice as to which files I should change? Or how I go about this?

Thank you!

[2019-06-11 17:48] akohlmey commented on #1505
the changes would have to be in `src/ASPHERE/compute_temp_asphere.cpp` and  `src/ASPHERE/compute_temp_asphere.h`. The changes are quite involved. You need to explicitly count the number of particles that are point particles and those that are not, communicate this via MPI to all MPI ranks, then use that information to determine the degrees of freedom while correctly apply biasing and potential rem

[2019-06-11 18:06] #1500 closed

[2019-06-11 19:06] uihsnv commented on #1500
@junghans This will be especially useful for the various packages that you manage.

[2019-06-11 22:59] junghans commented on #1495
@uihsnv same for gentoo, I will just add Arch to list next time.

[2019-06-11 23:01] junghans commented on #1495
Thanks @physkets.

[2019-06-12 14:36] AditiKhot commented on #1505
Hi,

I had another question. Can this problem be circumvented by treating the point particle as ellipsoid with equal diameters (sphere)? Please let me know.
Also I was checking if the forces would be same in that case. So I ran two simulations:
1. One ellipsoid (type 1) and one point particle (type 2). The pairs 1-1, 1-2, and 2-2 have GayBerne, GayBerne, and LJ interactions respectively.
The param

[2019-06-12 14:39] akohlmey commented on #1505
yes, if all particles are ellipsoids, then there will be no error.
i cannot comment on the second part. i have no experience with gay-berne potentials.

[2019-06-12 18:51] #70 closed

[2019-06-13 03:24] jibril-b-coulibaly opened #1508 "[Feature Request] implement atom-style variables for fix adapt diameter"
Dear developers,

Would it be possible to enable the use atom-style variables for the 'diameter' attribute of the 'fix adapt' command ? The same way 'fix setforce' accepts atom-style variable for example ? The present 'fix adapt' command only supports equal-style variables: all particles have the same diameter and it is not possible to adapt diameter for polydisperse granular systems.

This would

[2019-06-13 03:27] donatas-surblys opened #1509 "[BUG] USER-TALLY computes with hybrid pair styles only store results for last style"
**Summary**

When several pair styles are used via "pair_style hybrid" or "pair_style hybrid/overlay", only the results from the last pair style are stored in the */tally computes. I've only tested pe/tally and heat/flux/tally, but this is probably valid for other tally computes as well. This appears to be because each pair class calls the "pair_setup_callback" function for the same compute, thus

[2019-06-13 09:38] agiliopadua commented on #1508
Hi,
The fix adapt/fep variant accepts per-atom variables such as diameter or charge specified by atom type.
You can install it with the USER-FEP package.
Agilio Padua

[2019-06-13 16:18] eagunn commented on #1334
I am volunteering to work on this issue. Based on advice from @akohlmey, I've forked the repo and am working on creating a demo branch that:
- captures the converted rst files
- demonstrates the use of mathjax formatting by substituting inline equations in the rst files for a small subset of the current jpg files
- includes a draft set of changes to the makefile to support building straight from t

[2019-06-13 16:31] akohlmey commented on #1334
@eagunn thanks for volunteering. this is much appreciated. i have sent you a collaborator invite for the LAMMPS GitHub project, so we can assign this issue to you.

no worries about the "old" documentation build options. if we switch to RST markup, the old .txt files will be removed, so the path to the legacy documentation build will be gone.

i expect the major amount of work to be taking advanta

[2019-06-14 13:31] eagunn commented on #1334
@akohlmey Agreed about the major work. I understand implementing this proposal as an enabling change that then opens up possibilities for improving the docs.
And thanks for the hint on the "old". That makes my work simpler. I'll try to produce a clean file tree and make process that omits the txt files and the old build. That will be easier to test and review. Then, we can decide where the archive

[2019-06-14 19:08] jibril-b-coulibaly commented on #1508
Hi,
I tried fix adapt/fep with an atom-style variable and get the error:
ERROR: Variable for fix adapt/fep is invalid style (C:\lammps\src\USER-FEP\fix_adapt_fep.cpp:307)
From the documentation it seems that fix adapt/fep can be applied on a per-type basis using equal-style variables. In granular simulations however all particles have the same type and diameter is assigned on a per-atom basis whic

[2019-06-14 19:52] akohlmey commented on #1509
Thanks for the report and the example. Pull request #1513 should correct the problem.

[2019-06-16 01:19] boyoungzheng opened #1515 "update needed for `examples/USER/misc/kolmogorov_crespi_full`"
**Summary**

It may be necessary to update `examples/USER/misc/kolmogorov_crespi_full` as it is done in `examples/USER/misc/kolmogorov_crespi_z`. Namely, from `airebo` to `rebo`.

**LAMMPS Version and Platform**

LAMMPS (31 May 2019)
$ lsb_release -a
LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-no

[2019-06-16 16:09] akohlmey commented on #1515
Thanks for reporting. You are correct, this needs to be addressed. Not sure how it escaped checking all inputs when making the change. Will take care of it ASAP.

[2019-06-17 14:26] eagunn opened #1519 "[BUG] Doc build: doc_anchor_check.py misses many internal anchors"
**Summary**

As part of the work I am doing for #1334, I've modified doc/utils/converters/lammpsdoc/doc_anchor_check.py
to check the new rst files rather than old txt files. This was a one-line change to the regex expression.

As a sanity check, I added logging to both versions to verify the same number of links were found by both. Instead, I find that the txt version finds 574 anchor labels while

[2019-06-17 18:13] #1471 closed

[2019-06-17 18:14] #1509 closed

[2019-06-18 03:15] donatas-surblys opened #1521 "[Feature Request] Clarify the relation between USER-TALLY computes and dynamic groups"
**Summary**

Although currently all of USER-TALLY computes accept dynamic groups without complaining, this often produces results that are most likely unintended by the user. I am not sure if this can be classified as a bug, therefore I would like this issue to be at least clarified in the documentation.

**Detailed Description**

Dynamic groups are setup during the post_integrate stage. On the ot

[2019-06-18 04:11] akohlmey commented on #1521
A long time ago, when dynamic groups were introduced, it was decided to assume by default that fixes are not compatible and computes are. The computes in the USER-TALLY package are, by the very nature of how they work, not compatible with dynamic groups. Thus they need to be flagged as incompatible. Thanks for pointing this out.

[2019-06-18 04:44] akohlmey commented on #1508
@jibril-b-coulibaly please note, that a similar situation would exist for charges, which are per-atom properties and independent from atom types. However, fix adapt can be applied to them, because the corresponding pair styles have been modified to include a 2-d array `scale`, that contains a scaling factor for charge-charge interactions that defaults to 1.0 and can be set on a per-type basis. Ple

[2019-06-18 05:28] donatas-surblys commented on #1521
Thank you for the clarification. Shame to not have this functionality as it would have been an easy way to have control areas and control volumes of various shapes and sizes. I guess the "run 0" hack was not sufficient and would break easily. So, if I wanted such functionality in my custom tally compute should I implement it internally like it was done in stress/mop compute or maybe call set_group

[2019-06-18 08:18] akohlmey commented on #1521
The problem is by using the callback mechanism, you collect the information during a different phase of the simulation then when you are accessing it. Access may happen at different times. The only way to make it compatible with dynamic groups is to actually compute the property directly when requested, e.g. via `pair->single()`. That has its own limitations, but then you do the selection of which

[2019-06-18 18:57] stanmoore1 opened #1523 "[BUG] Internal compiler error with GCC 4.8.5, need workaround"
**Summary**

Internal compiler error with GCC 4.8.5. Works fine with GCC 4.9.2 and above.

[code]

**LAMMPS Version and Platform**

Latest master, Linux RHEL6 and RHEL7

**Expected Behavior**

LAMMPS compiles.

**Actual Behavior**

Internal compiler error for gcc 4.8.4 and 4.8.5.

**Steps to Reproduce**

Compile LAMMPS with gcc 4.8.5.

Here is a workaround:

[code]

[2019-06-18 19:02] akohlmey commented on #1523
while this is technically a bug in the compiler and not LAMMPS, the workaround is perfectly acceptable (i picked gcc 4.4 as this is the version where variable tracking was added, but if it wasn't working until 4.9, it is fine to set the cutoff there). thus i've added the suggested change to PR #1518

[2019-06-18 20:21] #1515 closed

[2019-06-18 20:21] #1521 closed

[2019-06-18 20:21] #1523 closed

[2019-06-19 06:41] yurivict opened #1524 "[regresssion] undefined reference to `latte_abiversion'"
```patch_18Jun2019``` fails to build with ```PKG_LATTE=ON```:
[code]

[2019-06-19 06:56] akohlmey commented on #1524
confirmed. the solution is the following change:
[code]

[2019-06-19 20:31] eagunn opened #1526 "[BUG] Minor cleanup needed for doc/src/Eqs folder"
**Summary**

I've found eight .jpg files in the doc/src/Eqs folder for which no .tex equation source file currently exists.
- Two of these are simply not equation images and should be moved to folder JPG.
- For the others, we probably want to find/recreate the source .tex files eventually. For now, they are not causing any problems but are not exemplary if anyone happens to use them as a model for

[2019-06-19 20:37] eagunn commented on #1526
This issue should have a "documentation" label. But I don't see the checkbox I would use to add the label when I try to follow the instructions at:
[How to apply a label](https://help.github.com/en/articles/applying-labels-to-issues-and-pull-requests)
It appears I need write access, which I don't have. So I'll assume that this is a privileged operation and not my concern until/unless I hear otherw

[2019-06-19 20:40] eagunn commented on #1526
I'm happy to volunteer to move the two non-equation files to JPG and change the .txt files that refer to them. It would be good practice in walking through the pull/merge cycle with a trivial change.

There are also a couple of the equations in .jpg that I might be able to hack out the markup for but certainly not all of them. Perhaps the originators of the doc files that use them might still have

[2019-06-19 21:35] akohlmey commented on #1526
agreed.

don't worry about the missing .tex files. been using LaTeX for an eternity. i can easily re-create them.

[2019-06-19 22:03] akohlmey commented on #1526
correct. github had traditionally only the option between full write access and read-only access. they are experimenting with new user roles, that would allow people without write access to triage new reports. but we're waiting until that feature has matured.

[2019-06-19 22:06] akohlmey commented on #1526
the missing LaTeX files are regenerated and now included in PR #1525
one of them wasn't missing, but named by accident .txt instead of .tex.

[2019-06-20 14:38] jibril-b-coulibaly commented on #1508
@akohlmey Thank you for the information and suggestions, I will look into the `scale` property for the `granular` style. I have one reservation remaining in regards of systems with many different diameters.

My goal is to proportionally and continuously expand the diameter of polydisperse particles over time. Say I want to double the diameter, particles of diameter 0.8 and 1.0 at the beginning of

[2019-06-20 14:45] akohlmey commented on #1508
no, you are misunderstanding me. as you have stated, all granular pair styles (with the exception of the recent addition `granular`) are ignorant toward atom types. So you can use the atom type property to identify groups of particles (similar as sometimes the molecule id is used). That could be used, if you want to scale the diameter of only a subset of particles, but those could have polydispers

[2019-06-20 14:49] valleymouth opened #1528 "[BUG] Possible bug in comm_brick calling grow_send"
**Summary**

In the following lines of code:
https://github.com/lammps/lammps/blob/bb11344424a468254c320e3cfa0cf263a1005630/src/comm_brick.cpp#L610-L614
grow_send is called if there is any change in bufextra. If there happens to be frequent change in maxexchange_fix, which happens when FixNeighHistory is instantiated and the number of neighbours is constantly increasing, it triggers grow_send that

[2019-06-20 15:53] akohlmey commented on #1526
moving the non-equation files to the JPG folder and updating the .txt files referencing them has been included in #1525 as well. This issue will be closed automatically, when the PR is merged.

[2019-06-20 16:21] jibril-b-coulibaly commented on #1508
Thank you for the precision. I was mistaken with the notion of partition as I wish to adapt diameter for all particles.

- In my case I suspect I should define a `scale` array for the pair style `granular` and modify it using `fix/adapt pair granular scale v_myvalue` ?

- My initial understanding was that I would have to use multiple `fix/adapt/dep atom type diameter v_myvalue` for each `type` ass

[2019-06-20 16:36] akohlmey commented on #1508
sorry, i am not an expert on granular media simulations and i have spent as much time on this as i am able to spare. LAMMPS is acquiring features because people who need them, implement them. sometimes this takes some additional figuring out and learning (and programming). if we had all the answers and knew exactly how to do things, we would have done (much of) it already.

[2019-06-20 17:23] #1526 closed

[2019-06-21 13:30] uihsnv opened #1532 "[BUG] _ncachex memory allocation error"
**Summary**

A memory allocation error appears after reading in a restart file:

Stdout:
`ERROR on proc 1: Failed to allocate -156019200 bytes for array _ncachex (src/memory.cpp:64)`
Stderr:
`Abort(1) on node 1 (rank 1 in comm 0): application called MPI_Abort(MPI_COMM_WORLD, 1) - process 1`

**LAMMPS Version and Platform**

* LAMMPS (18 Jun 2019)
* Linux
* Intel Core i7-6700K

**Steps to Reproduce

[2019-06-22 05:58] uihsnv commented on #1495
@junghans Would you be interested if I made a Pull Request with additions to the `Install_linux` documentation page, to include information on the Archlinux package?

p.s. I am @physkets

[2019-06-22 13:21] junghans commented on #1495
Why not!

[2019-06-24 02:43] donatas-surblys opened #1536 "[BUG] pair hybrid doesn't store compute_tally array in restart file"
**Summary**

Currently, PairHybrid class doesn't store compute_tally array in restart files, leaving the compute_tally array uninitialized when restarting.

**LAMMPS Version and Platform**

Tested on latest master version.

**Steps to Reproduce**

The following script demonstrates the behaviour.
[code]

**Expected Behavior**

The script should have produced two identical runs.

**Actual Behavior**

[2019-06-24 09:30] akohlmey commented on #1536
confirmed. there was also a memory leak related to the compute_tally array. should be fixed in PR #1525

[2019-06-25 03:55] #1524 closed

[2019-06-25 03:55] #1536 closed

[2019-06-25 09:35] akohlmey commented on #1368
FYI, #1430 is merged.

[2019-06-26 20:41] Adrian-Diaz commented on #1528
The objective of that segment is just to grow the buffer for the calls to pack exchange. Its essentially a safety size that comes after the delimiter imposed by maxsend. As a result it should always be larger than the largest pack occurring for one atom/particle (hence the use of max_exchange in case the default value of BUFEXTRA 1000 was not enough for a particle type with many extended propertie

[2019-06-26 21:10] valleymouth commented on #1528
@Adrian-Diaz Ok, based on what you said I will issue a pull-request changing the call to grow_send to a direct call to memory->grow in CommBrick.

[2019-06-26 21:32] trinayan commented on #1368
What is the current way to get the HIP version to build and run?.

[2019-06-28 08:22] janmees opened #1543 "[BUG] dump NetCDF fails when process has no atoms."
**Summary**
When dumping data while using multiple processors, error is raised if one processor does not contain any atoms.

**LAMMPS Version and Platform**

Tested on versions 30 Apr 2019 and 9 Nov 2018.

**Actual Behavior**
I created a test file with a large box and create a single atom on one end. If I run it on one core there is no problem. On two cores the error is raised when the dump comman

[2019-06-28 13:34] jotelha opened #1545 "[BUG] Custom variable in thermo output appended to NetCDF causes segmentation fault"
**Summary**

Using the NetCDF feature `dump_modify thermo yes` to append thermo output to NetCDF causes a segmentation fault when the custom thermo output contains a "v_" prefixed variable.

**LAMMPS Version and Platform**

LAMMPS 16Mar18 built on bwForCluster NEMO , available on NEMO via

[code]

Quick trials with a 08May19 github master build on NEMO available with

[code]

and with a 16Mar18 bu

[2019-06-28 18:33] akohlmey commented on #1545
Thanks for reporting. This seems to be a subtle issue. I think I have found the culprit and fixed it with commit 5e3a705911e057e2188efca2512394e96a46cc04
if you have the time, please give it a try and let us know, if that is resolving the issue for you, too.

[2019-06-28 18:47] ellio167 commented on #1495
@junghans FYI, I submitted an update for Homebrew and it has been accepted:

https://github.com/Homebrew/homebrew-core/pull/41228

[2019-07-02 14:40] jdevemy opened #1549 "[BUG] Difference between lj96/cut and lj96/cut/gpu"
**Summary**

The output between the `lj96/cut` and `lj/96/cut/gpu` are different and so the simulation crashes with the GPU accelerated pair_style.

**LAMMPS Version and Platform**

LAMMPS 12 Dec 2018

I tested the bug on 2 machines : both have P100 GPU card, and Intel CPUs working on CentOS 7.6.

I've also tested with _doubledouble_ Cuda Lammps version, but the error is the same.

**Expected Beha

[2019-07-04 04:54] ndtrung81 commented on #1549
@jdevemy thanks for reporting this issue. Please check out the PR #1550 for the bug fix.

[2019-07-04 07:42] jdevemy commented on #1549
Thanks for the quick fix, it works for me : thanks !

[2019-07-04 07:42] #1549 closed

[2019-07-05 08:28] jwood13 commented on #451
I have encountered the same bug, but using a rigid body of LJ atoms.
When turning off the molecule, it somehow doesn't turn off the intramolecular interactions, so they are included in the `energy_after` used to measure the energy difference.
If you then recalculate the energy after the real deletion, the energy changes by the intramolecular interaction.
My current hotfix is to remove intra_energy

[2019-07-05 10:34] mkanski commented on #451
@jwood13 I think that a better workaround would be to assign a molecule ID to each rigid body and then disable intramolecular interactions via `neigh_modify`. I haven't tested that, but it should work.

[2019-07-05 12:16] jwood13 commented on #451
I added that to my script, but it doesn't fix things, I still get `energy_after` including the molecule's energy, though now, `energy_before` doesn't include it. Why I have no idea.
It is an improvement in the simulation overall, but the bugged penalty is still there, and you can't use `intra_energy` to correct for it without messing up the addition.

[2019-07-05 16:23] athomps commented on #451
Can you post a minimal reproducer of the problem, with all input files, possibly output too?

[2019-07-06 00:33] #1545 closed

[2019-07-08 02:51] donatas-surblys opened #1554 "[Feature Request] Add support for large peratom values to fix STORE"
**Summary**

Although not in the official documentation, the fix STORE is used by several fixes and computes and one of its features is to store values associated with local atoms (peratom option), while correctly handling atom migration. Unfortunately, there is an implicit limit on the maximum number of peratom values, and LAMMPS crashes when the limit is exceeded.

**Detailed Description**

Curr

[2019-07-08 14:44] jwood13 commented on #451
[energy_fail.zip](https://github.com/lammps/lammps/files/3368868/energy_fail.zip)
Here is a minimal example based off the gcmc LJ example along with outputs
note that v_dacc, the acceptance rate for deletion is 0
The second output file is the output when adding debug output at line 1962 of gcmc.cpp
 `std::cout << energy_before << "|" << energy_after << std::endl;`
immediately above
`double deltaph

[2019-07-09 04:08] athomps commented on #451
Thanks! Your example uses neigh_modify exclude molecule/intra, as suggested in the discussion. That creates its own problems, as you demonstrate.  Going back to your original problem, I think this is not a bug, but rather the documented behavior, as in:

Have you tried using the intra_energy keyword?

[2019-07-09 08:48] jwood13 commented on #451
I have tried using `intra_energy` without neigh_modify as mentioned in my first comment, Using it works successfully for insertions, however when applied to deletions, `energy_after` still includes the intramolecular energy of the particle, meaning that the `intra_energy` correction adds a penalty equal to `intra_energy`, and deletions are always rejected.
Here is the previous example changed to u

[2019-07-09 15:55] athomps commented on #451
Thanks! I understand the problem better now.  With full_energy molecule deletions, the bonded contributions to the intramolecular energy are turned off term-by-term in toggle_intramolecular(). However, there are also nonbonded intramolecular terms, such a per-atom energy (ReaxFF) or LJ in your example.  Maybe we can also turn these off in toggle_intramolecular() or account for them in some other w

[2019-07-09 21:56] eagunn commented on #1109
I'm volunteering to work on this.

[2019-07-09 22:33] akohlmey commented on #1109
ok. assigned it to you.

[2019-07-10 23:48] eagunn commented on #1109
I'm going to make some notes-to-self-and-others here, as I figure out the code, until/unless someone tells me this creates too much chatter for core devs.

Thanks to an input file contributed by one of the Penn State devs, Michael, I'm able to execute a run with the fix-bocs code for a cubic spline analysis that generates a variety of valgrind errors including some "definitely lost". But, so far,

[2019-07-10 23:59] eagunn commented on #1109
@akohlmey, Outside of the big in-memory data[] array for which you already applied some corrections to fix_bocs.cpp, there are two places where memory is calloc'd and not freed for local variables that do not need to survive the function in which they are used.

The simplest fix is to change a line like:
`  char * line = (char *) calloc(200,sizeof(char));`
in read_F_table to
`char line[200];`

But

[2019-07-11 02:05] akohlmey commented on #1109
this is still a leak, as it will increase memory consumption, when the fix is removed and recreated via unfix/fix, or the LAMMPS instance is freed and and recreated via the clear command, or an external user creates multiple LAMMPS instances repeatedly via the library interface. while those are not likely to become critical, we try to avoid those, too, since they may obscure other, more serious le

[2019-07-11 02:13] akohlmey commented on #1109
using the string class is ok, especially for only local variables. the bigger problem in the case reading/parsing files is that this requires using iostreams, which we try to avoid. LAMMPS historically was written in a C with classes style and makes use of the C library and stdio instead of STL and iostreams. we are slowly transitioning toward a more C++ style and lifting some of the limits to STL

[2019-07-11 03:12] eagunn commented on #1109
@akohlmey, you wrote

Good. I was looking for a good reason to invest the work. Thanks for the background info.

[2019-07-11 03:18] eagunn commented on #1109
Good. I'll use string cautiously but it should be a nice simplification for local variables.

And I'll take a look at the file reading in the MANYBODY code.

[2019-07-17 15:15] thangckt opened #1566 "[Feature Request] _return per-atom style variables from python function"
**Summary**

Is there any way to return per-atom variable as calling a python function?

**Detailed Description**
Dear Lammps developers,

It will be extremely useful if there is a capability to return per-atom variables after the call of python function. I hope that this can be implemented in the future LAMMPS packages

Thank you so much.

[2019-07-17 15:29] akohlmey commented on #1566
no. those are similar in concept to equal style variables.

if you are already programming in python, then there is little incentive to convert the output to an atom style like format. rather you can use the python interface to LAMMPS to process per atom data directly (and in parallel) and then have that python code executed through fix python/invoke or similar.

i should also point out, that it i

[2019-07-17 16:23] akohlmey commented on #1566
at any rate, if you want somebody to look into this seriously, you have to motivate your request with a convincing use case.

[2019-07-17 23:28] stanmoore1 opened #1568 "[BUG] Compile error with LAMMPS"
**Summary**

Compile error: ../utils.cpp(179): error: identifier "atof" is undefined
    return atof(str);

**LAMMPS Version and Platform**

Latest LAMMPS master version, RHEL, intel compiler 16.0, openmpi-intel 1.10, gcc 4.9.3

**Expected Behavior**

LAMMPS compiles

**Actual Behavior**

See above.

**Steps to Reproduce**

Compile

**Further Information, Files, and Links**

This fixes it for me:

[2019-07-17 23:42] akohlmey commented on #1568
fixed in #1567. strange that this didn't show before. this is an obvious omission. hopefully the effort of #1542 will make this less likely, by reducing "include pollution" of header files.

@rbberger now that we have an updated intel license, can we have one compilation test with intel on pull requests? also, is the test on master active again?

[2019-07-18 00:01] stanmoore1 commented on #1568
@akohlmey thanks

[2019-07-19 00:07] eagunn opened #1572 "[BUG] Fix error handling, clarify data requirements for fix bocs input"
**Summary**

While working on #1109, I discovered a small problem with validation and error handling for the spline-basis input file that contains pressure corrections as a function of volume. This led to a discussion with the original authors (@mdelsyer and Dunn) and an initial agreement on a) how to fix the defect and b) on implementing, in both the code and the documentation, a clarification of

[2019-07-19 21:25] #1568 closed

[2019-07-22 10:54] bugsbunnyyyyy opened #1577 "[BUG] Multiple crossing of periodic boundary"
Hello everyone,

I made a very simple simulation (fix NVE) with a CO2 molecule in the middle of a box with boundary "p p p". Each atom of the molecule is given the same velocity in one specific direction (let say along Z). The simulation goes on very smoothly, the molecule cross the periodic boundary one time (I can check it by dumping the xu yu and zu coordinates). The problem comes when this mol

[2019-07-22 12:43] akohlmey commented on #1577
confirmed with the current development version of LAMMPS. no idea what is causing this. seems to be independent of bond/angle style and direction of the center of mass motion.
@sjplimp anything that catches your eye?

[2019-07-22 12:55] evoyiatzis commented on #1577
The equilibrium angle of the CO2 molecule is 180.0 which can cause some
numerical difficulties
Maybe using fix shake to constrain the geometry would fix this problem

Στις Δευ, 22 Ιουλ 2019 στις 2:44 μ.μ., ο/η Axel Kohlmeyer <
notifications@github.com> έγραψε:

[2019-07-22 13:04] akohlmey commented on #1577
no, and no. angle styles have provisions against the discontinuity at angles around 180 degrees and fix shake cannot be applied to atoms on a straight line for exactly that discontinuity. the same issue also happens, with setting the angle style to zero and only allowing bond forces, which have no problem with a discontinuity at 180 degrees.

[2019-07-22 18:57] bugsbunnyyyyy commented on #1577
I made more simulations in order to understand this issue but I realize the more I am digging in the less it makes sense at all...
* First I tried this exact same simulation just by changing the velocity of each atom. It always crash when the molecule meets the periodic boundary, but not always the same!!!
=> For a velocity (on each atom in the x-direction) of 5, 10 or 50A.ps-1 it crashes when the

[2019-07-23 01:56] ndtrung81 commented on #1577
Hi,

your test with adding a pair style is actually helpful. Now if you add the following line to the original input script,

comm_modify cutoff 2.0

where 2.0 is just some value comparable to the equilibrium bond length (1.61 in this case), I think the simulation would run normally.

@akohlmey and @sjplimp : The issue seems to arise when there is no pair style defined, cutghost[0], cutghost[1] an

[2019-07-23 02:24] akohlmey commented on #1577
@ndtrung81 thanks.
i am a bit surprised that it is possible to run without a pair style. i recall that there was a test guarding against it, which is why we have pair style zero, which does not request a neighbor list and has no compute, but does set a pairwise cutoff and have a similar - if not better - effect than setting the communication cutoff. a safe choice for the cutoff would be to go for

[2019-07-23 02:28] akohlmey commented on #1577
@sjplimp do you remember removing the test for running without a pair style, and if yes why?
what is the best way to proceed in your opinion?
we could probably also (or only?) add a test (and print a warning), if the pairwise cutoff is shorter than 3x the equilibrium bond length (in case a bond style is defined) and then provide a recommendation to define pair style zero with a suitable cutoff.

[2019-07-23 16:05] stanmoore1 commented on #1106
The OpenMP version of SNAP was removed in #1507, which should take care of this issue.

[2019-07-24 15:53] sjplimp commented on #1577
@akohlmey It should be allowed to run w/out a pair style.  E.g. some models only have bonds (angles, etc).  E.g. a harmonic crystal.  That said, I don't remember removing any checks.  I will look at the example script.

[2019-07-24 16:18] sjplimp commented on #1577
As @ndtrung81 indicated, the problem is there is no pair style and no comm_modify cufoff set (default = 0.0), so there are no ghost atoms.  If reneighboring occurs when a bond straddles the boundary, then it will "find" the bond partner on the other side of the box (not the ghost atom), the bond will
be very long, and bad dynamics results.  If you run this on 8 procs, you get a "lost atom" error b

[2019-07-24 17:52] GiovanniBussi opened #1579 "Errors building LAMMPS with PLUMED"
**Summary**

I would like to report a few issues I had to fix while preparing a conda recipe for LAMMPS. Below I describe the issues in detail and how I fixed them by [patching the LAMMPS code base](https://github.com/plumed/conda/blob/master/lammps/build.sh). It might be a good idea to fix LAMMPS code directly.

The first two issues are actual bugs leading to errors. The third one is an unnecessa

[2019-07-24 19:04] akohlmey commented on #1577
@sjplimp i think we can do better. If there *is* a bond style, we can use some heuristic based on the equilibrium bond length (say 1.5x for bonds only, 2.5x for angles and bonds, 3.5x for others) as default for the communication cutoff. If we take the maximum of this and the maximum pairwise cutoff, we also guard against the case of short cutoff pair styles (e.g. repulsive only) and long bonds (e.

[2019-07-25 18:04] uihsnv opened #1585 "[BUG] Link failure: undefined reference to `__builtin_is_constant_evaluated'"
**Summary**

The build fails at link-time, with the following output:

[code]

**LAMMPS Version and Platform**

Version: 19Jul2019
Platform: Linux

**Steps to Reproduce**

I'm building with `cmake`, and am using the Intel compilers. I am using a build-script similar to the following, modified for the latest patch release.
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=lammps-beta

[2019-07-25 18:46] rbberger commented on #1585
@uihsnv you are not providing sufficient information to reproduce this issue.

If you want anyone to look into this you need to provide more detail. We're regularly building LAMMPS with CMake and the Intel Compiler without any issues.

Which Intel Compiler Version are you using? What is the final CMake command-line that is produced in your build script? What options are you using? What environment

[2019-07-25 19:03] uihsnv commented on #1585
[code]

Also, I'm building the `MC`, `KIM`, `USER-OMP` and `USER-INTEL` packages.

What environment variables should I be looking at?

[2019-07-25 20:40] rbberger commented on #1585
Again, what is the cmake command you are using? Are you injecting any compiler flags through environment variables or to cmake directly?

I would try removing KIM and see if it compiles.

[2019-07-26 04:06] uihsnv commented on #1585
I tried the compilation without KIM, but it still fails the same way.

These are the flags I pass on to cmake:

[code]

As far as I know, I am not modifying cmake's behaviour in any way.

[2019-07-26 04:54] yurivict opened #1586 "[regression] Potentials are installed into potentials/potentials"
```5Jun2019``` installed them into ```/usr/local/share/lammps/potentials```, ```19Jul2019``` installs them into ```/usr/local/share/lammps/potentials/potentials```.
Moving them into ```potentials/potentials``` seems wrong.

Found while trying to update the FreeBSD port.

[2019-07-26 05:37] GiovanniBussi commented on #1579
@akohlmey sorry I just fixed the last point.

[2019-07-26 13:54] akohlmey commented on #1586
@yurivict thanks for reporting. i vaguely recall, that this issue had showed up before and was corrected. not sure what made it reappear. the fix is straightforward and will be available in the next LAMMPS release.

[2019-07-26 17:59] yurivict commented on #1586
https://github.com/lammps/lammps/pull/1588

[2019-07-26 18:06] rbberger commented on #1585
This is a Intel Compiler issue. See https://software.intel.com/en-us/forums/intel-c-compiler/topic/810447 and the release notes of the Intel compiler.

I was able to reproduce it on my Arch system. Arch has GCC 9.1, which is not officially supported.

As a workaround you can try adding `-std=c++11` or `-std=c++14` to your compilation flags. At least for me that produced a build under Arch Linux.

[2019-07-26 18:06] #1585 closed

[2019-07-27 11:40] evoyiatzis opened #1589 "[BUG] binning using chunk/atom bin/sphere & ave/chunk density/number"
**Summary**

I create N radial bins around a fixed position in my simulation box using the compute chunk/atom bin/sphere command. I average the data using the compute ave/chunk command with the density/number option. It seems that all atoms which do not belong to the first N-1
bins are grouped in the last N-th bin. The same holds true if I use the keyword density/mass. The resulting value for the

[2019-07-29 18:11] hponemyintk opened #1591 "[BUG] Possible bug in calculating (only) coulomb energy via rerun cmd"
**Summary**

LAMMPS' coulomb energy output (obtained using "coul/long", and "pe/atom" cmd with "pair" and "kspace" flags turned on as mentioned in the [documentation](https://lammps.sandia.gov/doc/rerun.html)) seems to be including conformational energies of the molecules. For a bulk SPC/E system, LAMMPS output positive coulomb energy for some of the atoms--opposed to the expected negative values

[2019-07-29 18:19] akohlmey commented on #1591
please note, that ecoul only contains the short range contribution to the coulomb energy. you need to add elong to it to get the full coulomb interaction. your comparison for a system with special bonds and without is meaningless. the energies from coul/long plus kspace are consistent with the values of coul/cut in the limit of a long cutoff. this has been tested repeatedly. i don't know what your

[2019-07-29 23:53] #1586 closed

[2019-07-29 23:54] #1577 closed

[2019-07-30 09:03] mkanski commented on #1579
There is also a dead link to the PLUMED documentation in the LAMMPS manual. It points to `http://www.plumed.org/documentation` instead of `https://www.plumed.org/doc.html`.

[2019-07-30 10:57] akohlmey commented on #1256
This is mostly done, but leaving the issue open as a reminder for further checks and reviews.

[2019-07-30 15:47] stanmoore1 opened #1594 "[BUG] Compile error in /src/USER-MEAMC/meam_dens_final.cpp"
**Summary**

[code]

**LAMMPS Version and Platform**

Introduced in #1542

[2019-07-30 15:51] stanmoore1 opened #1595 "[BUG] Failing regression test: /examples/USER/eff/Be-solid/in.Be-solid.spe"
**Summary**

Failing regression test:

[code]

**LAMMPS Version and Platform**

failed between c00f2adb4282ed2d2ed9803a47e9c5b706cdb865 and 691fc357a4b7d02db636be70da47c644167b0fd

[2019-07-30 16:08] stanmoore1 opened #1596 "[BUG] Missing #include <cstdlib> in molecule.cpp"
**Summary**

[code]

**LAMMPS Version and Platform**

Latest master, gcc 4.9.3, RHEL, no packages installed, Makefile.mpi

[2019-07-30 16:10] stanmoore1 commented on #1596
And read_restart.cpp:

[code]

[2019-07-30 16:33] rbberger commented on #1589
This is documented behavior. See the manual for [chunk/atom](https://lammps.sandia.gov/doc/compute_chunk_atom.html):

Add `discard yes` and see if this is the behaviour you want.

[2019-07-30 16:33] stanmoore1 commented on #1595
The issue is that some of the spin values in the data file are `-1.000000` but it is expecting an integer so it is erroring out.

[2019-07-30 16:48] rbberger commented on #1596
confirmed, creating a PR to patch it

[2019-07-30 16:56] rbberger commented on #1596
@akohlmey created the fix but couldn't push into your draft PR branch. I created a PR into your branch `collected-small-changes`  instead

[2019-07-30 17:20] evoyiatzis commented on #1589
You are right @rbberger. My "expected" behavior is not the same with the default settings of LAMMPS.
The addition of discard yes gives the behavior I want.

[2019-07-30 17:20] #1589 closed

[2019-07-30 17:28] stanmoore1 commented on #1594
This fixes the error for me:

[code]

[2019-07-30 18:37] akohlmey commented on #1594
there is no need to use size_t (those arrays are of dimension maxelt (which
is 5 by default), so using int suffices. also those inline functions are
only used in one place, so they an be moved to that file and out of the
header. PR #1592 will implement that.

On Tue, Jul 30, 2019 at 1:28 PM Stan Moore <notifications@github.com> wrote:

--
Dr. Axel Kohlmeyer  akohlmey@gmail.com  http://goo.gl/1wk0

[2019-07-30 21:06] #1579 closed

[2019-07-30 21:06] #1594 closed

[2019-07-30 21:06] #1596 closed

[2019-07-30 21:07] #1595 closed

[2019-07-30 21:09] #1554 closed

[2019-07-30 21:09] #1528 closed

[2019-07-31 08:07] rbberger opened #1600 "[BUG] USER-PTM compilation broken"
**Summary**

Due to the missing inclusion of a standard header NULL is not defined in GCC 4.8.5 (CentOS 7).

PR #1599 addresses this.

**LAMMPS Version and Platform**

current master

**Expected Behavior**

Working compilation.

**Actual Behavior**

[code]

**Steps to Reproduce**

Compile with GCC 4.8.5 on CentOS 7.

[2019-07-31 15:50] amlimaye commented on #1591
Hi Axel,

I'm one of Kyaw's collaborators. Thanks for your quick response on this. I'm still a little confused about why the pe/atom compute computing pair + kspace energies should yield different results on a rerun of a system with bonds and without bonds. pe/atom has separate keywords for printing out bond and angle energies, so I would imagine that those are excluded from the pair + kspace ener

[2019-07-31 20:46] stanmoore1 opened #1602 "[BUG] More compile errors"
**Summary**

I keep getting random compile errors:

[code]

[code]
**LAMMPS Version and Platform**

Latest master, packages installed: KOKOKS, SNAP, MISC

[2019-07-31 20:58] stanmoore1 commented on #1602
The MPI error is with MPICH2, it doesn't seem to define that variable. The other error is when I used -DLAMMPS_EXCEPTIONS and need to add `#include "update.h"`.

[2019-07-31 22:31] akohlmey commented on #1591
because of exclusions. for example when you look at the interaction of a water hydrogen with the oxygen of the same water, then this interaction is computed by the bond potential and the *full* coulomb and lennard-jones interaction for this pair is excluded (forces and energies).

[...]

this is common behavior is *any* MD code i know (like CHARMM, Amber, Gromos, Gromacs, NAMD, etc.). you should l

[2019-07-31 22:31] #1591 closed

[2019-08-01 11:06] akohlmey commented on #1602
the exact same code construct is used in `src/KOKKOS/kokkos.cpp` lines 214 and 215.
if we have to correct `src/info.cpp` for this, we have to update the KOKKOS code, too. i'll be submitting a PR for this later today.

yup.

[2019-08-01 14:17] oywg11 commented on #1429
Hi all,
Thanks for discussing and debugging this bug. After a bunch of tests, I can finally find the reason of this bug and fixed it. Nicolas@nleconte did a quick test with the modified potential and it solved his problem. I did more tests on the new version of potential and I think now the bug is fixed. More details can be found in #1606. Please feel free to do some additional tests if you have t

[2019-08-01 15:24] #1602 closed

[2019-08-01 15:25] akohlmey commented on #1600
fixed by merging #1599

[2019-08-01 15:25] #1600 closed

[2019-08-01 19:01] #1429 closed

[2019-08-01 22:37] akohlmey commented on #1439
@ellio167 just found a simple solution for the KIM problem on MacOSX (and possibly other platforms), where we want the fortran compiler setting to be consistent, but not automatically link with it directly.
This can be done with the `check_language()` function instead of `enable_language()`. This also sets `${CMAKE_Fortran_COMPILER}` and thus allows to set it globally to be consistent, but does no

[2019-08-01 23:29] ellio167 commented on #1439
@akohlmey Nice!  I've confirmed that this works as described.

[2019-08-02 00:15] ag949 opened #1609 "[BUG] Parenthesis missing"
There is a parenthesis missing in the line 242 of kokkos.cpp
**LAMMPS Version and Platform**
LAMMPS (31 Jul 2019) against CUDA 10.0+mvapich2+gcc-7.1.0

[2019-08-02 00:35] wmbrownIntel commented on #1532
Thanks for your time in reporting this Vishnu. The above pull-request should fix the problem.

[2019-08-02 00:48] akohlmey commented on #1609
@ag949 thanks for reporting. this should be fixed with commit f61cd68ca47aff365b76248d95e816b8b3aac687 and available in the next LAMMPS patch.

[2019-08-02 05:42] uihsnv commented on #1585
This will have to be fixed in the `CMakeLists.txt` for when Intel compilers are used, because GCC 9.x will eventually be supported, and the C++ standard of the code base is probably not going to change. So I do think it is a valid bug, that needs to be fixed, and might as well be fixed now.

Using `-std=c++11` works for me.

[2019-08-02 08:52] akohlmey commented on #1585
No it is not a valid bug. Using and unsupported combination of tools is a user error. If the intel compilers will support gcc 9.x they will have to take care of issues like that internally from the compiler. The hack you are suggesting may not work in the future and i refuse to put workarounds for unsupported combinations of tools into the configuration management. You can easily set additional co

[2019-08-02 14:41] #1439 closed

[2019-08-02 14:41] #1609 closed

[2019-08-02 14:42] #1532 closed

[2019-08-02 14:43] #1572 closed

[2019-08-02 14:44] akohlmey commented on #1499
fixed by merging PR #1610

[2019-08-02 14:44] #1499 closed

[2019-08-04 22:30] eagunn commented on #1109
Please keep me assigned to this task unless fixing it becomes time critical. I'll be off the grid for a couple of weeks but would like to continue working on it after I get back.

[2019-08-06 21:40] ag949 opened #1624 "[Feature Request] KOKKOS fix rigid"
**Summary**

Porting fix rigid to KOKKOS

**Detailed Description**

In the past I've benefited significantly from using LAMMPS accelerated with KOKKOS. I am trying to run large scale simulations in GPUs with rigid bodies. Is porting fix rigid planned for the future?

[2019-08-06 21:56] jaj52 commented on #1624
This will be super useful!

[2019-08-07 19:37] Sammyalhashe commented on #1326
I'm seeing the same thing on Manjaro

[2019-08-07 20:10] akohlmey commented on #1326
There is no need for further reports on this. The CMake script has been updated in the two stable releases since 12 December to not enable OpenMP by default on gcc 9 and beyond for as long as we will keep the directives as they are for maximal portability and improved diagnostics during development. There is a (documented) script to remove the `default(none)` setting to make the directives compati

[2019-08-10 01:32] akohlmey commented on #1566
no reaction demonstrating a meaningful use case for 3 weeks. will close the issue within the next week if there is still no reaction.

[2019-08-10 01:34] akohlmey commented on #1495
next LAMMPS stable release is out making this issue obsolete.

[2019-08-10 01:34] #1495 closed

[2019-08-12 22:04] stanmoore1 opened #1627 "cannot open source file "mkl_dfti.h""
**Summary**

On some platforms I get this compile error when using `src/MAKE/OPTIONS/Makefile.intel_cpu_openmpi`:

[code]

Here is the fix, perhaps this should be added to the USER-INTEL package makefiles?

[code]

**LAMMPS Version and Platform**

Latest master

[2019-08-13 14:01] alxvov opened #1629 "[BUG] Compilation error when building MPI version"
**Summary**

When I try to compile the latest stable version of LAMMPS with MPI, I get this error message:

![error_msg](https://user-images.githubusercontent.com/52166105/62945972-4f6e0100-bdcf-11e9-8105-1a52e24fd86b.png)

However, I do not get this error message when I compile the patch_19Jul2019

**LAMMPS Version and Platform**

Latest stable version of LAMMPS (stable_7Aug2019) with Intel compi

[2019-08-13 15:00] akohlmey commented on #1629
please try deleting the line `#include <mpi.h>` from the file read_dump.h and let us know if that avoids the compilation problem.

[2019-08-13 15:16] alxvov commented on #1629
Yes, it avoids the compilation problem. Thank you.

[2019-08-13 19:30] vaidyanathanms opened #1630 "[Feature Request] Edit read_data documentation"
**Summary**

To add details on inputting unwrapped coordinates to datafile and how it is read by LAMMPS.

**Detailed Description**

The requested addition does not involve anything that needs to be done at a coding level. It is on the documentation of read_data command. I had put the request in mailing list from which I was asked to give a pull request/issue in LAMMPS.  This feature is helpful if

[2019-08-13 22:24] akohlmey commented on #1466
Workshop has started today.

[2019-08-13 22:24] #1466 closed

[2019-08-15 21:52] junghans opened #1636 "Packages for LAMMPS stable release 07 Aug 2019"
For @junghans

- [ ] OpenSuse: https://build.opensuse.org/request/show/724135
- [ ] Fedora
  - [x] Rawhide (F32): https://bodhi.fedoraproject.org/updates/FEDORA-2019-063db817b3
  - [x] Fedora 31: https://koji.fedoraproject.org/koji/buildinfo?buildID=1357282
  - [ ] Fedora 30: https://bodhi.fedoraproject.org/updates/FEDORA-2019-33ebabf820
  - [ ] Fedora 29: https://bodhi.fedoraproject.org/updates/F

[2019-08-17 22:16] fonzg1 opened #1639 "adding USER-3SPN2"
In future releases of lammps would be possible if the USER-3SPN2 package be included in lammps to be configured and build using cmake?

[2019-08-17 22:23] akohlmey commented on #1639
that depends on the author(s) of that package to submit it as a pull request for inclusion into the distribution and if the code meets the requirements for inclusion.

[2019-08-20 21:51] stanmoore1 commented on #518
I started working on this.

[2019-08-20 23:36] #1629 closed

[2019-08-21 21:17] stanmoore1 commented on #1627
@wmbrownIntel I can submit a PR for this if you agree.

[2019-08-22 22:03] #1106 closed

[2019-08-23 00:46] eagunn commented on #1109
@mdelyser I'm back online. I hope to get my code sync'd up with master tomorrow morning and then figure out where I left off and what's a good next step. Please let me know if anything changed with your view of this work while I was offline.

[2019-08-23 16:11] wmbrownIntel commented on #1627
@stanmoore1 Sorry for the delay, Stan. That would be great if you don't mind. Thanks. - Mike

[2019-08-26 00:18] akohlmey commented on #67
Can use compute chunk/spread/atom for this purpose. Example provided in PR #1642

[2019-08-26 00:18] #67 closed

[2019-08-27 22:09] keijone opened #1649 "[BUG] reax/c/bonds erroneous duplicate output upon new run"
**Summary**

When using reax/c/bonds to output which atoms are bonded to which with ReaxFF, whenever a "run" command is completed, followed by an unfix, a new fix, and then a new "run" command, reax/c/bonds will create a duplicate output to the file for that timestep.

**LAMMPS June 5, 2019 - OSX 10.13.6**

**Expected Behavior**

The file created by reax/c/bonds should output to the file Nevery ti

[2019-08-28 13:19] #1649 closed, assigned to nobody

[2019-08-29 14:22] Pakketeretet2 commented on #1624
I would like to take a look because I am interested in it myself but I would have to bother @stanmoore1 a lot with Kokkos-related questions, since porting a complicated fix like rigid seems to be a lot harder than porting a pair style.
Are you interested in fix rigid or fix rigid/small?

[2019-08-29 14:52] ag949 commented on #1624
This sounds great, thank you. As you say, it doesn't look trivial.  We would be interested in fix rigid.

[2019-08-29 14:54] stanmoore1 commented on #1624
I'm happy to answer questions about Kokkos.

[2019-08-29 21:45] rbberger opened #1655 "[BUG] Segfaults with balance command and KOKKOS"
**Summary**

Running balance examples causes segfaults when running with KOKKOS and CUDA.

**LAMMPS Version and Platform**

master

**Expected Behavior**

An error message due to some neighbor list requirement or a successfully completed simulation.

**Actual Behavior**

Segmentation faults, e.g. in `imbalance_neigh.cpp:80` due to garbage in the neighbor list

**Steps to Reproduce**
[code]

**Furt

[2019-08-30 20:02] Adrian-Diaz opened #1656 "[BUG] _Fix_ehex_singularity"
**Summary**

The coordinate correction in the rescale function of fix ehex can alter atoms by massive displacements (e30 etc.) when the computed rotational kinetic energy is near zero for the reservoir group.

**LAMMPS Version and Platform**

August 7 2019 version running on the UFRC supercomputer with intel/2018 and openmpi/3.1.0.

**Expected Behavior**

atoms not exploding into infinity

**Actua

[2019-09-01 15:03] akohlmey commented on #1639
closed due to inactivity

[2019-09-01 15:03] #1639 closed

[2019-09-01 15:04] akohlmey commented on #1566
closed due to inactivity

[2019-09-01 15:04] #1566 closed

[2019-09-01 15:06] #1433 closed

[2019-09-03 13:48] akohlmey commented on #1656
@Adrian-Diaz have you tried contacting the author of fix ehex?

[2019-09-03 21:17] jibril-b-coulibaly opened #1657 "[BUG] No rigid body rotation for rigid/nve styles"
**Summary**

The `fix rigid/nve` styles do not perform rotation of granular rigid bodies

**LAMMPS Version and Platform**

07 Aug 2019, Windows

**Expected Behavior**

The orientation of the non-spherical rigid bodies should be altered when getting in contact with one other

**Actual Behavior**

The rigid bodies only undergo translations when using `fix rigid/nve` styles. Rotations are obtained wh

[2019-09-03 22:25] Adrian-Diaz commented on #1656
I have not.

[2019-09-04 14:34] Pakketeretet2 commented on #1624
OK, I will take a look at it. Unfortunately, I am more interested in rigid/small but I'll see what I can do for either. I think rigid/small would be more suitable for GPUs and the like because it seems more similar to what Hoomd-Blue does.
@stanmoore1, should a simple port be reasonably performant or are there special things I should worry about when porting fixes like this? Or should I just port

[2019-09-04 20:01] akohlmey commented on #1657
This is less of a bug in the code but an omission in the documentation. There is no support for extended particles of all kinds in `fix rigid/nve` and all similar styles. There should be an update to the documentation and a for better information of users a check added and some warnings printed in the rigid styles that don't support extended particles.

[2019-09-04 22:00] rbberger opened #1659 "C++11 in LAMMPS"
## Summary

There is an ongoing discussion among the developers of LAMMPS about when the right time is to allow C++11 compliant code in the core of LAMMPS. Currently it is only required by some packages such as KOKKOS. But we are increasingly seeing code that needs to be changed or rejected because of the C++98 requirement.

Many compilers already default to C++14, so I would argue that by now it

[2019-09-04 22:18] stanmoore1 commented on #1624
@Pakketeretet2 yes a simple port is fine, i.e. just thread over loops of atoms. After we have a port then we'll worry about performance, I can do some tuning. I used c++11 lambdas extensively in #1650 and it made porting easier since I didn't have to mess with functors or tags.

[2019-09-05 08:26] martok commented on #1659
A note on the target table: while it was not the default mode, gcc=>4.8.1 and clang>=3.3 both have feature-complete `-std=c++11`, so even CentOS7 should have no problem.

[2019-09-05 14:20] jibril-b-coulibaly commented on #1657
Thank you very much for the clarification. Rotations are observed when running the `in.rot_noissue` script which makes uses of `atom_style sphere` and `fix rigid/nve`, is that just a lucky case ?

[2019-09-05 15:50] akohlmey commented on #1657
the situation is more complex than i thought. when i made my comment, i overlooked that the FixRigidNH* classes make calls into the corresponding FixRigid* classes, so support for handling extended particles is actually present, but it is not clear whether this is handled consistently and thus i need to take a closer look. One thing that needs to be done is to consolidate the various constants and

[2019-09-05 18:02] #1627 closed

[2019-09-06 03:31] sabiharustam opened #1663 "[BUG]user-misc error in pair-list.cpp"
**Summary**

This bug occurred during the installation of user-misc package with standard make installation.
My procedure is described as follow:
1.  git clone the lammps repository.
2. git checkout stable
3. cd to src/
4. make yes-user-misc
5. make mpi

**LAMMPS Version and Platform**

LAMMPS Version: 7 Aug 2019 stable version
Operating system:
Processor: Intel E5-2650

**Expected Behavior**

suc

[2019-09-06 04:45] sabiharustam commented on #1663
Sorry, I think this is actually the compiler issue.

[2019-09-06 04:45] #1663 closed

[2019-09-07 00:41] streeve opened #1665 "[Feature Request] dihedral_style harmonic/kk (Kokkos implementation)"
**Summary**

Kokkos version of harmonic dihedrals

**Detailed Description**

For a simulation with DREIDING it is common to use harmonic bonds/angles/dihedrals/impropers, where all but dihedrals have a current Kokkos implementation. As I understand from @stanmoore1 this is not a significant effort

[2019-09-07 01:52] jewettaij commented on #1665
Hi Streeve
Virtually all of the current dihedral styles can be used for your purpose, including dihedral_style [opls](https://lammps.sandia.gov/doc/dihedral_opls.html#dihedral-style-opls-kk-command), [charmm](https://lammps.sandia.gov/doc/dihedral_charmm.html#dihedral-style-charmm-kk-command), and [class2](https://lammps.sandia.gov/doc/dihedral_class2.html#dihedral-style-class2-kk-command)
(all of

[2019-09-07 01:59] jewettaij commented on #1665
*(Incidentally, if you know of a public repository somewhere containing a list of DRIEDING parameters and their context, please let me know.  Bill Goddard told me the parameters are normally generated by some in-house code from his group.  I'm wondering what people outside his group do.)*

[2019-09-09 18:25] stanmoore1 commented on #1665
@streeve I ported `dihedral_style harmonic` to Kokkos, see #1669. However, one remaining issues is that there is none of the DRIEDING pair_styles have been ported to Kokkos, so that will spawn some host <-> device data movement as well.

[2019-09-09 21:15] streeve commented on #1665
Thanks @stanmoore1. We've never used the `hbond/dreiding` styles, just standard LJ, Morse, or Buckingham together with bonds, angles, etc.

@jewettaij, it's fair that I made this request to avoid the work of self-conversion to the other existing styles with Kokkos versions. And to be honest, I wasn't aware of those more general styles since the more specific style has always been available.

I agr

[2019-09-09 21:18] akohlmey commented on #1657
after closer inspection, i cannot confirm that there is a difference between fix rigid and fix rigid/nve beyond the numerical differences. i get identical trajectories that start diverging eventually. one major difference between the issue and noissue input is the different choice of units, but using the same molecule file. because of that, the length unit is very different and thus the moments of

[2019-09-09 22:20] jewettaij commented on #1665
Cool.  Thanks for telling me about struc2lammpsdf.  Perhaps I can persuade someone to open-source this useful tool.
If anyone wants help getting these newer dihedral styles into KOKKOS, please let me know.

[2019-09-10 12:45] JensWehner opened #1671 "[Feature Request] Add Units specifier to dump files"
**Summary**

Add an `ITEM` to the LAMMPS dump files, which output the unit system (e.g. `real`,`metal`,..) is used.

**Detailed Description**

For postprocessing software of LAMMPS trajectories it can be very hard to find out, which units were used in a simulation run. This feature would remove this ambiguity.
For the LAMMPS dump files a simple additional ITEM
`ITEM UNITS: REAL` would suffice.

I

[2019-09-10 13:26] akohlmey commented on #1671
@sjplimp what do you think of this suggestion? It is easy enough to implement (see PR #1672)

[2019-09-10 15:57] jibril-b-coulibaly commented on #1657
Thank you very much for closely inspecting the code for `fix rigid` and `fix rigid/nve`.

Regarding the inertia, I do not think this should occur since the "issue" input scales down the molecule size: `molecule mol_poly_clump clump.mol scale 0.0004` which should scale down the inertia as well.

Do you also obtain identical trajectories when running the "issue" input using `fix rigid` instead of `r

[2019-09-11 18:04] #518 closed

[2019-09-11 21:30] Pakketeretet2 commented on #1624
OK, since fix propel/self is pretty much done from a programming point of view I have started with this now.

[2019-09-11 21:32] stanmoore1 commented on #1624
Great, feel free to ping me either here on Github or via email if you have questions.

[2019-09-11 21:36] Pakketeretet2 commented on #1624
Will do. For a second I couldn't find the lambdas anywhere but I found them. They look nicer than C++11 lambdas so they were hard to spot. :)

[2019-09-12 01:46] Pakketeretet2 commented on #1624
The latest changes with minimize seem to cause linking problems with clang on my laptop, but it might be something dumb on my part. I'll look into it more tomorrow.

[2019-09-12 02:23] akohlmey commented on #1624
You are building LAMMPS with cmake, right?
There is a small adjustment needed:
[code]

[2019-09-13 06:06] weond opened #1675 "[BUG] user documentation of the user-h5md package"
in https://lammps.sandia.gov/doc/Build_extras.html#user-h5md-package ,the traditional make"
make lib-h5md                     # print help message
make lib-hm5d args="-m h5cc"      # build with h5cc compiler" is wrong, shouled be '
make lib-h5md
make lib-h5md args="-m h5cc" '

[2019-09-13 13:40] aaichsmn opened #1676 "memory.cpp fails compilation under Intel 17.0.1.132, IMPI 2017.1.132."
**Summary**
     Compilation fails on memory.cpp with error pasted under Actual Behavior.
**LAMMPS Version and Platform**
     7Aug19, CentOS7, Skylake.
**Expected Behavior**
     Successful compilation.
**Actual Behavior**
     Compilation fails with diagnostic ...
[code]
**Steps to Reproduce**
     Compile with Intel 17.0.1.132, IMPI 2017.1.132.
**Further Information, Files, and Links**
     Hav

[2019-09-13 14:15] Pakketeretet2 commented on #1676
memcpy is typically defined in string.h/cstring, but it's hard to tell
whether or not that is indirectly included or not. Will it compile if you
directly include cstring in memory.cpp?

On Fri, Sep 13, 2019 at 9:40 AM P. A. Cheeseman <notifications@github.com>
wrote:

[2019-09-13 14:17] rbberger commented on #1676
@Pakketeretet2 Axel already has the fix here: ca301f0

[2019-09-13 14:20] Pakketeretet2 commented on #1676
@rbberger Oops, I'm not fully awake yet.

[2019-09-13 14:22] aaichsmn commented on #1676
Compiled and ran tests O.K.  Still testing here but looks good so far.

                                                                Best regards,
                                                                Phil

                                                                P. A. Cheeseman, Ph.D.
                                                                Senior Scientific Application

[2019-09-13 14:35] aaichsmn commented on #1676
O.K.  I just checked the source in the master branch and didn't see cstring included so I submitted my change.  I'd downloaded lammps-stable.tar.gz from https://lammps.sandia.gov/cgi-bin/download.pl.

     Thanks for your time on this.

                                                                Best regards,
                                                                Phil

[2019-09-13 16:12] stanmoore1 commented on #1624
Any function that is called in a `Kokkos::parallel_for` needs to be declared with `KOKKOS_INLINE_FUNCTION` so the GPU `__device__` decorators are added. For example, see https://github.com/lammps/lammps/blob/master/src/KOKKOS/math_special_kokkos.h#L53.

If a Kokkos view is 2D LayoutRight, then you can get a 1D slice view using `Kokkos::subview(d_view,i,Kokkos::ALL);`. For a flat array, you can get

[2019-09-13 16:16] akohlmey commented on #1676
the commit @rbberger was referring to is in a pending pull request that has not yet been merged.
you cannot download the development code from the sandia website, the development version will be updated with each patch release, and the stable package will only be updated on every stable release (typically, every 3-4 months).
besides, when compiling with intel compilers, you should also enable usin

[2019-09-13 16:21] stanmoore1 commented on #1624
For `fix rigid/small` that has the `body` struct, you can just make a Kokkos View of type `body`. Then the calls are simply `MathExtra::transpose_matvec(rot,d_body[i].angmom,wbody);`

[2019-09-13 16:35] stanmoore1 commented on #1624
Actually I'm not 100% sure if `MathExtra::transpose_matvec(rot,d_body[i].angmom,wbody);` would work, would have to try it out.

[2019-09-13 16:55] aaichsmn commented on #1676
Thanks for the tip.  I navigated away from the edit screen w/o clicking the green button.

     Am reading further into your documentation about how to do it right if there is a next time.

                                                                Happy Friday,
                                                                Phil

[2019-09-13 17:57] mkanski commented on #1671
Would it be possible to also add something like `ITEM: TIME` with the simulation time? That would be useful for simulations with variable timestep.

[2019-09-13 20:11] akohlmey commented on #1671
could be done in a similar fashion as with PR #1672. but better to have that one merged and then submit a new PR with the additional change.

[2019-09-13 21:54] Pakketeretet2 commented on #1624
OK, before I can actually test any of that I stumbled upon another thing: Rigid uses a bunch of additional storage for center-of-mass positions, velocities and forces. It looks like there are no associated Kokkos containers or data masks for that yet, at least, I cannot see any masks for them in atom_masks.h nor any containers in atom_kokkos.h.

What is the preferred way to add such things? These

[2019-09-13 21:57] stanmoore1 commented on #1624
Just to be clear, are you working on `fix rigid` or `fix rigid/small`?

[2019-09-13 21:58] Pakketeretet2 commented on #1624
fix rigid.

[2019-09-13 22:08] stanmoore1 commented on #1624
I would add Kokkos dualviews inside fix rigid and call sync/modify directly on them. No need to add them to atom_masks.h. In other words, any array that is declared in fix_rigid.h would have a corresponding Kokkos view in fix_rigid_kokkos.h.

[2019-09-13 22:12] stanmoore1 commented on #1624
For example: https://github.com/lammps/lammps/blob/master/src/KOKKOS/fix_minimize_kokkos.h#L47

[2019-09-14 12:31] M-S-Jacobs2727 opened #1678 "[BUG] GPU Memory Leak"
**Summary**

Initializing a GPU repeatedly (as in the case of looping over a "run" command) results in a memory leak, leading to the OS terminating the simulation.

**LAMMPS Version and Platform**

LAMMPS versions 7Aug2019 and 16Mar18 were tested on a CentOS 7 cluster. The compute nodes have 2x12-core, 24-thread Intel Xeon processors, 64GB of RAM, and 4xGTX Titan X GPUs.

**Expected Behavior**

LA

[2019-09-14 14:05] Pakketeretet2 commented on #1624
Ah, that is brilliant! So, just to make sure I fundamentally understand this; whenever you do a memoryKK->create_array or memoryKK->grow_array, Kokkos wraps that memory in a dualview so that after you have a handle to the arrays on both the host and the device? And then in device code you use d_view and in host code you use h_view, and you just have to make sure to sync it whenever required? Does

[2019-09-15 19:20] Pakketeretet2 commented on #1624
So I now have the fix create its own Kokkos counterparts to arrays in the
base fix rigid. However, when I do
memoryKK->create_kokkos(k_xcm, xcm, "rigid/kk:xcm")
the data in xcm is now all zeros, but the data in the host and device views
is still zeros. I assume that is because there has to be an explicit
synchronization. For data that has an atom mask the atomKK->sync and
atomKK->modified took car

[2019-09-16 10:56] anderscognite commented on #1678
Can you also put a small script that reproduces the problem?

[2019-09-16 14:23] TheRubikMaster commented on #1678
[Here](https://github.com/lammps/lammps/files/3616698/in.melt.txt) is a simple input file. I modified the melt example to loop over a 25-timestep run.

[2019-09-16 15:08] stanmoore1 commented on #1624
This is correct. Typically `memoryKK` is used when you need to access the host pointer in legacy code since it takes the pointer from the host Kokkos view and assigns it to the legacy host pointer. If the array is only going to be accessed on the device, then using `Kokkos::DualView` directly is preferred since it skips the aliasing part.

Correct

It is a little complicated. If the host view is m

[2019-09-16 15:09] stanmoore1 commented on #1624
I suggest creating a work in progress PR and I can review as I have time.

[2019-09-16 16:08] ndtrung81 commented on #1678
Hi, thanks for reporting the issue and for the tests with "pre no".

Can you try rebuild LAMMPS with the attached source files copied to src/?
If they can resolve the memory leak on the device as you observed for the
example input, the bugfixes are possible for other styles, but it will take
sometime for me to propagate them across those pair styles.

Best,
-Trung

On Mon, Sep 16, 2019 at 9:23 AM

[2019-09-16 16:40] TheRubikMaster commented on #1678
Files were not attached...

[2019-09-16 16:41] andeplane commented on #1678
If you reply by email @ndtrung81, the attached files do not appear on GitHub (didn't find them in the email either).

[2019-09-16 16:46] ndtrung81 commented on #1678
Let's try this zip file:

[ljcutgpu.zip](https://github.com/lammps/lammps/files/3617261/ljcutgpu.zip)

[2019-09-16 20:35] #1665 closed

[2019-09-17 12:21] #1675 closed

[2019-09-17 12:21] #1676 closed

[2019-09-17 15:31] TheRubikMaster commented on #1678
![Memory_Test](https://user-images.githubusercontent.com/42037940/65056233-825f6380-d93e-11e9-8e4c-82bb226c26b0.png)
The patch works well! And there is no slowdown that I can tell (based on the code, there might even be a speedup, but I didn't test for that). Thank you so much @ndtrung81 !!!

[2019-09-17 16:43] TheRubikMaster commented on #1678
I have a couple of questions about implementing this patch elsewhere. So I can put this into lj/cut/coul/long/gpu in a similar fashion just fine, but I'm a bit concerned about pppm/gpu. What should be the corresponding fix for that?

[2019-09-18 03:15] Pakketeretet2 commented on #1624
Am working on it in PR  #1680.

The syncing is still not entirely clear to me. Do these do this? If so, the function names make some sense to me. Otherwise they don't. :)
 k_view.modify<DeviceType>();  --> Mark that data in k_view was modified on the device
k_view.sync<DeviceType>();     --> Sync the data in k_view on the device (from the host)
k_view.modify<LMPHostType>();  --> Mark that the data

[2019-09-18 12:59] ndtrung81 commented on #1678
@TheRubikMaster glad to hear that it worked and that you can make similar changes to lj/cut/coul/long/gpu. Did you experiment with the existing pppm/gpu, to see if the memory leak persists?

[2019-09-18 13:56] TheRubikMaster commented on #1678
I did.
[pppm_gpu.zip](https://github.com/lammps/lammps/files/3626741/pppm_gpu.zip)

I tried this, as well as not including the calls to create_3d_offset in the if statement, but it gave me a segfault both times. I'm afraid my knowledge here is pretty limited.

I also left pppm/gpu alone to see if the memory leak persists with just the changes to lj/cut/coul/long/gpu, and it does, albeit much more

[2019-09-18 14:07] TheRubikMaster commented on #1678
[test2.zip](https://github.com/lammps/lammps/files/3626785/test2.zip)

Here is a test file (in.gen) and the output (out2.txt) when I try to run it with the edited pppm/gpu files.

[2019-09-18 14:32] stanmoore1 commented on #1624
Yes:

`
k_view.modify<DeviceType>(); --> Mark that data in k_view was modified on the device
k_view.sync<DeviceType>(); --> Sync the data in k_view on the device (from the host)
k_view.modify<LMPHostType>(); --> Mark that the data in k_view was modified on the host
k_view.sync<LMPHostType>(); --> Mark sync the data in k_view on the host (from the device)
`

You never want to concurrently mark modi

[2019-09-18 14:34] stanmoore1 commented on #1624
So basically before any kernel where the data is used (Kokkos or legacy), first sync to the execution space (host or device). Then after the data is changed by the kernel, mark it as modified on the corresponding execution space. This will ensure you always have synced data.

[2019-09-19 14:01] M-S-Jacobs2727 commented on #1678
What I have learned so far:

I can get pppm/gpu to run without a memory leak by encapsulating everything inside of init in the if(!device_allocated) clause. However, I want to change the box size between runs later, and this will not recalculate the mesh grid, thus invalidating my results (please confirm?). The more correct way would be to properly deallocate whatever is building up in memory, tho

[2019-09-19 14:31] #1671 closed

[2019-09-23 15:52] Pakketeretet2 commented on #1624
Sorry to keep bothering you @stanmoore1,
"It is a little complicated. If the host view is marked as modified, it will do the create/grow on the host, otherwise it will default to the device."
This is still not clear to me. Or rather, it is, I think, but does not answer my original question.
In FixRigid::FixRigid(), some arrays (let's  take the body array as example, because that one has me stumped

[2019-09-24 17:23] stanmoore1 commented on #1624
@Pakketeretet2

Ah yes, this is tricky. Normally I would just override the `grow_arrays` method but it is not possible to call a virtual method in the base constructor. I think this is poor design in FixRigid so I would suggest moving this memory allocation in the constructor to an `init` function, then you can override the `grow_arrays` method like normal.

[2019-09-24 21:58] Pakketeretet2 commented on #1624
I think moving initialization to init() makes sense, both conceptually and in that it would solve this specific problem. However, I would not like to touch it at this point because I have not verified yet whether or not the other FixRigid variants depend on some of these flags being set in their own constructors, so for now I will just memcpy the host data to a temporary array and copy it back int

[2019-09-24 22:06] stanmoore1 commented on #1624
For now you could just temporarily wrap the pointers into a Kokkos views, for example see https://github.com/stanmoore1/lammps/blob/fft/src/KOKKOS/fft3d_kokkos.cpp#L91

[2019-09-24 22:09] stanmoore1 commented on #1624
In other words you can use something like
[code]

[2019-09-24 23:39] Pakketeretet2 commented on #1624
Right. I suppose this works because the host view "takes ownership" of the original array and the view is copied by value. That looks cleaner than what it is now, I will copy it in later.

[2019-09-25 15:04] ndtrung81 commented on #1678
@M-S-Jacobs2727 The existing pppm/gpu is supposed to work correctly if the number of mesh grid points in every dimension stays the same during the run. The box sizes may change, for example, using fix npt or fix deform, and the existing code (in both pppm and pppm/gpu) correctly maps the particle charges on the grid. However, if the box changes dramatically during the run, the original mesh would

[2019-09-25 16:48] M-S-Jacobs2727 commented on #1678
Thanks for the advice!

The patch did not help, unfortunately. I tested pppm/gpu both with and without the patch, and the results are the same. The memory leaks at almost the same speed. I tested with pppm (no gpu), just to be sure, and the memory is stable.

Thank you so much for your time! I hope we can get this resolved.

![Memtest2](https://user-images.githubusercontent.com/42037940/65621473-c

[2019-09-25 17:58] M-S-Jacobs2727 commented on #1678
Please disregard that last comment! Somehow I didn't correctly copy the patch before I rebuilt LAMMPS... retesting now...

[2019-09-25 18:29] M-S-Jacobs2727 commented on #1678
I ran with the patch correctly installed, and the memory still leaks. My groupmate and I also noticed the GPU memory increasing (using nvidia-smi). I edited the code to print during pppm/gpu initialization (separate from pppm), and during pppm/gpu destruction. When I ran it, the initialization message printed, but the destructor message did not. Is this expected? Or is the destructor not being cal

[2019-09-26 17:07] ndtrung81 commented on #1678
Thanks for running the tests. Can you also share the file ionPair.txt so that I can rerun your input deck on my side? Also, which version of the CUDA toolkit do you use to build the GPU package and run LAMMPS with?

[2019-09-26 18:59] M-S-Jacobs2727 commented on #1678
[ionPair.txt](https://github.com/lammps/lammps/files/3659430/ionPair.txt)

I'm using CUDA 10.0, sm_52 architecture

[2019-09-27 06:06] llaniewski opened #1694 "[Feature Request] external callback fix supporting other arrays"
## Summary

I propose to add support for the `external pf/callback` fix type to be able to read and influence arrays other than `x` and `f`.

## Detailed Description

I am writing a coupling of a CFD code ([TCLB](https://github.com/CFD-GO/TCLB.git)) with LAMMPS. The general structure of the LAMMPS code (as shared library) and `pf/callback` fix is perfect for my purposes. But the callback exposes o

[2019-09-27 17:37] tomshire opened #1695 "[BUG] fix pour: particles overlapping at z periodic boundary"
Inserted particles across the z-periodic boundary can overlap with existing particles. Example code attached. From the dump file you will see that particles close to the z-boundary have very high stresses as they overlap on placement. From the dump file you will see that particles close to the z-boundary have very high stresses as they overlap on placement.

7 Aug 2019 (and older versions)

**Expe

[2019-09-27 18:42] akohlmey commented on #1657
just re-checked with clean inputs. the trajectories start out identical and then gradually diverge for using fix rigid, rigid/small, rigid/nve, rigid/nve/small

i've modified the inputs to print out some more thermo info. too.
the difference between the rot and norot variants has to be due to some units related setting. there is probably more that needs to be adjusted than the scaling factor for t

[2019-09-29 04:50] ndtrung81 commented on #1678
Thanks. Can you try the attached source files for pppm/gpu? It seems to resolve the issue on my side.

[pppmgpu2.zip](https://github.com/lammps/lammps/files/3666369/pppmgpu2.zip)

[2019-09-30 12:49] mkanski opened #1698 "[Feature Request] Add an option to include simulation time in dumps"
**Summary**

Add `ITEM UNIT:TIME` to dumps in LAMMPS native format.

**Detailed Description**

Adding an option to include elapsed time of a simulation in dumps would simplify analysis when a variable timestep was used.
I think it can be done for LAMMPS native format as additional, optional two lines for each frame and (maybe?) for xyz format instead of dumping a timestep.

[2019-09-30 14:35] M-S-Jacobs2727 commented on #1678
The code works wonderfully for NVT! The GPU memory doesn't even fluctuate, and I think it runs faster.

However, when I tried NPT, the second the grid size changes, the code hangs, so I couldn't test the memory in the case of `old_nzlo_out != nzlo_out`. I attached the input, molecule and output files.

[test_20190930.zip](https://github.com/lammps/lammps/files/3671746/test_20190930.zip)

[2019-10-01 17:58] Pakketeretet2 commented on #1624
This does not seem to work. Even after a call to modify<LMPHostType>() and sync<DeviceType>, k_body.d_view.size() is reported to be 0, and a call to memoryKK->grow_kokkos() leads to the data being overwritten with zeros again.

Turns out I need to do this:
  HAT::t_int_1d h_body(body,nmax);
  k_body.modify<LMPHostType>();
  k_body.h_view = h_body;
  k_body.d_view = create_mirror_view(DeviceType(),

[2019-10-01 18:42] Pakketeretet2 commented on #1624
So I semi-abandoned the porting of the functions and instead kept everything on the host but with KOKKOS arrays just to make sure the output is identical to the original code. That seems to be the case now for the rigid example, so I will now selectively port the functions using your comments on my PR.
I hope that does not generate too much noise.

[2019-10-02 12:03] matteoeghirotta opened #1702 "[BUG] Gay-Berne pair style do not conserve energy with negative exponents"
**Summary**

pair_style gayberne does not conserve the energy in NVE simulations  if one or both the exponents mu and upsilon are negative.

**LAMMPS Version and Platform**

The problem was detected with both 11 Aug 2017 and 5 Jun 2019, running on debian 9 and ubuntu 18.04 Linux, x86_64 architecture.

**Expected Behavior**

Running a simulation with biaxial ellipsoidal particles interacting only t

[2019-10-02 14:07] Pakketeretet2 commented on #1702
I can confirm with LAMMPS from 19 September 2019. I am not at all familair with Gay Berne potentials; do negative exponents make sense? If so, does it make the interaction very long-ranged? Because if the latter is the case it could be due to the pair cut-off not being appropriate for this potential for negative exponents.

[2019-10-02 14:51] matteoeghirotta commented on #1702
Negative exponents are present in literature, basically they change the relative weights of the well depth for non-orthogonal configurations, e.g. those know as tee and cross. We choose a negative exponent because it did fit better atomistic interaction potemtial curves. We did check all principal orthogonal interaction curves, and we can say they seem perfectly reasonable. No effect on the long r

[2019-10-03 15:25] ndtrung81 commented on #1678
Sorry but it turns out that my workarounds so far for lj/cut/gpu, lj/cut/coul/long/gpu and pppm/gpu didn't actually resolve the issue with initialization. The original implementation is already designed to handle multiple runs with multiple init calls, but for some unknown reason to me, the host memory gets increased after each init call from the GPU library. valgrind does not show obvious leaks r

[2019-10-08 11:04] TOFarmer opened #1705 "[Feature Request] Add single/dihedral to create_bonds"
**Summary**

Add `single/dihedral` to `create_bonds`.

**Detailed Description**

The `create_bonds` function currently only allows bonds, angles, and dihedrals to be created i.e. it is incomplete with respect to impropers.  Adding `single/dihedral` requires a minor modification, which I will implement.

[2019-10-08 19:39] #1698 closed

[2019-10-08 19:40] #1705 closed

[2019-10-08 20:06] sjplimp opened #1708 "Optimize PPPM/FFT setup for very large MPI task counts"
**Summary**

Implement ideas from PR #713, implemented by Chris Knight (ANL), to speed the setup of FFTs for large MPI rank counts.  The other portions of the original PR #713 have already been added to LAMMPS, some by alternate methods, in other PRs.

**Detailed Description**

The setup of general communication patterns for FFTs can scale badly for very large MPI rank counts.  Chris has implement

[2019-10-09 13:18] akohlmey commented on #94
Need to start over, since the branch of PR #371 has become stale.

[2019-10-09 13:40] akohlmey opened #1710 "[Feature Request] Allow different options to handle PBC for computing per-chunk properties"
**Summary**

Computing per-chunk properties for chunks that straddle periodic boundaries can give unexpected results. Some cases need unwrapping of coordinates, some don't, some may require to follow specific protocols to give consistent results. This needs to be implemented somehow. PR #575 contains some suggestions and a discussion, but it doesn't handle the problem in a sufficiently general and

[2019-10-09 14:29] akohlmey opened #1711 "[Feature Request] Create neighbor list exclusions based on custom per-atom properties"
**Summary**

Allow definition of neighbor list exclusion based on custom properties, e.g. via fix property/atom integers or per-atom variables. Similar to `neigh_modify` with options `molecule/intra` and `molecule/inter`.
This is the remainder of the feature set from PR #658 and needs to be re-implemented.

[2019-10-09 17:56] stanmoore1 opened #1712 "[Feature Request] Improve OOM error message"
**Summary**

The following type of error can be confusing for users because it doesn't specifically mention "out of memory" and the number of bytes is negative.

`
ERROR on proc 4: Failed to reallocate -12624743936 bytes for array bond/react:constraints (../memory.cpp:99)
`

**Detailed Description**

Can we make this more verbose and remove the negative number, something like:

`ERROR on proc 4: O